﻿
@{
    ViewBag.Title = "Administrar Estación";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Estación</b></h4>
                        <p class="card-category">Complete los datos de la estación.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertEstacion"></div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input type="text" class="form-control" id="nombreEstacion" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Código:</label>
                                        <input type="text" class="form-control" id="codigoEstacion">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tipo Estación</label>
                                        <select id="tipoEstacion" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Propiedad</label>
                                        <select id="selectPropiedad" class="form-control"></select>
                                    </div>
                                </div>
                                @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Equipo Adicional</label>
                                        <select id="equipoAdicional" class="form-control"></select>
                                    </div>
                                </div>*@
                            </div>


                            <div class="row">
                                <div class="col-lg-offset-5">
                                    <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                    <button type="button" class="btn btn-success pull-center" onclick="GuardarEstacion()">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {


        var idItem = '#EstacionSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#tipoEstacion').select2({
            allowClear: false,
            width: '90%',
        });

        $('#selectPropiedad').select2({
            allowClear: false,
            width: '90%',
        });


        //$('#equipoAdicional').select2({
        //    allowClear: false,
        //    width: '100%',
        //});




        CrearOEditar();

        })();

        function volver() {
            window.location.href = '/Estacion/Estacion';
        }

    function CrearOEditar() {
        var idEstacion = GetUrlVars()["id"];
        if (idEstacion != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Estacion/ConsultarUnEstacion?idEstacion=' + idEstacion,
                dataType: "json",
                data: idEstacion,
                success: function (estacion) {
                    $('#nombreEstacion').val(estacion.nombreEstacion);
                    $('#codigoEstacion').val(estacion.codigoEstacion);
                    var idTipoEstacion = estacion.tipoEstacion.idTipoEstacion;
                    var idPropiedad = estacion.propiedad.idPropiedad;

                    ObtenerListaPropiedad(idPropiedad);
                    ObtenerListaTipoEstacion(idTipoEstacion);
                    //ObtenerListaEquiposAdicionales(estacion.idEquipoAdicional);

                }
            })
        }
        else {
            idPropiedad = -1;
            idTipoEstacion = -1;
            ObtenerListaPropiedad(idPropiedad);
            ObtenerListaTipoEstacion(idTipoEstacion);
            ObtenerListaEquiposAdicionales(-1);
        }

    }

    function GuardarEstacion() {
        if (ValidarEstacion()) {
            var idEstacion = GetUrlVars()["id"];

            var propiedad = new Object();
            propiedad.idPropiedad = $("#selectPropiedad").val(); 
            propiedad.nombrePropiedad = $("#selectPropiedad option:selected").text();

            var tipoEstacion = new Object();
            tipoEstacion.idTipoEstacion = $("#tipoEstacion").val();
            tipoEstacion.nombreTipoEstacion = $("#tipoEstacion option:selected").text();

            var estacion = new Object();
            estacion.nombreEstacion = $('#nombreEstacion').val();
            estacion.codigoEstacion = $('#codigoEstacion').val();
            estacion.propiedad = propiedad;
            estacion.tipoEstacion = tipoEstacion;
            estacion.nombresuario = "@nombreUsuario";
            //estacion.idEquipoAdicional = $('#equipoAdicional').val();

            if (idEstacion != undefined) {
                estacion.idEstacion = idEstacion;
                $.ajax({
                    type: 'Post',
                    url: '/Api/Estacion/ModificarEstacion',
                    data: estacion,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/Estacion/Estacion';
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertEstacion').clearQueue();
                            $('#alertEstacion').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Estacion/AltaEstacion',
                    data: estacion,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/Estacion/Estacion';
                        }
                        else {
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span><b>Estacion existente.</b></span>" +
                                    "</div>";

                                $('#alertEstacion').clearQueue();
                                $('#alertEstacion').append(alert);
                            } else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertEstacion').clearQueue();
                                $('#alertEstacion').append(alert);
                            }
                        }
                    }
                })
            }
        }
    }

    function ValidarEstacion() {

        if ($("#nombreEstacion").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> Nombre </b> no puede estar vacio.</span>" +
                "</div>";

            $('#alertEstacion').clearQueue();
            $('#alertEstacion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombreEstacion").focus();
            return false;
        }

        if ($("#codigoEstacion").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> Codigo </b> estar vacio.</span>" +
                "</div>";

            $('#alertEstacion').clearQueue();
            $('#alertEstacion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#codigoEstacion").focus();
            return false;
        }
      
        if ($("#tipoEstacion").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun <b>Tipo Estación</b>.</span>" +
                "</div>";

            $('#alertEstacion').clearQueue();
            $('#alertEstacion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#tipoEstacion").focus();
            return false;
        }
        
        if ($("#selectPropiedad").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Propiedad</b>.</span>" +
                "</div>";

            $('#alertEstacion').clearQueue();
            $('#alertEstacion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectPropiedad").focus();
            return false;
        }


        return true; 

    }

        function ObtenerListaPropiedad(idPropiedad) {

            $('#propiedad').empty();
            $.ajax({
                type: 'Get',
                url: '/Api/Linea/ObtenerListaPropiedades',
                data: {},
                dataType: "json",
                success: function (respuesta) {
                    if (idPropiedad == -1) {
                        $('#selectPropiedad').append($('<option selected>').val(-1).text("Seleccione una opcion"))
                    } else {
                        $('#selectPropiedad').append($('<option>').val(-1).text("Seleccione una opción"))
                    }
                    $.each(respuesta.data, function (index, result) {

                        if (idPropiedad == result.idPropiedad) {
                            $('#selectPropiedad').append($('<option selected>').val(result.idPropiedad).text(result.PropiedadLinea))
                        }
                        else {
                            $('#selectPropiedad').append($('<option>').val(result.idPropiedad).text(result.PropiedadLinea))
                        }

                    });
                }
            })
        }


    function ObtenerListaTipoEstacion(idTipoEstacion) {



        $.ajax({
            type: 'Get',
            url: '/Api/Estacion/ObtenerListaTipoEstacion',
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idTipoEstacion == -1) {
                    $('#tipoEstacion').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#tipoEstacion').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTipoEstacion == result.idTipoEstacion) {
                        $('#tipoEstacion').append($('<option selected>').val(result.idTipoEstacion).text(result.nombreTipoEstacion))
                    }
                    else {
                        $('#tipoEstacion').append($('<option>').val(result.idTipoEstacion).text(result.nombreTipoEstacion))
                    }

                });
            }
        })
    }


        //function ObtenerListaEquiposAdicionales(idEquipoAdicional) {
        //    debugger;
        //    $.ajax({
        //        type: 'Get',
        //        url: '/Api/EquiposAdicionales/ObtenerEquiposAdicionales?activo=' + true,
        //        dataType: "json",
        //        data: {},
        //        success: function (respuesta) {
        //            if (idEquipoAdicional == -1) {
        //                $('#equipoAdicional').append($('<option selected>').val(-1).text("Seleccione una opción"))
        //            }
        //            else {
        //                $('#equipoAdicional').append($('<option>').val(-1).text("Seleccione una opción"))
        //            }
        //            $.each(respuesta.data, function (index, result) {
        //                if (idEquipoAdicional == result.idEquipo) {
        //                    $('#equipoAdicional').append($('<option selected>').val(result.idEquipo).text(result.nombreEquipo))
        //                }
        //                else {
        //                    $('#equipoAdicional').append($('<option>').val(result.idEquipo).text(result.nombreEquipo))
        //                }

        //            });
        //        }
        //    })
        //}

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    </script>
