﻿@{
    ViewBag.Title = "Estación";
}
@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Estación</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaEstacion()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                            @*<div style="padding-left:20%">
                                <button type="button" class="btn botonTabla" style="background-color:#0094ff ; width:auto" onclick="EquiposAdicionales()">Equipos Adicionales</button>
                            </div>*@
                        </div>
                        
                        @*<div class="table-responsive">*@
                        <table id="tablaEstacion" class="mdl-data-table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Nombre</th>
                                    <th>Tipo Estación</th>
                                    <th>Propiedad</th>
                                    <th>Código</th>
                                    @*<th>Equipo Adicional</th>*@
                                    <th></th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    var table;
    var tienePermisoEliminar = '@permisoEliminacion';
    var tienePermisoEdicion = '@permisoEditar';

    function permisoAgregar() {
        if (tienePermisoEdicion == "True") {
            $('.permisoAgregar').show();
            $('.permisoAgregar').css('display', 'display');
        }
    }

    function AltaEstacion() {
        window.location.href = '/Estacion/AdministrarEstacion';
    }

    function EquiposAdicionales() {
        window.location.href = '/EquiposAdicionales/EquiposAdicionales';
    }

    function EditaEstacion(button) {
        var id = table.row($(button).parents('tr')).data();

        location.href = '/Estacion/AdministrarEstacion?id=' + id.idEstacion;
    }

    function RecuperaEstacion(button) {
        var estacion = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Estacion/RecuperarEstacion',
            dataType: "json",
            data: estacion,
            success: function (response) {
                if (response != false) {
                    var activo = false;
                    var url = "/Api/Estacion/ObtenerListaEstacion?activo=" + activo;
                    table.ajax.url(url).load(MostrarRecuperar);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function EliminaEstacion(button) {
        var linea = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Estacion/EliminarEstacion',
            dataType: "json",
            data: linea,
            success: function (response) {
                if (response == 200) {
                    var activo = true;
                    var url = "/Api/Estacion/ObtenerListaEstacion?activo=" + activo;
                    table.ajax.url(url).load(MostrarAltaEditar);
                }
                else {
                    alert("Nose puede eliminar la Estación, está en uso"); //ver el estilo del alert que muestra!!!
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })

    }

    function CambioCboxEliminados() {
        if ($('#cboxMostrarEliminados').prop('checked') == true) {
            //si el checkbox esta tildado, significa que quiero las lineas eliminadas
            var activo = false;
            var url = "/Api/Estacion/ObtenerListaEstacion?activo=" + activo;
            table.ajax.url(url).load(MostrarRecuperar);
        }
        else {
            //si el checkbox no esta tildado, significa que quiero las lineas activas
            var activo = true;
            var url = "/Api/Estacion/ObtenerListaEstacion?activo=" + activo;
            table.ajax.url(url).load(MostrarAltaEditar);
        }
    }

    function MostrarRecuperar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "none");
        $('.imageButtonEliminar').css("display", "none");
        $('.imageButtonRecuperar').css("display", "inline");
    }

    function MostrarAltaEditar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "inline");
        $('.imageButtonEliminar').css("display", "inline");
        $('.imageButtonRecuperar').css("display", "none");
    }

    function CrearTabla(activo) {

        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#tablaEstacion').DataTable({
            "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "order": [[1, "desc"]],
            "ajax": "/Api/Estacion/ObtenerListaEstacion?activo=" + activo,
            "columns": [
                { "data": 'idEstacion', 'visible': false },
                { "data": 'nombreEstacion', "className": "text-left" },
                { "data": 'tipoEstacion.nombreTipoEstacion', "className": "text-left" },
                { "data": 'propiedad.nombrePropiedad', "className": "text-left" },
                { "data": 'codigoEstacion', "className": "text-center" },
                //{ "data": 'nombreEquipoAdicional', "className": "text-center" },
                {
                    "data": 'activo',
                    "render": function (data) {
                        if (data) {
                            var botones = " ";
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditaEstacion(this);' src = '/fonts/Icons/edit.png'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaEstacion(this);' src='/fonts/Icons/remove.png'>"
                            }
                            return botones
                        } else {
                            var recuperar = " ";
                            if (tienePermisoEdicion == "True" && tienePermisoEliminar == "True") {
                                recuperar += "<input type='image' class='imageButtonRecuperar' onclick='RecuperaEstacion(this);' src = '/fonts/Icons/recuperar.png'>"
                            }
                            return recuperar
                        }
                    },
                    "width": 10,
                }
            ],
            "language": idiomaEspanol
        });

    }

    (function () {

        var idItem = '#EstacionSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        var activo = true;

        CrearTabla(activo);
        permisoAgregar();
    })();
</script>
