﻿
@{
    ViewBag.Title = "AdministrarEquiposAdicionales";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Equipos Adicionales</b></h4>
                        <p class="card-category">Complete los datos del Equipo.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertEquipo"></div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input type="text" class="form-control" id="nombreEquipo" maxlength="50">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-offset-5">
                                    <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                    <button type="button" class="btn btn-success pull-center" onclick="GuardarEquipo()">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {


        var idItem = '#EquiposAdicionalesSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        CrearOEditar();

        })();

        function volver() {
            window.location.href = '/EquiposAdicionales/EquiposAdicionales';
        }

    function CrearOEditar() {
        var idEquipo = GetUrlVars()["id"];
        if (idEquipo != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/EquiposAdicionales/ConsultarUnEquiposAdicionales?idEquipo=' + idEquipo,
                dataType: "json",
                data: idEquipo,
                success: function (equipo) {
                    $('#nombreEquipo').val(equipo.nombreEquipo);
                }
            })
        }
        else {
        }

    }

    function GuardarEquipo() {
        if (ValidarEquipo()) {
            var idEquipo = GetUrlVars()["id"];

            var Equipo = new Object();
            Equipo.nombreEquipo = $("#nombreEquipo").val();


            if (idEquipo != undefined) {
                Equipo.idEquipo = idEquipo;
                $.ajax({
                    type: 'Post',
                    url: '/Api/EquiposAdicionales/ModificarEquiposAdicionales',
                    data: Equipo,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/EquiposAdicionales/EquiposAdicionales';
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertEquipo').clearQueue();
                            $('#alertEquipo').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/EquiposAdicionales/AltaEquiposAdicionales',
                    data: Equipo,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/EquiposAdicionales/EquiposAdicionales';
                        }
                        else {
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span><b>Estacion existente.</b></span>" +
                                    "</div>";

                                $('#alertEquipo').clearQueue();
                                $('#alertEquipo').append(alert);
                            } else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertEquipo').clearQueue();
                                $('#alertEquipo').append(alert);
                            }
                        }
                    }
                })
            }
        }
    }

    function ValidarEquipo() {

        if ($("#nombreEquipo").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> Nombre </b> no puede estar vacio.</span>" +
                "</div>";

            $('#alertEquipo').clearQueue();
            $('#alertEquipo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombreEquipo").focus();
            return false;
        }

        return true;

    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>
