﻿
@{
    ViewBag.Title = "EquiposAdicionales";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Equipos Adicionales</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaEquipo()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>

                        </div>


                        <div class="table-responsive">
                            <table id="tablaEquipos" class="mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Equipo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
            var activo = true;
            var tienePermisoEliminar = '@permisoEliminacion';
            var tienePermisoEdicion = '@permisoEditar';

            $(window).on("load", function () {
                $(".loader-wrapper").fadeOut("slow");
            });
            var table;

            function permisoAgregar() {
                if (tienePermisoEdicion == "True") {
                    $('.permisoAgregar').show();
                    $('.permisoAgregar').css('display', 'display');
                }
            }

            function AltaEquipo() {
                window.location.href = '/EquiposAdicionales/AdministrarEquiposAdicionales';
            }

            function EditaEquipo(button) {
                var id = table.row($(button).parents('tr')).data();
                location.href = '/EquiposAdicionales/AdministrarEquiposAdicionales?id=' + id.idEquipo;
            }

            function RecuperaEquipo(button) {
                var equipo = table.row($(button).parents('tr')).data();
                console.log("Entro a recuperar")
                $.ajax({
                    type: 'POST',
                    url: '/Api/EquiposAdicionales/RecuperarEquiposAdicionales',
                    dataType: "json",
                    data: equipo,
                    success: function (response) {
                        if (response != false) {
                                if (response == 200) {
                                    var activo = false;
                                    var url = "/Api/EquiposAdicionales/ObtenerEquiposAdicionales?activo=" + false;
                                    table.ajax.url(url).load(mostrarRecuperar);
                                }
                            
                        }
                        else {
                            console.log("error");
                        }
                    },
                    error: function (jqxhr) {
                        console.log("error");
                    }
                })
            }

            function EliminaEquipo(button) {

                var equipo = table.row($(button).parents('tr')).data();

                $.ajax({
                    type: 'POST',
                    url: '/Api/EquiposAdicionales/EliminarEquiposAdicionales',
                    dataType: "json",
                    data: equipo,
                    success: function (response) {
                        if (response != false) {
                            var activo = true;
                            var url = "/Api/EquiposAdicionales/ObtenerEquiposAdicionales?activo=" + true;
                            table.ajax.url(url).load(mostrarAltaEditar);
                        }
                        else {
                        }
                    },
                    error: function (jqxhr) {
                        console.log("error");
                    }
                })

            }

            function CambioCboxEliminados() {
                if ($('#cboxMostrarEliminados').prop('checked') == true) {
                    var activo = false;
                    var url = "/Api/EquiposAdicionales/ObtenerEquiposAdicionales?activo=" + false;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    var activo = true;
                    var url = "/Api/EquiposAdicionales/ObtenerEquiposAdicionales?activo=" + true;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
            }

            function mostrarRecuperar() {
                // css("propertyname", "value");
                $('.imageButtonEditar').css("display", "none");
                $('.imageButtonEliminar').css("display", "none");
                $('.imageButtonRecuperar').css("display", "inline");
            }

            function mostrarAltaEditar() {
                // css("propertyname", "value");
                $('.imageButtonEditar').css("display", "inline");
                $('.imageButtonEliminar').css("display", "inline");
                $('.imageButtonRecuperar').css("display", "none");
            }

            function CrearTabla() {

                var idiomaEspanol = {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla.",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }

                table = $('#tablaEquipos').DataTable({
                    "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "order": [[2, "asc"]],
                    "ajax": "/Api/EquiposAdicionales/ObtenerEquiposAdicionales?activo=" + activo,
                    "columns": [
                        { data: "idEquipo", visible: false },
                        { data: "nombreEquipo", "width": "90%", "className": "text-left" },
                        {
                            "data": 'activo',
                            "render": function (data) {
                                if (data) {
                                    var botones = " ";
                                    if (tienePermisoEdicion == "True") {
                                        botones += "<input type='image' class='imageButtonEditar' onclick='EditaEquipo(this);' src = '/fonts/Icons/edit.png'>"
                                    }
                                    if (tienePermisoEliminar == "True") {
                                        botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaEquipo(this);' src = '/fonts/Icons/remove.png'>"
                                    }
                                    return botones
                                } else {
                                    var recuperar = " ";
                                    if (tienePermisoEdicion == "True" && tienePermisoEliminar == "True") {
                                        recuperar += "<input type='image' class='imageButtonRecuperar' onclick='RecuperaEquipo(this);' src = '/fonts/Icons/recuperar.png'>"
                                    }
                                    return recuperar
                                }
                            },
                            "width": "10%",
                        },
                    ],
                    "language": idiomaEspanol
                });

            }

            var activo = true;
    

            (function () {


                var idItem = '#EquiposAdicionalesSideBar';

                setTimeout(function () {
                    ActivarItem(idItem);
                }, 1000);

                var activo = true;
                CrearTabla(activo);
                permisoAgregar();
            })();
</script>


