﻿
@{
    ViewBag.Title = "Administrar Licencia";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Licencia</b></h4>
                        <div id="altaTitulo" style="display:none">
                            <p class="card-category">Complete los datos de la Licencia.</p>
                        </div>
                        <div id="ModificarTitulo" style="display:none">
                            <p class="card-category" id="textoCodigo"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertLicencia"></div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Licencia: </label> <input type="text" id="Nlicencia" size="10" border="5" style="font-weight: bold;" disabled>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tipo de Licencia</label>
                                        <select id="selectTipoLicencia" class="form-control selector2"></select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Entregada al Sr</label>
                                        <select id="selectResponsable" class="form-control selector2"></select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Autorizó CTR</label>
                                        <select id="selectAutoriza" class="form-control selector2"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Responsable de Consignación</label>
                                        <select id="selectResponsableConsignacion" class="form-control selector2"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="descripciónLicencia">Fecha</label>
                                        <input type="date" class="form-control" id="idFechaInicioLicencia" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="descripciónLicencia">Hora</label>
                                        <input type="time" class="form-control" id="idHoraInicioLicencia" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="descripciónLicencia">Descripcion</label>
                                        <textarea class="form-control" id="idDescripcionLicencia" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn botonGuardar" style="background-color:#5cb85c; margin-right:10px;" onclick="GuardarLicencia()">Guardar </button>
                                    <button type="button" class="btn botonVolver" style="background-color:#0080FF;" onclick="Volver()">Volver </button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .centrar {
        margin: 0 auto;
    }
</style>

<div class="modal" id="modalAltaLicencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="labelTitutloAlta"><b>Licencia Generada</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Se ha dado de alta correctamente la licencia.</p>
                <p id="codigoLicenciaAlta" style="font-weight: bold;">

                </p>

                <p>¿Desea crear autorizaciones de trabajo para esta licencia?.</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#5cb85c" onclick="ClickSi()">Si</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#d9534f" data-dismiss="modal" onclick="Volver()">No</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalModificarLicencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="labelTitutloModificar"><b>Licencia Modificada</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Se ha modificado la licencia correctamente.</p>
                <p id="codigoLicenciaModificar" style="font-weight: bold;">

                </p>

                <p>¿Desea crear/modificar autorizaciones de trabajo para esta licencia?.</p>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#5cb85c" onclick="ClickSi()">Si</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#d9534f" data-dismiss="modal" onclick="Volver()">No</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var novedad = new Object();
    var licencia = new Object();
    var visualizar;
    var alta;
    var usuario = "@nombreUsuario";
    var idLicencia = GetUrlVars()["idLicencia"];

    $('.selector2').select2({
        allowClear: false,
        width: '90%',
    });


    (function () {
        var idItem = '#LicenciaSideBar';
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        CrearOEditar();
        $(".loader-wrapper").fadeOut("slow");
    })();

    function ClickSi() { //Modificar para administrar autorizaciones de trabajo sin tener un idNovedad
        if (visualizar == 0) {
            window.location.href = '/Novedad/AdministrarAutorizacionTrabajo?idLicencia=' + licencia.idLicencia + '&Visualizar=' + 1;;
        }
        else {
            if (visualizar == 1) {
                window.location.href = '/Novedad/AdministrarAutorizacionTrabajo?idLicencia=' + licencia.idLicencia + '&Visualizar=' + 1;

            }
        }

    }


    function Volver() {
        history.back();
    }

    function CrearOEditar() {
        var idNovedad = GetUrlVars()["idNovedad"];

        var idLicencia = GetUrlVars()["idLicencia"];
        console.log(idLicencia);

        visualizar = GetUrlVars()["Visualizar"];

        if (visualizar == null) {
            visualizar = 0;
        }
        if (idNovedad != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Novedad/ConsultarUnaNovedad?idNovedad=' + idNovedad,
                dataType: "json",
                data: idNovedad,
                success: function (respuesta) {
                    novedad = respuesta;
                    console.log(novedad);
                   // $('#idFechaInicioLicencia').attr({ "min": novedad.fechaParseada });
                    if (novedad.licencia != null || novedad.licencia != "undefined") {
                        if (novedad.licencia.idLicencia != 0) {
                            //Editar
                            alta = false;
                            idEditarAut.hidden = false;
                            //$("#idFechaInicioLicencia").prop('disabled', true);
                            //$("#idHoraInicioLicencia").prop('disabled', true);
                            var codLicencia = "";
                            codLicencia += "Código: <b>" + novedad.licencia.codigoLicencia + "</b";
                            $('#textoCodigo').append(codLicencia);
                            $('#ModificarTitulo').css("display", "inline");
                            $("#idFechaInicioLicencia").val(novedad.licencia.fechaLicenciaParseada);
                            $("#idHoraInicioLicencia").val(novedad.licencia.horaLicenciaParseada);
                            
                            $('#idDescripcionLicencia').val(novedad.licencia.descripcionLicencia);
                            var tipoLicencia = novedad.licencia.tipoLicencia.idTipoLicencia;
                            //Verificar el nombre de estos 3 atributos
                            var responsable = novedad.licencia.idPersonal;
                            var autoriza = novedad.licencia.idPersonalAutoriza;
                            var responsableConsigna = novedad.licencia.idResponsableConsigna;
                            //
                            ObtenerListaResponsable(responsable, autoriza);
                            ObtenerListaTipoLicencia(tipoLicencia);
                            ObtenerListaResponsableConsgina(responsableConsigna);
                        } else {
                            //Crear
                            alta = true;
                            $('#altaTitulo').css("display", "inline");

                            var responsable = -1;
                            var tipoLicencia = -1;
                            var autoriza = -1;
                            var responsableConsigna = -1;
                            ObtenerListaResponsable(responsable, autoriza);
                            ObtenerListaTipoLicencia(tipoLicencia);
                            ObtenerListaResponsableConsgina(responsableConsigna);
                        }

                    }
                    else {
                        //Crear
                        alta = true;
                        $('#altaTitulo').css("display", "inline");

                        var responsable = -1;
                        var tipoLicencia = -1;
                        var autoriza = -1;
                        var responsableConsigna = -1;
                        ObtenerListaResponsable(responsable, autoriza);
                        ObtenerListaTipoLicencia(tipoLicencia);
                        ObtenerListaResponsableConsgina(responsableConsigna);
                    }
                }
            })
        } else {
            if (idLicencia != undefined) {
                alta = true;
                $('#altaTitulo').css("display", "inline");
                $.ajax({
                    type: 'Get',
                    url: '/Api/Licencia/ConsultLicencia?idLicencia=' + idLicencia,
                    dataType: "json",
                    data: idLicencia,
                    success: function (respuesta) {
                        licencia = respuesta;
                        console.log(respuesta);

                        //  $('#idFechaInicioLicencia').attr({ "min": licencia.fechaLicenciaParseada });
                        if (idLicencia != null) {
                            if (idLicencia != 0) {
                                //Editar
                                alta = false;
                                // idEditarAut.hidden = false;
                                //var codLicencia = "";
                                //$("#idFechaInicioLicencia").prop('enabled', true);
                                // $("#idHoraInicioLicencia").prop('disabled', true);
                                //codLicencia += "Código: <b>" + novedad.licencia.codigoLicencia + "</b";
                                //$('#codigoLicencia')
                                // $('#textoCodigo').append(codLicencia);
                                //$('#ModificarTitulo').css("display", "inline");
                                //$("#idFechaInicioLicencia").val(licencia.fechaLicenciaParseada); 
                                $('#Nlicencia').val(licencia.codigoLicencia);
                                if (licencia.fechaLicenciaParseada != "0001-01-01") {
                                    $("#idFechaInicioLicencia").val(licencia.fechaLicenciaParseada);
                                }
                                $("#idHoraInicioLicencia").val(licencia.horaLicenciaParseada);

                                $('#idDescripcionLicencia').val(licencia.descripcionLicencia);
                                var tipoLicencia = licencia.idTipoLicencia;
                                //Verificar el nombre de estos 3 atributos
                                var responsable = licencia.idPersonal;
                                var autoriza = licencia.idPersonalAutoriza;
                                var responsableConsigna = licencia.idResponsableConsigna;
                                //
                                ObtenerListaResponsable(responsable, autoriza);
                                ObtenerListaTipoLicencia(tipoLicencia);
                                ObtenerListaResponsableConsgina(responsableConsigna);
                            } else {
                                //Crear
                                alta = true;
                                $('#altaTitulo').css("display", "inline");

                                var responsable = -1;
                                var tipoLicencia = -1;
                                var autoriza = -1;
                                var responsableConsigna = -1;
                                ObtenerListaResponsable(responsable, autoriza);
                                ObtenerListaTipoLicencia(tipoLicencia);
                                ObtenerListaResponsableConsgina(responsableConsigna);
                            }

                        } else {
                            //Crear
                            alta = true;
                            $('#altaTitulo').css("display", "inline");

                            var responsable = -1;
                            var tipoLicencia = -1;
                            var autoriza = -1;
                            var responsableConsigna = -1;
                            ObtenerListaResponsable(responsable, autoriza);
                            ObtenerListaTipoLicencia(tipoLicencia);
                            ObtenerListaResponsableConsgina(responsableConsigna);
                        }
                    }
                })

            } else {
                var responsable = -1;
                var tipoLicencia = -1;
                var autoriza = -1;
                var responsableConsigna = -1;
                ObtenerListaResponsable(responsable, autoriza);
                ObtenerListaTipoLicencia(tipoLicencia);
                ObtenerListaResponsableConsgina(responsableConsigna);
            }
           
        }
    }

    function GuardarLicencia() {
        if (ValidarLicencia()) {
            if (idLicencia != undefined) {
                var Licencia = {};

                Licencia.descripcionLicencia = $('#idDescripcionLicencia').val();
                //Verificar ids
                Licencia.idPersonal = $("#selectResponsable").val();
                Licencia.idPersonalAutoriza = $("#selectAutoriza").val();
                Licencia.idResponsableConsigna = $("#selectResponsableConsignacion").val();
                //
                var TipoLicencia = new Object();
                TipoLicencia.idTipoLicencia = $("#selectTipoLicencia").val();
                Licencia.tipoLicencia = TipoLicencia;
                Licencia.fechaInicio = $("#idFechaInicioLicencia").val();
                Licencia.horaInicio = $("#idHoraInicioLicencia").val();
                Licencia.nombresuario = usuario;
                Licencia.codigoLic = codLic;
                Licencia.idLicencia = idLicencia;

                $.ajax({
                    type: 'Post',
                    url: '/Api/Licencia/CompletarLicencia',
                    dataType: "json",
                    data: Licencia,
                    success: function (licencia) {
                        if (licencia.codigoEstadoAlta == 200) {

                            $('#modalModificarLicencia').modal();
                            //Se completo Correctamente
                        }
                        else {
                            //No se completo una verga
                        }
                    }
                })

            } else {
                    var Licencia = {};

                    Licencia.descripcionLicencia = $('#idDescripcionLicencia').val();
                    //Verificar ids
                    Licencia.idPersonal = $("#selectResponsable").val();
                    Licencia.idPersonalAutoriza = $("#selectAutoriza").val();
                    Licencia.idResponsableConsigna = $("#selectResponsableConsignacion").val();

                    //
                    var TipoLicencia = new Object();
                    TipoLicencia.idTipoLicencia = $("#selectTipoLicencia").val();
                    Licencia.tipoLicencia = TipoLicencia;
                    Licencia.fechaInicio = $("#idFechaInicioLicencia").val();
                    Licencia.horaInicio = $("#idHoraInicioLicencia").val();
                    Licencia.nombresuario = usuario;
                    Licencia.idNovedad = novedad.idNovedad

                    console.log(novedad);
                    console.log(Licencia);

                    if (novedad.licencia.idLicencia != 0 ) {
                        Licencia.idLicencia = novedad.licencia.idLicencia;

                        $.ajax({
                            type: 'Post',
                            url: '/Api/Licencia/ModificarLicencia',
                            dataType: "json",
                            data: Licencia ,
                            success: function (lic) {
                                if (lic.codigoEstadoModif == 200) {
                                    if (novedad.licencia.estadoLicencia.idEstadoLicencia == 1) {
                                        var codigoLic = "";
                                        codigoLic += 'Código: ' + lic.codigoLicencia;
                                        codigoLicenciaModificar.append(codigoLic);
                                        $('#modalModificarLicencia').modal();
                                    }
                                    else {
                                        window.location.href = '/Novedad/Novedad';
                                    }

                                }
                                else {
                                    var alert = "";
                                    alert += "<div class='alert alert-danger'>" +
                                        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                        "<i class='material-icons'>close</i>" +
                                        "</button>" +
                                        "<span>Formulario incompleto.</span>" +
                                        "</div>";

                                    $('#alertLicencia').clearQueue();
                                    $('#alertLicencia').append(alert);
                                }
                            }
                        })
                    }
                    else {
                        $.ajax({
                            type: 'Post',
                            url: '/Api/Licencia/AltaLicencia',
                            dataType: "json",
                            data: Licencia,
                            success: function (response) {
                                if (response.codigoEstadoAlta == 200) {
                                    licencia = response;

                                    var codigoLic = "";
                                    codigoLic += 'Código: ' + response.codigoLicencia;
                                    codigoLicenciaAlta.append(codigoLic);
                                    $('#modalAltaLicencia').modal();
                                }
                                else {
                                    var alert = "";
                                    alert += "<div class='alert alert-danger'>" +
                                        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                        "<i class='material-icons'>close</i>" +
                                        "</button>" +
                                        "<span>Formulario incompleto.</span>" +
                                        "</div>";

                                    $('#alertLicencia').clearQueue();
                                    $('#alertLicencia').append(alert);
                                }
                            }
                        })
                    }

            }
        }
    }


    function ValidarLicencia() {

        if ($("#selectResponsable").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algún <b>Personal</b> al que se le entrega la Licencia.</span>" +
                "</div>";

            $('#alertLicencia').clearQueue();
            $('#alertLicencia').append(alert);
            $("#selectResponsable").focus();
            return false;
        }
        if ($("#selectAutoriza").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algún <b>Personal</b> que autoriza la Licencia.</span>" +
                "</div>";

            $('#alertLicencia').clearQueue();
            $('#alertLicencia').append(alert);
            $("#selectAutoriza").focus();
            return false;
        }

        if ($("#selectResponsableConsignacion").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algún <b>Personal</b> responsable de la Consignación.</span>" +
                "</div>";

            $('#alertLicencia').clearQueue();
            $('#alertLicencia').append(alert);
            $("#selectResponsableConsignacion").focus();
            return false;
        }

        if (alta) {
            if ($("#idFechaInicioLicencia").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>La <b>Fecha</b> no puede estar vacía.</span>" +
                    "</div>";

                $('#alertLicencia').clearQueue();
                $('#alertLicencia').append(alert);
                $("#idFechaInicioLicencia").focus();
                return false;
            }

            if ($("#idHoraInicioLicencia").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>La <b>Hora</b> no puede estar vacía.</span>" +
                    "</div>";

                $('#alertLicencia').clearQueue();
                $('#alertLicencia').append(alert);
                $("#idHoraInicioLicencia").focus();
                return false;
            }
        }



        return true;
    }


    function ObtenerListaResponsable(responsable,autoriza) {

        $.ajax({
            type: 'Get',
            url: '/Api/Usuario/ObtenerListaUsuarioCTR',
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (responsable == -1) {
                    $('#selectResponsable').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectResponsable').append($('<option>').val(-1).text("Seleccione una opción"))
                }

                if (autoriza == -1) {
                    $('#selectAutoriza').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectAutoriza').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta, function (index, result) {
                    if (responsable == result.idUsuario) {
                        $('#selectResponsable').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                    else {
                        $('#selectResponsable').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
                    }

                    if (autoriza == result.idUsuario) {
                        $('#selectAutoriza').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                    else {
                        $('#selectAutoriza').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                });
            }
        })
    }

    function ObtenerListaResponsableConsgina(responsableConsigna) {
        //Verificar Api a la que consulto
        $.ajax({
            type: 'Get',
            url: '/Api/Usuario/ObtenerListaResponsableConsignacion',
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (responsableConsigna == -1) {
                    $('#selectResponsableConsignacion').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectResponsableConsignacion').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                //verificar id y nombre que consulto
                $.each(respuesta, function (index, result) {
                     
                    if (responsableConsigna == result.idUsuario) {
                        $('#selectResponsableConsignacion').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                    else {
                        $('#selectResponsableConsignacion').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
                    }

                });
            }
        })
    }

    function ObtenerListaTipoLicencia(tipoLicencia) {
        $('#selectTipoLicencia').empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Licencia/ObtenerListaTipoLicencia',
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (tipoLicencia == -1) {
                    $('#selectTipoLicencia').append($('<option selected>').val(-1).text("Sin tipo de Licencia"))
                }
                else {
                    $('#selectTipoLicencia').append($('<option>').val(-1).text("Sin tipo de Licencia"))
                }
                $.each(respuesta, function (index, result) {
                    if (tipoLicencia == result.idTipoLicencia) {
                        $('#selectTipoLicencia').append($('<option selected>').val(result.idTipoLicencia).text(result.nombreTipoLicencia))
                    }
                    else {
                        $('#selectTipoLicencia').append($('<option>').val(result.idTipoLicencia).text(result.nombreTipoLicencia))
                    }

                });

                $(".loader-wrapper").fadeOut("slow");
            }
        })
    }

</script>


