﻿@{
    ViewBag.Title = "Licencia";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Licencias</div>
                        </div>

                        @*<div class="float-right">
                                <input type='image' class='imageButtonCrear' id='agregar' onclick="AltaLicencia()" src='/fonts/Icons/add.png'>
                            </div>*@

                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                        </div>
                        <!--
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarNull" onchange="CambioCboxNull()" aria-label="Checkbox solo Null">
                            </div>
                            <span class="input-group-text">Mostrar solo Null</span>
                        </div>
                            -->
                        <div>
                            <table id="tablaLicencias" class="table table-bordered display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Codigo Licencia</th>
                                        <th>Fecha Inicio</th>
                                        <th>Descripcion</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalEliminarLicencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutlo" style="font-weight: bold">Eliminar Licencia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de eliminar esta Licencia?.</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#5cb85c" data-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#d9534f" onclick="EliminaLicencia()">Eliminar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalRecuperarLicencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutlo" style="font-weight: bold">Eliminar Licencia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de recuperar esta Licencia?.</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#d9534f" data-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#5cb85c" onclick="RecuperarLicencia()">Recuperar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var activo = true;
    var tienePermisoEliminar = '@permisoEliminacion';
    var tienePermisoEdicion = '@permisoEditar';

    var idUsuario;
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
    var table;

    function AltaLicencia() {
        window.location.href = '/Novedad/AdministrarLicencia';
    }

    function EditarLicencia(button) {
        var id = table.row($(button).parents('tr')).data();
        location.href = '/Licencia/AdministrarLicencia?idLicencia=' + id.idLicencia;
    }

    var elemento2; //En el elemento guardo el button para que lo use EliminaLicencia()
    function clickRecuperar(button) {
        tocoBoton = 1;
        elemento2 = button;
        $("#modalRecuperarLicencia").modal();
    }

    function RecuperarLicencia() {
        var licencia = table.row($(elemento2).parents('tr')).data();

        $.ajax({
            type: 'POST',
            url: '/Api/Licencia/RecuperarLicencia',
            dataType: "json",
            data: licencia,
            success: function (response) {
                if (response != false) {

                    if (response == 200) {
                        var activo = false;
                        var url = "/Api/Licencia/ObtenerListaLicencia?activo=" + activo;
                        table.ajax.url(url).load(mostrarRecuperar);
                        $("#modalRecuperarLicencia").modal('hide');

                    }
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }


    var elemento; //En el elemento guardo el button para que lo use EliminaLicencia()
    function clickEliminar(button) {
        tocoBoton = 1;
        elemento = button;
        $("#modalEliminarLicencia").modal();
    }

    function EliminaLicencia() {

        var licencia = table.row($(elemento).parents('tr')).data();

        $.ajax({
            type: 'POST',
            url: '/Api/Licencia/EliminarLicencia',
            dataType: "json",
            data: licencia,
            success: function (response) {
                console.log(response)
                if (response != false) {
                    var activo = true;
                    var url = "/Api/Licencia/ObtenerListaLicencia?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                    $("#modalEliminarLicencia").modal('hide');
                }
                else {
                    $("#modalEliminarLicencia").modal('hide');
                    alert("Error!");

                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })

    }

    function CambioCboxEliminados() {
        if ($('#cboxMostrarEliminados').prop('checked') == true) {
            var activo = false;
            var url = "/Api/Licencia/ObtenerListaLicencia?activo=" + activo;
            table.ajax.url(url).load(mostrarRecuperar);
        }
        else {
            var activo = true;
            var url = "/Api/Licencia/ObtenerListaLicencia?activo=" + activo;
            table.ajax.url(url).load(mostrarAltaEditar);
        }
    }
    /*
    function CambioCboxNull() {
        if ($('#cboxMostrarNull').prop('checked') == true) {
            //si el checkbox esta tildado, significa que quiero los Null
            var activo = false;
            var url = "/Api/Licencia/ObtenerListaLicencia?activo=" + activo;
            table.ajax.url(url).load(mostrarRecuperar);
        }
        else {
            //si el checkbox no esta tildado, significa que quiero Generadores eliminados
            var activo = true;
            var url = "/Api/Licencia/ObtenerListaLicencia?activo=" + activo;
            table.ajax.url(url).load(mostrarAltaEditar);
        }
    }
    */
    function mostrarRecuperar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "none");
        $('.imageButtonEliminar').css("display", "none");
        $('.imageButtonRecuperar').css("display", "inline");
    }

    function mostrarAltaEditar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "inline");
        $('.imageButtonEliminar').css("display", "inline");
        $('.imageButtonRecuperar').css("display", "none");
    }

    function ObtenerUrlLicencia() {
        var url;
        url = "/Api/Licencia/ObtenerListaLicencia";
        url += "?activo=" + activo;
        return url;
    }


    function CrearTabla() {

        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#tablaLicencias').DataTable({
            "colResize": {
                isEnabled: true,
                hoverClass: 'dt-colresizable-hover',
                hasBoundCheck: true,
                minBoundClass: 'dt-colresizable-bound-min',
                maxBoundClass: 'dt-colresizable-bound-max',
                isResizable: function (column) { return true; },
                onResize: function (column) { },
                onResizeEnd: function (column, columns) { },
                getMinWidthOf: function ($thNode) { }
            },
            "responsive": true,
            "ajax": "/Api/Licencia/ObtenerListaLicencia?activo=" + activo,
            "lengthMenu": [10, 15, 25, 50],
            "order": [[0, "desc"]],
            "columns": [
                { data: "idLicencia", 'visible': false },
                { data: "codigoLicencia", "width": "10%", "className": "text-center" },
                { data: "fechaHoraInicioLic", "width": "10%", "className": "text-center" },
                {
                    "data": "descripcionLicencia",
                    "render": function (data) {
                        var descript = " ";
                        if (data != '') {

                            if (data != null) {
                                descript = data;
                                if (data.length > 120) {
                                    descript =  data.substring(0, 120) + ' ... ';
                                }
                            }
                            return descript;
                        }

                        else {
                            return " "
                        }

                    }, "width": "70%", "className": "text-left"
                },
                {
                    "data": 'activo',
                    "render": function (data) {
                        if (data) {
                            var botones = " ";
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditarLicencia(this);' src = '/fonts/Icons/edit.png'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='clickEliminar(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        } else {
                            var recuperar = " ";
                            if (tienePermisoEdicion == "True" && tienePermisoEliminar == "True") {
                                recuperar += "<input type='image' class='imageButtonRecuperar' onclick='clickRecuperar(this);' src='/fonts/Icons/recuperar.png'></div>"
                            }
                            return recuperar
                        }
                    },
                    "width": "8%", "className": "text-center"
                },
            ],
            "language": idiomaEspanol
        });

    }

    var codigoLicencia = "";
    var activo = true;

    function Filtrar() {

        codigoLicencia = $("#codigoLicencia").val();

        var url = ObtenerUrlLicencia();
        if (activo) {
            table.ajax.url(url).load(mostrarAltaEditar);
        } else {
            table.ajax.url(url).load(mostrarRecuperar);
        }

    }


    (function () {


        var idItem = '#LicenciaSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        var activo = true;
        CrearTabla(activo);

    })();
</script>


