﻿
@{
    ViewBag.Title = "AdministrarInfraestructura";
}


@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Infraestructura</b></h4>
                        <p class="card-category">Complete los datos del Infraestructura.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertInfraestructura"></div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre </label>
                                        <input type="text" class="form-control" id="nombreInfraestructura" maxlength="20">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Codigo</label>
                                        <input type="text" class="form-control" id="codigoInfraestructura" maxlength="20">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Tipo Infraestructura</label>
                                            <br />
                                            <select class="select2 ObtenerListaInfraestructura   " id="selectInfraestructura"></select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-success pull-center" onclick="GuardarInfraestructura()">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#InfraestructuraSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectInfraestructura').select2({
            allowClear: false,
            width: '90%',

        });

        CrearOEditar();


    })();

    function volver() {
        window.location.href = '/Infraestructura/Infraestructura';
    }

    function CrearOEditar() {
        var idInfraestructura = GetUrlVars()["id"];
        if (idInfraestructura != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Infraestructura/ConsultarUnaInfraestructura?idInfraestructura=' + idInfraestructura,
                dataType: "json",
                data: idInfraestructura,
                success: function (intra) {
                    $('#nombreInfraestructura').val(intra.nombreInfra);
                    $('#codigoInfraestructura').val(intra.codigoInfraestructura);
               
                    var id = intra.tipoInfra.idTipoInfra;
                    ObtenerListaInfraestructura(id);


                }
            })
        }
        else {
            var id = -1
            ObtenerListaInfraestructura(id);
        }

    }

    function GuardarInfraestructura() {
        if (ValidarInfraestructura()) {
            var idInfraestructura = GetUrlVars()["id"];
            var infra = new Object();
            infra.idInfraestructura = $("#idInfraestructura").val();
            infra.nombreInfra = $("#nombreInfraestructura").val();
            infra.codigoInfraestructura = $("#codigoInfraestructura").val();

            var tipoInfra = new Object();
            tipoInfra.idTipoInfra = $('#selectInfraestructura').val();
            tipoInfra.nombreInfra = $('#selectInfraestructura option:selected').val();
            infra.tipoInfra = tipoInfra;

            if (idInfraestructura != undefined) {

                infra.idInfra = idInfraestructura;
                console.log(infra.idInfra)
                $.ajax({
                    type: 'POST',
                    url: '/Api/Infraestructura/ModificarInfraestructura',
                    dataType: "json",
                    data: infra,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertInfraestructura').clearQueue();
                            $('#alertInfraestructura').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Infraestructura/AltaInfraestructura',
                    dataType: "json",
                    data: infra,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);

                        if (codigo == 300) {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>La infraestructura que intenta guardar ya existe.</span>" +
                                "</div>";

                            $('#alertInfraestructura').clearQueue();
                            $('#alertInfraestructura').append(alert);
                        }
                        else {
                            console.log(codigo)
                            if (codigo == 200) {
                                volver();
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertInfraestructura').clearQueue();
                                $('#alertInfraestructura').append(alert);
                            }
                        }
                    }
                })
            }

        }
    }

    function ValidarInfraestructura() {

        if ($("#nombreInfraestructura").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Nombre</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertInfraestructura').clearQueue();
            $('#alertInfraestructura').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombreInfraestructura").focus();
            return false;
        }

        if ($("#codigoInfraestructura").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Codigo</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertInfraestructura').clearQueue();
            $('#alertInfraestructura').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#codigoInfraestructura").focus();
            return false;
        }

        if ($("#selectInfraestructura").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Tipo</b>.</span>" +
                "</div>";

            $('#alertInfraestructura').clearQueue();
            $('#alertInfraestructura').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectInfraestructura").focus();
            return false;
        }
        

        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    

    function ObtenerListaInfraestructura(idTipo) {
        var activo = true;
        console.log(idTipo)
        $.ajax({
            type: 'Get',
            url: '/Api/Infraestructura/ObtenerTipoInfraestructura?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idTipo == -1) {
                    $('#selectInfraestructura').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectInfraestructura').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    console.log(result)
                    if (idTipo == result.idTipoInfra) {
                        $('#selectInfraestructura').append($('<option selected>').val(result.idTipoInfra).text(result.nombreInfra))
                    }
                    else {
                        $('#selectInfraestructura').append($('<option>').val(result.idTipoInfra).text(result.nombreInfra))
                    }
                });
            }
        })

    }



</script>


