﻿
@{
    ViewBag.Title = "Administrar Autorización Trabajo";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="idCardAutorizacionDeTrabajo">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Generar Autorización de trabajo</b></h4>
                        <p class="card-category">Complete los datos de la Autorizacion de trabajo.</p>
                    </div>
                    <div class="card-body">

                        <form>
                            <div id="alertAutorizacion"></div>
                            <div class="row">
                                <div class="form-group col">
                                    <label>Licencia</label> <input size="10" border="5" type="text" id="codigoLicencia" style="font-weight: bold;" disabled />
                                </div>
                            </div>
                            <div id="personasAAutorizar">
                            </div>
                            <div class="row">
                                <div class="centrar">
                                    <button type="button" class="btn botonGuardar" style="background-color:#0080FF" onclick="AgregarEmpleado()">Agregar </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn botonGuardar" style="background-color:#5cb85c; margin-right:10px;" onclick="GuardarAutorizacion()">Guardar </button>
                                    <button type="button" class="btn botonVolver" style="background-color:#0080FF" onclick="VolverAdministrar()">Cancelar </button>
                                    <button type="button" class="btn botonVolver float-right" style="background-color: #fe6060" onclick="Salir2()">Volver </button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .imagen {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: bottom;
        color: red;
        cursor: pointer;
    }

    .centrar {
        margin: 0 auto;
    }
</style>

<script>
    var cantidad = 0;
    var novedad3 = new Object();
    var licencia2 = new Object();
    var listaCerradas = [];
    var listaUsuarios = [];
    var listaAutorizaciones = [];
    var alta3;
    var visualizar3;
        var idNov;
    var idLicencia;
    var cantidadAutorizaciones = 0;
    (function () {

        var idItem = '#NovedadSideBar';
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        //ObtenerEmpleados();
        WatchForIdLic();
        $('.selector2').select2({
            allowClear: false,
            width: '100%',
        });

        $('#personaAut').select2({
            allowClear: false,
            width: '100%',
        });
        //idLicencia = GetUrlVars("idLicencia");
        //if (idLicencia != null) {
        //    etc2(idLicencia, visualizar3);
        //}

        //consultarNovedad();
        /*convertirSelect2();*/
        })();

        function WatchForIdLic() {
            idLicencia = GetUrlVars()["idLicencia"];
            if (idLicencia != null) {
                etc2(idLicencia, visualizar3);
            }
        }

    function VolverAdministrar() {
        if (administrarNovedadExist != null) {
            ActivateLicenciaView();
        } else {
           
            history.back();
        }
            
    }

    function Salir2() {
        history.back();
    }



        function consultarNovedad(idLicenciaVal2) { //Esto es por si quiere volver a AdministrarLicencia se pase con el idNovedad asi le muestrra la data
            //idLicencia = GetUrlVars()["idLicencia"];
            idLicencia = idLicenciaVal2;
            if (idLicencia != undefined) {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Licencia/ConsultaLicenciaParaAutTrabajo?idLicencia=' + idLicencia,
                    dataType: "json",
                    data: {},
                    success: function (respuesta) {
                        if (respuesta == null) {
                            console.log("NO TIENE NOVEDAD")
                        } else {
                            idNov = respuesta.idNovedad;

                        }
                    }
                })
            }
        }

        var codigoAutoriza = " ";
        function etc2(idLicenciaVal, visualizarVal) {
            idLicencia = idLicenciaVal;
            visualizar3 = visualizarVal;
            ObtenerEmpleados();
            CrearOEditar();
            consultarNovedad(idLicencia);
            function CrearOEditar() {
                //var idLicencia = GetUrlVars()["idLicencia"];
                //visualizar3 = GetUrlVars()["Visualizar"];

                if (idLicencia != undefined) {

                    if (visualizar3 == null) {
                        visualizar3 = 0;
                    }
                    $.ajax({
                        type: 'Get',
                        url: '/Api/Licencia/ConsultLicencia?idLicencia=' + idLicencia,
                        dataType: "json",
                        success: function (respuesta) {
                            //console.log(respuesta)
                            licencia2 = respuesta;
                            console.log(licencia2);
                            $('#codigoLicencia').val(licencia2.codigoLicencia);
                            //verifico si tengo autorizaciones
                            if (/*licencia2.autorizacionTrabajo.length != 0 ||*/ licencia2.autorizacionTrabajo != null) {
                                alta3 = false;
                                var flag = 0;
                                //cantidadAutorizaciones = licencia2.autorizacionTrabajo.length;
                                $.each(licencia2.autorizacionTrabajo, function (index, result) {
                                    //Verifico si las autorizaciones estan abiertas
                                    if (result.estadoAutorizacion.idEstadoAutorizacion == 1) {
                                        listaAutorizaciones.push(result);
                                        flag = 1;
                                        var empleado = result.idEmpleado;
                                        var date2 = new Date(result.fechaHoraInicioAutorizacionTrabajo);

                                        var anio = date2.getFullYear();

                                        var m = date2.getMonth() + 1;
                                        var mes = (m < 10) ? '0' + m : m;

                                        var d = date2.getDate();
                                        var dia = (d < 10) ? '0' + d : d;

                                        var fecha = anio + "-" + mes + "-" + dia;

                                        var min = date2.getMinutes();
                                        var minutes = (min < 10) ? '0' + min : min;

                                        var h = date2.getHours();
                                        var hour = (h < 10) ? '0' + h : h;

                                        var date3 = new Date(result.fechaHoraFinAutorizacionTrabajo);

                                        var anio3 = date3.getFullYear();

                                        var m3 = date3.getMonth() + 1;
                                        var mes3 = (m3 < 10) ? '0' + m3 : m3;

                                        var d3 = date3.getDate();
                                        var dia3 = (d3 < 10) ? '0' + d3 : d3;

                                        var fecha3 = anio3 + "-" + mes3 + "-" + dia3;

                                        var min3 = date3.getMinutes();
                                        var minutes3 = (min3 < 10) ? '0' + min3 : min3;

                                        var h3 = date3.getHours();
                                        var hour3 = (h3 < 10) ? '0' + h3 : h3;



                                        var hora1 = hour + ":" + minutes;
                                        var hora2 = hour3 + ":" + minutes3;
                                        if (result.descripcionAutorizacionTrabajo != null) {
                                            var descripcion = result.descripcionAutorizacionTrabajo;
                                        }
                                        else {
                                            var descripcion = -1;
                                        }

                                        if (result.codigoAutorizacion != null) {
                                            var codigoAut = result.codigoAutorizacion;
                                            codigoAutoriza = result.codigoAutorizacion;
                                        } else {
                                            var codigoAut = -1
                                            codigoAutoriza = licencia2.codigoLicencia;
                                        }

                                        //envio los datos para crear la fila

                                        AgregarPersona(empleado, fecha, hora1, hora2, descripcion, codigoAut);
                                    }
                                    else {
                                        listaCerradas.push(result);
                                    }
                                });
                                //Si no hay autorizaciones abiertas, creo una fila sin datos
                                if (flag == 0) {
                                    if (licencia2.ultimoNumeroAutorizacion != null) {
                                        cantidad = licencia2.ultimoNumeroAutorizacion;
                                    }
                                    codigoAutoriza = licencia2.codigoLicencia;
                                    AgregarEmpleado();
                                }


                            }
                            if (licencia2.ultimoNumeroAutorizacion != null) {
                                cantidad = licencia2.ultimoNumeroAutorizacion;
                            }
                            else {
                                //si no tiene autorizaciones, creo una fila sin datos
                                alta3 = true;
                                codigoAutoriza = licencia2.codigoLicencia;
                                AgregarEmpleado();

                            }
                            $(".loader-wrapper").fadeOut("slow")

                        }
                    })
                }
                if (visualizar3 == null) {
                    visualizar3 = 1;

                }
            }
        }


    function AgregarEmpleado() {
        //Metodo que agrega filas vacias
        var empleado = -1;

        var fecha = -1;

        var hora1 = -1;

        var hora2 = -1;

        var descripcion = -1;

        var codigoAut = -1;

        AgregarPersona(empleado, fecha, hora1, hora2, descripcion, codigoAut);

    }

        function AgregarPersona(empleado, fecha, hora1, hora2, descripcion, codigoAut) {

             var cero = "";
            if (cantidad+1 < 10) {
                cero = "0";
            }

            cantidad += 1;
        //Armo la estructura de la fila
        var persona = "";
        persona += '<div class="row">' +
            '<div class="col-md-2">' +
            '<div class="form-group">' +
            '<label for="descripciónLicencia">Persona a Autorizar</label>' +
            '<select class="form-control selector2 select2" id="personaAut' + cantidadAutorizaciones + '"></select>' +
            '</div>' +
            '</div>';

            var fechaLic = fechaLicencia();

        if (fecha == -1) {
            persona += '<div class="col-md-2">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Fecha</label>' +
                '<input type="date" class="form-control" min="' + fechaLic + '" value="' + licencia2.fechaLicenciaParseada + '" id="fechaAut' + cantidadAutorizaciones + '" />' +
                '</div>' +
                '</div>';
        }
        else {
            persona += '<div class="col-md-2">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Fecha</label>' +
                '<input type="date" class="form-control" min="' + fechaLic + '" value="' + fecha + '" id="fechaAut' + cantidadAutorizaciones + '" />' +
                '</div>' +
                '</div>';
        }

        if (hora1 == -1) {
            persona += '<div class="col-md-1">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Hora Inicio</label>' +
                '<input type="time" class="form-control" id="hora1Aut' + cantidadAutorizaciones + '" value="' + licencia2.horaLicenciaParseada + '"  />' +
                '</div>' +
                '</div>';
        } else {
            persona += '<div class="col-md-1">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Hora Inicio</label>' +
                '<input type="time" class="form-control" id="hora1Aut' + cantidadAutorizaciones + '" value="' + hora1 + '" />' +
                '</div>' +
                '</div>';
        }
        if (hora2 == -1) {
            persona += '<div class="col-md-1">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Hora Final</label>' +
                '<input type="time" class="form-control" id="hora2Aut' + cantidadAutorizaciones + '" value="' + licencia2.horaLicenciaParseada + '"  />' +
                '</div>' +
                '</div>';
        } else {
            persona += '<div class="col-md-1">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Hora Final</label>' +
                '<input type="time" class="form-control" id="hora2Aut' + cantidadAutorizaciones + '" value="' + hora2 + '" />' +
                '</div>' +
                '</div>';
        }


        if (descripcion == -1) {
            persona += '<div class="col-md-2">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Descripción Autorizacion de trabajo</label>' +
                '<textarea class="form-control" id="descripcionAut' + cantidadAutorizaciones + '" rows="1"></textarea>' +
                '</div>' +
                '</div>';
        } else {
            persona += '<div class="col-md-2">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Descripción Autorizacion de trabajo</label>' +
                '<textarea class="form-control" id="descripcionAut' + cantidadAutorizaciones + '" rows="1">' + descripcion + '</textarea>' +
                '</div>' +
                '</div>';
        }


        if (codigoAut == -1) {
            persona += '<div class="col-md-2">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Codigo Autorizacion</label>' +
                '<input class="form-control" id="codigoAut' + cantidadAutorizaciones + '"value="' + (codigoAutoriza.split('/')[0] + '/' + cero + (cantidad)) + '"disabled/>' +
                '</div>' +
                '</div>';
        } else {
            persona += '<div class="col-md-2">' +
                '<div class="form-group">' +
                '<label for="descripciónLicencia">Codigo Autorizacion</label>' +
                '<input class="form-control" id="codigoAut' + cantidadAutorizaciones + '"value="' + codigoAut + '"disabled/>' +
                '</div>' +
                '</div>';
        }

        persona += '<div class="col-md-1">' +
            '<div class="form-group">' +
            '</br>' +
            '<i class="material-icons imagen" onclick="Eliminar(' + cantidadAutorizaciones + ')">clear</i>' +
            '</div>' +
            '</div>' +
            '</div>';


        $('#personasAAutorizar').append(persona);

            id = "personaAut" + cantidadAutorizaciones;
        //cargo el selector
        selector(id, empleado);
        //aumento en 1 la cantidad de filas que tengo
            cantidadAutorizaciones += 1;
            
    }

    function Eliminar(index) {
        //guardo en una lista todas las filas antes de eliminarla
        var lista = []; 
        for (var i = 0; i < cantidadAutorizaciones; i++) {
            var idSel = '#personaAut' + i;
            var idFecha = '#fechaAut' + i;
            var idHora1 = '#hora1Aut' + i;
            var idHora2 = '#hora2Aut' + i;
            var idDescripcion = '#descripcionAut' + i;
            var codigoAut = '#codigoAut' + i;
            var autorizacion = new Object();
            autorizacion.fechaInicio = $(idFecha).val();
            autorizacion.horaInicio = $(idHora1).val();
            autorizacion.horaFin = $(idHora2).val();
            autorizacion.idEmpleado = $(idSel).val();
            autorizacion.descripcionAutorizacionTrabajo = $(idDescripcion).val();
            autorizacion.codigoAut = $(codigoAut).val();
            lista.push(autorizacion);

        }
        for (var i = 0; i < cantidadAutorizaciones; i++) {
            //recorro la lista de autorizaciones abiertas  y verifico si existe ese indice, si es asi guardo los valores
            if (listaAutorizaciones[i] != undefined) {
                listaAutorizaciones[i].fechaInicio = lista[i].fechaInicio;
                listaAutorizaciones[i].horaInicio = lista[i].horaInicio;
                listaAutorizaciones[i].horaFin = lista[i].horaFin;
                listaAutorizaciones[i].idEmpleado = lista[i].idEmpleado;
                listaAutorizaciones[i].descripcionAutorizacionTrabajo = lista[i].descripcionAutorizacionTrabajo;
                listaAutorizaciones[i].codigoAutorizacion = lista[i].codigoAut;
            }
            else {
                //sino le agrego la entidad
                var aut = new Object();
                aut.fechaInicio = lista[i].fechaInicio;
                aut.horaInicio = lista[i].horaInicio;
                aut.horaFin = lista[i].horaFin;
                aut.idEmpleado = lista[i].idEmpleado;
                aut.descripcionAutorizacionTrabajo = lista[i].descripcionAutorizacionTrabajo;
                aut.codigoAutorizacion = lista[i].codigoAut;
                listaAutorizaciones.push(aut);


                //aut.fechaInicio = -1;
                //aut.horaInicio = -1;
                //aut.horaFin = -1;
                //aut.idEmpleado = -1;
                //aut.descripcionAutorizacionTrabajo = -1;
                //aut.codigoAutorizacion = -1;
                //listaAutorizaciones.push(aut);
            }
        }

        //luego elimino la entidad que quiero sacar
        listaAutorizaciones.splice(index, 1);

        //vacio la lista
        $('#personasAAutorizar').empty();
        //reinicio la cantidad
        cantidadAutorizaciones = 0;
        cantidad = 0;
        //y vuelvo a cargar todas las autorizaciones abiertas
        $.each(listaAutorizaciones, function (index, result) {
            var empleado = result.idEmpleado;

            var fecha = result.fechaInicio;

            var hora1 = result.horaInicio;

            var hora2 = result.horaFin;

            var descripcion = result.descripcionAutorizacionTrabajo;

            var codigoAut = result.codigoAutorizacion;

            AgregarPersona(empleado, fecha, hora1, hora2, descripcion, codigoAut);
        })

        if (licencia2.ultimoNumeroAutorizacion != null) {
            cantidad = licencia2.ultimoNumeroAutorizacion;
        }

    }

        function fechaLicencia() {

        //Funcion que me retorna la fecha en el formato para mostrar
        var fechaLic = new Date(licencia2.fechaLicenciaParseada);
        fechaLic.setDate(fechaLic.getDate() + 1);
        var dd = fechaLic.getDate();
        var mm = fechaLic.getMonth() + 1; //January is 0!
        var yyyy = fechaLic.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        var fecha = yyyy + '-' + mm + '-' + dd;
        return fecha;
    }

    function ObtenerEmpleados() {
        //función que obtiene lista empleados esta separado para llamarla una sola vez
        $.ajax({
            type: 'Get',
            url: '/Api/Usuario/ObtenerListaResponsableConsignacion',
            dataType: "json",
            data: {},
            success: function (respuesta) {
                listaUsuarios = respuesta;
                //CrearOEditar();
                //WatchForIdLic();
            }
        })
    }

    function selector(id, empleado) {
        //función que carga los datos de los empleados en el selector
        var idSelect = '#' + id;

        if (empleado == -1) {
            $(idSelect).append($('<option selected>').val(-1).text("Seleccione una opción"))
        }
        else {
            $(idSelect).append($('<option>').val(-1).text("Seleccione una opción"))
        }
        $.each(listaUsuarios, function (index, result) {
            if (empleado == result.idUsuario) {
                $(idSelect).append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
            }
            else {
                $(idSelect).append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
            }

        });
        //$(idSelect).select2({
        //    allowClear: false,
        //    width: '90%',
        //});


    }

    function convertirSelect2() {

        $('.selector').select2({
            allowClear: true,
            width: '90%',
        });
    }


        function GuardarAutorizacion() {
        if (ValidarAutorizacion()) {
            var lista = [];
            var licencia2 = new Object();
            //var idLicencia = GetUrlVars()["idLicencia"];
            idLicencia = idLicencia;
            for (var i = 0; i < cantidadAutorizaciones; i++) {
                //armo los ids en base a la descripción
                var idSel = '#personaAut' + i;
                var idFecha = '#fechaAut' + i;
                var idHora1 = '#hora1Aut' + i;
                var idHora2 = '#hora2Aut' + i;
                var idDescripcion = '#descripcionAut' + i;
                //controlo que esten todos los datos completos
                if ($(idSel).val() != -1 && $(idFecha).val() != "" && $(idHora1).val() != "" && $(idHora2).val() != "") {
                    //creo cada autorización sacando los datos desde los input y los guardo en una lista
                    var autorizacion = new Object();
                    autorizacion.fechaInicio = $(idFecha).val();
                    autorizacion.horaInicio = $(idHora1).val();
                    autorizacion.horaFin = $(idHora2).val();
                    autorizacion.idEmpleado = $(idSel).val();
                    autorizacion.descripcionAutorizacionTrabajo = $(idDescripcion).val();
                    autorizacion.idNovedad = novedad3.idNovedad;
                    autorizacion.idLicencia = idLicencia;
                    autorizacion.nombresuario = "@nombreUsuario";
                    autorizacion.numeroUltimaAutorizacion = cantidad;
                    lista.push(autorizacion);
                }
                console.log(idLicencia);

            }
            //verifico si es un alta3
            if (alta3 == false) {
                //los guardo a esos datos en mi lista de autorizaciones y los que no existen los agrego a la lista de autorizaciones abiertas
                for (var i = 0; i < cantidadAutorizaciones; i++) {
                    if (listaAutorizaciones[i] != null) {
                        listaAutorizaciones[i].fechaInicio = lista[i].fechaInicio;
                        listaAutorizaciones[i].horaInicio = lista[i].horaInicio;
                        listaAutorizaciones[i].horaFin = lista[i].horaFin;
                        listaAutorizaciones[i].idEmpleado = lista[i].idEmpleado;
                        listaAutorizaciones[i].idNovedad = lista[i].idNovedad;
                        listaAutorizaciones[i].idLicencia = lista[i].idLicencia;
                        listaAutorizaciones[i].nombresuario = lista[i].nombresuario;
                        listaAutorizaciones[i].descripcionAutorizacionTrabajo = lista[i].descripcionAutorizacionTrabajo;

                    }
                    else {
                        var aut = new Object();
                        aut.fechaInicio = lista[i].fechaInicio;
                        aut.horaInicio = lista[i].horaInicio;
                        aut.horaFin = lista[i].horaFin;
                        aut.idEmpleado = lista[i].idEmpleado;
                        aut.idNovedad = lista[i].idNovedad;
                        aut.idLicencia = lista[i].idLicencia;
                        aut.nombresuario = lista[i].nombresuario;
                        aut.descripcionAutorizacionTrabajo = lista[i].descripcionAutorizacionTrabajo;
                        listaAutorizaciones.push(aut);
                    }
                }

                $.each(listaCerradas, function (index, result) {
                    listaAutorizaciones.push(result);
                });


                listaAutorizaciones.sort(function (a, b) {
                    if (a.idAutorizacionTrabajo > b.idAutorizacionTrabajo) {
                        return 1;
                    }
                    if (a.name < b.name) {
                        return -1;
                    }
                    // a must be equal to b
                    return 0;
                });
                licencia2.autorizacionTrabajo = listaAutorizaciones;
                licencia2.numeroUltimaAutorizacion = cantidad;
                //llamo al modificar
                $.ajax({
                    type: 'Post',
                    url: '/Api/Licencia/ModificarAutorizacionTrabajo',
                    dataType: "json",
                    data: licencia2,
                    success: function (codigo) {
                        if (codigo == 200) {

                            if (visualizar3 == 0) {
                                window.location.href = '/Novedad/Novedad';
                            }
                            else {
                                if (visualizar3 == 1) {
                                    window.location.href = '/Novedad/Novedad';

                                }
                            }
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                            "<i class='material-icons'>close</i>" +
                            "</button > " +
                            "<span>Formulario incompleto.</span>" +
                            "</div > ";

                            $('#alertAutorizacion').clearQueue();
                            $('#alertAutorizacion').append(alert);
                        }
                    }
                })

            } else {

                //asigno la lista a la novedad3 y llamo al alta3
                licencia2.autorizacionTrabajo = lista;
                $.ajax({
                    type: 'Post',
                    url: '/Api/Licencia/AltaAutorizacionTrabajo',
                    dataType: "json",
                    async: true,
                    data: licencia2,
                    success: function (codigo) {

                        if (codigo == 200) {
                            if (visualizar3 == 0) {
                                window.location.href = '/Novedad/Novedad';
                            }
                            else {
                                if (visualizar3 == 1) {
                                    window.location.href = '/Novedad/Novedad';

                                }
                            }
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                            "<i class='material-icons'>close</i>" +
                            "</button > " +
                            "<span>Formulario incompleto.</span>" +
                           "</div > ";

                            $('#alertAutorizacion').clearQueue();
                            $('#alertAutorizacion').append(alert);
                        }
                    }
                })
            }


        }
    }

    function ValidarAutorizacion() {
        console.log(cantidad);
        if (cantidad == 0) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
            "<i class='material-icons'>close</i>" +
            "</button > " +
            "<span>Mínimo debe autorizar a 1 persona.</span>" +
            "</div > ";

            $('#alertAutorizacion').clearQueue();
            $('#alertAutorizacion').append(alert);
            $(idSel).focus();
            return false;
        }
        for (var i = 0; i < cantidad; i++) {
            var idSel = '#personaAut' + i;
            var idFecha = '#fechaAut' + i;
            var idHora1 = '#hora1Aut' + i;
            var idHora2 = '#hora2Aut' + i;

            if ($(idSel).val() == -1) {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button > " +
                "<span>Debe seleccionar alguna <b>Persona</b>.</span>" +
                "</div > ";

                $('#alertAutorizacion').clearQueue();
                $('#alertAutorizacion').append(alert);
                $(idSel).focus();
                return false;
            }

            if ($(idFecha).val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button > " +
                "<span>Debe seleccionar alguna <b>fecha</b>.</span>" +
                "</div > ";

                $('#alertAutorizacion').clearQueue();
                $('#alertAutorizacion').append(alert);
                $(idFecha).focus();
                return false;
            }


            var fechaAut = new Date($(idFecha).val());
            fechaAut.setDate(fechaAut.getDate() + 1);

            var fechaLic = new Date(licencia2.fechaLicenciaParseada);
            fechaLic.setDate(fechaLic.getDate() + 1);
            var dd = fechaLic.getDate();
            var mm = fechaLic.getMonth() + 1; //January is 0!
            var yyyy = fechaLic.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            fecha = dd + '/' + mm + '/' + yyyy;
            if (fechaAut < fechaLic) {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button > " +
                "<span>La fecha y la hora deben ser mayor a la fecha de inicio la de Licencia. Fecha de Inicio: " + fecha + " " + novedad3.licencia2.horaLicenciaParseada + "</span>" +
                "</div > ";

                $('#alertAutorizacion').clearQueue();
                $('#alertAutorizacion').append(alert);
                $(idFecha).focus();
                return false;
            }
            if ($(idHora1).val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button > " +
                "<span>Debe seleccionar alguna <b>Hora de Inicio</b>.</span>" +
                "</div > ";

                $('#alertAutorizacion').clearQueue();
                $('#alertAutorizacion').append(alert);
                $(idHora1).focus();
                return false;
            }
            //if ($(idHora2).val() == "") {
            //    var alert = "";
            //    alert += "<div class='alert alert-danger'>" +
            //    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
            //    "<i class='material-icons'>close</i>" +
            //    "</button > " +
            //    "<span>Debe seleccionar alguna <b>Hora Final</b>.</span>" +
            //    "</div > ";

            //    $('#alertAutorizacion').clearQueue();
            //    $('#alertAutorizacion').append(alert);
            //    $(idHora2).focus();
            //    return false;
            //}

            if ($(idHora1).val() > $(idHora2).val() ) {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button > " +
                "<span>La <b>Hora Inicial</b> tiene que ser mayor a <b>Hora Final<b>.</span>" +
                "</div > ";

                $('#alertAutorizacion').clearQueue();
                $('#alertAutorizacion').append(alert);
                $(idHora1).focus();
                return false;
            }



            //if ($(idFecha).val() == licencia2.fechaLicenciaParseada) {
            //    if ($(idHora1).val() < licencia2.horaLicenciaParseada) {
            //        var alert = "";
            //        alert += "<div class='alert alert-danger'>" +
            //        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
            //        "<i class='material-icons'>close</i>" +
            //        "</button > " +
            //        "<span>La fecha y la hora deben ser mayor a la fecha de inicio de la Licencia. Fecha de Inicio: <b>" + fecha + " " + novedad3.licencia2.horaLicenciaParseada + "</b></span>" +
            //        "</div > ";

            //        $('#alertAutorizacion').clearQueue();
            //        $('#alertAutorizacion').append(alert);
            //        $(idHora1).focus();
            //        return false;
            //    }
            //}

        }

        return true;
    }

</script>