﻿
@{
    ViewBag.Title = "Administrar Licencia";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/select2.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Licencia</b></h4>
                        <div id="altaTitulo" style="display:none">
                            <p class="card-category">Complete los datos de la Licencia.</p>
                        </div>
                        <div id="ModificarTitulo" style="display:none">
                            <p class="card-category" id="textoCodigo"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertLicencia"></div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Licencia: </label> <input type="text" id="Nlicencia" style="font-weight: bold;" disabled>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tipo de Licencia</label>
                                        <select id="selectTipoLicencia" class="form-control select2"></select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Entregada al Sr</label>
                                        <select id="selectResponsable" class="form-control select2"></select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Autorizó CTR</label>
                                        <select id="selectAutoriza" class="form-control select2"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Responsable de Consignación</label>
                                        <select id="selectResponsableConsignacion" class="form-control select2"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="descripciónLicencia">Fecha</label>
                                        <input type="date" class="form-control" id="idFechaInicioLicencia" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="descripciónLicencia">Hora</label>
                                        <input type="time" class="form-control" id="idHoraInicioLicencia" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="descripciónLicencia">Descripcion</label>
                                        <textarea class="form-control" id="idDescripcionLicencia" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn botonGuardar" style="background-color:#5cb85c; margin-right:10px;" onclick="GuardarLicencia()">Guardar </button>
                                    <button type="button" class="btn botonVolver" style="background-color:#0080FF;" onclick="Volver()">Cancelar </button>
                                    <button type="button" id="salir2" class="btn botonVolver float-right" style="background-color: #fe6060;" onclick="Salir()">Volver </button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .centrar {
        margin: 0 auto;
    }
</style>

<div class="modal" id="modalAltaLicencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="labelTitutloAlta"><b>Licencia Generada</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Se ha dado de alta2 correctamente la licencia.</p>
                <p id="codigoLicenciaAlta" style="font-weight: bold;">

                </p>

                <p>¿Desea crear autorizaciones de trabajo para esta licencia?.</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#5cb85c" onclick="ClickSi()">Si</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#d9534f" data-dismiss="modal" onclick="ClickNo()">No</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalModificarLicencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="labelTitutloModificar"><b>Licencia Modificada</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Se ha modificado la licencia correctamente.</p>
                <p id="codigoLicenciaModificar" style="font-weight: bold;">

                </p>

                <p>¿Desea crear/modificar autorizaciones de trabajo para esta licencia?.</p>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#5cb85c" onclick="ClickSi()">Si</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#d9534f" data-dismiss="modal" onclick="ClickNo()">No</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //$('.selector3').select2({
    //    allowClear: false,
    //    width: '100%',
    //});
    var visualizar2;
    var idLicencia = GetUrlVars()["idLicencia"];
    var usuario = "@nombreUsuario";
    var idNovedad;
    var alta2;
    var idLic;
    var novedad2 = new Object();
    var licencia = new Object();
    var ultimaAutorizacion;
    //var genLic;

    $('.select2').select2({
        allowClear: false,
        width: '90%',
    });

    (function () {
        var idItem = '#NovedadSideBar';
        visualizar2 = GetUrlVars()["Visualizar"];
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);


        $(".loader-wrapper").fadeOut("slow");
        if (visualizar2 != null && visualizar2 != undefined) {
            idNovedad = GetUrlVars()["idNovedad"];
        }
        MirarSiLicenciaExiste();
        //genLic = false;

    })();
    //para entrar si es que se genera licencia desde el boton generar licencia
    //function GeneroLicenciaExterna() {

    //}

    function MirarSiLicenciaExiste() {
        if (idLicencia != null && idLicencia != undefined) {
            etc(idNovedad);
            //genLic = true;
        } else if (idNovedad != undefined) {
            etc(idNovedad);
        }
    }

    function ClickSi() { //Modificar para administrar autorizaciones de trabajo sin tener un idNovedad
        //var visualizar2;
        //if (visualizar2 == null) {
        //    visualizar2 = 0;
        //}
        if (visualizar2 == 0) {
            //window.location.href = '/Novedad/AdministrarAutorizacionTrabajo?idLicencia=' + idLicencia;
            if (idNovedad == null) {
                window.location.href = '/Novedad/AdministrarAutorizacionTrabajo?idLicencia=' + idLicencia;
            } else {
                ActivateAuTrabajoView(idLicencia, visualizar2);
            }

        }
        else {
            if (visualizar2 == 1) {
                //window.location.href = '/Novedad/AdministrarAutorizacionTrabajo?idLicencia=' + idLicencia + '&Visualizar=' + 1;
                if (idNovedad == null) {
                    window.location.href = '/Novedad/AdministrarAutorizacionTrabajo?idLicencia=' + idLicencia + '&Visualizar=' + 1;
                } else {
                    ActivateAuTrabajoView(idLicencia, visualizar2);
                }

            }
        }

    }



    function ClickNo() {

        window.location.href = '/Novedad/Novedad';

    }

    function Salir() {
        history.back();
    }

    function Volver() {
        //var visualizar2;
        //if (visualizar2 == null) {
        //    visualizar2 = 0;
        //}


        if (visualizar2 == 0) {
            //window.location.href = '/Novedad/AdministrarNovedad?id=' + novedad2.idNovedad;
            if (administrarNovedadExist !=null)
                ActivateNovedadView();
            else {
                history.back();
            }
        }
        else {
            if (visualizar2 == 1) {
                //window.location.href = '/Novedad/VisualizarNovedad?idNovedad=' + novedad2.idNovedad + '&Licencia=' + 1;
                if (administrarNovedadExist !=null)
                    ActivateNovedadView();
                else {
                    history.back();
                }

            }
        }

    }
    function GuardarLicencia() {
        if (ValidarLicencia()) {

            if (idLicencia == undefined) {
                var Licencia = {};

                Licencia.descripcionLicencia = $('#idDescripcionLicencia').val();
                //Verificar ids
                Licencia.idPersonal = $("#selectResponsable").val();
                Licencia.idPersonalAutoriza = $("#selectAutoriza").val();
                Licencia.idResponsableConsigna = $("#selectResponsableConsignacion").val();
                //
                var TipoLicencia = new Object();
                TipoLicencia.idTipoLicencia = $("#selectTipoLicencia").val();
                Licencia.tipoLicencia = TipoLicencia;
                Licencia.fechaInicio = $("#idFechaInicioLicencia").val();
                Licencia.horaInicio = $("#idHoraInicioLicencia").val();
                //desde aca las variables se pierden
                Licencia.nombresuario = usuario;
                Licencia.codigoLic = codLic;
                Licencia.idLicencia = idLicencia;
                Licencia.idNovedad = idNovedad;
                //licencia.ultimaAutorizacion = ultimaAutorizacion;
                //console.log(Licencia);

                $.ajax({
                    type: 'Post',
                    url: '/Api/Licencia/AltaLicencia',
                    dataType: "json",
                    data: Licencia,
                    success: function (licencia) {

                        if (licencia.codigoEstadoAlta == 200) {
                            idLicencia = licencia.idLicencia;
                            $('#modalModificarLicencia').modal();
                            console.log(licencia);
                            //Se completo Correctamente
                        }
                        else {
                            //No se completo una verga
                        }
                    }
                })

            } else {
                var Licencia = {};

                Licencia.idLicencia = idLicencia;
                Licencia.descripcionLicencia = $('#idDescripcionLicencia').val();
                //Verificar ids
                Licencia.idPersonal = $("#selectResponsable").val();
                Licencia.idPersonalAutoriza = $("#selectAutoriza").val();
                Licencia.idResponsableConsigna = $("#selectResponsableConsignacion").val();

                //
                var TipoLicencia = new Object();
                TipoLicencia.idTipoLicencia = $("#selectTipoLicencia").val();
                Licencia.tipoLicencia = TipoLicencia;
                Licencia.fechaInicio = $("#idFechaInicioLicencia").val();
                Licencia.horaInicio = $("#idHoraInicioLicencia").val();
                Licencia.nombresuario = usuario;
                Licencia.idNovedad = novedad2.idNovedad

                console.log(novedad2);
                console.log(Licencia);

                if (novedad2.licencia != undefined) {
                    Licencia.idLicencia = novedad2.licencia.idLicencia;

                    $.ajax({
                        type: 'Post',
                        url: '/Api/Licencia/ModificarLicencia',
                        dataType: "json",
                        data: Licencia,
                        success: function (lic) {
                            if (lic.codigoEstadoModif == 200) {
                                if (novedad2.licencia.estadoLicencia.idEstadoLicencia == 1) {
                                    var codigoLic = "";
                                    codigoLic += 'Código: ' + lic.codigoLicencia;
                                    // codigoLicenciaModificar.append(codigoLic);
                                    $('#modalModificarLicencia').modal();
                                }
                                else {
                                    window.location.href = '/Novedad/Novedad';
                                }

                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertLicencia').clearQueue();
                                $('#alertLicencia').append(alert);
                            }
                        }
                    })
                }
                else {
                    $.ajax({
                        type: 'Post',
                        url: '/Api/Licencia/AltaLicencia',
                        dataType: "json",
                        data: Licencia,
                        success: function (response) {
                            if (response.codigoEstadoAlta == 200) {
                                licencia = response;
                                idLicencia = response.idLicencia;
                                var codigoLic = "";
                                codigoLic += 'Código: ' + response.codigoLicencia;
                                codigoLicenciaAlta.append(codigoLic);
                                $('#modalAltaLicencia').modal();
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertLicencia').clearQueue();
                                $('#alertLicencia').append(alert);
                            }
                        }
                    })
                }

            }
        }
    }


    function ValidarLicencia() {

        if ($("#selectResponsable").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algún <b>Personal</b> al que se le entrega la Licencia.</span>" +
                "</div>";

            $('#alertLicencia').clearQueue();
            $('#alertLicencia').append(alert);
            $("#selectResponsable").focus();
            return false;
        }
        if ($("#selectAutoriza").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algún <b>Personal</b> que autoriza la Licencia.</span>" +
                "</div>";

            $('#alertLicencia').clearQueue();
            $('#alertLicencia').append(alert);
            $("#selectAutoriza").focus();
            return false;
        }

        if ($("#selectResponsableConsignacion").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algún <b>Personal</b> responsable de la Consignación.</span>" +
                "</div>";

            $('#alertLicencia').clearQueue();
            $('#alertLicencia').append(alert);
            $("#selectResponsableConsignacion").focus();
            return false;
        }

        if (alta2) {
            if ($("#idFechaInicioLicencia").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>La <b>Fecha</b> no puede estar vacía.</span>" +
                    "</div>";

                $('#alertLicencia').clearQueue();
                $('#alertLicencia').append(alert);
                $("#idFechaInicioLicencia").focus();
                return false;
            }

            if ($("#idHoraInicioLicencia").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>La <b>Hora</b> no puede estar vacía.</span>" +
                    "</div>";

                $('#alertLicencia').clearQueue();
                $('#alertLicencia').append(alert);
                $("#idHoraInicioLicencia").focus();
                return false;
            }
        }



        return true;
    }


    //$('.selector2').select2({
    //    allowClear: false,
    //    width: '90%',
    //});

    function etc(idNov) {
        //var idNovedad = GetUrlVars()["idNovedad"];
        idNovedad = idNov;
        //var novedad2 = new Object();
        //var licencia = new Object();
        //var visualizar2;
        //var alta2;
        //var usuario = "@nombreUsuario";
        //var idLicencia = GetUrlVars()["idLicencia"];
        //var idLic;
        CrearOEditar();

    function CrearOEditar() {

        console.log(idLicencia);
        //$('.selector2').select2({
        //    allowClear: false,
        //    width: '90%',
        //});

        //visualizar2 = GetUrlVars()["Visualizar"];

        if (visualizar2 == null) {
            visualizar2 = 0;
        }
        if (idNovedad != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Novedad/ConsultarUnaNovedad?idNovedad=' + idNovedad,
                dataType: "json",
                data: idNovedad,
                success: function (respuesta) {
                    novedad2 = respuesta;
                    console.log(novedad2);

                    //$('#idFechaInicioLicencia').attr({ "min": novedad2.fechaParseada });
                    //prueba para pasar hora y fecha anteriores
                    if (novedad2.horaParseada != null) {
                        $('#idHoraInicioLicencia').val(novedad2.horaParseada);
                    }
                    if (novedad2.fechaParseada != null) {
                        $('#idFechaInicioLicencia').val(novedad2.fechaParseada);
                    }
                    if (novedad2.licencia != null || novedad2.licencia != "undefined") {
                        if (novedad2.licencia.idLicencia != 0) {
                            //Editar
                            alta2 = false;
                           // idEditarAut.hidden = false;
                            //$("#idFechaInicioLicencia").prop('disabled', true);
                            // $("#idHoraInicioLicencia").prop('disabled', true);
                            $('#Nlicencia').val(novedad2.licencia.codigoLicencia);
                            var codLicencia = "";
                            codLicencia += "Código: <b>" + novedad2.licencia.codigoLicencia + "</b";
                            $('#textoCodigo').append(codLicencia);
                            $('#ModificarTitulo').css("display", "inline");
                            $("#idFechaInicioLicencia").val(novedad2.licencia.fechaLicenciaParseada);
                            $("#idHoraInicioLicencia").val(novedad2.licencia.horaLicenciaParseada);
                            $('#idDescripcionLicencia').val(novedad2.licencia.descripcionLicencia);
                            var tipoLicencia = novedad2.licencia.tipoLicencia.idTipoLicencia;
                            //Verificar el nombre de estos 3 atributos
                            var responsable = novedad2.licencia.idPersonal;
                            var autoriza = novedad2.licencia.idPersonalAutoriza;
                            var responsableConsigna = novedad2.licencia.idResponsableConsigna;
                            //
                            ObtenerListaResponsable(responsable, autoriza);
                            ObtenerListaTipoLicencia(tipoLicencia);
                            ObtenerListaResponsableConsgina(responsableConsigna);
                            idLicencia = novedad2.licencia.idLicencia;
                        } else {

                            //Crear
                            alta2 = true;
                            $('#altaTitulo').css("display", "inline");

                            var responsable = -1;
                            var tipoLicencia = -1;
                            var autoriza = -1;
                            var responsableConsigna = -1;
                            ObtenerListaResponsable(responsable, autoriza);
                            ObtenerListaTipoLicencia(tipoLicencia);
                            ObtenerListaResponsableConsgina(responsableConsigna);

                        }

                    } else {
                        //Crear
                        alta2 = true;
                        $('#altaTitulo').css("display", "inline");

                        var responsable = -1;
                        var tipoLicencia = -1;
                        var autoriza = -1;
                        var responsableConsigna = -1;
                        ObtenerListaResponsable(responsable, autoriza);
                        ObtenerListaTipoLicencia(tipoLicencia);
                        ObtenerListaResponsableConsgina(responsableConsigna);
                    }
                }
            })
        } else {
            if (idLicencia != undefined) {

                alta2 = true;
                $('#altaTitulo').css("display", "inline");
                $.ajax({
                    type: 'Get',
                    url: '/Api/Licencia/ConsultLicencia?idLicencia=' + idLicencia,
                    dataType: "json",
                    data: idLicencia,
                    success: function (respuesta) {

                        licencia = respuesta;
                        console.log(respuesta);
                        if (idLicencia != null) {
                            if (idLicencia != 0) {
                                //Editar
                                alta2 = false;
                                // $('#idFechaInicioLicencia').attr({ "min": licencia.fechaLicenciaParseada});

                                // idEditarAut.hidden = false;
                                //  $("#idFechaInicioLicencia").prop('enabled', true);
                                // $("#idHoraInicioLicencia").prop('enabled', true);
                                //var codLicencia = "";
                                //codLicencia += "Código: <b>" + novedad2.licencia.codigoLicencia + "</b";
                                //$('#codigoLicencia')
                                // $('#textoCodigo').append(codLicencia);

                                $('#Nlicencia').val(licencia.codigoLicencia);
                                //$('#ModificarTitulo').css("display", "inline");
                                if (licencia.fechaLicenciaParseada != "0001-01-01") {
                                    $("#idFechaInicioLicencia").val(licencia.fechaLicenciaParseada);
                                }
                                $("#idHoraInicioLicencia").val(licencia.horaLicenciaParseada);
                                $('#idDescripcionLicencia').val(licencia.descripcionLicencia);
                                var tipoLicencia = licencia.idTipoLicencia;
                                //Verificar el nombre de estos 3 atributos
                                var responsable = licencia.idPersonal;
                                var autoriza = licencia.idPersonalAutoriza;
                                var responsableConsigna = licencia.idResponsableConsigna;
                                //
                                ObtenerListaResponsable(responsable, autoriza);
                                ObtenerListaTipoLicencia(tipoLicencia);
                                ObtenerListaResponsableConsgina(responsableConsigna);
                                idLicencia = idLicencia;
                            } else {
                                //Crear
                                alta2 = true;
                                $('#altaTitulo').css("display", "inline");

                                var responsable = -1;
                                var tipoLicencia = -1;
                                var autoriza = -1;
                                var responsableConsigna = -1;
                                ObtenerListaResponsable(responsable, autoriza);
                                ObtenerListaTipoLicencia(tipoLicencia);
                                ObtenerListaResponsableConsgina(responsableConsigna);
                            }

                        }else {
                            //Crear
                            alta2 = true;
                            $('#altaTitulo').css("display", "inline");

                            var responsable = -1;
                            var tipoLicencia = -1;
                            var autoriza = -1;
                            var responsableConsigna = -1;
                            ObtenerListaResponsable(responsable, autoriza);
                            ObtenerListaTipoLicencia(tipoLicencia);
                            ObtenerListaResponsableConsgina(responsableConsigna);
                        }
                    }
                })

            } else {
                var responsable = -1;
                var tipoLicencia = -1;
                var autoriza = -1;
                var responsableConsigna = -1;
                ObtenerListaResponsable(responsable, autoriza);
                ObtenerListaTipoLicencia(tipoLicencia);
                ObtenerListaResponsableConsgina(responsableConsigna);
            }

        }
    }



        function ObtenerListaResponsable(responsable, autoriza) {
            $("#selectResponsable").on("select2:select", function (e) {
                var select_val = $(e.currentTarget).val().trigger('change');

                console.log(select_val);
            });
           // $('#selectResponsable').select2().val(data.idAsignado).trigger('change');

        $.ajax({
            type: 'Get',
            url: '/Api/Usuario/ObtenerListaUsuarioCTR',
            dataType: "json",
            data: {},
            success: function (respuesta) {
                console.log(respuesta);
                if (responsable == -1) {
                    $('#selectResponsable').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectResponsable').append($('<option>').val(-1).text("Seleccione una opción"))
                }

                if (autoriza == -1) {
                    $('#selectAutoriza').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectAutoriza').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta, function (index, result) {
                    if (responsable == result.idUsuario) {
                        $('#selectResponsable').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                    else {
                        $('#selectResponsable').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
                    }

                    if (autoriza == result.idUsuario) {
                        $('#selectAutoriza').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                    else {
                        $('#selectAutoriza').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                });
            }
        })
    }

    function ObtenerListaResponsableConsgina(responsableConsigna) {
        //Verificar Api a la que consulto
        $.ajax({
            type: 'Get',
            url: '/Api/Usuario/ObtenerListaResponsableConsignacion',
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (responsableConsigna == -1) {
                    $('#selectResponsableConsignacion').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectResponsableConsignacion').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                //verificar id y nombre que consulto
                $.each(respuesta, function (index, result) {
                    if (responsableConsigna == result.idUsuario) {
                        $('#selectResponsableConsignacion').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                    else {
                        $('#selectResponsableConsignacion').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
                    }

                });
            }
        })
    }

    function ObtenerListaTipoLicencia(tipoLicencia) {

        $.ajax({
            type: 'Get',
            url: '/Api/Licencia/ObtenerListaTipoLicencia',
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (tipoLicencia == -1) {
                    $('#selectTipoLicencia').append($('<option selected>').val(-1).text("Sin tipo de Licencia"))
                }
                else {
                    $('#selectTipoLicencia').append($('<option>').val(-1).text("Sin tipo de Licencia"))
                }
                $.each(respuesta, function (index, result) {
                    if (tipoLicencia == result.idTipoLicencia) {
                        $('#selectTipoLicencia').append($('<option selected>').val(result.idTipoLicencia).text(result.nombreTipoLicencia))
                    }
                    else {
                        $('#selectTipoLicencia').append($('<option>').val(result.idTipoLicencia).text(result.nombreTipoLicencia))
                    }

                });

                $(".loader-wrapper").fadeOut("slow");
            }
        })
    }

    }


    (function () {

        $('#actuacion').select2({ width: '90%', });
        $('#tipoActuacion').select2({ width: '90%', });

        //var idItem = '#NovedadSideBar';

        ////ActivarItem(idItem);
        //setTimeout(function () {
        //    ActivarItem(idItem);
        //}, 1000);
        //CargarFiltros();
        //obtenerIndicadores();
        //CrearTabla();
        //mostrarRutesAbiertas();
        //onLoad();
        //ObtenerTurnoAbiertoParaGrilla();
    })();

</script>
