﻿
@{
    ViewBag.Title = "Administrar Tipo de Novedad";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Tipo de Novedad</b></h4>
                        <p class="card-category">Complete los datos del Tipo de Novedad.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTipoNovedad"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input type="text" class="form-control" id="nombreTipoNovedad" maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxCapacitor" value="">
                                            Banco de Capacitores
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxEquipo" value="">
                                            Equipo
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxEstacion" value="">
                                            Estación
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxLinea" value="">
                                            Línea
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxPersonal" value="">
                                            Personal
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxPuntoConexion" value="">
                                            Punto de Conexión
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxTipoFalla" value="">
                                            Tipo Falla
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxTransformador" value="">
                                            Transformador
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="cboxCentroControl" value="">
                                            Centro de Control
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-5">
                                    <button type="button" class="btn btn-info pull-center " onclick="GuardarTipoNovedad()">Guardar</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });

        (function () {
            $('.nav-item').removeClass('active');
            $('#TipoNovedadSideBar').addClass('active');
            CrearOEditar();

        })();

        function CrearOEditar() {
            var idTipoNovedad = getUrlVars()["id"];
            if (idTipoNovedad != undefined) {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Novedad/ObtenerUnTipoNovedad?idTipoNovedad=' + idTipoNovedad,
                    dataType: "json",
                    data: idTipoNovedad,
                    success: function (tipoNovedad) {
                        console.log(tipoNovedad);
                        $('#nombreTipoNovedad').val(tipoNovedad.nombreTipoNovedad);
                        $("#cboxEquipo").attr('checked', tipoNovedad.equipo);
                        $('#cboxEstacion').attr('checked', tipoNovedad.estacion);
                        $('#cboxLinea').attr('checked', tipoNovedad.linea);
                        $('#cboxPersonal').attr('checked', tipoNovedad.personal);
                        $('#cboxTipoFalla').attr('checked', tipoNovedad.tipofalla);
                        $('#cboxTransformador').attr('checked', tipoNovedad.transformador);
                        $('#cboxCapacitor').attr('checked', tipoNovedad.capacitor);
                        $('#cboxPuntoConexion').attr('checked', tipoNovedad.puntoConexion);
                        $('#cboxCentroControl').attr('checked', tipoNovedad.centroControl);


                    }
                })
            }

        }

        function GuardarTipoNovedad() {
            if (validarTipoNovedad()) {
                var idTipoNovedad = getUrlVars()["id"];
                var tipoNovedad = new Object();
                tipoNovedad.nombreTipoNovedad = $("#nombreTipoNovedad").val();
                tipoNovedad.equipo = $("#cboxEquipo").prop('checked');
                tipoNovedad.estacion = $('#cboxEstacion').prop('checked');
                tipoNovedad.linea = $('#cboxLinea').prop('checked');
                tipoNovedad.personal = $('#cboxPersonal').prop('checked');
                tipoNovedad.tipofalla = $('#cboxTipoFalla').prop('checked');
                tipoNovedad.transformador = $('#cboxTransformador').prop('checked');
                tipoNovedad.capacitor = $('#cboxCapacitor').prop('checked');
                tipoNovedad.puntoConexion = $('#cboxPuntoConexion').prop('checked');
                tipoNovedad.centroControl = $('#cboxCentroControl').prop('checked');


                if (idTipoNovedad != undefined) {
                    tipoNovedad.idTipoNovedad = idTipoNovedad;
                    $.ajax({
                        type: 'POST',
                        url: '/Api/Novedad/ModificarTipoNovedad',
                        dataType: "json",
                        data: tipoNovedad,
                        success: function (codigo) {
                            if (codigo == 200) {
                                window.location.href = '/Novedad/TipoNovedad';
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertTipoNovedad').clearQueue();
                                $('#alertTipoNovedad').append(alert);
                            }
                        }
                    })
                } else {
                    $.ajax({
                        type: 'Post',
                        url: '/Api/Novedad/AltaTipoNovedad',
                        dataType: "json",
                        data: tipoNovedad,
                        success: function (codigo) {
                            if (codigo == 200) {
                                window.location.href = '/Novedad/TipoNovedad';
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertTipoNovedad').clearQueue();
                                $('#alertTipoNovedad').append(alert);
                            }

                        }
                    })
                }


            }
        }

        function validarTipoNovedad() {
            if ($("#nombreTipoNovedad").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>El <b> Nombre </b> no puede estar vacío.</span>" +
                    "</div>";

                $('#alertTipoNovedad').clearQueue();
                $('#alertTipoNovedad').append(alert);

                $("#nombreTipoNovedad").focus();
                return false;
            }
            if ($("#nombreTipoNovedad").val().length > 30) {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>El <b> Nombre </b> no puede ser mayor a 30 caracteres.</span>" +
                    "</div>";

                $('#alertTipoNovedad').clearQueue();
                $('#alertTipoNovedad').append(alert);

                $("#nombreTipoNovedad").focus();
                return false;
            }
            if ($("#cboxEquipo").prop('checked') == false && $('#cboxEstacion').prop('checked') == false && $('#cboxLinea').prop('checked') == false && $('#cboxPersonal').prop('checked') == false && $('#cboxTipoFalla').prop('checked') == false && $('#cboxTransformador').prop('checked') == false && $('#cboxCapacitor').prop('checked') == false && $('#cboxPuntoConexion').prop('checked') == false && $('#cboxCentroControl').prop('checked') == false) {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>Debe seleccionar al menos una opción.</span>" +
                    "</div>";

                $('#alertTipoNovedad').clearQueue();
                $('#alertTipoNovedad').append(alert);

                return false;
            }

            return true;
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
    </script>
