﻿@{
    ViewBag.Title = "Tipo Novedad";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:80%">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Tipo de Novedad</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear' id='agregar' onclick="AltaTipoNovedad()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                        </div>
                        <div class="table-responsive">
                            <table id="tablaTipoNovedad" class="mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Nombre</th>
                                        <th></th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    var table;

    function AltaTipoNovedad() {
        window.location.href = '/Novedad/AdministrarTipoNovedad';
    }

    function EditaTipoNovedad(button) {
        var id = table.row($(button).parents('tr')).data();
        location.href = '/Novedad/AdministrarTipoNovedad?id=' + id.idTipoNovedad;
    }

    function RecuperaTipoNovedad(button) {
        var tipoNovedad = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'Post',
            url: '/Api/Novedad/RecuperarTipoNovedad',
            dataType: "json",
            data: tipoNovedad,
            success: function (response) {
                if (response != false) {
                    var activo = false;
                    var url = "/Api/Novedad/ObtenerListaTipoNovedad?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function EliminaTipoNovedad(button) {
        var tipoNovedad = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'Post',
            url: '/Api/Novedad/EliminarTipoNovedad',
            dataType: "json",
            data: tipoNovedad,
            success: function (response) {
                if (response != false) {
                    var activo = true;
                    var url = "/Api/Novedad/ObtenerListaTipoNovedad?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
                else {
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })

    }

    function CambioCboxEliminados() {
        if ($('#cboxMostrarEliminados').prop('checked') == true) {
            //si el checkbox esta tildado, significa que quiero los tipo Novedad eliminados
            var activo = false;
            var url = "/Api/Novedad/ObtenerListaTipoNovedad?activo=" + activo;
            table.ajax.url(url).load(mostrarRecuperar);
        }
        else {
            //si el checkbox no esta tildado, significa que quiero los tipo Novedad eliminados
            var activo = true;
            var url = "/Api/Novedad/ObtenerListaTipoNovedad?activo=" + activo;
            table.ajax.url(url).load(mostrarAltaEditar);
        }
    }

    function mostrarRecuperar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "none");
        $('.imageButtonEliminar').css("display", "none");
        $('.imageButtonRecuperar').css("display", "inline");
    }

    function mostrarAltaEditar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "inline");
        $('.imageButtonEliminar').css("display", "inline");
        $('.imageButtonRecuperar').css("display", "none");
    }

    function CrearTabla(activo) {

        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#tablaTipoNovedad').DataTable({
            "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "order": [[1, "asc"]],
            "ajax": "/Api/Novedad/ObtenerListaTipoNovedad?activo=" + activo,
            "columns": [
                { "data": 'idTipoNovedad', 'visible': false },
                { "data": 'nombreTipoNovedad', "width": 100 },
                {
                    "defaultContent": "<div class='float-right'><input type='image' class='imageButtonEditar' onclick='EditaTipoNovedad(this);' src = '/fonts/Icons/edit.png'><input type='image' class='imageButtonEliminar' onclick='EliminaTipoNovedad(this);' src = '/fonts/Icons/remove.png'><input type='image' class='imageButtonRecuperar' onclick='RecuperaTipoNovedad(this);' src = '/fonts/Icons/recuperar.png'></div>", "width": 10
                }
            ],
            "language": idiomaEspanol
        });

    }

    (function () {

        $('.nav-item').removeClass('active');
        $('#TipoNovedadSideBar').addClass('active');

        var activo = true;
        CrearTabla(activo);

    })();
</script>
