﻿
@{
    ViewBag.Title = "AdministrarPropiedad";
}


@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Propiedad</b></h4>
                        <p class="card-category">Complete los datos del Propiedad.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertPropiedad"></div>

                            <div class="row">
                                <div class="col ">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre Propiedad</label>
                                        <input type="text" class="form-control" id="nombrePropiedad" maxlength="20">
                                    </div>
                                </div>

                            </div>                         
                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-success pull-center" onclick="GuardarPropiedad()">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#PropiedadSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        CrearOEditar();


    })();

    function volver() {
        window.location.href = '/Propiedad/Propiedad';
    }

    function CrearOEditar() {
        var idPropiedad = GetUrlVars()["id"];
        if (idPropiedad != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Propiedad/ConsultarUnaPropiedad?idPropiedad=' + idPropiedad,
                dataType: "json",
                data: idPropiedad,
                success: function (propiedad) {
                    $('#nombrePropiedad').val(propiedad.nombrePropiedad);
                }
            })
        }
        else {
        }

    }

    function GuardarPropiedad() {
        if (ValidarPropiedad()) {
            var idPropiedad = GetUrlVars()["id"];
            var propiedad = new Object();
            propiedad.idPropiedad = $("#idPropiedad").val();
            propiedad.nombrePropiedad = $("#nombrePropiedad").val();

            if (idPropiedad != undefined) {
                propiedad.idPropiedad = idPropiedad;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Propiedad/ModificarPropiedad',
                    dataType: "json",
                    data: propiedad,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertPropiedad').clearQueue();
                            $('#alertPropiedad').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Propiedad/AltaPropiedad',
                    dataType: "json",
                    data: propiedad,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);

                        if (codigo == 300) {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>La Propiedad que intenta guardar ya existe.</span>" +
                                "</div>";

                            $('#alertPropiedad').clearQueue();
                            $('#alertPropiedad').append(alert);
                        }
                        else {
                            if (codigo == 200) {
                                volver();
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertPropiedad').clearQueue();
                                $('#alertPropiedad').append(alert);
                            }
                        }
                    }
                })
            }


        }
    }

    function ValidarPropiedad() {

        if ($("#nombrePropiedad").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>La <b>PROPIEDAD</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertPropiedad').clearQueue();
            $('#alertPropiedad').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombrePropiedad").focus();
            return false;
        }

        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

</script>

