﻿@{
    ViewBag.Title = "Administrar Generador";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Generador</b></h4>
                        <p class="card-category">Complete los datos del Generador.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertGenerador"></div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre Generador</label>
                                        <input type="text" class="form-control" id="nombreGenerador" onclick="alertaGenerador()" maxlength="20">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Centro de control</label>
                                        <select class="select2" id="selectControl" onchange="ObtenerListaCentral()"></select>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Central</label>
                                            <br />
                                            <select class="select2 ObtenerListaCentral   " id="selectCentral"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Propiedad</label>
                                            <br />
                                            <select class="select2 ObtenerListaPropiedad" id="selectPropiedad"></select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-success pull-center" onclick="GuardarGenerador()">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#GeneradorSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectControl').select2({
            allowClear: false,
            width: '90%',

        });

        $('#selectCentral').select2({
            allowClear: true,
            width: '90%',
        });

        $('#selectPropiedad').select2({
            allowClear: true,
            width: '90%',
        });

        CrearOEditar();


    })();

    function volver() {
        window.location.href = '/Generador/Generador';
    }

    function CrearOEditar() {
        var idGenerador = GetUrlVars()["id"];
        if (idGenerador != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Generador/ConsultarUnGenerador?idGenerador=' + idGenerador,
                dataType: "json",
                data: idGenerador,
                success: function (generador) {
                    $('#nombreGenerador').val(generador.nombreGenerador);

                    var idCentroControl = generador.centrocontrol.idCentroControl;
                    ObtenerListaCentroControl(idCentroControl);

                    var idCentral = generador.central.idCentral;
                    ObtenerListaCentral(idCentroControl , idCentral);

                    var idPropiedad = generador.propiedad.idPropiedad;
                    ObtenerListaPropiedad(idPropiedad);


                }
            })
        }
        else {
            var id = -1
            ObtenerListaCentroControl(id);
            ObtenerListaPropiedad(id);
            ObtenerListaCentral(id);
        }

    }

    function GuardarGenerador() {
        if (ValidarGenerador()) {
            var idGenerador = GetUrlVars()["id"];
            var generador = new Object();
            generador.idGenerador = $("#idGenerador").val();
            generador.nombreGenerador = $("#nombreGenerador").val();
            generador.nombresuario = "@nombreUsuario";

            var central = new Object();
            central.idCentral = $('#selectCentral').val();
            central.nombreCentral = $('#selectCentral option:selected').val();
            generador.central = central;

            var propiedad = new Object();
            propiedad.idPropiedad = $('#selectPropiedad').val();
            propiedad.nombrePropiedad = $('#selectPropiedad option:selected').val();
            generador.propiedad = propiedad;

            if (idGenerador != undefined) {
                generador.idGenerador = idGenerador;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Generador/ModificarGenerador',
                    dataType: "json",
                    data: generador,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertGenerador').clearQueue();
                            $('#alertGenerador').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Generador/AltaGenerador',
                    dataType: "json",
                    data: generador,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);

                        if (codigo == 300) {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>El generador que intenta guardar ya existe.</span>" +
                                "</div>";

                            $('#alertGenerador').clearQueue();
                            $('#alertGenerador').append(alert);
                        }
                        else {
                            console.log(codigo)
                            if (codigo == 200) {
                                volver();
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertGenerador').clearQueue();
                                $('#alertGenerador').append(alert);
                            }
                        }
                    }
                })
            }


        }
    }



    function ValidarGenerador() {

        if ($("#nombreGenerador").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Nombre</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertGenerador').clearQueue();
            $('#alertGenerador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombreGenerador").focus();
            return false;
        }


        if ($("#selectCentral").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Central</b>.</span>" +
                "</div>";

            $('#alertGenerador').clearQueue();
            $('#alertGenerador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectCentral").focus();
            return false;
        }

        if ($("#selectPropiedad").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>PROPIEDAD</b>.</span>" +
                "</div>";

            $('#alertGenerador').clearQueue();
            $('#alertGenerador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectPropiedad").focus();
            return false;
        }


        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }



    function ObtenerListaCentral(centroControl, idCentral) {

        if (centroControl == undefined && idCentral == undefined) {
            $('#selectCentral').attr('disabled', 'disabled');
            $('#selectCentral').removeAttr('disabled');
            $('#selectCentral').empty();
        }

            if (centroControl == null) {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Central/ObtenerCentralPorCentro?idCentro=' + $('#selectControl').val(),
                    dataType: "json",
                    data: {},
                    success: function (respuesta) {
                        if (idCentral == -1) {
                            $('#selectCentral').append($('<option selected>').val(-1).text())
                        }
                        else {
                            $('#selectCentral').append($('<option>').val(-1).text())
                        }
                        $.each(respuesta, function (index, result) {
                            if (idCentral == result.idCentral) {
                                $('#selectCentral').append($('<option selected>').val(result.idCentral).text(result.nombreCentral))
                            }
                            else {
                                $('#selectCentral').append($('<option>').val(result.idCentral).text(result.nombreCentral))

                            }
                        });
                    }
                })
            } else {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Central/ObtenerCentralPorCentro',
                    dataType: "json",
                    data: { idCentro: centroControl },
                    success: function (respuesta) {


                        if (idCentral == -1) {
                            $('#selectCentral').append($('<option selected>').val(-1).text())
                        }
                        else {
                            $('#selectCentral').append($('<option>').val(-1).text())
                        }
                        $.each(respuesta, function (index, result) {
                            if (idCentral == result.idCentral) {
                                $('#selectCentral').append($('<option selected>').val(result.idCentral).text(result.nombreCentral))
                            }
                            else {
                                $('#selectCentral').append($('<option>').val(result.idCentral).text(result.nombreCentral))

                            }
                        });
                    }
                })
            }

    }

    function ObtenerListaCentroControl(idCentroControl) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/CentroControl/ObtenerCentroControl?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idCentroControl == -1) {
                    $('#selectControl').append($('<option selected>').val(-1).text("Seleccione una opción"))
                    $('#selectCentral').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectControl').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idCentroControl == result.idCentroControl) {
                        $('#selectControl').append($('<option selected>').val(result.idCentroControl).text(result.nombreCentroControl))
                    }
                    else {
                        $('#selectControl').append($('<option>').val(result.idCentroControl).text(result.nombreCentroControl))
                    }
                });
            }
        })

    }

    function ObtenerListaPropiedad(idPropiedad) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Propiedad/ObtenerPropiedad?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idPropiedad == -1) {
                    $('#selectPropiedad').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectPropiedad').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idPropiedad == result.idPropiedad) {
                        $('#selectPropiedad').append($('<option selected>').val(result.idPropiedad).text(result.nombrePropiedad))
                    }
                    else {
                        $('#selectPropiedad').append($('<option>').val(result.idPropiedad).text(result.nombrePropiedad))
                    }
                });
            }
        })

    }

    function alertaGenerador() {
        alerta = document.getElementById('alertaaGenerador');

        if (alerta) {
            padre = alerta.parentNode;
            padre.removeChild(alerta);
        }
    }

</script>
