﻿
@{
    ViewBag.Title = "AdministrarReclamo";
}


@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Reclamo</b></h4>
                        <p class="card-category">Complete los datos del Reclamo.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertReclamo"></div>

                            <div class="row">

                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre Reclamo</label>
                                        <input type="text" class="form-control" id="nombreReclamo" maxlength="20">
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                        <button type="button" class="btn btn-success pull-center" onclick="GuardarReclamo()">Guardar</button>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });

        (function () {
            var idItem = '#ReclamoSideBar';

            setTimeout(function () {
                ActivarItem(idItem);
            }, 1000);

            CrearOEditar();


        })();

        function CrearOEditar() {
            var idReclamo = GetUrlVars()["id"];
            if (idReclamo != undefined) {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Reclamo/ConsultarUnReclamo?idReclamo=' + idReclamo,
                    dataType: "json",
                    data: idReclamo,
                    success: function (reclamo) {
                        $('#nombreReclamo').val(reclamo.nombreReclamo);
                    }
                })
            }
            else {

            }

        }

        function volver() {
            window.location.href = '/Reclamo/Reclamo';
        }

        function GuardarReclamo() {
            if (ValidarReclamo()) {
                var idReclamo = GetUrlVars()["id"];
                var reclamo = new Object();
                reclamo.idReclamo = $("#idReclamo").val();
                reclamo.nombreReclamo = $("#nombreReclamo").val();


                if (idReclamo != undefined) {
                    reclamo.idReclamo = idReclamo;
                    $.ajax({
                        type: 'POST',
                        url: '/Api/Reclamo/ModificarReclamo',
                        dataType: "json",
                        data: reclamo,
                        success: function (codigo) {
                            console.log("CODIGO " + codigo);
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>El reclamo que intenta guardar ya existe.</span>" +
                                    "</div>";

                                $('#alertReclamo').clearQueue();
                                $('#alertReclamo').append(alert);
                            } else {

                            if (codigo == 200) {
                                volver();
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertReclamo').clearQueue();
                                $('#alertReclamo').append(alert);
                                }
                            }

                        }
                    })
                } else {
                    $.ajax({
                        type: 'Post',
                        url: '/Api/Reclamo/AltaReclamo',
                        dataType: "json",
                        data: reclamo,
                        success: function (codigo) {
                            console.log("CODIGO " + codigo);
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>El reclamo que intenta guardar ya existe.</span>" +
                                    "</div>";

                                $('#alertReclamo').clearQueue();
                                $('#alertReclamo').append(alert);
                            }
                            else {
                            if (codigo == 200) {
                                volver();
                            }
                            else {
                                var alert = ""; nombreReclamo
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertReclamo').clearQueue();
                                $('#alertReclamo').append(alert);
                                }
                            }
                        }
                    })
                }
            }
        }
    

        function ValidarReclamo() {

            if ($("#nombreReclamo").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>El <b>Nombre del Reclamo</b> no puede estar vacío.</span>" +
                    "</div>";

                $('#alertReclamo').clearQueue();
                $('#alertReclamo').append(alert);
                $(".alert").delay(4000).slideUp(200, function () {
                    $(this).alert('close');
                });
                $("#nombreReclamo").focus();
                return false;
            }

            return true;
        }

        function GetUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

</script>


