﻿<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="../JS/NovedadJS.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Libro de Novedades</div>
                        </div>
                        <div class="float-right">
                            <input type='image' title='Alta' class='imageButtonCrear' id='agregar' onclick="AltaNovedad()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="row botones">
                            <div class="col-2">
                                <button type="button" class="btn botonTabla" style="background-color:#0080FF" onclick="LimpiarFiltros()">Limpiar Filtros</button>
                                @*<button type="button" class="btn botonTabla" style="background-color:#0080FF" onclick="ExportarPdf()">Exportar Pdf</button>*@
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-success botonTabla" onclick="ImprimirPdf()">PDF</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11">
                                <div class="row filtros">
                                    <div class="col-3">
                                        <label for="fechaDesdeInput">Desde</label>
                                        <br />
                                        <input type="date" class="form-control" id="fechaDesdeFiltro" name="fechaDesdeInput" required>
                                    </div>
                                    <div class="col-3">
                                        <label for="fechaDesdeInput">Hasta</label>
                                        <br />
                                        <input type="date" class="form-control" id="fechaHastaFiltro" name="fechaDesdeInput" required>
                                    </div>
                                    <div class="col-4">
                                        <label for="texto">Buscar</label>
                                        <br />
                                        <input type="text" class="form-control" id="textoFiltro" name="texto" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 centrar">
                                <div class="row botones">
                                    <div class="centrar">
                                        <button type="button" class="btn botonFiltrar" style="background-color:#5cb85c" onclick="Filtrar()">Filtrar</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row cabecera" >
                                <div class="col-md-1">Fecha</div>
                                <div class="col-md-1">Hora</div>
                                <div class="col-md-1">Codigo Novedad</div>
                                <div class="col-md-9">Descripción Novedad</div>
                            </div>
                            <div class="row">
                                <div class="col-12" id="cuerpo">

                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .centrar {
        margin: auto -15px;
    }

    .card-icon {
        width: 35%;
        padding: 0px;
    }

    .card-stats .card-header.card-header-icon i {
        width: 100%;
    }

    .indicador {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .turno {
        background-color:lightblue;
        font-size: 15px;
        color: black;
        font-family: 'Segoe UI';
        font-weight: 400;
        border-radius: 4px;
        padding: 4px;
    }

    .cabecera {
        font-size: 17px;
        color: black;
        font-weight: 400;
    }

    .table thead tr th {
        font-size: 12px;
        vertical-align: central;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        color: rgba(0,0,0,.54)
    }

    .table {
        position: relative;
        border: 1px solid rgba(0,0,0,.12);
        border-collapse: collapse;
        font-size: 13px;
        background-color: #fff;
    }
</style>

<script>
    var table;
    var fechaDesde;
    var fechaHasta;
    var tipoNovedad = 0;
    var actuacion = 0;
    var propiedad = -1;
    var descripcion = "";
    var descCompleta = true;
    var idEquipo = 0;
    var nombreEquipo = "";
    var idTipoEquipo = 0;
    var activo = true;

    function ImprimirPdf() {
        var fechaDesdePdf = $("#fechaDesdeFiltro").val();
        var fechaHastaPdf = $("#fechaHastaFiltro").val();
        $.ajax({
            type: 'Get',
            url: '/Api/Novedad/ImprimirPdf?fechaDesde=' + fechaDesdePdf + '&fechaHasta=' + fechaHastaPdf,
            success: function (result) {
                var path = result.split('#')[0];
                var nombreArchivo = result.split('#')[1];
                window.location.href = "/Api/Novedad/DescargarPdf?path=" + path + "&nombreArchivo=" + nombreArchivo;
            }
        });
    }
    function Filtrar() {
        if (ValidarFiltros()) {
            var Desde = $("#fechaDesdeFiltro").val();
            var Hasta = $("#fechaHastaFiltro").val();
            var fDesde = new Date(Desde);
            fDesde.setDate(fDesde.getDate() + 1);
            var fHasta = new Date(Hasta);
            fHasta.setDate(fHasta.getDate() + 1);
            fechaDesde = fechaHoyMostrar(fDesde);
            fechaHasta = fechaHoyMostrar(fHasta);
            if ($("#actuacionFiltro").val() != -1) {
                actuacion = $("#actuacionFiltro").val();
            }
            else {
                actuacion = 0;
            }
            propiedad = $("#propiedadFiltro").val();
            var url = ObtenerUrlLibro();

            if (activo) {
                obtenerLibro();
            }



        }
    }
    function LimpiarFiltros() {
        tipoNovedad = 0;
        actuacion = 0;
        descripcion = "";
        descCompleta = true;
        idEquipo = 0;
        nombreEquipo = "";
        idTipoEquipo = 0;
        activo = true;
        propiedad = -1;

        descripcion = "";
        $('#decripcionFiltro').val(descripcion);
        $('#actuacionFiltro').empty();
        $('#propiedadFiltro').empty();

        CargarFiltros();
        var url = ObtenerUrlLibro();

        if (activo) {
            table.ajax.url(url).load();
        }

    }

    function AltaNovedad() {

        window.location.href = '/Novedad/AdministrarNovedad';

    }

    function ExportarPdf() {
        if (ValidarFiltros()) {
            var Desde = $("#fechaDesdeFiltro").val();
            var Hasta = $("#fechaHastaFiltro").val();
            var fDesde = new Date(Desde);
            fDesde.setDate(fDesde.getDate() + 1);
            var fHasta = new Date(Hasta);
            fHasta.setDate(fHasta.getDate() + 1);
            fechaDesde = fechaHoyMostrar(fDesde);
            fechaHasta = fechaHoyMostrar(fHasta);
            if ($("#actuacionFiltro").val() != -1) {
                actuacion = $("#actuacionFiltro").val();
            }
            else {
                actuacion = 0;
            }
            propiedad = $("#propiedadFiltro").val();
            var url;
            url = "/Api/Novedad/ObtenerLibroNovedad";
            url += "?activo=" + activo;
            url += "&fechaDesde=" + fechaDesde;
            url += "&fechaHasta=" + fechaHasta;
            url += "&descripcion=" + descripcion;
            url += "&descCompleta=" + descCompleta;
            url += "&idEquipo=" + idEquipo;
            url += "&nombreEquipo=" + nombreEquipo;
            url += "&idTipoEquipo=" + idTipoEquipo;
            url += "&tipoNovedad=" + tipoNovedad;
            url += "&actuacion=" + actuacion;
            url += "&propiedad=" + propiedad;
            $.ajax({
                type: 'get',
                url: url,
                dataType: "json",
                async: false,
                data: {},
                success: function (respuesta) {

                }

            });
        }
    }

    (function () {
        $('.selector2').select2({
            allowClear: false,
            width: '100%',
        });
        var idItem = '#NovedadSideBar';
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);
        let activo = true;
        CargarFiltros();
        $(".loader-wrapper").fadeOut("slow");
        obtenerLibro();
    }());

    function ObtenerUrlLibro() {
        var url;
        url = "/Api/Novedad/ObtenerLibroNovedad";
        url += "?activo=" + activo;
        url += "&fechaDesde=" + fechaDesde;
        url += "&fechaHasta=" + fechaHasta;
        url += "&descripcion=" + descripcion;
        url += "&descCompleta=" + descCompleta;
        url += "&idEquipo=" + idEquipo;
        url += "&nombreEquipo=" + nombreEquipo;
        url += "&idTipoEquipo=" + idTipoEquipo;
        url += "&tipoNovedad=" + tipoNovedad;
        url += "&actuacion=" + actuacion;
        url += "&propiedad=" + propiedad;

        return url;
    }

    function obtenerLibro() {
        var fechaDesde = $("#fechaDesdeFiltro").val();
        var fechaHasta = $("#fechaHastaFiltro").val();
        var texto = $("#textoFiltro").val();
        $.ajax({
            type: 'Get',
            url: '/Api/Novedad/ObtenerLibro?fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta + '&texto=' + texto,
            success: function (data) {
                $("#cuerpo").empty();
                $.each(data, function (index, result) {
                    console.log(result);
                    /*var turno = "<hr><div class='row turno'>" + "Jefe de Turno: " + result.nombreJefeTurno + "  - Turno: " + result.nombreTipoTurno + " - Estado del tiempo: " + result.estadoTiempo + "</div><hr>";*/
                    var turno = "<br><div class='row turno'>";
                    turno += "<div class='col-md-2'>" + "Jefe de turno: " + result.nombreJefeTurno + "</div>";
                    turno += "<div class='col-md-2'>" + "Operador: " + result.nombreAcompañantes + "</div>";
                    turno += "<div class='col-md-2'>" + "Turno: " + result.nombreTipoTurno + "</div>";
                    turno += "<div class='col-md-2'>" + "Estado del tiempo: " + result.estadoTiempo + "</div>";
                    turno += "</div><br>";
                    $.each(result.novedades, function (index2, result2) {
                        var descripcion = "";
                        if (result2.descripcionNovedad != null) {
                            descripcion = result2.descripcionNovedad;
                        } else {
                            descripcion = "Sin descripcion";
                        }                        

                        console.log(result2);
                        var novedad = "<div class='row'>";
                        novedad += "<div class='col-md-1'>" + result2.horaParseada.split(' ')[0] + "</div>";
                        novedad += "<div class='col-md-1'>" + result2.horaParseada.split(' ')[1] + "</div>";
                        novedad += "<div class='col-md-1'>" + result2.codNovedad + "</div>";
                        if (result2.nombreActuacion == "") {
                            result2.nombreActuacion = " # ";
                        }

                        var descripcion = "";
                        if (result2.descripcionNovedad != null) {
                            descripcion = result2.descripcionNovedad;
                        } else {
                            descripcion = "Sin descripcion";
                        }

                        var nota = "";
                        if (result2.nota != null && result2.nota != "") {
                            nota = result2.nota;
                        } else {
                            nota = "Sin nota";
                        }
                        var aut = "";
                        if (result2.automatismos != null && result2.automatismos != "") {
                            aut ="Automatismos: " +result2.automatismos;
                        }
                        novedad += "<div class='col-md-9'>" + result2.nombreEquipo + " " + result2.nombreActuacion.split('#')[1] + " " + result2.nombreActuacion.split('#')[0] + "<br><br>  OBS: " + descripcion + "<br>" + "Nota: " + nota+"<br>"+ aut+"<br></div>";
                        novedad += "</div><hr>";
                        turno = turno + novedad;
                    });
                    
                    $("#cuerpo").append(turno);
                });
            }
        });
    }

    function crearTabla(activo) {
        var url = ObtenerUrlLibro();
        //var url = ObtenerUrl();
        table = $('#LibroNovedad').DataTable({
            dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-3'i><'col-sm-8'p><'col-sm-1'l>>",
            scrollX: false,
            order: [[0, "desc"], [1, "desc"]],
            ajax: {
                url: url,
                type: "POST",
                datatype: "json"
            },
            processing: true,
            serverSide: true,
            language: { url: '/DataTable/js/spanish.json' },
            stateSave: true,
            filter: true,
            responsivePriority: 1,
            responsive: true,
            columns: [
                { data: "fechaVisible", "width": 15, className: "dt-center", width: "10%" },
                { data: "horaParseada", "width": 15, className: "dt-center" },
                { data: "CodigoNovedad", "width": 15, className: "dt-center", width: "15%" },
                { data: "descripcionNovedad", className: "dt-left" },
            ],

            rowCallback: function (row, data) {
                var tipoNov = data.tipoNovedad.nombreTipoNovedad;
                var nombre1 = "";
                var nombre2 = "";
                var nombre3 = "";
                var nombre = "";
                var alarma = "";
                var indisponibilidad = "";
                var actuacion = "";
                var segundaFila = "";
                var existeAnterior = false;
                var descripcion = "";
                if (data != null) {





                    if (data.CodigoEquipo == "TRA") {
                        if (data.Indisponibilidad != null) {
                            indisponibilidad += data.Indisponibilidad.nombreIndisponibilidad + " - ";
                        }
                        else {
                            console.log("Error al cargar la indisponibilidad");
                        }
                        segundaFila += indisponibilidad;
                        existeAnterior = true;
                    }


                    if (existeAnterior) {
                        segundaFila += " - ";
                        existeAnterior = false;
                    }
                    if (data.actuacion != null && data.tipo != null) {

                        actuacion = "[" + data.actuacion.nombreActuacion + "/" + data.tipo.nombreTipoActuacion + "]";
                        segundaFila += actuacion;
                        existeAnterior = true;
                    }
                    else {
                        console.log("Error al cargar la actuacion y tipoActuacion");
                    }
                    //if (existeAnterior) {
                    //    segundaFila += " - ";
                    //    existeAnterior = false;
                    //}
                    if (data.codigoTipoNovedad == "LIN" || data.codigoTipoNovedad == "EST") {
                        if (data.alarma != null) {
                            alarma = "<br/>" + data.alarma.nombreAlarma;
                            segundaFila += alarma;
                            existeAnterior = true;

                        }
                        else {
                            console.log("Error al cargar la alarma");
                        }
                    }


                    if (data.codigoTipoNovedad == "EST") {
                        if (data.estacion != null) {
                            nombre1 = data.estacion.nombreEstacion;
                        } else {
                            console.log("Error al cargar la estación");

                        }
                        if (data.equipoDetalleEstacion != null) {
                            nombre2 = data.equipoDetalleEstacion.nombreEquipo;
                        } else {
                            console.log("Error al cargar el equipo Detalle Estacion");

                        }
                        if (data.transformador != null) {
                            nombre3 = data.transformador.nombreTransformador;
                        } else {
                            console.log("Error al cargar el transformador");
                        }
                        nombre = nombre1 + " - " + nombre2 + " - " + nombre3;
                    } else {
                        if (data.codigoTipoNovedad == "LIN") {
                            if (data.lineaPosesion != null) {
                                nombre1 = data.lineaPosesion.nombrePosesionLinea;
                            } else {
                                console.log("Error al cargar la linea Posesion");

                            }
                            if (data.propiedadLinea != null) {
                                nombre2 = data.propiedadLinea.nombrePropiedad;

                            } else {
                                console.log("Error al cargar la propiedad linea");
                            }
                            if (data.equipoDetalleEstacion != null) {
                                nombre3 = data.equipoDetalleEstacion.nombreEquipo;

                            } else {
                                console.log("Error al cargar el equipo Detalle Estacion");

                            }
                            nombre = nombre1 + " - " + nombre2 + " - " + nombre3;
                        } else {
                            if (data.codigoTipoNovedad == "AUT") {
                                if (data.Automatismo) {
                                    nombre1 = data.Automatismo.nombreAutomatismoSiglas;
                                } else {
                                    console.log("Error al cargar el automatismo");

                                }
                                if (data.estacion != null) {
                                    nombre2 = data.estacion.nombreEstacion;
                                }
                                else {
                                    console.log("Error al cargar la estacion");

                                }
                                if (data.Automatismo != null) {
                                    nombre3 = data.Automatismo.nombreDetalleAutomatismoPartido;

                                }
                                else {
                                    console.log("Error al cargar el automatismo");

                                }
                                nombre = nombre1 + " - " + nombre2 + " - " + nombre3;
                            } else {
                                if (data.codigoTipoNovedad == "REC") {
                                    if (data.reclamo != null) {
                                        nombre1 = data.reclamo.nombreReclamo;

                                    } else {
                                        console.log("Error al cargar el relcamo");

                                    }
                                    if (data.infraestructura != null) {
                                        nombre2 = data.infraestructura.nombreInfra;

                                    } else {
                                        console.log("Error al cargar la infraestructura");

                                    }
                                    if (data.equipoReclamo != null) {
                                        nombre3 = data.equipoReclamo.nombreEquipoReclamo;

                                    } else {
                                        console.log("Error al cargar el equipo reclamo");

                                    }
                                    nombre = nombre1 + " - " + nombre2 + " - " + nombre3;
                                } else {
                                    if (data.codigoTipoNovedad == "CCON") {
                                        if (data.centroControl != null) {
                                            nombre1 = data.centroControl.nombreCentroControl;

                                        } else {
                                            console.log("Error al cargar el centro de control");

                                        }
                                        if (data.central != null) {
                                            nombre2 = data.central.nombreCentral;

                                        } else {
                                            console.log("Error al cargar la central");

                                        }
                                        if (data.CodigoEquipo == "GEN") {
                                            if (data.generador != null) {
                                                nombre3 = data.generador.nombreGenerador;

                                            } else {
                                                console.log("Error al cargar el generador");

                                            }
                                            nombre = nombre1 + " - " + nombre2 + " - " + nombre3;
                                        } else {
                                            nombre = nombre1 + " - " + nombre2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    if (data.descripcion != null || data.descripcion != "") {
                        if (data.codigoTipoNovedad != "REC" && data.codigoTipoNovedad != "AUT") {
                            descripcion += tipoNov + " - " + nombre + "<br/>" + segundaFila + "<br/>" + "<b>OBS:</b> " + data.descripcionNovedad;
                        }
                        else {
                            descripcion += tipoNov + " - " + nombre + "<br/>" + "<b>OBS:</b> " + data.descripcionNovedad;

                        }
                    } else {
                        if (data.codigoTipoNovedad != "REC" && data.codigoTipoNovedad != "AUT") {
                            descripcion += tipoNov + " - " + nombre + "<br/>" + segundaFila + "<br/>" + "<b>OBS:</b> " + "Sin descripcion";
                        }
                        else {
                            descripcion += tipoNov + " - " + nombre + "<br/>" + "<b>OBS:</b> " + "Sin descripcion";

                        }                    }
                   

                }

                $('td:eq(3)', row).html(descripcion);
            }
        });
    }



</script>
