﻿
@{
    ViewBag.Title = "Administrar Transformador";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}


<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Transformador</b></h4>
                        <p class="card-category">Complete los datos del Transformador.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTransformador"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Código </label>
                                        <input type="text" id="codigoTransformador" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">ID Pagotran Cammesa</label>
                                        <input type="number" id="IdPagoTran" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Potencia Aparente</label>
                                        <input type="text" id="potenciaAparente" class="form-control" name="name" value="" />
                                    </div>
                                </div>                                
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">ID BDE Cammesa</label>
                                        <input type="number" id="idBdeTransformador" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Estación</label>
                                        <select id="estacion" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br />
                                        <label class="bmd-label-floating">¿Es remunerado?</label>
                                        <input class="form-check-input " type="checkbox" id="esRemunerada" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Potencia 1 </label>
                                        <input type="number" id="potencia1" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Potencia 2</label>
                                        <input type="number" id="potencia2" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Potencia 3</label>
                                        <input type="number" id="potencia3" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tensión 1 </label>
                                        <input  id="tension1" class="form-control" name="name" onkeypress="return soloNumeros(event)" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tensión 2</label>
                                        <input  id="tension2" class="form-control" name="name" onkeypress="return soloNumeros(event)" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tensión 3</label>
                                        <input  id="tension3" class="form-control" name="name" onkeypress="return soloNumeros(event)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-offset-5">
                                    <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                    <button type="button" class="btn btn-success pull-center" onclick="GuardarTransformador()">Guardar</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
    (function () {
        $('.nav-item').removeClass('active');
        $('#TransformadorSideBar').addClass('active');

        $('#estacion').select2({
            allowClear: false,
            width: '90%',
        });
        /*
        $('#tensionEntrada1').select2({
            allowClear: false,
            width: '90%',
        });

        $('#tensionSalida1').select2({
            allowClear: false,
            width: '90%',
        });

        $('#tensionSalida2').select2({
            allowClear: false,
            width: '90%',
        });
        */

        CrearOEditar();

    })();

        function volver() {
            window.location.href = '/Transformador/Transformador';
        }

    function CrearOEditar() {

        var idTransformador = GetUrlVars()["id"];
        if (idTransformador != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Transformador/ConsultarUnTransformador?idTransformador=' + idTransformador,
                dataType: "json",
                data: idTransformador,
                success: function (transformador) {

                    console.log(transformador);

                    $('#IdPagoTran').val(transformador.idPagotran);
                    $('#idBdeTransformador').val(transformador.idBde);
                    $('#codigoTransformador').val(transformador.codigoTransformador);
                    $('#potenciaAparente').val(transformador.potenciaAparente);

                    $('#tension1').val(transformador.tension1)
                    $('#tension2').val(transformador.tension2)
                    $('#tension3').val(transformador.tension3)

                    $('#potencia1').val(transformador.potencia1)
                    $('#potencia2').val(transformador.potencia2)
                    $('#potencia3').val(transformador.potencia3)

                    if (transformador.remunerado) {
                        $('#esRemunerada').prop('checked', true);
                    }

                    debugger;
                    var idEstacion = transformador.estacion.idEstacion;
                    /*
                    var idTensionEntrada = transformador.tensionEntrada.idTension;
                    var idTensionSalida1 = transformador.tensionSalida1.idTension;
                    var idTensionSalida2 = transformador.tensionSalida2.idTension;
                    */
                    ObtenerListaEstacion(idEstacion);
                    /*
                    ObtenerListaTensionEntrada1(idTensionEntrada);
                    ObtenerListaTensionSalida1(idTensionSalida1);
                    ObtenerListaTensionSalida2(idTensionSalida2);
                    */
                }
            })
        }
        else {
            
            var idEstacion = -1;
            /*
            var idTensionEntrada = -1;
            var idTensionSalida1 = -1;
            var idTensionSalida2 = -1;
            */
            ObtenerListaEstacion(idEstacion);
            /*
            ObtenerListaTensionEntrada1(idTensionEntrada);
            ObtenerListaTensionSalida1(idTensionSalida1);
            ObtenerListaTensionSalida2(idTensionSalida2);
            */
        }
    }

    function GuardarTransformador() {
        if (ValidarTransformador()) {
            var idTransformador = GetUrlVars()["id"]; 

            var transformador = new Object();

            //transformador.estacion = {};
            transformador.tension1 = $('#tension1').val();
            transformador.tension2 = $('#tension2').val();
            transformador.tension3 = $('#tension3').val();

            transformador.potencia1 = $('#potencia1').val();
            transformador.potencia2 = $('#potencia2').val();
            transformador.potencia3 = $('#potencia3').val();
  
            transformador.idPagotran = $('#IdPagoTran').val();
            transformador.idBde = $('#idBdeTransformador').val();

            transformador.codigoTransformador = $('#codigoTransformador').val();
            transformador.potenciaAparente = $('#potenciaAparente').val();
            transformador.nombresuario = "@nombreUsuario";

            var remunerada = document.getElementById('esRemunerada').checked;
            transformador.remunerado = remunerada;

            var estacion = new Object();
           estacion.idEstacion = $('#estacion').val();
           estacion.nombreEstacion = $('#estacion option:selected').text()

            transformador.estacion = estacion;
            /*
            transformador.tensionEntrada.idTension = $('#tensionEntrada1').val();
            transformador.tensionEntrada.tension = $('#tensionEntrada1 option:selected').text()

            transformador.tensionSalida1.idTension = $('#tensionSalida1').val();
            transformador.tensionSalida1.tension = $('#tensionSalida1 option:selected').text()

            transformador.tensionSalida2.idTension = $('#tensionSalida2').val();
            transformador.tensionSalida2.tension = $('#tensionSalida2 option:selected').text()
           */
            
            
            
            if (idTransformador != undefined) {
                transformador.idTransformador = idTransformador;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Transformador/ModificarTransformador',
                    dataType: "json",
                    data: transformador,
                    success: function (codigo) {
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertTransformador').clearQueue();
                            $('#alertTransformador').append(alert);
                        }
                    }
                })
            } else {
                console.log("ENTRO")
                $.ajax({
                    type: 'Post',
                    url: '/Api/Transformador/AltaTransformador',
                    data: transformador,
                    success: function (codigo) {
                        console.log(codigo)
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span><b>Transformador Existente.</b></span>" +
                                    "</div>";

                                $('#alertTransformador').clearQueue();
                                $('#alertTransformador').append(alert);
                            } else {                            
                                var alert = "";
                               alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertTransformador').clearQueue();
                                $('#alertTransformador').append(alert);
                            }
                        }
                    }
                })
            }
        }
    }

        function soloNumeros(e) {
            key = e.keyCode || e.which;
            teclado = String.fromCharCode(key);
            numeros = "0123456789";
            coma = ".";
            teclado_especial = false;

            if (numeros.indexOf(teclado) == -1 && coma.indexOf(teclado) == -1) {
                return false;
            }

        }


    function ValidarTransformador() {

        if ($("#codigoTransformador").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>El codigo</b> no puede estar vacio.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#codigoTransformador").focus();
            return false;
        }

        if ($("#IdPagoTran").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>ID Pagotran</b> no puede estar vacio.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#IdPagoTran").focus();
            return false;
        }

        if ($("#potenciaAparente").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>Potencia aparente</b>no puede estar vacio.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#potenciaAparente").focus();
            return false;
        }

        if ($("#idBdeTransformador").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>ID BDE Cammnesa</b> no puede estar vacio.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#idBdeTransformador").focus();
            return false;
        }
        
        if ($("#estacion").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Estación</b>.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#estacion").focus();
            return false;
        }

        /*
        if ($("#tension1").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe colocar alguna <b>Tension 1</b>.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#tension1").focus();
            return false;
        }/*
         if ($("#tension2").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe colocar alguna <b>Tension 2</b>.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
             $('#alertTransformador').append(alert);
             $(".alert").delay(4000).slideUp(200, function () {
                 $(this).alert('close');
             });
            $("#tension2").focus();
            return false;
        }*/
        /*
         if ($("#tension3").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe colocar alguna <b>Tension 3</b>.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
             $('#alertTransformador').append(alert);
             $(".alert").delay(4000).slideUp(200, function () {
                 $(this).alert('close');
             });
             $("#tension3").focus();
            return false;
        }*/
        /*
        if ($("#potencia1").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe colocar alguna <b>Potencia 1</b>.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#potencia1").focus();
            return false;
        }
        if ($("#potencia2").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe colocar alguna <b>Potencia 2</b>.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#potencia2").focus();
            return false;
        }
        if ($("#potencia3").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe colocar alguna <b>Potencia 3</b>.</span>" +
                "</div>";

            $('#alertTransformador').clearQueue();
            $('#alertTransformador').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#potencia3").focus();
            return false;
        }*/

        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function ObtenerListaEstacion(idEstacion) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Estacion/ObtenerListaEstacion?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idEstacion == -1) {
                    $('#estacion').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#estacion').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idEstacion == result.idEstacion) {
                        $('#estacion').append($('<option selected>').val(result.idEstacion).text(result.nombreEstacion))
                    }
                    else {
                        $('#estacion').append($('<option>').val(result.idEstacion).text(result.nombreEstacion))
                    }

                });
            }
        })
        }

        
    function ObtenerListaTensionEntrada1(idTensionEntrada) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Tension/TraerListaTension?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idTensionEntrada == -1) {
                    $('#tensionEntrada1').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#tensionEntrada1').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTensionEntrada == result.idTension) {
                        $('#tensionEntrada1').append($('<option selected>').val(result.idTension).text(result.tension))
                    }
                    else {
                        $('#tensionEntrada1').append($('<option>').val(result.idTension).text(result.tension))
                    }

                });
            }
        })
        }
        /*
    function ObtenerListaTensionSalida1(idTensionSalida1) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Tension/TraerListaTension?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idTensionSalida1 == -1) {
                    $('#tensionSalida1').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#tensionSalida1').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTensionSalida1 == result.idTension) {
                        $('#tensionSalida1').append($('<option selected>').val(result.idTension).text(result.tension))
                    }
                    else {
                        $('#tensionSalida1').append($('<option>').val(result.idTension).text(result.tension))
                    }

                });
            }
        })
    }
    
    function ObtenerListaTensionSalida2(idTensionSalida2) {
        var activo = true;
        var allTensionSalida2 = $('#tensionSalida2');
        var selected = selected != undefined ? selected : allTensionSalida2.val();
        $.ajax({
            type: 'Get',
            url: '/Api/Tension/TraerListaTension?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idTensionSalida2 == -1) {
                    $('#tensionSalida2').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#tensionSalida2').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                if (idTensionSalida2 == -2) {
                    $('#tensionSalida2').append($('<option selected>').val(-2).text("Sin Salida"))
                }
                else {
                    $('#tensionSalida2').append($('<option>').val(-2).text("Sin Salida"))
                }

                $.each(respuesta.data, function (index, result) {
                    if (idTensionSalida2 == result.idTension) {
                        $('#tensionSalida2').append($('<option selected>').val(result.idTension).text(result.tension))
                    }
                    else {
                        $('#tensionSalida2').append($('<option>').val(result.idTension).text(result.tension))
                    }

                });
            }
        })
    }
    */
    </script>
