﻿@{
    ViewBag.Title = "Transformador";
}
@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Transformador</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaTransformador()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                        </div>
                        <div class="table-responsive">
                            <table id="tablaTransformador" class="mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre Transformador</th>
                                        <th>Estacion</th>
                                        <th>Tension</th>
                                        <th>Potencia</th>
                                        <th>Codigo</th>
                                        <th>PagoTran</th>
                                        <th>BDE</th>
                                        <th>P. Aparente</th>
                                        <th>Remunerado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tablaTransformador"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
    var table;
    var tienePermisoEliminar = '@permisoEliminacion';
    var tienePermisoEdicion = '@permisoEditar';

    function permisoAgregar() {
        if (tienePermisoEdicion == "True") {
            $('.permisoAgregar').show();
            $('.permisoAgregar').css('display', 'display');
        }
    }

    function AltaTransformador() {
        window.location.href = '/Transformador/AdministrarTransformador';
    }

    function EditaTransformador(button) {
        var id = table.row($(button).parents('tr')).data();
        location.href = '/Transformador/AdministrarTransformador?id=' + id.idTransformador;
    }

    function RecuperaTransformador(button) {
        var transformador = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Transformador/RecuperarTransformador',
            dataType: "json",
            data: transformador,
            success: function (response) {
                if (response != false) {
                    var activo = false;
                    var url = "/Api/Transformador/ObtenerListaTransformador?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function EliminaTransformador(button) {
        var transformador = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Transformador/EliminarTransformador',
            dataType: "json",
            data: transformador,
            success: function (response) {
                if (response != false) {
                    var activo = true;
                    var url = "/Api/Transformador/ObtenerListaTransformador?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
                else {
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })

    }

    function CambioCboxEliminados() {
        if ($('#cboxMostrarEliminados').prop('checked') == true) {
            //si el checkbox esta tildado, significa que quiero los transformadores eliminados
            var activo = false;
            var url = "/Api/Transformador/ObtenerListaTransformador?activo=" + activo;
            table.ajax.url(url).load(mostrarRecuperar);
        }
        else {
            //si el checkbox no esta tildado, significa que quiero transformadores eliminados
            var activo = true;
            var url = "/Api/Transformador/ObtenerListaTransformador?activo=" + activo;
            table.ajax.url(url).load(mostrarAltaEditar);
        }
    }

    function mostrarRecuperar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "none");
        $('.imageButtonEliminar').css("display", "none");
        $('.imageButtonRecuperar').css("display", "inline");
    }

    function mostrarAltaEditar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "inline");
        $('.imageButtonEliminar').css("display", "inline");
        $('.imageButtonRecuperar').css("display", "none");
    }

    function CrearTabla(activo) {

        $.ajax({
            url: '/Api/Transformador/ObtenerListaTransformador',
            data: { activo: true },
            success: function (respuesta) {
                console.log(respuesta);
            },
            error: function () {
                console.log("No se ha podido obtener la información");
            }
        });


        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#tablaTransformador').DataTable({
            "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "order": [[2, "asc"]],
            "ajax": "/Api/Transformador/ObtenerListaTransformador?activo=" + activo,
            "columns": [
                { "data": 'idTransformador', 'visible': false },
                { "data": 'nombreTransformador', "width": 100, "className": "text-left" },
                { "data": 'estacion.nombreEstacion', "className": "text-left" },
                { "data": 'tensiones', "className": "text-center" },
                { "data": 'potencias', "className": "text-center" },
                { "data": 'codigoTransformador', "className": "text-left" },
                { "data": 'idPagotran', "className": "text-center" },
                { "data": 'idBde', "className": "text-center" },
                { "data": 'potenciaAparente', "className": "text-center" },
                { "data": 'esRemunerado', "className": "text-center" },
                {
                    "data": 'activo',
                    "render": function (data) {
                        if (data) {
                            var botones = " "
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditaTransformador(this);' src = '/fonts/Icons/edit.png'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaTransformador(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        } else {
                            var recuperar = " ";
                            if (tienePermisoEdicion == "True" && tienePermisoEdicion == "True") {
                                recuperar += "<input type='image' class='imageButtonRecuperar' onclick='RecuperaTransformador(this);' src = '/fonts/Icons/recuperar.png'></div>"
                            }
                            return recuperar
                        }
                    },
                    "width": 10,
                }
            ],
            "language": idiomaEspanol
        });

    }

    (function () {
        var idItem = '#TransformadorSideBar';

        //ActivarItem(idItem);
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);


        var activo = true;
        CrearTabla(activo);
        permisoAgregar();
    })();
</script>

