﻿
@{
    ViewBag.Title = "AdministrarIndisponibilidadRemuTrafo";
}


@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Línea</b></h4>
                        <p class="card-category">Complete los datos del Transformador.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTrafo"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Remuneracion </label>
                                        <br />
                                        <input type="number" id="remuneracion" class="form-control">
                                    </div>
                                </div>
                                @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Origen Regulatorio</label>
                                        <br />
                                        <input type="datetime-local" class="redondeado form-control" id="origenRegulatorio" name="origenRegulatorio" required>
                                    </div>
                                </div>*@
                            </div>

                            <div class="row">
                                <div class="col float-lg-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                        <button type="button" class="btn  pull-center btn-success" onclick="Guardar()">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });


    (function () {
        var idItem = '#RemuSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        CrearOEditar();

    })();

    function volver() {
       // history.back()
        window.location.href = '/IndisponibilidadRemu/IndisponibilidadRemu';
    }

    function CrearOEditar() {
        var idIndisponibilidadesTrafo = GetUrlVars()["idIndisponibilidadesTrafo"];
        debugger;
        if (idIndisponibilidadesTrafo != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Remuneracion/ConsultarUnTrafo?idIndisponibilidadesTrafo=' + idIndisponibilidadesTrafo,
                dataType: "json",
                data: idIndisponibilidadesTrafo,
                success: function (respuesta) {
                    console.log(respuesta);
                    $('#remuneracion').val(respuesta.remunerado);
                    $('#origenRegulatorio').val(respuesta.origenRegulatorio);

                }
            })
        }
    }

    function Guardar() {
        if (Validar()) {
            var idIndisponibilidadesTrafo = GetUrlVars()["idIndisponibilidadesTrafo"];
            var Trafo = new Object();
            Trafo.remunerado = $('#remuneracion').val();
            Trafo.origenRegulatorio = $('#origenRegulatorio').val();

            if (idIndisponibilidadesTrafo != undefined) {
                Trafo.idIndisponibilidadesTrafo = idIndisponibilidadesTrafo;
                $.ajax({
                    type: 'Post',
                    url: '/Api/Remuneracion/ModificarTrafo',
                    dataType: "json",
                    data: Trafo,
                    success: function (codigo) {
                        if (codigo == 200) {
                            volver();

                        }
                        else if (codigo == 300) {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>No existe ningun monto , por favor Agregue uno.</span>" +
                                //"<input type='button' class='btn btn-info pull-center' onclick='volver()' value='Volver'>" +
                                "</div>";
                            $('#alertTrafo').clearQueue();
                            $('#alertTrafo').append(alert);
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertTrafo').clearQueue();
                            $('#alertTrafo').append(alert);
                        }
                    }
                })
            }
        }
    }

    function soloNumeros(e) {
        key = e.keyCode || e.which;
        teclado = String.fromCharCode(key);
        numeros = "0123456789";
        coma = ".";
        teclado_especial = false;

        if (numeros.indexOf(teclado) == -1 && coma.indexOf(teclado) == -1) {
            return false;
        }

    }

    function Validar() {

        if ($("#remuneracion").val() > 100 || $("#remuneracion").val() < 0) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>La <b> Remuneracion </b> no puede ser mas de 100 o menos de 0</span>" +
                "</div>";

            $('#alertTrafo').clearQueue();
            $('#alertTrafo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#remuneracion").focus();
            return false;
        }


        if ($("#origenRegulatorio").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b> fecha y hora </b>.</span>" +
                "</div>";

            $('#alertTrafo').clearQueue();
            $('#alertTrafo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#origenRegulatorio").focus();
            return false;
        }


        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }



</script>

