﻿<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.colResize.js"></script>
<script src="~/Scripts/jquery.dataTables.colResize.css"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="../JS/NovedadJS.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/cr-1.5.4/fc-4.0.0/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery.dataTables.colResize.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.colResize.js"></script>

@{
    ViewBag.Title = "HistorialMontosLinea";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Historial Montos de Lineas</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-success" onclick="volver()">Volver</button>
                        <table id="tablaHistorialMontoLinea" class="table table-bordered display" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Kv</th>
                                    <th>Monto</th>
                                    <th>Fecha Desde</th>
                                    <th>Fecha Hasta</th>
                                    <th>Resolución</th>
                                    <th>Activa</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                        </table>


                        <div class="modal" id="modalAdministrarMontosLineas">
                            <div class="modal-dialog" style="width: 100%">
                                <div class="modal-content">
                                    <form>
                                        <div id="alertHistorial"></div>
                                        <div class="row text-md-center" style="padding: 15px;">
                                            <div class="col-md-4" style="width: 100%">
                                                <label class="bmd-label-floating">KV</label>
                                                <br />
                                                <select id="kvMonto" class="form-control"></select>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">Monto</label>
                                                <input onkeypress="return soloNumeros(event)" id="montoLinea" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">Resolución </label>
                                                <input type="text" id="resolucion" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row text-md-center" style="padding: 15px;">
                                            <div class="col-md-4" style="width: 100%">
                                                <label class="bmd-label-floating">Fecha Desde</label>
                                                <input id="fechaDesde" class="form-control" type="date">

                                            </div>

                                            <div class="col-md-4" style="width: 100%">
                                                <label class="bmd-label-floating">Fecha Hasta</label>
                                                <input id="fechaHasta" class="form-control" type="date">

                                            </div>
                                            
                                        </div>
                                        <div style="text-align:center">
                                            <button type="button" class="btn  pull-center btn-success" onclick="GuardarMontoLinea()">Guardar</button>
                                            <input type="button" class="btn btn-danger pull-center" onclick="cerrarModal()" value="Cancelar">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        var activo = true;
        var tienePermisoEliminar = '@permisoEliminacion';
        var tienePermisoEdicion = '@permisoEditar';

        var tableHistorialMontoLineas;

            $(window).on("load", function () {

                $(".loader-wrapper").fadeOut("slow");
            });

            $('.selector2').select2({
                allowClear: false,
                width: '100%',
            });

    function volver() {
        history.back();
    }

        function CrearTablaHistorialMontoLineas() {

            var idiomaEspanol = {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla.",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }

            tableHistorialMontoLineas = $('#tablaHistorialMontoLinea').DataTable({
                "colResize": {
                    isEnabled: true,
                    hoverClass: 'dt-colresizable-hover',
                    hasBoundCheck: true,
                    minBoundClass: 'dt-colresizable-bound-min',
                    maxBoundClass: 'dt-colresizable-bound-max',
                    isResizable: function (column) { return true; },
                    onResize: function (column) { },
                    onResizeEnd: function (column, columns) { },
                    getMinWidthOf: function ($thNode) { }
                },
                "responsive": true,
                "order": [[1, "asc"]],
                "ajax": "/Api/Remuneracion/ObtenerHistorialMontoLineas",
                "lengthMenu": [5, 10, 25, 50],
                "columns": [
                    { data: "idIndisponibilidadHistorialMontLinea", "visible": false },
                    { data: "kv", "width": "10%", "className": "text-center" },
                    { data: "monto", "width": "20%", "className": "text-center" },
                    { data: "fechaDesdeF", "width": "20%", "className": "text-center" },
                    { data: "fechaHastaF", "width": "20%", "className": "text-center" },
                    { data: "resolucion", "width": "20%", "className": "text-center" },
                    {
                        data: "activo", "width": "20%", "className": "text-center", "render": function (data) {
                            debugger
                            if (data == true) {
                                return "Activo"
                            } else {
                                return "Inactivo"
                            }
                        }
                    },
                    {
                        "data": 'activo',
                        "render": function (data) {
                            var botones = " ";
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditarMontoLinea(this);' src = '/fonts/Icons/edit.png' data-toggle='tooltip' data-placement='top'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaMontoLineaHistorial(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        },
                        "width": "10%", "className": "text-center"
                    },
                ],
                "language": idiomaEspanol
            });

        }
    function formatDate(dateString) {
        // Se espera que dateString venga en formato 'DD-MM-YY'
        var parts = dateString.split('-');

        // Reorganiza las partes para obtener '20YY-MM-DD'
        var formattedDate = '20' + parts[2] + '-' + parts[1] + '-' + parts[0];

        return formattedDate;
    }
    function EditarMontoLinea(button) {
        //idTipoEquipo = 4;
        idMontoLinea = tableHistorialMontoLineas.row($(button).parents('tr')).data();
        obtenerKvsLinea(idMontoLinea.kv);
        $('#montoLinea').val(idMontoLinea.monto);
        $('#resolucion').val(idMontoLinea.resolucion);
        var fechaDesde = formatDate(idMontoLinea.fechaDesdeF);
        var fechaHasta = formatDate(idMontoLinea.fechaHastaF);
        $('#fechaDesde').val(fechaDesde);
        $('#fechaHasta').val(fechaHasta);
        document.getElementById('kvMonto').disabled = true;
        //$('#modalMontosLineas').modal('hide')
        $('#modalAdministrarMontosLineas').toggle('fast');
    }

    function EliminaMontoLineaHistorial(button) {
        var monto = tableHistorialMontoLineas.row($(button).parents('tr')).data();
        var objMonto = { "idIndisponibilidadHistorialMontLinea": monto.idIndisponibilidadHistorialMontLinea, };
        $.ajax({
            type: 'PUT',
            url: '/Api/Remuneracion/EliminarHistorialLinea',
            dataType: "json",
            data: objMonto,
            success: function (response) {
                if (response != false) {
                    var url2 = "/Api/Remuneracion/ObtenerHistorialMontoLineas";
                    tableHistorialMontoLineas.ajax.url(url2).load(tablaHistorialMontoLinea);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }
 
    function GuardarMontoLinea() {
        if (validarHistorial()){
        var idMonto = idMontoLinea;
        var monto = new Object();
        monto.kv = $('#kvMonto').val();
        monto.monto = $('#montoLinea').val();
        monto.resolucion = $('#resolucion').val();
            monto.fechaDesde = $('#fechaDesde').val();
            monto.fechaHasta = $('#fechaHasta').val();

        if (idMonto != undefined) {
            monto.idIndisponibilidadMontos = idMonto.idIndisponibilidadHistorialMontLinea;
            $.ajax({
                type: 'Post',
                url: '/Api/Remuneracion/ModificarHistorialMontoLinea',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(monto),
                success: function (codigo) {
                    if (codigo == 200) {
                        cerrarModal();
                        var url2 = "/Api/Remuneracion/ObtenerHistorialMontoLineas";
                        tableHistorialMontoLineas.ajax.url(url2).load(tablaHistorialMontoLinea);

                    }
                    else {
                        cerrarModal();
                        confirm("Error!")

                    }
                }
            })
        }
     }
    }

    function obtenerKvsLinea(tension) {
        var tensionString = tension.toString();
        $('#kvMonto').empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/ObtenerTensionLinea',
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (tensionString == -1) {
                    $('#kvMonto').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#kvMonto').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (tensionString == result.tension) {
                        $('#kvMonto').append($('<option selected>').val(result.idTension).text(result.tension))
                    }
                    else {
                        $('#kvMonto').append($('<option>').val(result.idTension).text(result.tension))
                    }

                });
            }
        })
    }


    function validarHistorial() {

        if ($('#montoLinea').val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> MONTO </b> no puede quedar vacio.</span>" +
                "</div>";

            $('#alertHistorial').clearQueue();
            $('#alertHistorial').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#montoLinea").focus();
            return false;
        }

        if ($('#resolucion').val() == "") {

            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>La <b> RESOLUCION </b> no puede quedar vacio.</span>" +
                "</div>";

            $('#alertHistorial').clearQueue();
            $('#alertHistorial').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#resolucion").focus();
            return false;
        }

          
        return true;
    }


    function cerrarModal() {
        $('#modalAdministrarMontosLineas').toggle('fast')
    } 

    function soloNumeros(e) {
        key = e.keyCode || e.which;
        teclado = String.fromCharCode(key);
        numeros = "0123456789";
        coma = ".";
        teclado_especial = false;

        if (numeros.indexOf(teclado) == -1 && coma.indexOf(teclado) == -1) {
            return false;
        }

    }  //Funcion para que en los input solamente pueda digitar numeros y punto

    (function () {
        var idItem = '#RemuSideBar';
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        CrearTablaHistorialMontoLineas();
    })();
</script>

