﻿<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.colResize.js"></script>
<script src="~/Scripts/jquery.dataTables.colResize.css"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="../JS/NovedadJS.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/cr-1.5.4/fc-4.0.0/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery.dataTables.colResize.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.colResize.js"></script>

@{
    ViewBag.Title = "HistorialMontosPtosC";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Historial Montos de Puntos de Conexión</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-success" onclick="volver()">Volver</button>
                        <table id="tablaHistorialMontoPtosC" class="table table-bordered display" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Monto</th>
                                    <th>Resolución</th>
                                    <th>Fecha Desde</th>
                                    <th>Fecha Hasta</th>
                                    <th>Activa</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                        </table>

                        <div class="modal modalMontosPtosC" id="modalAdministrarMontosPtosC">
                            <div class="modal-dialog" style="width: 100%">
                                <div class="modal-content">
                                    <form>
                                        <div class="row text-md-center" style="padding: 15px;">
                                            <div class="col-md-4" style="width: 100%">
                                                <label class="bmd-label-floating">KV</label>
                                                <br />
                                                <select id="kvPtos" class="form-control"></select>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">Monto</label>
                                                <input onkeypress="return soloNumeros(event)" id="montoPtosC" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-md-4">
                                                <label class="bmd-label-floating">Resolución </label>
                                                <input type="text" id="resolucionPtosc" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row text-md-center" style="padding: 15px;">
                                            <div class="col-md-4" style="width: 100%">
                                                <label class="bmd-label-floating">Fecha Desde</label>
                                                <input id="fechaDesde" class="form-control" type="date">

                                            </div>

                                            <div class="col-md-4" style="width: 100%">
                                                <label class="bmd-label-floating">Fecha Hasta</label>
                                                <input id="fechaHasta" class="form-control" type="date">

                                            </div>

                                        </div>
                                        <div style="text-align:center">
                                            <button type="button" class="btn  pull-center btn-success" onclick="GuardarMontoPtosC()">Guardar</button>
                                            <input type="button" class="btn btn-danger pull-center" onclick="cerrarModal()" value="Cerrar">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        var activo = true;
        var tienePermisoEliminar = '@permisoEliminacion';
        var tienePermisoEdicion = '@permisoEditar';

    var tableHistorialMontoPtosC;

            $(window).on("load", function () {

                $(".loader-wrapper").fadeOut("slow");
            });

            $('.selector2').select2({
                allowClear: false,
                width: '100%',
            });

    function volver() {
        history.back();
    }

        function CrearTablaHistorialMontoPtosC() {

            var idiomaEspanol = {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla.",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }

            tableHistorialMontoPtosC = $('#tablaHistorialMontoPtosC').DataTable({
                "colResize": {
                    isEnabled: true,
                    hoverClass: 'dt-colresizable-hover',
                    hasBoundCheck: true,
                    minBoundClass: 'dt-colresizable-bound-min',
                    maxBoundClass: 'dt-colresizable-bound-max',
                    isResizable: function (column) { return true; },
                    onResize: function (column) { },
                    onResizeEnd: function (column, columns) { },
                    getMinWidthOf: function ($thNode) { }
                },
                "responsive": true,
                "order": [[1, "asc"]],
                "ajax": "/Api/Remuneracion/ObtenerHistorialMontoPtosC",
                "lengthMenu": [5, 10, 25, 50],
                "columns": [
                    { data: "idIndisponibilidadHistorialMontPtosC", "visible": false },
                    { data: "kvPtosC", "width": "20%", "className": "text-center" },
                    { data: "mostrarMonto", "width": "20%", "className": "text-center" },
                    { data: "resolucion", "width": "20%", "className": "text-center" },

                    { data: "fechaDesdeF", "width": "20%", "className": "text-center" },
                    { data: "fechaHastaF", "width": "20%", "className": "text-center" },

                    {
                        data: "activo", "width": "20%", "className": "text-center", "render": function (data) {
                            debugger
                            if (data == true) {
                                return "Activo"
                            } else {
                                return "Inactivo"
                            }
                        }
                    },
                    {
                        "data": 'activo',
                        "render": function (data) {
                            var botones = " ";
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditarMontoPtosC(this);' src = '/fonts/Icons/edit.png' data-toggle='tooltip' data-placement='top'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaMontoPtoHistorial(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        },
                        "width": "10%", "className": "text-center"
                    },
                ],
                "language": idiomaEspanol
            });

        }

    function obtenerKvsPtosC(tension) {
        var tensionString = tension.toString();
        $('#kvPtos').empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/ObtenerTensionPtosC',
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (tensionString == -1) {
                    $('#kvPtos').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#kvPtos').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (tensionString == result.tension) {
                        $('#kvPtos').append($('<option selected>').val(result.idTension).text(result.tension))
                    }
                    else {
                        $('#kvPtos').append($('<option>').val(result.idTension).text(result.tension))
                    }

                });
            }
        })
    }

    function formatDate(dateString) {
        // Se espera que dateString venga en formato 'DD-MM-YY'
        var parts = dateString.split('-');

        // Reorganiza las partes para obtener '20YY-MM-DD'
        var formattedDate = '20' + parts[2] + '-' + parts[1] + '-' + parts[0];

        return formattedDate;
    }

    function EditarMontoPtosC(button) {
        //idTipoEquipo = 4;
        idMontoPtosC = tableHistorialMontoPtosC.row($(button).parents('tr')).data();
        obtenerKvsPtosC(idMontoPtosC.kvPtosC);
        $('#montoPtosC').val(idMontoPtosC.monto);
        $('#resolucionPtosc').val(idMontoPtosC.resolucion);
        var fechaDesde = formatDate(idMontoPtosC.fechaDesdeF);
        var fechaHasta = formatDate(idMontoPtosC.fechaHastaF);
        $('#fechaDesde').val(fechaDesde);
        $('#fechaHasta').val(fechaHasta);
        document.getElementById('kvPtos').disabled = true;
        $('#modalAdministrarMontosPtosC').toggle('slow')
    }

    function GuardarMontoPtosC() {
        var idMonto = idMontoPtosC;
        var monto = new Object();
        monto.kv = $('#kvPtos').val();
        monto.monto = $('#montoPtosC').val();
        monto.resolucion = $('#resolucionPtosc').val();
        monto.fechaDesde = $('#fechaDesde').val();
        monto.fechaHasta = $('#fechaHasta').val();

        if (idMonto != undefined) {
            monto.idIndisponibilidadMontos = idMonto.idIndisponibilidadHistorialMontPtosC;
            $.ajax({
                type: 'Post',
                url: '/Api/Remuneracion/ModificarHistorialMontoPtosC',
                dataType: "json",
                data: monto,
                success: function (codigo) {
                    if (codigo == 200) {
                        cerrarModal();
                        var url2 = "/Api/Remuneracion/ObtenerHistorialMontoPtosC";
                        tableHistorialMontoPtosC.ajax.url(url2).load(tablaHistorialMontoPtosC);

                    }
                }
            })
        }
    }

    function cerrarModal() {
        $('#modalAdministrarMontosPtosC').toggle('fast')
    }
    function EliminaMontoPtoHistorial(button) {
        var monto = tableHistorialMontoPtosC.row($(button).parents('tr')).data();
        var objMonto = { "idIndisponibilidadHistorialMontPtosC": monto.idIndisponibilidadHistorialMontPtosC, };
        $.ajax({
            type: 'PUT',
            url: '/Api/Remuneracion/EliminarHistorialPto',
            dataType: "json",
            data: objMonto,
            success: function (response) {
                if (response != false) {
                    var url2 = "/Api/Remuneracion/ObtenerHistorialMontoPtosC";
                    tableHistorialMontoPtosC.ajax.url(url2).load(tablaHistorialMontoPtosC);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }
    (function () {
        var idItem = '#RemuSideBar';
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        CrearTablaHistorialMontoPtosC();
    })();
</script>


