﻿

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.colResize.js"></script>
<script src="~/Scripts/jquery.dataTables.colResize.css"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="../JS/NovedadJS.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/cr-1.5.4/fc-4.0.0/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery.dataTables.colResize.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.colResize.js"></script>

@{
    ViewBag.Title = "IndisponibilidadTrafo";
}
@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Transformadores Indisponibles</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaTrafoIndis()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <button type="button" class="btn btn-success" style="text-align:center" onclick="volver()">Volver</button>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-info" onclick="modalConfirmacionReporte()">Reporte</button>
                            </div>
                            <div class="col-2">
                                <label>Desde</label>
                                <br />
                                <input type="date" class="redondeado form-control" id="fechaDesdeFiltro" required>
                            </div>
                            <div class="col-2">
                                <label>Hasta</label>
                                <br />
                                <input type="date" class="redondeado form-control" id="fechaHastaFiltro" required>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-blue" style="text-align:center" onclick="filtrarPorMes()">Filtrar</button>
                                <button type="button" class="btn btn-info mostrarBtnFiltrarMesActual" style="text-align:center" onclick="filtrarPorMesActual()">Mes actual</button>
                            </div>

                            <div class="col-4">
                                <label style="font-size: 130%; color: black;">Coeficiente de penalización por salida forzada = </label>
                                <input id="utilidad" type="number" border="5" style="font-weight: bold; width: 10%; font-size: initial; text-align: center;" disabled />
                                <button type="button" class="btn btn-warning cambioUtilidad" id="cambioUtilidad" onclick="cambioUtilidad()">Cambiar</button>
                                <button type="button" class="btn btn-success guardarUtilidad" id="guardarUtilidad" onclick="guardarUtilidad()">Guardar</button>
                            </div>
                        </div>
                        <table id="tablaTrafoIndisponibles" class="table table-bordered display" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID Pagotran</th>
                                    <th>Transformador</th>
                                    <th>POT[MVA]</th>
                                    <th>U[KV]</th>
                                    <th>Potencias</th>
                                    <th>$/H</th>
                                    <th>Salida</th>
                                    <th>Entrada</th>
                                    <th>Hs. Indisp</th>
                                    <th>Min. Indisp</th>
                                    <th>Tipo Salida</th>
                                    <th>CR</th>
                                    <th>ENS</th>
                                    <th>Informo en Termino</th>
                                    <th>Total Penalizado</th>
                                    <th>No Percibido</th>
                                    <th>Motivo</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                        </table>

                        <!-- Modal para editar/Crear un trafo-->
                        <div class="modal" data-backdrop="static" id="modalAdministrarTrafos">
                            <div class="modal-dialog modal-dialog modal-lg" style="padding-top:5%">
                                <div class="modal-content">
                                    <form>
                                        <div id="alertIndisponibles"></div>
                                        <div class="row" style="text-align:center ; padding-bottom: 25px">
                                            <div class="col-md-12">
                                                <label>Transformador</label><br />
                                                <select id="selecTrafoRemu" onclick="obtenerTrafosRemu()"></select>
                                            </div>
                                        </div>
                                        <div class="row text-md-center" style="padding: 5px;">
                                            <div class="col-md-3">
                                                <label> Fecha Salida</label>
                                                <input type="datetime-local" id="fechaSalida" class="form-control" required />
                                            </div>

                                            <div class="col-md-3">
                                                <label> Fecha Entrada</label>
                                                <input type="datetime-local" id="fechaEntrada" class="form-control" oninput="entradaConfirmada()" />
                                            </div>

                                            <div class="col-md-6">
                                                <label style="">Tipo de Salida</label><br />
                                                <select id="tipoSalida" onclick="obtenerTipoSalida()"></select>
                                            </div>

                                        </div>

                                        <div class="row" style="text-align: center; padding-bottom: 2%">
                                            <div class="col-md-4" style="width:100%">
                                                <div class="form-group">
                                                    <label><strong>Indisponibilidad</strong></label><br />
                                                    <select id="selectIndisponibilidad" onclick="CargarTipoIndis()"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 entradaConfirmada" style="width:100%">
                                                <div class="form-group">
                                                    <label style="font-size: 125%"><strong>Informo a Termino</strong></label><br />
                                                    <input class="form-check-input " type="checkbox" id="informoTermino" />

                                                </div>
                                            </div>
                                            <div class="col-md-4" style="width:100%">
                                                <div class="form-group">
                                                    <label style="font-size: 125%"><strong>Energia NO Suministrada</strong></label><br />
                                                    <input class="form-check-input " type="checkbox" id="ens" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="text-align:center ; padding-bottom: 2%">
                                            <div class="col-md-12">
                                                <label>Motivo</label>
                                                </br>
                                                <input type="text" id="motivo" placeholder="Escriba el motivo . . ." maxlength="150" style="max-width: 100% ; width: 80%;" autocomplete="off" />
                                            </div>
                                        </div>

                                        <div class="row" style="padding-left: 10%; padding-top: 10px; padding-bottom: 10px; ">
                                            <button type="button" class="btn  pull-center btn-info" onclick="ConsultarMonto()">Consultar Monto</button>
                                            <input type="text" id="consultaMonto" style=" text-align: center; font-size: 120%; font-weight: bold;" disabled />
                                            <input type="text" id="consultaResolucion" style=" text-align: center; font-size: 120%; font-weight: bold; width: 40%;" disabled />
                                        </div>

                                        <div style="text-align:center">
                                            <input type="button" class="btn btn-danger pull-center" onclick="cerrarModal()" value="Cancelar">
                                            <button type="button" class="btn  pull-center btn-success" onclick="GuardarTrafo()">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="modal" id="modalConfirmacionReporte" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2>¿Desea generar un reporte?</h2>
                                        <div class="row">
                                            <div class="col">
                                                <button type="button" class="btn  float-left btn-block botonGenerarLicencia " style="background-color: #5cb85c ; font-size: 125%;" onclick="GenerarExcel()">Trafos</button>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn float-right  btn-block botonGenerarLicencia" style="background-color: #ff6a00; font-size: 125%;" onclick="GenerarExcelCompleto()">Completo</button>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn float-right  btn-block botonGenerarLicencia" style="background-color: #d9534f; font-size: 125%;" onclick="cerrarModalConfirmaReporte()">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        var activo = true;
        var tienePermisoEliminar = '@permisoEliminacion';
        var tienePermisoEdicion = '@permisoEditar';

    var tableTrafosIndisponibles;

            $(window).on("load", function () {

                $(".loader-wrapper").fadeOut("slow");
            });

            $('.selector2').select2({
                allowClear: false,
                width: '100%',
            });

            $('#tipoSalida').select2({
                allowClear: false,
            });

            $('#selectIndisponibilidad').select2({
                allowClear: false,
            });


    function permisoAgregar() {
        if (tienePermisoEdicion == "True") {
            $('.permisoAgregar').show();
            $('.permisoAgregar').css('display', 'display');
        }
    }

    function entradaConfirmada() {
        if ($('#fechaEntrada').val() != "") {
            document.getElementById('informoTermino').disabled = false;
        } else {
            document.getElementById('informoTermino').disabled = true;
        }
    }


    function volver() {
        history.back();
    }

    //FECHAS PARA EL FILTRADO
    var fechaEntera = new Date();
    var mes = fechaEntera.getMonth() + 1;
    var ano = fechaEntera.getFullYear();
    const ultimoDia = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()
    if (mes < 10) {
        mes = "0" + mes;
    }
    var fechaDesde = ano + "-" + mes + "-" + 0+1 ;
    var fechaHasta = ano + "-" + mes + "-" + ultimoDia;

    var MesActualD = ano + "-" + mes + "-" + 0 + 1;
    var MesActualH = ano + "-" + mes + "-" + ultimoDia;
    function filtrarPorMes() {
            fechaDesde = $('#fechaDesdeFiltro').val();
            fechaHasta = $('#fechaHastaFiltro').val();
        fechaDesdeH = fechaDesde + " " + "00:00:00";
        fechaHastaH = fechaHasta + " " + "23:59:59";
        var url2 = "/Api/Remuneracion/obtenerTrafosIndisponibles?fechaDesde=" + fechaDesdeH + "&fechaHasta=" + fechaHastaH;
        tableTrafosIndisponibles.ajax.url(url2).load(tablaTrafoIndisponibles);

        if(MesActualD != fechaDesde && MesActualH != fechaHasta) {
            $('.mostrarBtnFiltrarMesActual').css("display", "inline");
        }

        }

    function filtrarPorMesActual() {
        $('.mostrarBtnFiltrarMesActual').css("display", "none");
        fechaDesde = ano + "-" + mes + "-" + 0 + 1 ;
        fechaHasta = ano + "-" + mes + "-" + ultimoDia;

        $('#fechaDesdeFiltro').val(fechaDesde);
        $('#fechaHastaFiltro').val(fechaHasta);
        fechaDesdeH = fechaDesde + " " + "00:00:00";
        fechaHastaH = fechaHasta + " " + "23:59:59";
        var url2 = "/Api/Remuneracion/obtenerTrafosIndisponibles?fechaDesde=" + fechaDesdeH + "&fechaHasta=" + fechaHastaH;
        tableTrafosIndisponibles.ajax.url(url2).load(tablaTrafoIndisponibles);
    }


    function CrearTablaTrafosIndisponibles() {
        fechaDesdeH = fechaDesde + " " + "00:00:00";
        fechaHastaH = fechaHasta + " " + "23:59:59";

            var idiomaEspanol = {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla.",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }

        tableTrafosIndisponibles = $('#tablaTrafoIndisponibles').DataTable({
                "colResize": {
                    isEnabled: true,
                    hoverClass: 'dt-colresizable-hover',
                    hasBoundCheck: true,
                    minBoundClass: 'dt-colresizable-bound-min',
                    maxBoundClass: 'dt-colresizable-bound-max',
                    isResizable: function (column) { return true; },
                    onResize: function (column) { },
                    onResizeEnd: function (column, columns) { },
                    getMinWidthOf: function ($thNode) { }
            },
            "ajax": "/Api/Remuneracion/obtenerTrafosIndisponibles?fechaDesde=" + fechaDesdeH + "&fechaHasta=" + fechaHastaH,
                "lengthMenu": [10, 25, 50],
                "columns": [
                    { data: "idIndisponibilidadesTrafo", "visible": false },
                    { data: "idPagotran", "width": "5%", "className": "text-center" },
                    { data: "nombreTransformador", "width": "10%", "className": "text-center" },
                    { data: "potenciaAparente", "width": "5%", "className": "text-center" },
                    { data: "tensiones", "width": "5%", "className": "text-center" },
                    { data: "potencias", "width": "5%", "className": "text-center" },
                    { data: "muestroRealxHora", "width": "5%", "className": "text-center" },
                    { data: "fechaSalidaRemu", "width": "5%", "className": "text-center" },
                    { data: "fechaEntradaRemu", "width": "5%", "className": "text-center" },
                    { data: "hsIndisponible", "width": "5%", "className": "text-center" },
                    { data: "minutosIndisponible", "width": "5%", "className": "text-center" },
                    { data: "tipoSalida", "width": "5%", "className": "text-center" },
                    { data: "CR", "width": "5%", "className": "text-center" },
                    { data: "muestroENS", "width": "5%", "className": "text-center" },
                    { data: "MuestroinformoEnTermino", "width": "5%", "className": "text-center" },
                    { data: "totalPenalizacion", "width": "5%", "className": "text-center" },
                    { data: "noPercibido", "width": "5%", "className": "text-center" },
                    { data: "motivo", "width": "10%", "className": "text-center" },
                    {
                        "data": 'activo',
                        "render": function (data) {
                            var botones = " ";
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditarTrafo(this);' src = '/fonts/Icons/edit.png'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminarTrafoRemu(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        },
                        "width": "5%", "className": "text-center"
                    },
                ],
                "language": idiomaEspanol
            });

    }
    function AltaTrafoIndis() {
        obtenerTipoSalida();
        obtenerTrafosRemu(-1);
        CargarTipoIndis(-1);
        document.getElementById('informoTermino').disabled = true;
        $('#modalAdministrarTrafos').modal("show");
    }

    var edito = false;
    var idMontoEditado = 0;
    function EditarTrafo(button) {
        //idTipoEquipo = 4;
        idTrafo = tableTrafosIndisponibles.row($(button).parents('tr')).data();
        if (idTrafo != null) {
            edito = true;
        }
        obtenerTipoSalida(idTrafo.tipoSalida);
        obtenerTrafosRemu(idTrafo.idTrafo);
        $('#fechaSalida').val(idTrafo.fechaSalida);
        $('#fechaEntrada').val(idTrafo.fechaEntrada);
        $('#tipoSalida').val(idTrafo.tipoSalida);
        $('#motivo').val(idTrafo.motivo);
        CargarTipoIndis(idTrafo.idTipoIndisponibilidad);
        if (idTrafo.informoEnTermino) {
            document.getElementById('informoTermino').disabled = false;
            $('#informoTermino').prop('checked', true);
        }
        if (idTrafo.ENS) {
            $('#ens').prop('checked', true);
        }
        idMontoEditado = idTrafo.idMonto;
        ConsultarMonto(idTrafo.idTrafo, idTrafo.fechaSalida, idTrafo.fechaEntrada)
        $('#modalAdministrarTrafos').modal("show");

    }

    function GuardarTrafo() {
        if (validarTrafo()) {
            var trafoIndis = new Object();
            trafoIndis.fechaSalida = $('#fechaSalida').val();
            trafoIndis.fechaEntrada = $('#fechaEntrada').val();
            trafoIndis.tipoSalida = $('#tipoSalida').val();
            trafoIndis.idTrafo = $('#selecTrafoRemu').val();
            trafoIndis.informoEnTermino = document.getElementById('informoTermino').checked;
            trafoIndis.ENS = document.getElementById('ens').checked;
            trafoIndis.motivo = $('#motivo').val();
            trafoIndis.idTipoIndisponibilidad = $('#selectIndisponibilidad').val();

            var fechaDesdeMonto =$('#fechaSalida').val();
            var fechaHastaMonto = $('#fechaEntrada').val();
            if (edito == true) {
                trafoIndis.idIndisponibilidadTrafo = idTrafo.idIndisponibilidadesTrafo;
                $.ajax({
                    type: 'Post',
                    url: '/Api/Remuneracion/ModificarTrafoIndisponibles?trafo=' + trafoIndis + '&fechaDesdeMonto=' + fechaDesdeMonto + '&fechaHastaMonto=' + fechaHastaMonto,
                    dataType: "json",
                    data: trafoIndis,
                    success: function (codigo) {
                        if (codigo == 200) {
                            cerrarModal();
                            var url2 = "/Api/Remuneracion/obtenerTrafosIndisponibles?fechaDesde=" + fechaDesde + "&fechaHasta=" + fechaHasta;
                            tableTrafosIndisponibles.ajax.url(url2).load(tablaTrafoIndisponibles);

                        } else if (codigo == 300) {
                            cerrarModal();
                            confirm("Ya existe!")
                        }else if (codigo == 303) {
                            cerrarModal();
                            confirm("No hay montos disponibles!")
                        }
                        else {
                            cerrarModal();
                            confirm("Error!")

                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Remuneracion/AltaTrafosIndisponibles?trafo=' + trafoIndis + '&fechaDesdeMonto=' + fechaDesdeMonto + '&fechaHastaMonto=' + fechaHastaMonto,
                    dataType: "json",
                    data: trafoIndis,
                    success: function (codigo) {
                        if (codigo == 200) {
                            cerrarModal();
                            var url2 = "/Api/Remuneracion/obtenerTrafosIndisponibles?fechaDesde=" + fechaDesde + "&fechaHasta=" + fechaHasta;
                            tableTrafosIndisponibles.ajax.url(url2).load(tablaTrafoIndisponibles);

                        } else if (codigo == 300) {
                            confirm("Ya existe un registro igual!")
                        }
                        else {
                            cerrarModal();
                            confirm("Error!")

                        }
                    }
                })
            }

        }
    }

    function validarTrafo() {

        if ($('#selecTrafoRemu').val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Seleccione una <b> Transformador </b>.</span>" +
                "</div>";

            $('#alertIndisponibles').clearQueue();
            $('#alertIndisponibles').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selecTrafoRemu").focus();
            return false;
        }

        if ($('#fechaSalida').val() == "") {

            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>La <b> FECHA SALIDA </b> No puede quedar vacia.</span>" +
                "</div>";

            $('#alertIndisponibles').clearQueue();
            $('#alertIndisponibles').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#fechaSalida").focus();
            return false;
        }

        if ($('#fechaEntrada').val() != "") {
            console.log($('#fechaEntrada').val())
            console.log($('#fechaSalida').val());

            if ($('#fechaSalida').val() >= $('#fechaEntrada').val() ) {
                var alert = "";
                alert += "<div class='alert alert-danger' id='alertFecha'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>La <b> FECHA ENTRADA </b> No puede ser menor que <b> FECHA SALIDA </b>.</span>" +
                    "</div>";

                $('#alertIndisponibles').clearQueue();
                $('#alertIndisponibles').append(alert);
                $(".alert").delay(2500).slideUp(200, function () {
                    $(this).alert('close');
                });
                $("#fechaEntrada").focus();
                return false;
            }
            }

        if ($('#tipoSalida').val() == "") {
            console.log($('#tipoSalida').val());
            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> TIPO DE SALIDA </b> No puede quedar vacio.</span>" +
                "</div>";

            $('#alertIndisponibles').clearQueue();
            $('#alertIndisponibles').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#tipoSalida").focus();
            return false;
        }
        debugger;
        if ($('#motivo').val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> MOTIVO </b> No puede quedar vacio.</span>" +
                "</div>";

            $('#alertIndisponibles').clearQueue();
            $('#alertIndisponibles').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#motivo").focus();
            return false;
        }

        return true;
    }


    function EliminarTrafoRemu(button) {
        idTrafo = tableTrafosIndisponibles.row($(button).parents('tr')).data();
        var ObjTra = { "idIndisponibilidadTrafo": idTrafo.idIndisponibilidadesTrafo, };

        $.ajax({
            type: 'PUT',
            url: '/Api/Remuneracion/EliminarTrafoIndisponible',
            dataType: "json",
            data: ObjTra,
            success: function (response) {
                if (response != false) {
                    var url2 = "/Api/Remuneracion/obtenerTrafosIndisponibles?fechaDesde=" + fechaDesde + "&fechaHasta=" + fechaHasta;
                    tableTrafosIndisponibles.ajax.url(url2).load(tablaTrafoIndisponibles);
                } else {
                    alert("Error!")
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function obtenerTipoSalida(tipoSalida) {
        $('#tipoSalida').empty();
        if (tipoSalida == null) {
            $('#tipoSalida').append($('<option selected>').val(null).text("Seleccione una opción"))
            $('#tipoSalida').append($('<option>').val('P').text("Programada (P)"));
            $('#tipoSalida').append($('<option>').val('F').text("Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Sin Tension (ST)"));
            $('#tipoSalida').append($('<option>').val('RP').text("Reducción Programado (RP)"));
            $('#tipoSalida').append($('<option>').val('R').text("Reducción Forzado (R)"));
            $('#tipoSalida').append($('<option>').val('FA').text("Forzado Autorizado (FA)"));
            $('#tipoSalida').append($('<option>').val('RFA').text("Reducción Forzado Autorizado (RFA)"));
        } else if (tipoSalida == "P") {
            $('#tipoSalida').append($('<option selected>').val('P').text("Programada (P)"));
            $('#tipoSalida').append($('<option>').val('F').text("Cambiar a Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Cambiar a Sin Tension (ST)"));
            $('#tipoSalida').append($('<option>').val('RP').text("Cambiar a Reducción Programado (RP)"));
            $('#tipoSalida').append($('<option>').val('R').text("Cambiar a Reducción Forzado (R)"));
            $('#tipoSalida').append($('<option>').val('FA').text("Cambiar a Forzado Autorizado (FA)"));
            $('#tipoSalida').append($('<option>').val('RFA').text("Cambiar a Reducción Forzado Autorizado (RFA)"));
        } else if (tipoSalida == "F") {
            $('#tipoSalida').append($('<option selected>').val('F').text("Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('P').text("Cambiar a Programada (P)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Cambiar a Sin Tension (ST)"));
            $('#tipoSalida').append($('<option>').val('RP').text("Cambiar a Reducción Programado (RP)"));
            $('#tipoSalida').append($('<option>').val('R').text("Cambiar a Reducción Forzado (R)"));
            $('#tipoSalida').append($('<option>').val('FA').text("Cambiar a Forzado Autorizado (FA)"));
            $('#tipoSalida').append($('<option>').val('RFA').text("Cambiar a Reducción Forzado Autorizado (RFA)"));
        } else if (tipoSalida == "RP") {
            $('#tipoSalida').append($('<option selected>').val('RP').text("Reducción Programado (RP)"));
            $('#tipoSalida').append($('<option>').val('F').text("Cambiar a Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('P').text("Cambiar a Programada (P)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Cambiar a Sin Tension (ST)"));
            $('#tipoSalida').append($('<option>').val('FA').text("Cambiar a Forzada Autorizada (FA)"));
            $('#tipoSalida').append($('<option>').val('R').text("Cambiar a Reducción Forzado (R)"));
            $('#tipoSalida').append($('<option>').val('RFA').text("Cambiar a Reducción Forzado Autorizado (RFA)"));
        } else if (tipoSalida == "ST") {
            $('#tipoSalida').append($('<option selected>').val('ST').text("Sin Tension (ST)"));
            $('#tipoSalida').append($('<option>').val('F').text("Cambiar a Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('P').text("Cambiar a Programada (P)"));
            $('#tipoSalida').append($('<option>').val('FA').text("Cambiar a Forzada Autorizada (FA)"));
            $('#tipoSalida').append($('<option>').val('RP').text("Cambiar a Reducción Programado (RP)"));
            $('#tipoSalida').append($('<option>').val('R').text("Cambiar a Reducción Forzado (R)"));
            $('#tipoSalida').append($('<option>').val('RFA').text("Cambiar a Reducción Forzado Autorizado (RFA)"));
        } else if (tipoSalida == "FA") {
            $('#tipoSalida').append($('<option selected>').val('FA').text("Forzada Autorizada (FA)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Cambiar a Sin Tension (ST)"));
            $('#tipoSalida').append($('<option>').val('F').text("Cambiar a Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('P').text("Cambiar a Programada (P)"));
            $('#tipoSalida').append($('<option>').val('RP').text("Cambiar a Reducción Programado (RP)"));
            $('#tipoSalida').append($('<option>').val('R').text("Cambiar a Reducción Forzado (R)"));
            $('#tipoSalida').append($('<option>').val('RFA').text("Cambiar a Reducción Forzado Autorizado (RFA)"));
        }

    }

    function cerrarModal() {
        $('#fechaSalida').val(null); $('#fechaEntrada').val(null); $('#tipoSalida').val(null); $('#informoTermino').prop('checked', false); $('#consultaMonto').val(null); $('#consultaResolucion').val(null);
        $('#motivo').val(null); $('#ens').prop('checked', false); $('#selectIndisponibilidad').val(null);

        $('#modalAdministrarTrafos').modal("hide");
        edito = false;
        idMontoEditado = 0;
    }

    function obtenerTrafosRemu(idTrafo) {
        $('#selecTrafoRemu').empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/obtenerTransformadores?idResolucion=' + 0 + '&fecha=' + $('#fechaDesdeFiltro').val(),
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idTrafo == -1) {
                    $('#selecTrafoRemu').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selecTrafoRemu').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTrafo == result.idTrafo) {
                        $('#selecTrafoRemu').append($('<option selected>').val(result.idTrafo).text("ID Pagotran: " + result.idPagotran + "  -   " + result.nombreTransformador ))
                    }
                    else {
                        $('#selecTrafoRemu').append($('<option>').val(result.idTrafo).text("ID Pagotran: " + result.idPagotran + "  -   " + result.nombreTransformador))
                    }

                });
            }
        })
    }


    function ConsultarMonto(idTrafo, fechaDesdeMonto, fechaHastaMonto) {
        if (fechaDesdeMonto == null && fechaHastaMonto == null) {
            fechaDesdeMonto = $('#fechaSalida').val();
            fechaHastaMonto = $('#fechaEntrada').val();
        }

        $('#consultaMonto').val('');
        $('#consultaResolucion').val('');
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/ConsultarMontoTrafo?fechaDesdeMonto=' + fechaDesdeMonto + '&fechaHastaMonto=' + fechaHastaMonto + '&idMonto=' + idMontoEditado,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (respuesta.monto == null) {
                    alert("No existe monto para esa fechas");
                } else {
                    $('#consultaMonto').val(respuesta.mostrarMonto);
                    $('#consultaResolucion').val(respuesta.resolucion);
                }
            }
        })
    }

    function obtenerUtilidadTrafo() {
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/ObtenerUtilidadTrafo',
            dataType: "json",
            data: {},
            success: function (respuesta) {
                $('#utilidad').val(respuesta.valorUtilidad);
            }
        })
    }


    function cambioUtilidad() {
        $('.cambioUtilidad').css("display", "none");
        $('.guardarUtilidad').css("display", "inline");
        document.getElementById('utilidad').disabled = false;
    }

    function guardarUtilidad() {
        var utilidad = $('#utilidad').val();
        $.ajax({
            type: 'Post',
            url: '/Api/Remuneracion/ModificarUtilidadTrafo?utilidad=' + utilidad,
            dataType: "json",
            success: function (codigo) {
                $('.guardarUtilidad').css("display", "none");
                $('.cambioUtilidad').css("display", "inline");
                document.getElementById('utilidad').disabled = true;
                obtenerUtilidadTrafo();
            }
        })
    }

    function CargarTipoIndis(idTipoIndisponibilidad) {

        $("#selectIndisponibilidad").empty();
        if (idTipoIndisponibilidad == -1) {
            $('#selectIndisponibilidad').append($('<option selected>').val(-1).text('Seleccione una opción'));
            $('#selectIndisponibilidad').append($('<option>').val(1).text('Primario'));
            $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
            $('#selectIndisponibilidad').append($('<option>').val(3).text('Terciario'));
        } else if (idTipoIndisponibilidad == 1) {
            $('#selectIndisponibilidad').append($('<option selected>').val(1).text('Primario'));
            $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
            $('#selectIndisponibilidad').append($('<option>').val(3).text('Terciario'));
        } else if (idTipoIndisponibilidad == 2) {
            $('#selectIndisponibilidad').append($('<option selected>').val(2).text('Secundario'));
            $('#selectIndisponibilidad').append($('<option>').val(1).text('Primario'));
            $('#selectIndisponibilidad').append($('<option>').val(3).text('Terciario'));
        } else if (idTipoIndisponibilidad == 3) {
            $('#selectIndisponibilidad').append($('<option selected>').val(3).text('Terciario'));
            $('#selectIndisponibilidad').append($('<option>').val(1).text('Primario'));
            $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
        }                                             
    }

    function modalConfirmacionReporte() {
        $('#modalConfirmacionReporte').modal('show');
    }
    function cerrarModalConfirmaReporte() {
        $('#modalConfirmacionReporte').modal('hide');

    }

    function GenerarExcel() {
        cerrarModalConfirmaReporte()
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/GenerarExcelGenerico?fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta  +'&equipo=' + "Transformador",
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (respuesta.fileName == "Error") {
                    alert("No hay indisponibilidades");
                } else {
                    verArchivoExcel(respuesta.filePath, respuesta.fileName);
                    console.log("Reporte ok");

                }
            },
            error: function (error) {
                alert("No se generaron reportes.");
            }
        })
    }
    function verArchivoExcel(filePath, fileName) {
        var IdArchivo = url;
        window.open("/Api/Archivo/GetFile?filePath=" + filePath + "&ruta=" + " " + "&fileName=" + fileName, '_blank')

    }
    function GenerarExcelCompleto() {
        cerrarModalConfirmaReporte()
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/GenerarExcelCompleto?fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta, dataType: "json",
            data: {},
            success: function (respuesta) {
                if (respuesta.fileName == "Error") {
                    alert("No hay indisponibilidades");
                } else {
                    verArchivoExcel(respuesta.filePath, respuesta.fileName);
                    console.log("Reporte ok");

                }
            },
            error: function (error) {
                alert("No se generaron reportes.");
            }
        })
    }


    (function () {
        var idItem = '#RemuSideBar';

        $('#fechaDesdeFiltro').val(fechaDesde);
        $('#fechaHastaFiltro').val(fechaHasta);
        $('.mostrarBtnFiltrarMesActual').css("display", "none");

        $('.guardarUtilidad').css("display", "none");

        $('#tipoSalida').select2({ width: '100%', });
        $('#selectIndisponibilidad').select2({ width: '80%', });
        $('#selecTrafoRemu').select2({ width: '80%', });

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        permisoAgregar();
        obtenerTrafosRemu();
        obtenerUtilidadTrafo();
        CrearTablaTrafosIndisponibles();
    })();
</script>




