﻿<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.colResize.js"></script>
<script src="~/Scripts/jquery.dataTables.colResize.css"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="../JS/NovedadJS.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/cr-1.5.4/fc-4.0.0/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery.dataTables.colResize.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.colResize.js"></script>


@{
    ViewBag.Title = "Indisponibilidad Lineas";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Indisponibilidad Lineas</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaLineaIndis()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <button type="button" class="btn btn-success" style="text-align:center" onclick="volver()">Volver</button>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-info" onclick="modalConfirmacionReporte()">Reporte</button>
                            </div>

                            <div class="col-2">
                                <label>Desde</label>
                                <br />
                                <input type="date" class="redondeado form-control" id="fechaDesdeFiltro" required>
                            </div>
                            <div class="col-2">
                                <label>Hasta</label>
                                <br />
                                <input type="date" class="redondeado form-control" id="fechaHastaFiltro" required>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-blue" style="text-align:center" onclick="filtrarPorMes()">Filtrar</button>
                                <button type="button" class="btn btn-info mostrarBtnFiltrarMesActual" style="text-align:center" onclick="filtrarPorMesActual()">Mes actual</button>
                            </div>

                            <div class="col-3">
                                <label style="font-size: 130%; color: black; padding-left: 10%">Factor de penalizacíon K = </label>
                                <input id="factorPenalizacion" type="number" border="5" style="font-weight: bold; width: 10%; font-size: initial; text-align: center;" disabled />
                                <button type="button" class="btn btn-warning cambioFk" id="cambioFk" onclick="cambioFk()">Cambiar</button>
                                <button type="button" class="btn btn-success guardarFk" id="guardarFk" onclick="guardarFk()">Guardar</button>
                            </div>
                        </div>
                        <table id="tablaLineaIndisponibles" class="table table-bordered display" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID Pagotran</th>
                                    <th>Linea</th>
                                    <th>U[KV]</th>
                                    <th>Long[KM]</th>
                                    <th>$/H</th>
                                    <th>Salida</th>
                                    <th>Entrada</th>
                                    <th>Hs. Indisp</th>
                                    <th>Min. Indisp</th>
                                    <th>Tipo Salida</th>
                                    <th>Informó en termino</th>
                                    <th>Total Penalizac.</th>
                                    <th>No Percibido</th>
                                    <th>Lucro Cesante</th>
                                    <th>Motivo</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                        </table>

                        <!-- Modal para editar/Crear una linea-->
                        <div class="modal" data-backdrop="static" id="modalAdministrarLineas">
                            <div class="modal-dialog modal-dialog modal-lg" style="padding-top:5%">
                                <div class="modal-content">
                                    <form>
                                        <div id="alertIndisponibles"></div>
                                        <div class="row" style="text-align:center ; padding-bottom: 25px">
                                            <div class="col-md-12">
                                                <label>Linea</label><br />
                                                <select id="selecLineaRemu" onclick="obtenerlineaRemu()"></select>
                                            </div>
                                        </div>
                                        <div class="row text-md-center" style="padding: 5px;">
                                            <div class="col-md-3">
                                                <label> Fecha Salida</label>
                                                <input type="datetime-local" id="fechaSalida" class="form-control" required />
                                            </div>

                                            <div class="col-md-3">
                                                <label> Fecha Entrada</label>
                                                <input type="datetime-local" id="fechaEntrada" class="form-control" oninput="entradaConfirmada()" />
                                            </div>

                                            <div class="col-md-3">
                                                <label style="">Tipo de Salida</label><br />
                                                <select id="tipoSalida" onclick="obtenerTipoSalida()"></select>
                                            </div>

                                            <div class="col-md-3 entradaConfirmada">
                                                <div class="form-group">
                                                    <label><strong>Informo a Termino</strong></label><br />
                                                    <input class="form-check-input " type="checkbox" id="informoTermino" />

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="text-align:center ; padding-bottom: 2%">
                                            <div class="col-md-12">
                                                <label>Motivo</label>
                                                </br>
                                                <input type="text" id="motivo" placeholder="Escriba el motivo . . ." maxlength="150" style="max-width: 100% ; width: 80%;" autocomplete="off" />
                                            </div>
                                        </div>

                                        <div class="row" style="padding-left: 10%; padding-top: 10px; padding-bottom: 10px; ">
                                            <button type="button" class="btn  pull-center btn-info" onclick="ConsultarMonto()">Consultar Monto</button>
                                            <input type="text" id="consultaMonto" style=" text-align: center; font-size: 120%; font-weight: bold;" disabled />
                                            <input type="text" id="consultaResolucion" style=" text-align: center; font-size: 120%; font-weight: bold; width: 40%;" disabled />

                                        </div>

                                        <div style="text-align:center">
                                            <input type="button" class="btn btn-danger pull-center" onclick="cerrarModal()" value="Cancelar">
                                            <button type="button" class="btn  pull-center btn-success" onclick="GuardarLineaR()">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="modalConfirmacionReporte" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2>¿Desea generar un reporte?</h2>
                                        <div class="row">
                                            <div class="col">
                                                <button type="button" class="btn  float-left btn-block botonGenerarLicencia " style="background-color: #5cb85c ; font-size: 125%;" onclick="GenerarExcel()">Solo Lineas</button>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn float-right  btn-block botonGenerarLicencia" style="background-color: #ff6a00; font-size: 125%;" onclick="GenerarExcelCompleto()">Completo</button>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn float-right  btn-block botonGenerarLicencia" style="background-color: #d9534f; font-size: 125%;" onclick="cerrarModalConfirmaReporte()">No</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        var activo = true;
        var tienePermisoEliminar = '@permisoEliminacion';
        var tienePermisoEdicion = '@permisoEditar';

    var tableLineasIndisponibles;

            $(window).on("load", function () {

                $(".loader-wrapper").fadeOut("slow");
            });

            $('.selector2').select2({
                allowClear: false,
                width: '100%',
            });

            $('#tipoSalida').select2({
                allowClear: false,
            });


    function permisoAgregar() {
        if (tienePermisoEdicion == "True") {
            $('.permisoAgregar').show();
            $('.permisoAgregar').css('display', 'display');
        }
    }

    function entradaConfirmada() {
        if ($('#fechaEntrada').val() != "") {
            document.getElementById('informoTermino').disabled = false;
        } else {
            document.getElementById('informoTermino').disabled = true;
        }
    }


    function volver() {
        history.back();
    }

    //FECHAS PARA EL FILTRADO
    var fechaEntera = new Date();
    var mes = fechaEntera.getMonth() + 1;
    var ano = fechaEntera.getFullYear();
    const ultimoDia = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()
    if (mes < 10) {
        mes = "0" + mes;
    }
    var fechaDesde = ano + "-" + mes + "-" + 0+1;
    var fechaHasta = ano + "-" + mes + "-" + ultimoDia;

    var MesActualD = ano + "-" + mes + "-" + 0 + 1;
    var MesActualH = ano + "-" + mes + "-" + ultimoDia;
    function filtrarPorMes() {
            fechaDesde = $('#fechaDesdeFiltro').val();
            fechaHasta = $('#fechaHastaFiltro').val();

            fechaDesdeH = fechaDesde + " " + "00:00:00";
            fechaHastaH = fechaHasta + " " + "23:59:59";

        var url2 = "/Api/Remuneracion/obtenerLineasIndisponibles?fechaDesde=" + fechaDesdeH + "&fechaHasta=" + fechaHastaH;
            tableLineasIndisponibles.ajax.url(url2).load(tablaLineaIndisponibles);

        if(MesActualD != fechaDesde && MesActualH != fechaHasta) {
            $('.mostrarBtnFiltrarMesActual').css("display", "inline");
        }

        }

    function filtrarPorMesActual() {
        $('.mostrarBtnFiltrarMesActual').css("display", "none");
        fechaDesde = ano + "-" + mes + "-" + 0 + 1;
        fechaHasta = ano + "-" + mes + "-" + ultimoDia;

        $('#fechaDesdeFiltro').val(fechaDesde);
        $('#fechaHastaFiltro').val(fechaHasta);

        fechaDesdeH = fechaDesde + " " + "00:00:00";
        fechaHastaH = fechaHasta + " " + "23:59:59";

        var url2 = "/Api/Remuneracion/obtenerLineasIndisponibles?fechaDesde=" + fechaDesdeH + "&fechaHasta=" + fechaHastaH;
        tableLineasIndisponibles.ajax.url(url2).load(tablaLineaIndisponibles);
    }


    function CrearTablaLineasIndisponibles() {
        fechaDesdeH = fechaDesde + " " + "00:00:00";
        fechaHastaH = fechaHasta + " " + "23:59:59";

            var idiomaEspanol = {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla.",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }

        tableLineasIndisponibles = $('#tablaLineaIndisponibles').DataTable({
                "colResize": {
                    isEnabled: true,
                    hoverClass: 'dt-colresizable-hover',
                    hasBoundCheck: true,
                    minBoundClass: 'dt-colresizable-bound-min',
                    maxBoundClass: 'dt-colresizable-bound-max',
                    isResizable: function (column) { return true; },
                    onResize: function (column) { },
                    onResizeEnd: function (column, columns) { },
                    getMinWidthOf: function ($thNode) { }
            },
            "ajax": "/Api/Remuneracion/obtenerLineasIndisponibles?fechaDesde=" + fechaDesdeH + "&fechaHasta=" + fechaHastaH,
                "lengthMenu": [10, 25, 50],
                "columns": [
                    { data: "idLineaRemunerada", "visible": false },
                    { data: "idPagotran", "width": "5%", "className": "text-center" },
                    { data: "nombreLinea", "width": "15%", "className": "text-center" },
                    { data: "Ukv", "width": "5%", "className": "text-center" },
                    { data: "longKm", "width": "5%", "className": "text-center" },
                    { data: "cargoRealxHora", "width": "5%", "className": "text-center" },
                    { data: "fechaSalidaRemu", "width": "7%", "className": "text-center" },
                    { data: "fechaEntradaRemu", "width": "7%", "className": "text-center" },
                    { data: "hsIndisponible", "width": "5%", "className": "text-center" },
                    { data: "minutosIndisponible", "width": "5%", "className": "text-center" },
                    { data: "tipoSalida", "width": "5%", "className": "text-center" },
                    { data: "MuestroinformoEnTermino", "width": "5%", "className": "text-center" },
                    { data: "totalPenalizacion", "width": "5%", "className": "text-center" },
                    { data: "noPercibido", "width": "5%", "className": "text-center" },
                    { data: "lucroCesante", "width": "5%", "className": "text-center" },
                    {
                        "data": "motivo",
                        "render": function (data) {
                                var motiv = data;
                                    if (data.length > 30) {
                                        motiv = data.substring(0, 30) + ' ...';
                                    }
                                
                                return motiv;
                            

                        }, "width": "10%", "className": "text-center"
                    },

                    {
                        "data": 'activo',
                        "render": function (data) {
                            var botones = " ";
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditarLineaRemu(this);' src = '/fonts/Icons/edit.png'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminarLineaRemu(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        },
                        "width": "5%", "className": "text-center"
                    },
                ],
                "language": idiomaEspanol
            });

    }
    function AltaLineaIndis() {
        obtenerTipoSalida();
        obtenerlineaRemu(-1);
        document.getElementById('informoTermino').disabled = true;
        $('#modalAdministrarLineas').modal("show");
    }

    var edito = false;
    var idMontoEditado = 0;
    function EditarLineaRemu(button) {
        //idTipoEquipo = 4;
        idLineaR = tableLineasIndisponibles.row($(button).parents('tr')).data();
        if (idLineaR != null) {
            edito = true;
        }
        obtenerTipoSalida(idLineaR.tipoSalida);
        obtenerlineaRemu(idLineaR.idlinea);
        $('#fechaSalida').val(idLineaR.fechaSalida);
        $('#fechaEntrada').val(idLineaR.fechaEntrada);
        $('#tipoSalida').val(idLineaR.tipoSalida);
        $('#motivo').val(idLineaR.motivo);
        if (idLineaR.informoEnTermino) {
            document.getElementById('informoTermino').disabled = false;
            $('#informoTermino').prop('checked', true);
        }
        debugger;
        idMontoEditado = idLineaR.idMonto;
        ConsultarMonto(idLineaR.idlinea, idLineaR.fechaSalida, idLineaR.fechaEntrada)
        $('#modalAdministrarLineas').modal("show");

    }

    function GuardarLineaR() {
        if (validarLineaR()) {
            var lineaR = new Object();
            lineaR.fechaSalida = $('#fechaSalida').val();
            lineaR.fechaEntrada = $('#fechaEntrada').val();
            lineaR.tipoSalida = $('#tipoSalida').val();
            lineaR.idLinea = $('#selecLineaRemu').val();
            lineaR.informoEnTermino = document.getElementById('informoTermino').checked;
            lineaR.factorPenalizacion = $('#factorPenalizacion').val();
            lineaR.motivo = $('#motivo').val();

            var fechaDesdeMonto =$('#fechaSalida').val();
            var fechaHastaMonto = $('#fechaEntrada').val();
            if (edito == true) {
                lineaR.idLineaRemunerada = idLineaR.idLineaRemunerada;
                $.ajax({
                    type: 'Post',
                    url: '/Api/Remuneracion/ModificarLineaIndisponibles?linea=' + lineaR + '&fechaDesdeMonto=' + fechaDesdeMonto + '&fechaHastaMonto=' + fechaHastaMonto,
                    dataType: "json",
                    data: lineaR,
                    success: function (codigo) {
                        if (codigo == 200) {
                            cerrarModal();
                            var url2 = "/Api/Remuneracion/obtenerLineasIndisponibles?fechaDesde=" + fechaDesde + "&fechaHasta=" + fechaHasta;
                            tableLineasIndisponibles.ajax.url(url2).load(tablaLineaIndisponibles);

                        } else if (codigo == 300) {
                            cerrarModal();
                            confirm("Ya existe!")
                        }else if (codigo == 303) {
                            cerrarModal();
                            confirm("No hay montos disponibles!")
                        }
                        else {
                            cerrarModal();
                            confirm("Error!")

                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Remuneracion/AltaLineaIndisponibles?linea=' + lineaR + '&fechaDesdeMonto=' + fechaDesdeMonto + '&fechaHastaMonto=' + fechaHastaMonto,
                    dataType: "json",
                    data: lineaR,
                    success: function (codigo) {
                        if (codigo == 200) {
                            cerrarModal();
                            var url2 = "/Api/Remuneracion/obtenerLineasIndisponibles?fechaDesde=" + fechaDesde + "&fechaHasta=" + fechaHasta;
                            tableLineasIndisponibles.ajax.url(url2).load(tablaLineaIndisponibles);

                        } else if (codigo == 300) {
                            confirm("Ya existe un registro igual!")
                        }
                        else {
                            cerrarModal();
                            confirm("Error!")

                        }
                    }
                })
            }

        }
    }

    function validarLineaR() {

        if ($('#selecLineaRemu').val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Seleccione una <b> Linea </b>.</span>" +
                "</div>";

            $('#alertIndisponibles').clearQueue();
            $('#alertIndisponibles').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selecLineaRemu").focus();
            return false;
        }

        if ($('#fechaSalida').val() == "") {

            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>La <b> FECHA SALIDA </b> No puede quedar vacia.</span>" +
                "</div>";

            $('#alertIndisponibles').clearQueue();
            $('#alertIndisponibles').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#fechaSalida").focus();
            return false;
        }

        if ($('#fechaEntrada').val() != "") {
            console.log($('#fechaEntrada').val())
            console.log($('#fechaSalida').val());

            if ($('#fechaSalida').val() >= $('#fechaEntrada').val() ) {
                var alert = "";
                alert += "<div class='alert alert-danger' id='alertFecha'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>La <b> FECHA ENTRADA </b> No puede ser menor que <b> FECHA SALIDA </b>.</span>" +
                    "</div>";

                $('#alertIndisponibles').clearQueue();
                $('#alertIndisponibles').append(alert);
                $(".alert").delay(2500).slideUp(200, function () {
                    $(this).alert('close');
                });
                $("#fechaEntrada").focus();
                return false;
            }         
            }

        if ($('#tipoSalida').val() == "") {
            console.log($('#tipoSalida').val());
            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> TIPO DE SALIDA </b> No puede quedar vacio.</span>" +
                "</div>";

            $('#alertIndisponibles').clearQueue();
            $('#alertIndisponibles').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#tipoSalida").focus();
            return false;
        }
        debugger;
        if ($('#motivo').val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger' id='alertFecha'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> MOTIVO </b> No puede quedar vacio.</span>" +
                "</div>";

            $('#alertIndisponibles').clearQueue();
            $('#alertIndisponibles').append(alert);
            $(".alert").delay(2500).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#motivo").focus();
            return false;
        }

        return true;
    }


    function EliminarLineaRemu(button) {
        idLineaR = tableLineasIndisponibles.row($(button).parents('tr')).data();
        var ObjLin = { "idLineaRemunerada": idLineaR.idLineaRemunerada, };

        $.ajax({
            type: 'PUT',
            url: '/Api/Remuneracion/EliminarLineaIndisponible',
            dataType: "json",
            data: ObjLin,
            success: function (response) {
                if (response != false) {
                    var url2 = "/Api/Remuneracion/obtenerLineasIndisponibles?fechaDesde=" + fechaDesde + "&fechaHasta=" + fechaHasta;
                    tableLineasIndisponibles.ajax.url(url2).load(tablaLineaIndisponibles);
                } else {
                    alert("Error!")
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function obtenerTipoSalida(tipoSalida) {
        $('#tipoSalida').empty();
        if (tipoSalida == null) {
            $('#tipoSalida').append($('<option selected>').val(null).text("Seleccione una opción"))
            $('#tipoSalida').append($('<option>').val('P').text("Programada (P)"));
            $('#tipoSalida').append($('<option>').val('F').text("Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Sin Tension (ST)"));
            //$('#tipoSalida').append($('<option>').val('FM').text("Forzada Mayor (FM)"));
            //$('#tipoSalida').append($('<option>').val('FA').text("Forzada Autorizada (FA)"));
        } else if (tipoSalida == "P") {
            $('#tipoSalida').append($('<option selected>').val('P').text("Programada (P)"));
            $('#tipoSalida').append($('<option>').val('F').text("Cambiar a Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Cambiar a Sin Tension (ST)"));
            //$('#tipoSalida').append($('<option>').val('FM').text("Cambiar a Forzada Mayor (FM)"));
            //$('#tipoSalida').append($('<option>').val('FA').text("Cambiar a Forzada Autorizada (FA)"));
        } else if (tipoSalida == "F") {
            $('#tipoSalida').append($('<option selected>').val('F').text("Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('P').text("Cambiar a Programada (P)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Cambiar a Sin Tension (ST)"));
           // $('#tipoSalida').append($('<option>').val('FM').text("Cambiar a Forzada Mayor (FM)"));
            //$('#tipoSalida').append($('<option>').val('FA').text("Cambiar a Forzada Autorizada (FA)"));
        } /* else if (tipoSalida == "FM") {
            //$('#tipoSalida').append($('<option selected>').val('FM').text("Forzada Mayor (FM)"));
            $('#tipoSalida').append($('<option>').val('F').text("Cambiar a Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('P').text("Cambiar a Programada (P)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Cambiar a Sin Tension (ST)"));
            //$('#tipoSalida').append($('<option>').val('FA').text("Cambiar a Forzada Autorizada (FA)"));
        } */ else if (tipoSalida == "ST") {
            $('#tipoSalida').append($('<option selected>').val('ST').text("Sin Tension (ST)"));
            $('#tipoSalida').append($('<option>').val('F').text("Cambiar a Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('P').text("Cambiar a Programada (P)"));
            //$('#tipoSalida').append($('<option>').val('FM').text("Cambiar a Forzada Mayor. (FM)"));
           // $('#tipoSalida').append($('<option>').val('FA').text("Cambiar a Forzada Autorizada (FA)"));
        } /*else if (tipoSalida == "FA") {
            //$('#tipoSalida').append($('<option selected>').val('FA').text("Forzada Autorizada (FA)"));
            $('#tipoSalida').append($('<option>').val('ST').text("Cambiar a Sin Tension (ST)"));
            $('#tipoSalida').append($('<option>').val('F').text("Cambiar a Forzada (F)"));
            $('#tipoSalida').append($('<option>').val('P').text("Cambiar a Programada (P)"));
           // $('#tipoSalida').append($('<option>').val('FM').text("Cambiar a Forzada Mayor. (FM)"));
        }*/

    }

    function cerrarModal() {
        $('#fechaSalida').val(null); $('#fechaEntrada').val(null); $('#tipoSalida').val(null); $('#informoTermino').prop('checked', false); $('#consultaMonto').val(null); $('#consultaResolucion').val(null);
        $('#motivo').val(null);

        $('#modalAdministrarLineas').modal("hide");
        edito = false;
        idMontoEditado = 0;
    }

    function obtenerlineaRemu(idLinea) {
        $('#selecLineaRemu').empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/obtenerLineas?idResolucion=' + 0 + '&fecha=' + $('#fechaDesdeFiltro').val(),
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idLinea == -1) {
                    $('#selecLineaRemu').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selecLineaRemu').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idLinea == result.idlinea) {
                        $('#selecLineaRemu').append($('<option selected>').val(result.idlinea).text("ID Pagotran: "+result.idPagotran + "  -   " + result.cammesa ))
                    }
                    else {
                        $('#selecLineaRemu').append($('<option>').val(result.idlinea).text("ID Pagotran: " + result.idPagotran + "  -   " + result.cammesa))
                    }

                });
            }
        })
    }

    function obtenerFactorPenalizacion() {
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/ObtenerFactorPenalizacion',
            dataType: "json",
            data: {},
            success: function (respuesta) {
                $('#factorPenalizacion').val(respuesta.valorUtilidad);
            }
        })
    }

    function ConsultarMonto(idlinea, fechaDesdeMonto, fechaHastaMonto) {
        
        if (idlinea == null && fechaDesdeMonto == null && fechaHastaMonto == null) {
            idlinea = $('#selecLineaRemu').val();
            fechaDesdeMonto = $('#fechaSalida').val();
            fechaHastaMonto = $('#fechaEntrada').val();
        }

        $('#consultaMonto').val('');
        $('#consultaResolucion').val('');
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/ConsultarMonto?idlinea=' + idlinea + '&fechaDesdeMonto=' + fechaDesdeMonto + '&fechaHastaMonto=' + fechaHastaMonto + '&idMonto=' + idMontoEditado,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (respuesta.monto == null) {
                    alert("No existe monto para esa fechas");
                } else {
                    $('#consultaMonto').val(respuesta.mostrarMonto);
                    $('#consultaResolucion').val(respuesta.resolucion);
                }
            }
        })
    }

    function cambioFk() {
        $('.cambioFk').css("display", "none");
        $('.guardarFk').css("display", "inline");
        document.getElementById('factorPenalizacion').disabled = false;
    }

    function guardarFk() {
        var factorK = $('#factorPenalizacion').val();
        $.ajax({
            type: 'Post',
            url: '/Api/Remuneracion/CambiarFactorK?factorK=' + factorK,
            dataType: "json",
            success: function (codigo) {
                $('.guardarFk').css("display", "none");
                $('.cambioFk').css("display", "inline");
                document.getElementById('factorPenalizacion').disabled = true;
                obtenerFactorPenalizacion();
            }
        })
    }

    function GenerarExcel() {
        cerrarModalConfirmaReporte()
        $.ajax({
            type: 'Get',
            url: '/Api/Remuneracion/GenerarExcelGenerico?fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta + '&equipo=' + "Linea",
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (respuesta.fileName == "Error") {
                    alert("No hay indisponibilidades");
                } else {
                    verArchivoExcel(respuesta.filePath, respuesta.fileName);
                    console.log("Reporte ok");

                }
            },
            error: function (error) {
                alert("No se generaron reportes.");
            }
        })
    }
    function verArchivoExcel(filePath, fileName) {
        var IdArchivo = url;
        window.open("/Api/Archivo/GetFile?filePath=" + filePath + "&ruta=" + " " + "&fileName=" + fileName, '_blank')

    }

    function GenerarExcelCompleto() {
            cerrarModalConfirmaReporte()
            $.ajax({
                type: 'Get',
                url: '/Api/Remuneracion/GenerarExcelCompleto?fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta,                dataType: "json",
                data: {},
                success: function (respuesta) {
                    if (respuesta.fileName == "Error") {
                        alert("No hay indisponibilidades");
                    } else {
                        verArchivoExcel(respuesta.filePath, respuesta.fileName);
                        console.log("Reporte ok");

                    }
                },
                error: function (error) {
                    alert("No se generaron reportes.");
                }
            })
        }


    function modalConfirmacionReporte() {
        $('#modalConfirmacionReporte').modal('show');
    }
    function cerrarModalConfirmaReporte() {
        $('#modalConfirmacionReporte').modal('hide');

    }

    (function () {
        var idItem = '#RemuSideBar';

        $('#fechaDesdeFiltro').val(fechaDesde);
        $('#fechaHastaFiltro').val(fechaHasta);
        $('.mostrarBtnFiltrarMesActual').css("display", "none");

        $('.guardarFk').css("display", "none");

        $('#tipoSalida').select2({ width: '100%', });
        $('#selecLineaRemu').select2({ width: '80%', });

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        permisoAgregar();
        obtenerlineaRemu();
        obtenerFactorPenalizacion();
        CrearTablaLineasIndisponibles();
    })();
</script>


