﻿
@{
    ViewBag.Title = "Administrar Tipo de Falla";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Tipo de Falla</b></h4>
                        <p class="card-category">Complete los datos del Tipo de Falla.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTipoFalla"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input type="text" class="form-control" id="nombreTipoFalla" maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-5">
                                    <button type="button" class="btn btn-info pull-center" onclick="GuardarTipoFalla()">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });
        (function () {
            $('.nav-item').removeClass('active');
            $('#TipoFallaSideBar').addClass('active');
            CrearOEditar();

        })();

        function CrearOEditar() {
            var idTipoFalla = getUrlVars()["id"];
            if (idTipoFalla != undefined) {
                $.ajax({
                    type: 'Get',
                    url: '/Api/TipoActuacion/ConsultarUnTipoActuacion?idTipoFalla=' + idTipoFalla,
                    dataType: "json",
                    data: idTipoFalla,
                    success: function (tipoFalla) {
                        $('#nombreTipoFalla').val(tipoFalla.nombreTipoFalla);

                    }
                })
            }

        }

        function GuardarTipoFalla() {
            if (validarTipoFalla()) {
                var idTipoFalla = getUrlVars()["id"];
                var tipoFalla = new Object();
                tipoFalla.nombreTipoFalla = $('#nombreTipoFalla').val();



                if (idTipoFalla != undefined) {
                    tipoFalla.idTipoFalla = idTipoFalla;
                    $.ajax({
                        type: 'POST',
                        url: '/Api/TipoActuacion/ModificarTipoActuacion',
                        dataType: "json",
                        data: tipoFalla,
                        success: function (codigo) {
                            if (codigo == 200) {
                                window.location.href = '/TipoFalla/TipoFalla';
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertTipoFalla').clearQueue();
                                $('#alertTipoFalla').append(alert);
                            }
                        }
                    })
                } else {
                    $.ajax({
                        type: 'Post',
                        url: '/Api/TipoActuacion/AltaTipoActuacion',
                        dataType: "json",
                        data: tipoFalla,
                        success: function (codigo) {
                            if (codigo == 200) {
                                window.location.href = '/TipoFalla/TipoFalla';
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertTipoFalla').clearQueue();
                                $('#alertTipoFalla').append(alert);
                            }

                        }
                    })
                }


            }
        }

        function validarTipoFalla() {
            if ($("#nombreTipoFalla").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>El <b> Nombre </b> no puede estar vacío.</span>" +
                    "</div>";

                $('#alertTipoFalla').clearQueue();
                $('#alertTipoFalla').append(alert);

                $("#nombreTipoFalla").focus();
                return false;
            }
            if ($("#nombreTipoFalla").val().length > 30) {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>El <b> Nombre </b> no puede ser mayor a 30 caracteres.</span>" +
                    "</div>";

                $('#alertTipoFalla').clearQueue();
                $('#alertTipoFalla').append(alert);

                $("#nombreTipoFalla").focus();
                return false;
            }
            return true;
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
    </script>
