﻿
@{
    ViewBag.Title = "AdministrarPersonal";
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Personal</b></h4>
                        <p class="card-category">Complete los datos de la persona.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertPersonal"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input type="text" class="form-control" id="nombrePersonal" onclick="alertaPersonal()" maxlength="100" disabled>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Jefe</label>
                                        <br />
                                        <select class="select2" id="selectPersonal"></select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Telefono</label>
                                            <input type="text" class="form-control" id="telefono" >
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-success pull-center" onclick="GuardarPersonal()">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#GuardiasSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectPersonal').select2({
            allowClear: false,
            width: '90%',

        });

        CrearOEditar();


    })();

    function volver() {
        window.location.href = '/Guardias/PersonalGuardias';
    }

    function CrearOEditar() {
        var idPersonal = GetUrlVars()["id"];
         
        if (idPersonal != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Guardias/ConsultarUnPersonal?idPersonal=' + idPersonal,
                dataType: "json",
                data: idPersonal,
                success: function (personal) {
                    $('#nombrePersonal').val(personal.nombrePersona);
                    $('#telefono').val(personal.telefono);

                    var idJefe = personal.idJefe;
                    ObtenerListaJefes(idJefe)
                }
            })
        }
        else {
            var id = -1
            ObtenerListaJefes(id);
        }

    }

    function GuardarPersonal() {
        if (ValidarPersonal()) {
             
            var idPersona = GetUrlVars()["id"];
            var persona = new Object();
            persona.idPersona = $("#idPersona").val();
            persona.nombrePersona = $("#nombrePersonal").val();
            persona.idJefe = $("#selectPersonal").val();
            persona.telefono = $("#telefono").val();

            if (idPersona != undefined) {
                persona.idPersona = idPersona;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Guardias/ModificarPersonal',
                    dataType: "json",
                    data: persona,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertPersonal').clearQueue();
                            $('#alertPersonal').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Guardias/AltaPersonal',
                    dataType: "json",
                    data: persona,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 300) {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>La Persona que intenta guardar ya existe.</span>" +
                                "</div>";

                            $('#alertPersonal').clearQueue();
                            $('#alertPersonal').append(alert);
                        }
                        else {
                            console.log(codigo)
                            if (codigo == 200) {
                                volver();
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertPersonal').clearQueue();
                                $('#alertPersonal').append(alert);
                            }
                        }
                    }
                })
            }


        }
    }



    function ValidarPersonal() {

        if ($("#nombrePersonal").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Nombre</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertPersonal').clearQueue();
            $('#alertPersonal').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombrePersonal").focus();
            return false;
        }

        if ($("#telefono").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun <b>telefono </b>.</span>" +
                "</div>";

            $('#alertPersonal').clearQueue();
            $('#alertPersonal').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectPersonal").focus();
            return false;
        }

        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function ObtenerListaJefes(idJefe) {
        $('#selectPersonal').empty();
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Guardias/ObtenerJefes?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idJefe == -1) {
                    $('#selectPersonal').append($('<option selected>').val(-1).text("Es jefe"))
                }
                else {
                    $('#selectPersonal').append($('<option>').val(-1).text("Es jefe"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idJefe == result.idPersona) {
                        $('#selectPersonal').append($('<option selected>').val(result.idPersona).text(result.nombrePersona))
                    }
                    else {
                        $('#selectPersonal').append($('<option>').val(result.idPersona).text(result.nombrePersona))
                    }
                });
            }
        })
    }
    
    function alertaPersonal() {
        alerta = document.getElementById('alertaPersonal');

        if (alerta) {
            padre = alerta.parentNode;
            padre.removeChild(alerta);
        }
    }

</script>


