﻿
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<link href="~/assets/Calendar/main.css" rel="stylesheet" />
<script src="~/assets/Calendar/main.js"></script>
<script src="~/assets/Calendar/locales/es-us.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
<style>

    #calendar {
        max-width: 1800px;
        margin: 0 auto;
    }

    .espacio {
        margin-bottom: 20px;
    }

    .centrar {
        margin: auto 0;
    }

    .modal-footer {
        justify-content: initial;
    }

    .fc-toolbar {
        text-transform: capitalize;
    }

    .sinEspacio {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
@{
    var nombreUsuario = Session["usuarioLogeado"];
}
@{
    ViewBag.Title = "Guardia";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card " style="width:100%">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Guardias</div>
                        </div>
                    </div>
                    <div class="card-body" style="width:100%">
                        <div class="row">                           
                            <div class="col-md-2">
                                <label>Mantenimiento</label>
                                <select id="mantenimiento" class="form-control selector2" onchange="CambiaMantenimiento()"></select>
                            </div>
                            <div class="col-md-2">
                                <label>Guardia</label>
                                <select id="GuardiaTurno" class="form-control selector2" onchange="CambiaGuardia()"></select>
                            </div>
                            
                            <div class="col-md-1">
                                <button type="button" class="btn botonTabla" style="background-color:#ffc107" onclick="GuardiaPersonal()">Personal</button>
                            </div> 
                            
                            <div class="col-md-11">
                                <div id='calendar'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalAbrirGuardia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutlo" style="font-weight: bold">Abrir Guardia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Guardias abiertas usuario: @nombreUsuario</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonCancelar float-left" style="background-color:#d9534f" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalNoTurno" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutlo" style="font-weight: bold">Abrir Turno</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>No tiene turnos asignados para este momento</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonCancelar float-left" style="background-color:#d9534f" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalCrearGuardia" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title" id="labelTitutlo"><b>Guardia</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="alertGuardia"></div>
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Persona:</label>
                    </div>
                    <div class="col-md-9">
                        <select id="personaTurno"   class="form-control selector2" onchange="CambioPersona()"></select>
                    </div>
                </div>

                 <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Persona 2:</label>
                    </div>
                    <div class="col-md-9">
                        <select  id="personaTurno2"  class="form-control selector2" onchange="CambioPersona2()" ></select>
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Mantenimiento:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="redondeado form-control" id="tipoMantenimiento" disabled>
                    </div>
                </div>
                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Guardia:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="redondeado form-control" id="tipoGuardia" disabled>
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Fecha Inicio:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="date" class="redondeado form-control" id="fechaInicioTurno" disabled>
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Fecha Hasta:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="date" class="redondeado form-control" id="fechaFinTurno">
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Hora Inicio:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="time" class="redondeado form-control" id="horaInicioTurno" required>
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Hora Fin:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="time" class="redondeado form-control" id="horaFinTurno" required>
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Telefono:</label>
                    </div>
                    <div class="col-md-9">
                        <input  class="redondeado form-control" id="telefono" disabled>
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Telefono 2:</label>
                    </div>
                    <div class="col-md-9">
                        <input  class="redondeado form-control" id="telefono2" disabled>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row" id="CrearTurnoDiv">
                        <div class="col-md-12">
                            <button type="button" class="btn botonGuardar float-left btn-block" style="background-color:#5cb85c" onclick="GuardarGuardia('C')">Guardar</button>
                        </div>
                    </div>
                    <div class="row" id="EditarTurnoDiv">
                        <div class="col-md-6">
                            <button type="button" class="btn botonGuardar float-left btn-block" style="background-color:#5cb85c" onclick="GuardarGuardia('U')">Guardar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn botonEliminar float-left btn-block" style="background-color:#d9534f" onclick="EliminarTurno()">Eliminar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalError" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title" id="labelTitutloError"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="errorBodyModal"></h4>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn botonEliminar float-left" style="background-color:#0080FF" data-dismiss="modal" aria-label="Close">Ok</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalAdvertencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title" id="labelTitutloAdvertencia">Atención:</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="AdvertenciaBodyModal"></h4>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn botonEliminar float-left" style="background-color:#0080FF" data-dismiss="modal" aria-label="Close">Ok</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@{ 
    var tienePermisoEdicion = Session["TienePermisoEdicion"];
}
<script>
    var tienePermisoEdicion = "@tienePermisoEdicion";
    window.FontAwesome.config.autoReplaceSvg = 'nest';
    var mainColorGuardia = '#359FFC';
    var secundaryColorGuardia = '#8AC8FD';
    var mainColorFranco = '#FF0000';
    var secundaryColorFranco = '#FD8A8A';
    var listaEmpleados;
    var listaTipoGuardia;
    var calendar;
    var idSeleccionado = -1;
    var usuario = "@nombreUsuario";
    var alertIdHoras = "";
    var alertIdDias = "";


    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    $('.selector2').select2({
        allowClear: false,
        width: '100%',
    });


  

    function GuardiaPersonal() {
        location.href = "/Guardias/PersonalGuardias";
    }

    //validación de horas
    document.getElementById("horaInicioTurno").addEventListener('change', function () {
        if (alertIdHoras != "") {
            $(alertIdHoras).remove();
        }
        calcularDiferenciaHoraria();


    });

    document.getElementById("horaFinTurno").addEventListener('change', function () {
        if (alertIdHoras != "") {
            $(alertIdHoras).remove();
        }
        calcularDiferenciaHoraria();

    });
    document.getElementById("fechaInicioTurno").addEventListener('change', function () {
        if (alertIdDias != "") {
            $(alertIdDias).remove();
        }
        calcularCantidadDias();

    });

    document.getElementById("fechaFinTurno").addEventListener('change', function () {
        if (alertIdDias != "") {
            $(alertIdDias).remove();
        }
        calcularCantidadDias();

    });



    (function () {
        var idItem = '#GuardiasSideBar';



        //ActivarItem(idItem);
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);
        //ObtenerDatos();       
        VerificarUsuarioGuardia();


    })();

    function CambioPersona() {
        var persona = $("#personaTurno").val();
        CargarListaEmpleados(persona);
    }

    function CambioPersona2() {
        var person = $("#personaTurno2").val();
        CargarListaEmpleados2(person);
    }


    function verGuardiaAbiertos() {
        window.location.href = '/Guardias/AdministrarGuardias';
    }


    function VerificarUsuarioGuardia() {

        $.ajax({
            type: 'Get',
            url: '/Api/Turno/VerificarUsuarioGuardia?nombreUsuario=' + usuario,
            dataType: "json",
            data: {},
            success: function (guardia) {
                if (guardia.codigo == 200) {
                    CargarMantenimiento(guardia.idMantenimiento);
                    CargarGuardia(guardia.idMantenimiento);
                    CrearCalendario(guardia.idGuardia);
                    $.ajax({
                        type: 'Get',
                        url: '/Api/Usuario/ObtenerListaEmpleadosGuardia?idGuardia=' + guardia.idGuardia,
                        dataType: "json",
                        data: {},
                        success: function (respuesta) {
                            listaEmpleados = respuesta;

                        }
                    })
                } else {
                    if (guardia.codigo == 400) {
                        CargarMantenimiento(-1);

                    }
                }

            }
        })
    }

    function CrearCalendario(mantenimiento, guardia) {
        var calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            selectable: true,
            locale: 'es',
            themeSystem: 'bootstrap',
            displayEventTime: true,
            select: function (arg) {
                var tipoGuardia = $('#GuardiaTurno').val()
                var fecha = new Date(arg.start);
                var fechaHoy = new Date();
                fechaHoy.setHours(0, 0, 0, 0)
                if (fecha < fechaHoy) {


                    $('#labelTitutloError').empty();
                    var titulo = "";
                    titulo += "<b>Seleccione otro día</b>."
                    $('#labelTitutloError').append(titulo);

                    $('#errorBodyModal').empty();
                    var error = "";
                    error += "El día seleccionado debe ser mayor al día de hoy<br/>Por favor seleccione otro día."
                    $('#errorBodyModal').append(error);
                    $('#modalError').modal();

                } else if (tipoGuardia == -1) {
                    console.log("entro")
                     
                    $('#labelTitutloError').empty();
                    var titulo = "";
                    titulo += "<b>Seleccione una Guardia</b>."
                    $('#labelTitutloError').append(titulo);

                    $('#errorBodyModal').empty();
                    var error = "";
                    error += "Para poder agregar una guardia <b>tiene que seleccionarla</b><br/>Por favor seleccione una en el filtro."
                    $('#errorBodyModal').append(error);
                    $('#modalError').modal();
                }                    
                else {
                
                        $('#CrearTurnoDiv').show();
                        $('#EditarTurnoDiv').hide();
                        $('#alertGuardia').empty();
                        CargarListaEmpleados(-1);
                        CargarListaEmpleados2(-1);

                        var idMantenimiento = $('#mantenimiento').val();
                        if (idMantenimiento != null) {
                            CargarMantenimiento(idMantenimiento);

                            CargarGuardia(idMantenimiento)
                        }


                        var fechaCargar = FechaformatoInput(fecha);
                        $('#fechaInicioTurno').val(fechaCargar);
                        $('#fechaFinTurno').val(fechaCargar);
                        $('#horaInicioTurno').val('');
                        $('#horaFinTurno').val('');
                        $('#modalCrearGuardia').modal();
                        $('#telefono').val('');
                        $('#telefono2').val('');

                    

                }


            },
            eventClick: function (arg) {
                idSeleccionado = arg.event.id;
                $('#alertGuardia').empty();
                $('#EditarTurnoDiv').show();
                $('#CrearTurnoDiv').hide();
                CargarListaEmpleados(arg.event.extendedProps.empleado);
                CargarListaEmpleados2(arg.event.extendedProps.empleado2);
                CargarGuardia(arg.event.extendedProps.tTurno);
                var fecha = new Date(arg.event.start);
                var fechaCargar = FechaformatoInput(fecha);
                var fechaFin = new Date(arg.event.end);
                var fechaFinCargar = FechaformatoInput(fechaFin);
                var horaInicio = ObtenerHora(fecha);
                var horaFin = ObtenerHora(fechaFin);
                $('#fechaInicioTurno').val(fechaCargar);
                $('#fechaFinTurno').val(fechaFinCargar);
                $('#horaInicioTurno').val(horaInicio);
                $('#horaFinTurno').val(horaFin); 
                CargarMantenimiento(arg.event.extendedProps.idMantenimiento)
                //$('#tipoMantenimiento').val(idMantenimiento);
                CargarGuardia(arg.event.extendedProps.idMantenimiento)
                //var idTipoGuardia = arg.event.extendedProps.idTipoGuardia;
               // $('#tipoGuardia').val(idTipoGuardia);
                mostrarGuardia(arg.event.extendedProps.idMantenimiento,arg.event.extendedProps.idTipoGuardia)
                var telefono = arg.event.extendedProps.telefono;
                $('#telefono').val(telefono);
                var telefono2 = arg.event.extendedProps.telefono2;
                $('#telefono2').val(telefono2);
                $('#modalCrearGuardia').modal();
                

            },
            editable: true,
            events: (dates, callback) => {
                var fd = new Date(dates.start);
                var fh = new Date(dates.end);
                var fechaDesde = fechaHoyMostrar(fd);
                var fechaHasta = fechaHoyMostrar(fh);
                var usuario1 = usuario;
                
                $.ajax({
                    url: '/Api/Guardias/ObtenerGuardias?fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta + '&usuario=' + usuario1 + '&idMantenimiento=' + mantenimiento + '&idGuardia=' + guardia,
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        var events = [];
                        $.each(res, function (index, r) {
                            var fechaHasta = new Date(r.fechaHasta);
                            fechaHasta.setDate(fechaHasta.getDate());
                            var usuarios = "";
                            if (r.usuario2 == null) {
                               usuarios = r.usuario;
                            } else {
                               usuarios = r.usuario + " y " + r.usuario2;
                            }
                            events.push({
                                id: r.idGuardia,
                                title: usuarios,
                                start: r.fechaDesde,
                                end: r.fechaHasta,
                                color: '#ff9900',
                                telefono: r.telefono,
                                telefono2: r.telefono2,
                                idMantenimiento: r.idMantenimiento,
                                idTipoGuardia: r.idTipoGuardia,

                                extendedProps: {
                                    tTurno: r.idTipoGuardia,
                                    empleado: r.idPersona,
                                    empleado2: r.idPersona2,
                                },
                            });
                        });
                        callback(events);
                    }
                });


            }
        });

        calendar.render();
    }



    function EliminarTurno() {
        if (idSeleccionado != -1) {
            //calendar.getEventById(idSeleccionado).remove();
            //calendar.unselect();
            //$('#modalCrearGuardia').modal('hide');
            //idSeleccionado = -1;
            var turno = new Object();
            turno.idGuardia = idSeleccionado;
            turno.tipoCRUD = 'D';
            var idMantenimiento = $('#mantenimiento').val();
            var idGuardiaSelect = $('#GuardiaTurno').val(); //Captura la guardia actual del select para mostrar su calendario
            console.log(idMantenimiento, idGuardiaSelect)
            $.ajax({
                type: 'Post',
                url: '/Api/Guardia/CRUD',
                dataType: "json",
                data: turno,
                success: function (respuesta) {
                    if (calendar != undefined) {
                        calendar.destroy()

                    }
                    CrearCalendario(idMantenimiento, idGuardiaSelect);
                    idSeleccionado = -1;
                    $('#modalCrearGuardia').modal('hide');

                }
            });
        }
    }
  
    function GuardarGuardia(CRUD) {
        debugger;
        if (tienePermisoEdicion == "True") {
            if (ValidarTurno()) {
                var empleado = $('#personaTurno').val();
                var empleado2 = $('#personaTurno2').val();
                var tMantenimiento = $('#mantenimiento').val();
                var tGuardia = $('#GuardiaTurno').val();
                var telefono = $('#telefono').val();
                var telefono2 = $('#telefono2').val();
                var fD = $('#fechaInicioTurno').val();
                var hD = $('#horaInicioTurno').val();
                var fechaHoraDesde = UnirFechaYHora(fD, hD);
                fechaHoraDesde.setDate(fechaHoraDesde.getDate() + 1);
                 
                var fH = $('#fechaFinTurno').val();
                var hH = $('#horaFinTurno').val();
                var fechaHoraHasta = UnirFechaYHora(fH, hH);
                fechaHoraHasta.setDate(fechaHoraHasta.getDate() + 1);


                var turno = new Object();
                turno.idPersona = empleado;
                turno.idPersona2 = empleado2;
                turno.idMantenimiento = tMantenimiento;
                turno.idTipoGuardia = tGuardia;
                turno.telefono = telefono;
                turno.telefono2 = telefono2;
                turno.fechaDesde = fechaHoraDesde.toJSON();
                turno.tipoCRUD = CRUD;
                turno.usuario = usuario;
                if (fechaHoraHasta != undefined) {
                    turno.fechaHasta = fechaHoraHasta.toJSON();
                }

                if (CRUD == 'U') {
                    if (idSeleccionado != -1) {
                        turno.idGuardia = idSeleccionado;
                    }
                }
                var idMantenimiento = $('#mantenimiento').val();
                var idGuardiaSelect = $("#GuardiaTurno").val();
                $.ajax({
                    type: 'Post',
                    url: '/Api/Guardia/CRUD',
                    dataType: "json",
                    data: turno,
                    success: function (respuesta) {
                        if (calendar != undefined) {
                            calendar.destroy()

                        }
                        CrearCalendario(idMantenimiento, idGuardiaSelect);
                        calendar.gotoDate(fD);
                        idSeleccionado = -1;
                        $('#modalCrearGuardia').modal('hide');
                        if (respuesta.validacionCantPersonas > 0) {
                            var alertModal = "";
                            alertModal += "<span>- Existen más de 3 personas en la guardia.</span></br>";


                            $('#AdvertenciaBodyModal').clearQueue();
                            $('#AdvertenciaBodyModal').append(alertModal);

                            $('#modalAdvertencia').modal();
                        }
                        if (respuesta.validacionCantDias > 0) {
                            var alertModal = "";
                            alertModal += "<span>- El colaborador seleccionado lleva muchos días de guardia.</span></br>";


                            $('#AdvertenciaBodyModal').clearQueue();
                            $('#AdvertenciaBodyModal').append(alertModal);

                            $('#modalAdvertencia').modal();
                        }
                        if (respuesta.validacionTurnoPorPersona > 0) {
                            var alertModal = "";
                            alertModal += "<span>- El colaborador seleccionado ya tiene guardia asignada para las fechas seleccionadas.</span></br>";


                            $('#AdvertenciaBodyModal').clearQueue();
                            $('#AdvertenciaBodyModal').append(alertModal);

                            $('#modalAdvertencia').modal();
                        }
                    }
                });



            }
        } else {
            alert("No tiene permiso para editar guardias. Comuniquese con el administrador del sistema.");
        } 
    }

    function ValidarTurno() {
        if ($("#personaTurno").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Persona 1</b> al que se le asigne un turno.</span>" +
                "</div>";

            $('#alertGuardia').clearQueue();
            $('#alertGuardia').append(alert);
            $("#personaTurno").focus();
            return false;
        }

        /* if ($("#personaTurno2").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Persona 2</b> al que se le asigne un turno.</span>" +
                "</div>";

            $('#alertGuardia').clearQueue();
            $('#alertGuardia').append(alert);
            $("#personaTurno2").focus();
            return false;
        }*/



        if ($("#horaInicioTurno").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>Hora inicio</b> NO puede estar vacio.</span>" +
                "</div>";

            $('#alertGuardia').clearQueue();
            $('#alertGuardia').append(alert);
            $("#horaInicioTurno").focus();
            return false;
        }

        if ($("#horaFinTurno").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>Hora Fin</b> NO puede estar vacio.</span>" +
                "</div>";

            $('#alertGuardia').clearQueue();
            $('#alertGuardia').append(alert);
            $("#horaFinTurno").focus();
            return false;
        }

        if ($("#personaTurno").val() == $("#personaTurno2").val()) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>Persona 1</b> no puede ser igual a <b>Persona 2</b> <span>" +
                "</div>";

            $('#alertGuardia').clearQueue();
            $('#alertGuardia').append(alert);
            $("#horaFinTurno").focus();
            return false;
        }



        var fechaHoy = new Date();
        var fD = $('#fechaInicioTurno').val();
        var hD = $('#horaInicioTurno').val();
        var fechaHoraDesde = UnirFechaYHora(fD, hD);
        fechaHoraDesde.setDate(fechaHoraDesde.getDate() + 1);

        var fH = $('#fechaFinTurno').val();
        var hH = $('#horaFinTurno').val();
        var fechaHoraHasta = UnirFechaYHora(fH, hH);
        fechaHoraHasta.setDate(fechaHoraHasta.getDate() + 1);

       

        return true;
    }

    function CargarListaEmpleados(empleado) {       
        console.log(empleado)
        $.ajax({
            type: 'Get',
            url: '/Api/Guardia/ObtenerListaUsuariosGuardias',
            dataType: "json",
            data: {},
            success: function (listaEmpleados) {
                $('#personaTurno').empty();
                if (empleado == -1) {
                    $('#personaTurno').append($('<option selected>').val(-1).text("Seleccione una opción"))
                } else {
                    $('#personaTurno').append($('<option>').val(-1).text("Seleccione una opción"))

                }
                $.each(listaEmpleados, function (index, result) {
                    if (empleado == result.idPersona) {
                        $('#personaTurno').append($('<option selected>').val(result.idPersona).text(result.nombrePersona))
                        $('#telefono').val(result.telefono).text(result.telefono);
                    } else {
                        $('#personaTurno').append($('<option>').val(result.idPersona).text(result.nombrePersona))
                    }
                });
            }
        })

    }

    function CargarListaEmpleados2(empleado2) {
        $.ajax({
            type: 'Get',
            url: '/Api/Guardia/ObtenerListaUsuariosGuardias',
            dataType: "json",
            data: {},
            success: function (listaEmpleados) {
                $('#personaTurno2').empty();
                if (empleado2 == -1) {
                    $('#personaTurno2').append($('<option selected>').val(-1).text("Seleccione una opción"))
                } else {
                    $('#personaTurno2').append($('<option>').val(-1).text("Seleccione una opción"))

                }
                $.each(listaEmpleados, function (index, result) {
                    if (empleado2 == result.idPersona) {
                        $('#personaTurno2').append($('<option selected>').val(result.idPersona).text(result.nombrePersona))
                        $('#telefono2').val(result.telefono).text(result.telefono);                    
                    } else {
                        $('#personaTurno2').append($('<option>').val(result.idPersona).text(result.nombrePersona))
                    }
                });
            }
        })

    }



    function CargarMantenimiento(mantenimiento) {
        var activo = true;
        $('#mantenimiento').empty();
        if (mantenimiento == -1) {
            $('#GuardiaTurno').attr('disabled', 'disabled');
        }
        $.ajax({
            type: 'Get',
            url: '/Api/Guardia/ObtenerListaMantenimiento?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (mantenimiento == -1) {
                    $('#mantenimiento').append($('<option selected>').val(-1).text("Seleccione una opción"))

                } else {
                    $('#mantenimiento').append($('<option>').val(-1).text("Seleccione una opción"))

                }
                $.each(respuesta.data, function (index, result) {
                    if (mantenimiento == result.idMantenimiento) {
                        $('#mantenimiento').append($('<option selected>').val(result.idMantenimiento).text(result.nombreMantenimiento))
                        $('#tipoMantenimiento').val(result.nombreMantenimiento).text(result.nombreMantenimiento);
                    } else {
                        $('#mantenimiento').append($('<option>').val(result.idMantenimiento).text(result.nombreMantenimiento))
                        
                    }
                });

            }
        })
    }

    function CargarGuardia(mantenimiento) {
        var guardia = $('#GuardiaTurno').val()
        $.ajax({
            type: 'Get',
            url: '/Api/Guardias/ObtenerListaGuardia?idMantenimiento=' + mantenimiento,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                $('#GuardiaTurno').removeAttr('disabled');
                $('#GuardiaTurno').empty();
                if (guardia == -1) {
                    $('#GuardiaTurno').append($('<option selected>').val(-1).text("Todas"))
                } else {
                    $('#GuardiaTurno').append($('<option>').val(-1).text("Todas"))
                    
                }
                $.each(respuesta.data, function (index, result) {
                    if (guardia == result.idGuardia) {
                        $('#GuardiaTurno').append($('<option selected>').val(result.idGuardia).text(result.nombreGuardia))
                        $('#tipoGuardia').val(result.nombreGuardia).text(result.nombreGuardia);
                    } else {
                        $('#GuardiaTurno').append($('<option>').val(result.idGuardia).text(result.nombreGuardia))
                    }
                });
            }
        })
    }

    function CambiaMantenimiento() {
        $('#GuardiaTurno').empty();
        var mantenimientoElegido = $('#mantenimiento').val();
        if (mantenimientoElegido != -1) {
            CrearCalendario(mantenimientoElegido, -1)
            CargarGuardia(mantenimientoElegido)
        }
        else {
            $('#GuardiaTurno').attr('disabled', 'disabled');
        }
              
    }

    function CambiaGuardia() {
        if (calendar != undefined) {
            calendar.destroy()
        }
        var idMantenimiento = $('#mantenimiento').val();
        var GuardiaElegido = $('#GuardiaTurno').val();
        if (GuardiaElegido != -1) {
            CrearCalendario(idMantenimiento, GuardiaElegido);
            $.ajax({
                type: 'Get',
                url: '/Api/Usuario/ObtenerListaEmpleadosGuardia?idGuardia=' + GuardiaElegido,
                dataType: "json",
                data: {},
                success: function (respuesta) {
                    listaEmpleados = respuesta;

                }
            })
        } else {
            CrearCalendario(idMantenimiento, GuardiaElegido);
            $.ajax({
                type: 'Get',
                url: '/Api/Usuario/ObtenerListaEmpleadosGuardia?idGuardia=' + GuardiaElegido,
                dataType: "json",
                data: {},
                success: function (respuesta) {
                    listaEmpleados = respuesta;

                }
            })
        }
    }

    function mostrarGuardia(mantenimiento,idGuardia) {
        $.ajax({
            type: 'Get',
            url: '/Api/Guardias/ObtenerListaGuardia?idMantenimiento=' + mantenimiento,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                $.each(respuesta.data, function (index, result) {
                    if (idGuardia == result.idGuardia) {
                        $('#tipoGuardia').val(result.nombreGuardia).text(result.nombreGuardia);
                    } else {
                        $('#GuardiaTurno').append($('<option>').val(result.idGuardia).text(result.nombreGuardia))
                    }
                });
            }
        })
    }

    function calcularDiferenciaHoraria() {

       
        var horaInicio = $('#horaInicioTurno').val();
        var horaFin = $('#horaFinTurno').val();
        if (horaInicio != "" && horaFin != "") {
            var horaStart = new Date("01/01/2007 " + horaInicio).getHours();
            var horaEnd = new Date("01/01/2007 " + horaFin).getHours();

            var minutosStart = new Date("01/01/2007 " + horaInicio).getMinutes();
            var minutosEnd = new Date("01/01/2007 " + horaFin).getMinutes();

            //console.log(valuestart, valuestop, timeStart, timeEnd);
            var hourDiff = horaEnd - horaStart;
            if (hourDiff < 0) {
                hourDiff = 24 + hourDiff;
            }

            var minutesDiff = minutosEnd - minutosStart;

            if (minutesDiff < 0) {
                hourDiff--;
                minutesDiff = 60 + minutesDiff;
            }
            var diferenciaTotal = hourDiff + minutesDiff / 100;

            var alert = "";

            return alertIdHoras;

        }
        return "";
    }

    function calcularCantidadDias() {
        
        var fechaInicio = $('#fechaInicioTurno').val();
        var fechaFin = $('#fechaFinTurno').val();
        const _MS_PER_DAY = 1000 * 60 * 60 * 24;
        var date1 = new Date(fechaInicio);
        var date2 = new Date(fechaFin);
        const utc1 = Date.UTC(date1.getFullYear(), date1.getMonth(), date1.getDate());
        const utc2 = Date.UTC(date2.getFullYear(), date2.getMonth(), date2.getDate());
        var diffTime = Math.floor((utc2 - utc1) / _MS_PER_DAY);
        var alert = "";
        
    }

</script>