﻿
@{
    ViewBag.Title = "Administrar Equipo";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Equipo</b></h4>
                        <p class="card-category">Complete los datos del Equipo.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertEquipo"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input type="text" class="form-control" id="nombreEquipo" maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-5">
                                    <button type="button" class="btn btn-info pull-center" onclick="GuardarEquipo()">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#EquipoSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        CrearOEditar();

    })();

    function CrearOEditar() {
        var idEquipo = getUrlVars()["id"];
        if (idEquipo != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Equipo/ConsultarUnEquipo?idEquipo=' + idEquipo,
                dataType: "json",
                data: idEquipo,
                success: function (equipo) {
                    $('#nombreEquipo').val(equipo.nombreEquipo);

                }
            })
        }

    }

    function GuardarEquipo() {
        if (validarEquipo()) {
            var idEquipo = getUrlVars()["id"];
            var equipo = new Object();
            equipo.nombreEquipo = $('#nombreEquipo').val();
            equipo.nombresuario = "@nombreUsuario";

            if (idEquipo != undefined) {
                equipo.idEquipo = idEquipo;
                $.ajax({
                    type: 'Post',
                    url: '/Api/Equipo/ModificarEquipo',
                    dataType: "json",
                    data: equipo,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/Equipo/Equipo';

                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertEquipo').clearQueue();
                            $('#alertEquipo').append(alert);

                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Equipo/AltaEquipo',
                    dataType: "json",
                    data: equipo,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/Equipo/Equipo';
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertEquipo').clearQueue();
                            $('#alertEquipo').append(alert);
                        }

                    }
                })
            }

        }
    }

    function validarEquipo() {
        if ($("#nombreEquipo").val() == "") {

            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> Nombre </b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertEquipo').clearQueue();
            $('#alertEquipo').append(alert);

            $("#nombreEquipo").focus();

            return false;
        }
        if ($("#nombreEquipo").val().length > 30) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> Nombre </b> no puede ser mayor a 30 caracteres.</span>" +
                "</div>";

            $('#alertEquipo').clearQueue();
            $('#alertEquipo').append(alert);

            $("#nombreEquipo").focus();
            return false;
        }
        return true;
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    </script>

