﻿
@{
    ViewBag.Title = "Equipo";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Equipo</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear' id='agregar' onclick="AltaEquipo()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                        </div>
                        <div class="table-responsive">
                            <table id="tablaEquipo" class="mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody id="tablaEquipo"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    var table;

    function AltaEquipo() {
        window.location.href = '/Equipo/AdministrarEquipo';
    }

    function EditaEquipo(button) {
        var id = table.row($(button).parents('tr')).data();

        location.href = '/Equipo/AdministrarEquipo?id=' + id.idEquipo;
    }

    function RecuperaEquipo(button) {
        var equipo = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'Post',
            url: '/Api/Equipo/RecuperarEquipo',
            dataType: "json",
            data: equipo,
            success: function (response) {
                if (response != false) {
                    var activo = false;
                    var url = "/Api/Equipo/ObtenerListaEquipo?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function EliminaEquipo(button) {
        var equipo = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Equipo/EliminarEquipo',
            dataType: "json",
            data: equipo,
            success: function (response) {
                if (response != false) {
                    var activo = true;
                    var url = "/Api/Equipo/ObtenerListaEquipo?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
                else {
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })

    }

    function CambioCboxEliminados() {
        if ($('#cboxMostrarEliminados').prop('checked') == true) {
            //si el checkbox esta tildado, significa que quiero los equipos eliminadas
            var activo = false;
            var url = "/Api/Equipo/ObtenerListaEquipo?activo=" + activo;
            table.ajax.url(url).load(mostrarRecuperar);
        }
        else {
            //si el checkbox no esta tildado, significa que quiero los equipos activas
            var activo = true;
            var url = "/Api/Equipo/ObtenerListaEquipo?activo=" + activo;
            table.ajax.url(url).load(mostrarAltaEditar);
        }
    }

    function mostrarRecuperar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "none");
        $('.imageButtonEliminar').css("display", "none");
        $('.imageButtonRecuperar').css("display", "inline");
    }

    function mostrarAltaEditar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "inline");
        $('.imageButtonEliminar').css("display", "inline");
        $('.imageButtonRecuperar').css("display", "none");
    }

    function CrearTabla(activo) {

        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#tablaEquipo').DataTable({
            "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "order": [[1, "asc"]],
            "ajax": "/Api/Equipo/ObtenerListaEquipo?activo=" + activo,
            "columns": [
                { "data": 'idEquipo', 'visible': false },
                { "data": 'nombreEquipo' },
                { "data": 'estadoEquipo.nombreEstadoEquipo' },
                {
                    "defaultContent": "<input type='image' class='imageButtonEditar' onclick='EditaEquipo(this);' src = '/fonts/Icons/edit.png'><input type='image' class='imageButtonEliminar' onclick='EliminaEquipo(this);' src = '/fonts/Icons/remove.png'><input type='image' class='imageButtonRecuperar' onclick='RecuperaEquipo(this);' src = '/fonts/Icons/recuperar.png'>", "width": 10
                }
            ],
            "language": idiomaEspanol
        });

    }

    (function () {


        var idItem = '#EquipoSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        var activo = true;

        CrearTabla(activo);

    })();
</script>
