﻿
@{
    ViewBag.Title = "AdministrarRelacion";
}


<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Relacion de Automatismo</b></h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertRelacionAutomatismo"></div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Automatismo</label>                                       
                                        <select class="select2" id="selectAutomatismo"></select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tipo Equipo</label>
                                        <select class="select2 " id="selectTipoEquipo" onchange="ObtenerListaLugar(-1)" ></select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group lugar">
                                        <label>Lugar</label>
                                        <br />
                                        <select class="select2 " id="selectLugar" onchange="ObtenerListaEquipo(-1)" ></select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Equipo</label>
                                        <select class="select2 " id="selectEquipo" data-placeholder="Seleccione los tipos de Equipo" multiple></select>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-success pull-center" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-info pull-center" onclick="GuardarRelacion()">Guardar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#AutomatismoSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectAutomatismo').select2({
            allowClear: true,
            width: '90%',
        });

        $('#selectTipoEquipo').select2({
            allowClear: true,
            width: '90%',
        });

        $('#selectLugar').select2({
            allowClear: true,
            width: '90%',
        });

        $('#selectEquipo').select2({
            allowClear: true,
            width: '90%',
        });


        CrearOEditar();

    })();

    var edito = 0;

    function CrearOEditar() {
        var idAutAutoRelacion = getUrlVars()["id"];
        if (idAutAutoRelacion != undefined) {
            edito = 1;
            $.ajax({
                type: 'Get',
                url: '/Api/Automatismo/ConsultarUnAutomatismoRelacion?idAutAutoRelacion=' + idAutAutoRelacion,
                dataType: "json",
                data: idAutAutoRelacion,
                success: function (relacion) {
                    ObtenerListaAutomatismos(relacion.idAutomatismo);
                    ObtenerListaTipoEquipo(relacion.idTipoEquipo);
                    ObtenerListaLugar(relacion.idLugar);
                    ObtenerListaEquipo(relacion.idEquipo);
                }
            })
        }
        else {
            var id = -1
            ObtenerListaAutomatismos(id);
            ObtenerListaTipoEquipo(id);
        }

    }

    function volver() {
        window.location.href = "/Automatismo/RelacionEquipoYEstacion";
    }

    function GuardarRelacion() {
        if (validarRelacion()) {
            var idAutoAutomRelacion = getUrlVars()["id"];
            var relacion = new Object();
            relacion.idAutoAutomRelacion = $("#idAutoAutomRelacion").val();
            relacion.idAutomatismo = $('#selectAutomatismo').val();
            relacion.idTipoEquipo = $('#selectTipoEquipo').val();
            relacion.idLugar = $('#selectLugar').val();
            relacion.listaEquipos = $('#selectEquipo').val();
            relacion.idEquipo = $('#selectEquipo').val();
             
            if (idAutoAutomRelacion != undefined) {
                relacion.idAutoAutomRelacion = idAutoAutomRelacion;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Automatismo/ModificarAutomatismoRelacion',
                    dataType: "json",
                    data: relacion,
                    success: function (codigo) {
                        if (codigo == 300) {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Como esta modificando solmente tiene que <b>Seleccionar un solo Equipo.</b></span>" +
                                "</div>";
                            $('#alertRelacionAutomatismo').clearQueue();
                            $('#alertRelacionAutomatismo').append(alert);
                            $(".alert").delay(4000).slideUp(200, function () {
                                $(this).alert('close');
                            });
                            $("#selectEquipo").focus();

                        } else if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertRelacionAutomatismo').clearQueue();
                            $('#alertRelacionAutomatismo').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Automatismo/AltaAutomatismoRelacion',
                    dataType: "json",
                    data: relacion,
                    success: function (codigo) {
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertRelacionAutomatismo').clearQueue();
                            $('#alertRelacionAutomatismo').append(alert);
                        }

                    }
                })
            }


        }
    }

    function validarRelacion() {
       
        if ($("#selectAutomatismo").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun <b>Automatismo</b>.</span>" +
                "</div>";

            $('#alertRelacionAutomatismo').clearQueue();
            $('#alertRelacionAutomatismo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectAutomatismo").focus();
            return false;
        }

        if ($("#selectTipoEquipo").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun <b>Equipo</b>.</span>" +
                "</div>";

            $('#alertRelacionAutomatismo').clearQueue();
            $('#alertRelacionAutomatismo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectEquipo").focus();
            return false;
        }

        if ($("#selectLugar").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Estacion</b>.</span>" +
                "</div>";

            $('#alertRelacionAutomatismo').clearQueue();
            $('#alertRelacionAutomatismo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectLugar").focus();
            return false;
        }

        if ($("#selectEquipo").val() == null || $("#selectEquipo").val() == undefined || $("#selectEquipo").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun <b>Punto de Conexion</b>.</span>" +
                "</div>";

            $('#alertRelacionAutomatismo').clearQueue();
            $('#alertRelacionAutomatismo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectEquipo").focus();
            return false;
        }

        return true;
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }


    function ObtenerListaAutomatismos(idAutomatismo) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Automatismo/ObtenerAutomatismo?activo=' + true,
            dataType: "json",
            async: false,
            success: function (respuesta) {
                if (idAutomatismo == -1) {
                    $('#selectAutomatismo').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectAutomatismo').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idAutomatismo == result.idAutomatismo) {
                        $('#selectAutomatismo').append($('<option selected>').val(result.idAutomatismo).text(result.nombreAutomatismo))
                    }
                    else {
                        $('#selectAutomatismo').append($('<option>').val(result.idAutomatismo).text(result.nombreAutomatismo))
                    }
                });
            }
        })

    }

    function ObtenerListaTipoEquipo(idTipoEquipo) {
        $('#selectTipoEquipo').empty();
        $('#selectLugar').empty();
        $('#selectEquipo').empty();
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Automatismo/ObtenerListaTipoEquipo?activo=' + activo,
            dataType: "json",
            async: false,
            success: function (respuesta) {
                if (idTipoEquipo == -1) {
                    $('#selectTipoEquipo').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectTipoEquipo').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTipoEquipo == result.idEquipo) {
                        $('#selectTipoEquipo').append($('<option selected>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                    else {
                        $('#selectTipoEquipo').append($('<option>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                });
            }
        })
    }

    function ObtenerListaLugar(idLugar) {
        $('#selectLugar').empty();
        $('#selectEquipo').empty();

         
            var idTipoEquipo = $('#selectTipoEquipo').val();
            $.ajax({
                type: 'Get',
                url: '/Api/Automatismo/ObtenerListaDeLugar?idTipoEquipo=' + idTipoEquipo,
                dataType: "json",
                async: false,
                success: function (respuesta) {
                    if (idLugar == -1) {
                        $('#selectLugar').append($('<option selected>').val(-1).text("Seleccione una opción"))
                    }
                    else {
                        $('#selectLugar').append($('<option>').val(-1).text("Seleccione una opción"))
                    }
                    $.each(respuesta, function (index, result) {
                        if (idLugar == result.idLugar) {
                            $('#selectLugar').append($('<option selected>').val(result.idLugar).text(result.nombreLugar))
                        }
                        else {
                            $('#selectLugar').append($('<option>').val(result.idLugar).text(result.nombreLugar))
                        }
                    });
                }
            })
        
    }


    function ObtenerListaEquipo(idEquipo) {
        $('#selectEquipo').empty();

        var idTipoEquipo = $('#selectTipoEquipo').val();
        var idLugar = $('#selectLugar').val();

            $.ajax({
                type: 'Get',
                url: '/Api/Automatismo/ObtenerListaDeEquipo?idTipoEquipo=' + idTipoEquipo + "&idLugar=" + idLugar,
                dataType: "json",
                async: false,
                success: function (respuesta) {
                    $.each(respuesta, function (index, result) {
                        if (idEquipo == result.idEquipo) {
                            $('#selectEquipo').append($('<option selected>').val(result.idEquipo).text(result.nombreEquipo))
                        }
                        else {
                            $('#selectEquipo').append($('<option>').val(result.idEquipo).text(result.nombreEquipo))
                        }
                    });
                }
            })
    }

</script>




