﻿
@{
    ViewBag.Title = "AdministrarAutomatismo";
}


<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Automatismo</b></h4>
                        <p class="card-category">Complete los datos del Automatismo.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertAutomatismo"></div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre Automatismo</label>
                                        <input type="text" class="form-control" id="nombreAutomatismo" maxlength="20">
                                    </div>
                                </div>

                                @*<div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Equipo</label>
                                            <br />
                                            <select class="select2 ObtenerListaEquipo " id="selectEquipo" ></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estacion</label>
                                        <select class="select2 ObtenerListaEstacion" id="selectEstacion"></select>
                                    </div>
                                </div>*@

                            </div>

                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-success pull-center" onclick="GuardarAutomatismo()">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#AutomatismoSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectEquipo').select2({
            allowClear: false,
            width: '90%',

        });

        $('#selectEstacion').select2({
            allowClear: true,
            width: '90%',
        });

        CrearOEditar();

    })();

    function volver() {
        window.location.href = '/Automatismo/Automatismo';
    }
    
    function CrearOEditar() {
        var idAutomatismo = GetUrlVars()["id"];
        if (idAutomatismo != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Automatismo/ConsultarUnAutomatismo?idAutomatismo=' + idAutomatismo,
                dataType: "json",
                data: idAutomatismo,
                success: function (automatismo) {
                     
                    $('#nombreAutomatismo').val(automatismo.nombreAutomatismo);

                    //var idEquipo = automatismo.equipo.idEquipo;
                   // ObtenerListaEquipo(idEquipo);

                    //var idEstacion = automatismo.estacion.idEstacion;
                    //ObtenerListaEstacion(idEstacion);

                }
            })
        }
        else {
            var id = -1;
            ObtenerListaEquipo(id);
            ObtenerListaEstacion(id)
        }

    }
    
    function GuardarAutomatismo() {
        if (ValidarAutomatismo()) {
            var idAutomatismo = GetUrlVars()["id"];
            var automatismo = new Object();
            automatismo.idAutomatismo = $("#idAutomatismo").val();
            automatismo.nombreAutomatismo = $("#nombreAutomatismo").val();

            var equipo = new Object();
            equipo.idEquipo = $('#selectEquipo').val();
            equipo.nombreEquipo = $('#selectEquipo option:selected').val();
            automatismo.equipo = equipo;

            var estacion = new Object();
            estacion.idEstacion = $('#selectEstacion').val();
            estacion.nombreEstacion = $('#selectEstacion option:selected').val();
            automatismo.estacion = estacion;

            if (idAutomatismo != undefined) {
                automatismo.idAutomatismo = idAutomatismo;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Automatismo/ModificarAutomatismo',
                    dataType: "json",
                    data: automatismo,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertAutomatismo').clearQueue();
                            $('#alertAutomatismo').append(alert);
                        }
                    }
                })
            } else {
                console.log("entro al else")
                $.ajax({
                    type: 'Post',
                    url: '/Api/Automatismo/AltaAutomatismo',
                    dataType: "json",
                    data: automatismo,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 300) {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>El Automatismo que intenta guardar ya existe.</span>" +
                                "</div>";

                            $('#alertAutomatismo').clearQueue();
                            $('#alertAutomatismo').append(alert);
                        }
                        else {
                            console.log(codigo)
                            if (codigo == 200) {
                                volver();
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertAutomatismo').clearQueue();
                                $('#alertAutomatismo').append(alert);
                            }
                        }
                    }
                })
            }


        }
    }

    function ValidarAutomatismo() {

        if ($("#nombreAutomatismo").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Nombre del automatismo</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertAutomatismo').clearQueue();
            $('#alertAutomatismo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombreAutomatismo").focus();
            return false;
        }


        if ($("#selectEquipo").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Equipo</b>.</span>" +
                "</div>";

            $('#alertAutomatismo').clearQueue();
            $('#alertAutomatismo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectEquipo").focus();
            return false;
        }

        if ($("#selectEstacion").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Estacion</b>.</span>" +
                "</div>";

            $('#alertAutomatismo').clearQueue();
            $('#alertAutomatismo').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectEstacion").focus();
            return false;
        }


        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    

   
    function ObtenerListaEquipo(idEquipo) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Equipo/ObtenerListaEquipo?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idEquipo == -1) {
                    $('#selectEquipo').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectEquipo').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idEquipo == result.idEquipo) {
                        $('#selectEquipo').append($('<option selected>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                    else {
                        $('#selectEquipo').append($('<option>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                });
            }
        })

    }

    function ObtenerListaEstacion(idEstacion) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Estacion/ObtenerListaEstacion?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idEstacion == -1) {
                    $('#selectEstacion').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectEstacion').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idEstacion == result.idEstacion) {
                        $('#selectEstacion').append($('<option selected>').val(result.idEstacion).text(result.nombreEstacion))
                    }
                    else {
                        $('#selectEstacion').append($('<option>').val(result.idEstacion).text(result.nombreEstacion))
                    }
                });
            }
        })

    }



</script>

