﻿
@{
    ViewBag.Title = "ActuacionTipo";
}
@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Tipo Actuacion</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaTipoActuacion()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-md-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                                </div>
                                <span class="input-group-text">Mostrar solo Eliminados</span>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn botonTabla" style="background-color:#009900" onclick="Actuacion()">Volver</button>
                        </div>
                        <div class="table-responsive">
                            <table id="tablaTipoActuacion" class="mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre tipo actuacion </th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var activo = true;
    var tienePermisoEliminar = '@permisoEliminacion';
    var tienePermisoEdicion = '@permisoEditar';

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
    var table;

    function permisoAgregar() {
        if (tienePermisoEdicion == "True") {
            $('.permisoAgregar').show();
            $('.permisoAgregar').css('display', 'display');
        }
    }

    function AltaTipoActuacion() {
        window.location.href = '/Actuacion/AdministraTipoActuacion';
    }

    function EditaTipoActuacion(button) {
        var id = table.row($(button).parents('tr')).data();
        location.href = '/Actuacion/AdministraTipoActuacion?id=' + id.idTipoActuacion;
    }

    function Actuacion() {
        location.href = "/Actuacion/Actuacion";
    }

    function RecuperaTipoActuacion(button) {
        var actuacion = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Actuacion/RecuperarTipoActuacion',
            dataType: "json",
            data: actuacion,
            success: function (response) {
                if (response != false) {
                    var activo = false;
                    var url = "/Api/Actuacion/ObtenerTipoActuacion?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function EliminaTipoActuacion(button) {
        var actuacion = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Actuacion/EliminarTipoActuacion',
            dataType: "json",
            data: actuacion,
            success: function (response) {
                if (response != false) {
                    var activo = true;
                    var url = "/Api/Actuacion/ObtenerTipoActuacion?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
                else {
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })

    }

    function CambioCboxEliminados() {
        if ($('#cboxMostrarEliminados').prop('checked') == true) {
            var activo = false;
            var url = "/Api/Actuacion/ObtenerTipoActuacion?activo=" + activo;
            table.ajax.url(url).load(mostrarRecuperar);
        }
        else {
            var activo = true;
            var url = "/Api/Actuacion/ObtenerTipoActuacion?activo=" + activo;
            table.ajax.url(url).load(mostrarAltaEditar);
        }
    }

    function mostrarRecuperar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "none");
        $('.imageButtonEliminar').css("display", "none");
        $('.imageButtonRecuperar').css("display", "inline");
    }

    function mostrarAltaEditar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "inline");
        $('.imageButtonEliminar').css("display", "inline");
        $('.imageButtonRecuperar').css("display", "none");
    }

    function CrearTabla() {
        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#tablaTipoActuacion').DataTable({
            "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "order": [[2, "asc"]],
            "ajax": "/Api/Actuacion/ObtenerTipoActuacion?activo=" + activo,
            "columns": [
                { data: 'idTipoActuacion', 'visible': false },
                { data: "nombreTipoActuacion", "width": 100, "className": "text-left" },
                {
                    "data": 'activo',
                    "render": function (data) {
                        if (data) {
                            var botones = " ";
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditaTipoActuacion(this);' src = '/fonts/Icons/edit.png'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaTipoActuacion(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        } else {
                            var recuperar = " ";
                            if (tienePermisoEdicion == "True" && tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonRecuperar' onclick='RecuperaTipoActuacion(this);' src = '/fonts/Icons/recuperar.png'>"
                            }
                            return recuperar
                        }
                    },
                    "width": 10,
                },
            ],
            "language": idiomaEspanol
        });

    }

    (function () {

        var idItem = '#ActuacionesSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        var activo = true;
        CrearTabla(activo);
        permisoAgregar();
    })();
</script>

