﻿
@{
    ViewBag.Title = "AdministraActuacionTipoYEquipo";
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Actuaciones Tipo y Equipo</b></h4>
                        <p class="card-category">Complete los datos del Actuaciones.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTipoActuacion"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <br />
                                        <select class="select2 ObtenerListaActuacion" id="selectActuacion"></select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        <br />
                                        <select class="select2 ObtenerListaTipo"  id="selectTipo" data-placeholder="Seleccione los tipos" multiple ></select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Equipo</label>
                                        <br />
                                        <select class="select2 ObtenerListaEquipo" id="selectEquipo"></select>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-success pull-center" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-info pull-center" onclick="GuardarUsuarioRol()">Guardar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#ActuacionesSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);


        $('#selectEquipo').select2({
            allowClear: true,
            width: '90%',
        });

        $('#selectTipo').select2({
            allowClear: true,
            width: '90%',
        });

        $('#selectActuacion').select2({
            allowClear: true,
            width: '90%',
        });


        CrearOEditar();

    })();


    function CrearOEditar() {
        var idActuacion = getUrlVars()["id"];
        if (idActuacion != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Actuacion/ConsultarUnActuacion?idActuacion=' + idActuacion,
                dataType: "json",
                data: idActuacion,
                success: function (actuacion) {
                    $('#nombreTipoActuacion').val(actuacion.nombreActuacion);

                    var idEquipo = actuacion.equipo.idEquipo;
                    ObtenerListaEquipo(idEquipo);

                    var idTipo = actuacion.tipoActuacion.idTipoActuacion;
                    ObtenerListaTipo(idTipo);
                }
            })
        }
        else {
            var id = -1
            ObtenerListaEquipo(id);
            ObtenerListaTipo(id);
            ObtenerListaActuacion(id);
        }

    }

    function volver() {
        window.location.href = "/Actuacion/Actuacion";
    }

    function GuardarUsuarioRol() {
        if (validarUsuarioRol()) {
            var actuacion = new Object();
            actuacion.idActuacionEstado = $("#selectActuacion").val();
            actuacion.listaTipoActuacion = $('#selectTipo').val();
            var equipo = new Object();
            equipo.idEquipo = $('#selectEquipo').val();
            actuacion.equipo = equipo;

                $.ajax({
                    type: 'Post',
                    url: '/Api/Actuacion/AltaActuacionTipoYEquipo',
                    dataType: "json",
                    data: actuacion,
                    success: function (codigo) {
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Debe seleccionar alguna <b>Tipo</b>.</span>" +
                                "</div>";

                            $('#alertTipoActuacion').clearQueue();
                            $('#alertTipoActuacion').append(alert);
                            $(".alert").delay(4000).slideUp(200, function () {
                                $(this).alert('close');
                            });
                            $("#selectTipo").focus();
                        }

                    }
                })
            
        }
    }

    function validarUsuarioRol() {

        if ($("#selectActuacion").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Actuacion</b>.</span>" +
                "</div>";

            $('#alertTipoActuacion').clearQueue();
            $('#alertTipoActuacion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectActuacion").focus();
            return false;
        }

        
        if ($("#selectEquipo").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Equipo</b>.</span>" +
                "</div>";

            $('#alertTipoActuacion').clearQueue();
            $('#alertTipoActuacion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectEquipo").focus();
            return false;
        }

        return true;
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function ObtenerListaActuacion(idActuacion) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Actuacion/ObtenerActuacion?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idActuacion == -1) {
                    $('#selectActuacion').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectActuacion').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idActuacion == result.idActuacion) {
                        $('#selectActuacion').append($('<option selected>').val(result.idActuacion).text(result.nombreActuacion))
                    }
                    else {
                        $('#selectActuacion').append($('<option>').val(result.idActuacion).text(result.nombreActuacion))
                    }
                });
            }
        })

    }



    function ObtenerListaEquipo(idTipoEquipo) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Actuacion/ObtenerListaEquipo?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idTipoEquipo == -1) {
                    $('#selectEquipo').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectEquipo').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTipoEquipo == result.idEquipo) {
                        $('#selectEquipo').append($('<option selected>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                    else {
                        $('#selectEquipo').append($('<option>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                });
            }
        })

    }

    function ObtenerListaTipo(idTipo) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Actuacion/ObtenerTipoActuacion?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {               
                $.each(respuesta.data, function (index, result) {
                    if (idTipo == result.idTipoActuacion) {
                        $('#selectTipo').append($('<option selected>').val(result.idTipoActuacion).text(result.nombreTipoActuacion))
                    }
                    else {
                        $('#selectTipo').append($('<option>').val(result.idTipoActuacion).text(result.nombreTipoActuacion))
                    }
                });
            }
        })

    }

</script>


