﻿
@{
    ViewBag.Title = "AdministraActuaciones";
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Actuaciones</b></h4>
                        <p class="card-category">Complete los datos del Actuaciones.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTipoActuacion"></div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input type="text" class="form-control" id="nombreTipoActuacion" maxlength="30">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <br />
                                        <select class="select2 ObtenerListaEstado" id="selectEstado"></select>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <br />
                                    <input type="button" class="btn btn-success pull-center" onclick="volver()" value="Volver">
                                    <button type="button" class="btn btn-info pull-center" onclick="GuardarTipoActuacion()">Guardar</button>
                                </div>

                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#ActuacionesSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectEstado').select2({
            allowClear: true,
            width: '90%',
        });

        CrearOEditar();

    })();


    function CrearOEditar() {
        var idActuacion = getUrlVars()["id"];
        if (idActuacion != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Actuacion/ConsultarUnaActuaciones?idActuacion=' + idActuacion,
                dataType: "json",
                data: idActuacion,
                success: function (actuacion) {
                     
                    $('#nombreTipoActuacion').val(actuacion.nombreActuacion);

                    var idEstado = actuacion.idTipoActuacionEstado;
                    ObtenerListaEstado(idEstado);
                 
                }
            })
        }
        else {
            var id = -1
            ObtenerListaEstado(id);

        }

    }

    function volver() {
        window.location.href = "/Actuacion/Actuaciones";
    }

    function GuardarTipoActuacion() {
        if (validarTipoActuacion()) {
            var idActuacion = getUrlVars()["id"];
            var actuacion = new Object();
            actuacion.idActuacionEstado = $("#idTipoActuacion").val();
            actuacion.nombreTipoActuacion = $('#nombreTipoActuacion').val();
            actuacion.idTipoActuacionEstado = $('#selectEstado').val();

            if (idActuacion != undefined) {
                actuacion.idTipoActuacion = idActuacion;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Actuacion/ModificarActuaciones',
                    dataType: "json",
                    data: actuacion,
                    success: function (codigo) {
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertTipoActuacion').clearQueue();
                            $('#alertTipoActuacion').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Actuacion/AltaActuacion',
                    dataType: "json",
                    data: actuacion,
                    success: function (codigo) {
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span><b>Actuacion existente.</b></span>" +
                                    "</div>";

                                $('#alertTipoActuacion').clearQueue();
                                $('#alertTipoActuacion').append(alert);
                            } else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertTipoActuacion').clearQueue();
                                $('#alertTipoActuacion').append(alert);
                            }
                        }

                    }
                })
            }


        }
    }

    function validarTipoActuacion() {
        if ($("#nombreTipoActuacion").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> Nombre </b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertTipoActuacion').clearQueue();
            $('#alertTipoActuacion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombreTipoActuacion").focus();
            return false;
        }

        if ($("#selectEstado").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Estado</b>.</span>" +
                "</div>";

            $('#alertTipoActuacion').clearQueue();
            $('#alertTipoActuacion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectEstado").focus();
            return false;
        }

        return true;
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }


    function ObtenerListaEstado(idTipoActuacionEstado) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Actuacion/ObtenerListaActuacionTipoEstado?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idTipoActuacionEstado == -1) {
                    $('#selectEstado').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectEstado').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTipoActuacionEstado == result.idTipoActuacionEstado) {
                        $('#selectEstado').append($('<option selected>').val(result.idTipoActuacionEstado).text(result.nombreTipoActuacionEstado))
                    }
                    else {
                        $('#selectEstado').append($('<option>').val(result.idTipoActuacionEstado).text(result.nombreTipoActuacionEstado))
                    }
                });
            }
        })

    }
  
</script>

