﻿
@{
    ViewBag.Title = "Administrar Central";
}
@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />

<div class="content" style="left:150px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Central</b></h4>
                        <p class="card-category">Complete los datos del Central.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertCentral"></div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre Central</label>
                                        <input type="text" class="form-control" id="nombreCentral" maxlength="20">
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Centro de control</label>
                                        <select class="select2" id="selectControl"></select>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Tipo Central</label>
                                            <br />
                                            <select class="select2" id="selectTipoCentral"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Telefono</label>
                                        <input type="text" class="form-control" id="telefono" maxlength="20">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                    <button type="button" class="btn btn-success pull-center" onclick="GuardarCentral()">Guardar</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#CentralSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectControl').select2({
            allowClear: false,
            width: '90%',

        });

        $('#selectTipoCentral').select2({
            allowClear: true,
            width: '90%',
        });

        CrearOEditar();


    })();


            function volver() {
                window.location.href = '/Central/Central';
            }


    function CrearOEditar() {
        var idCentral = GetUrlVars()["id"];
        if (idCentral != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Central/ConsultarUnaCentral?idCentro=' + idCentral,
                dataType: "json",
                data: idCentral,
                success: function (central) {
                    $('#nombreCentral').val(central.nombreCentral);
                    $('#telefono').val(central.telefono);

                   
                    var idCentroControl = central.idCentroControl;
                    ObtenerListaCentroControl(idCentroControl);

                    var idTipoCentral = central.idTipoCentral;
                    ObtenerListaCentral(idTipoCentral);
                }
            })
        }
        else {
            var idCentroControl = -1
            ObtenerListaCentroControl(idCentroControl);

            var idTipoCentral = -1
            ObtenerListaCentral(idTipoCentral);

        }

            }


    function GuardarCentral() {
        if (ValidarCentral()) {
            var idCentral = GetUrlVars()["id"];
            var central = new Object();
            central.idCentral = $("#idCentral").val();
            central.nombreCentral = $("#nombreCentral").val();
            central.telefono = $("#telefono").val();
            central.nombresuario = "@nombreUsuario";
            central.idTipoCentral = $('#selectTipoCentral').val();

            var centroControl = new Object();
            centroControl.idCentroControl = $('#selectControl').val();
            central.centroControl = centroControl;


            if (idCentral != undefined) {
                central.idCentral = idCentral;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Central/ModificarCentral',
                    dataType: "json",
                    data: central,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 200) {
                            window.location.href = '/Central/Central';
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertCentral').clearQueue();
                            $('#alertCentral').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Central/AltaCentral',
                    dataType: "json",
                    data: central,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);

                        if (codigo == 200) {
                            window.location.href = '/Central/Central';
                        }
                        else {
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span><b>Central existente.</b></span>" +
                                    "</div>";

                                $('#alertCentral').clearQueue();
                                $('#alertCentral').append(alert);
                            } else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertCentral').clearQueue();
                                $('#alertCentral').append(alert);
                            }
                        }

                    }
                })
            }


        }
    }

    function ValidarCentral() {

        if ($("#nombreCentral").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Nombre</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertCentral').clearQueue();
            $('#alertCentral').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombreCentral").focus();
            return false;
        }


        if ($("#selectControl").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun <b>Centro de Control</b>.</span>" +
                "</div>";

            $('#alertCentral').clearQueue();
            $('#alertCentral').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectControl").focus();
            return false;
        }

        if ($("#selectTipoCentral").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun <b>Tipo Central</b>.</span>" +
                "</div>";

            $('#alertCentral').clearQueue();
            $('#alertCentral').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectTipoCentral").focus();
            return false;
        }

        if ($("#telefono").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Telefono</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertCentral').clearQueue();
            $('#alertCentral').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#telefono").focus();
            return false;
        }

        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function ObtenerListaCentral(idTipoCentral) {

        if (idTipoCentral == -1) {
        $('#selectTipoCentral').append($('<option selected>').val(-1).text("Seleccione una opción"))
         }

        if (idTipoCentral == 1) {
            $('#selectTipoCentral').append($('<option selected>').val(1).text("Central Hidroeléctrica"))
        }
        else {
            $('#selectTipoCentral').append($('<option>').val(1).text("Central Hidroeléctrica"))
        }


        if (idTipoCentral == 2) {
            $('#selectTipoCentral').append($('<option selected>').val(2).text("Central Térmica"))
        }
        else {
            $('#selectTipoCentral').append($('<option>').val(2).text("Central Térmica"))
        }


        if (idTipoCentral == 3) {
            $('#selectTipoCentral').append($('<option selected>').val(3).text("Parque Solar Fotovoltaico"))
        }
        else {
            $('#selectTipoCentral').append($('<option>').val(3).text("Parque Solar Fotovoltaico"))
        }

    }

    function ObtenerListaCentroControl(idCentroControl) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/CentroControl/ObtenerCentroControl?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idCentroControl == -1) {
                    $('#selectControl').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectControl').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idCentroControl == result.idCentroControl) {
                        $('#selectControl').append($('<option selected>').val(result.idCentroControl).text(result.nombreCentroControl))
                    }
                    else {
                        $('#selectControl').append($('<option>').val(result.idCentroControl).text(result.nombreCentroControl))
                    }
                });
            }
        })

    }


        </script>
