﻿@{
    ViewBag.Title = "Central";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Central</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaCentral()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                        </div>
                        <div class="table-responsive">
                            <table id="tableCentral" class="mdl-data-table" style="width:100%" align=left>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre Central</th>
                                        <th>Nombre Centro Control</th>
                                        <th>¿Tiene Generador?</th>
                                        <th>Telefono</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tablaCentralbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
            var activo = true;
            var tienePermisoEliminar = '@permisoEliminacion';
            var tienePermisoEdicion = '@permisoEditar';

            $(window).on("load", function () {
                $(".loader-wrapper").fadeOut("slow");
            });

            var table;

            function permisoAgregar() {
                if (tienePermisoEdicion == "True") {
                    $('.permisoAgregar').show();
                    $('.permisoAgregar').css('display', 'display');
                }
            }


            function AltaCentral() {
                window.location.href = '/Central/AdministrarCentral';
            }

            function EditaCentral(button) {
                var id = table.row($(button).parents('tr')).data();
                location.href = '/Central/AdministrarCentral?id=' + id.idCentral;
            }

            function RecuperaCentral(button) {
                var central = table.row($(button).parents('tr')).data();
                $.ajax({
                    type: 'POST',
                    url: '/Api/Central/RecuperarCentral',
                    dataType: "json",
                    data: central,
                    success: function (response) {
                        if (response != false) {
                            var activo = false;
                            var url = "/Api/Central/ObtenerListaCentrales?activo=" + activo;
                            table.ajax.url(url).load(mostrarRecuperar);
                        }
                        else {
                            console.log("error");
                        }
                    },
                    error: function (jqxhr) {
                        console.log("error");
                    }
                })
            }

            function EliminaCentral(button) {

                var central = table.row($(button).parents('tr')).data();
                $.ajax({
                    type: 'POST',
                    url: '/Api/Central/EliminarCentral',
                    dataType: "json",
                    data: central,
                    success: function (response) {
                        if (response != false) {
                            var activo = true;
                            var url = "/Api/Central/ObtenerListaCentrales?activo=" + activo;
                            table.ajax.url(url).load(mostrarAltaEditar);
                        }
                        else {
                            console.log("error");
                        }
                    },
                    error: function (jqxhr) {
                        console.log("error");
                    }
                })
            }

            function CambioCboxEliminados() {
                if ($('#cboxMostrarEliminados').prop('checked') == true) {

                    var activo = false;
                    var url = "/Api/Central/ObtenerListaCentrales?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    //si el checkbox no esta tildado, significa que quiero las centrales activas
                    var activo = true;
                    var url = "/Api/Central/ObtenerListaCentrales?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
            }

            function mostrarRecuperar() {
                // css("propertyname", "value");
                $('.imageButtonEditar').css("display", "none");
                $('.imageButtonEliminar').css("display", "none");
                $('.imageButtonRecuperar').css("display", "inline");
            }

            function mostrarAltaEditar() {
                // css("propertyname", "value");
                $('.imageButtonEditar').css("display", "inline");
                $('.imageButtonEliminar').css("display", "inline");
                $('.imageButtonRecuperar').css("display", "none");
            }

            function ObtenerUrlCentral() {
                var url;
                url = "/Api/Central/TablaCentrales";
                url += "?activo=" + activo;
                return url;
            }

            function CrearTabla() {


                var idiomaEspanol = {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla.",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }

                table = $('#tableCentral').DataTable({
                    "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "order": [[2, "asc"]],
                    "ajax": "/Api/Central/ObtenerListaCentrales?activo=" + activo,
                    "columns": [
                        { data: "idCentral", visible: false },
                        { data: "nombreCentral", "className": "text-left" },
                        { data: "centroControl.nombreCentroControl", "className": "text-left" },
                        { data: "propiedadGenerador", "className": "text-left" },
                        { data: "telefono", "className": "text-left" },
                        {

                            "data": 'activo',
                            "render": function (data) {
                                if (data) {
                                    var botones = " ";
                                    if (tienePermisoEdicion == "True") {
                                        botones += "<input type='image' class='imageButtonEditar' onclick='EditaCentral(this);' src = '/fonts/Icons/edit.png'>"
                                    }
                                    if (tienePermisoEliminar == "True") {
                                        botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaCentral(this);' src = '/fonts/Icons/remove.png'>"
                                    }
                                    return botones
                                } else {
                                    var recuperar = " ";
                                    if (tienePermisoEdicion == "True" && tienePermisoEliminar == "True") {
                                        recuperar += "<input type='image' class='imageButtonRecuperar' onclick='RecuperaCentral(this);' src = '/fonts/Icons/recuperar.png'>"
                                    }
                                    return recuperar
                                }
                            },
                            "width": 10,


                        },
                    ],
                    "language": idiomaEspanol
                });


                /*
                var url = ObtenerUrlCentral();
                table = $('#tableCentral').DataTable({
                    dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-3'i><'col-sm-8'p><'col-sm-1'l>>",
                    scrollX: false,
                    order: [3, "desc"],
                    ajax: {
                        url: url,
                        type: "POST",
                        datatype: "json"
                    },
                    processing: true,
                    serverSide: true,
                    language: { url: '/DataTable/js/spanish.json' },
                    stateSave: true,
                    filter: true,
                    columns: [
                        { data: "nombreCentral", "className": "text-left" },
                        { data: "centroControl.nombreCentroControl", "className": "text-left" },
                        { data: "nombreTipoCentral", "className": "text-left" },
                        { data: "propiedadGenerador", "className": "text-left" },

                        {
                            "defaultContent": "<input type='image' class='imageButtonEditar' onclick='EditaCentral(this);' src = '/fonts/Icons/edit.png'><input type='image' class='imageButtonEliminar' onclick='EliminaCentral(this);' src = '/fonts/Icons/remove.png'><input type='image' class='imageButtonRecuperar' onclick='RecuperaCentral(this);' src = '/fonts/Icons/recuperar.png'>", "width": 10
                        },
                    ],

                });
                */

            }

            (function () {


                var idItem = '#CentralSideBar';

                setTimeout(function () {
                    ActivarItem(idItem);
                }, 1000);

                var activo = true;
                CrearTabla(activo);
                permisoAgregar();
            })();
</script>

