﻿
@{
    ViewBag.Title = "Administrar Línea";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Línea</b></h4>
                        <p class="card-category">Complete los datos de la Línea.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertLinea"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tipo de Linea</label>
                                        <br />
                                        <select id="tipolinea" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Propiedad</label>
                                        <br />
                                        <select id="propiedad" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tensión</label>
                                        <br />
                                        <select id="tensionLinea" class="form-control" onchange="mostrarRemuneracion()"></select>
                                    </div>
                                </div>
                                <div class="col-md-2 remuneracion">
                                    <div class="form-group">
                                        <br />
                                        <label class="bmd-label-floating">¿Es remunerada?   </label>
                                        <input class="form-check-input " type="checkbox" id="esRemunerada" />

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Estación Origen</label>
                                        <br />
                                        <select id="estacionOrigen" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Estación Destino</label>
                                        <br />
                                        <select id="estacionDestino" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Número Terna</label>
                                        <br />
                                        <input type="number" class="form-control" id="nroTerna" placeholder="Ejemplo 1">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Kilometraje</label>
                                        <br />
                                        <input id="km" class="form-control" name="name" onkeypress="return soloNumeros(event)" placeholder="Ejemplo 10.5" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">ID Pagotran Cammesa</label>
                                        <br />
                                        <input type="number" class="form-control" id="idPagotranLinea">
                                    </div>
                                </div>
                                

                            </div>
                            <div class="row">                              
                                <div class="col float-lg-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                        <button type="button" class="btn  pull-center btn-success" onclick="GuardarLinea()">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    $('#propiedad').select2({
        allowClear: false,
    });

    $('#tipolinea').select2({
        allowClear: false,
    });

    $('#estacionOrigen').select2({
        allowClear: false,
    });

    $('#estacionDestino').select2({
        allowClear: false,
    });

    $('#tensionLinea').select2({
        allowClear: false,
    });



    (function () {
        var idItem = '#LineaSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);
        $('.remuneracion').css("display", "none");
        CrearOEditar();

    })();

    function volver() {
        window.location.href = "/Linea/Linea";
    }

    function mostrarRemuneracion() {
        var tension = $('#tensionLinea').val()
        if (tension == 4 || tension == 5) {
            $('.remuneracion').css("display", "inline");
        } else {
            $('.remuneracion').css("display", "none");
        }
    }

    function CrearOEditar() {
        var idLinea = GetUrlVars()["id"];

        if (idLinea != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Linea/ConsultarUnaLinea?idLinea=' + idLinea,
                dataType: "json",
                data: idLinea,
                success: function (respuesta) {
                    debugger;
                    $('#idPagotranLinea').val(respuesta.idPagotran);
                    $('#nroTerna').val(respuesta.nroTerna);
                    $('#km').val(respuesta.kilometraje);
                    $('#idBdeLinea').val(respuesta.idBde);
                    $('#tipolinea').val(respuesta.idTipoLinea);

                    if (respuesta.tension.idTension == 4 || respuesta.tension.idTension == 5) {
                        $('.remuneracion').css("display", "inline");
                    } else {
                        $('.remuneracion').css("display", "none");
                    }
                    if (respuesta.remunerada) {
                        $('#esRemunerada').prop('checked', true);
                    }

                    var idEstacionOrigen = respuesta.estacionOrigen.idEstacion;
                    var idEstacionDestino = respuesta.estacionDestino.idEstacion;
                    var idTension = respuesta.tension.idTension;
                    var idTipoLinea = respuesta.idTipoLinea;
                    var Propiedad = respuesta.idPropiedad;
                    console.log(Propiedad)

                    ObtenerListaEstacionOrigen(idEstacionOrigen);
                    ObtenerListaEstacionDestino(idEstacionDestino);
                    ObtenerListaTension(idTension);
                    ObtenerListaTipoLinea(idTipoLinea);
                    ObtenerPosesion(Propiedad)
                }
            })
        } else {
            var idEstacionOrigen = -1;
            var idEstacionDestino = -1;
            var idTension = -1;
            var idTipoLinea = -1;
            var idPropiedad = -1;

            ObtenerListaEstacionOrigen(idEstacionOrigen);
            ObtenerListaEstacionDestino(idEstacionDestino);
            ObtenerListaTension(idTension);
            ObtenerListaTipoLinea(idTipoLinea);
            ObtenerPosesion(idPropiedad)
        }
    }

    function GuardarLinea() {
        if (ValidarLinea()) {
            debugger;
            var idLinea = GetUrlVars()["id"];
            var linea = new Object();
            linea.nroTerna = $('#nroTerna').val();
            linea.kilometraje = $('#km').val();
            linea.nombresuario = "@nombreUsuario";
            linea.idPropiedad = $('#propiedad').val();
            linea.idTipoLinea = $('#tipolinea').val();

            linea.idEstacionOrigen = $("#estacionOrigen").val();
            linea.nombreEstacionOrigen = $("#estacionOrigen option:selected").text();

            linea.idEstacionDestino = $("#estacionDestino").val();
            linea.nombreEstacionDestino = $("#estacionDestino option:selected").text();

            linea.idTension = $("#tensionLinea").val();
            linea.tension = $("#tensionLinea option:selected").text();

            linea.idPagotran = $('#idPagotranLinea').val();
            linea.idBde = $('#idBdeLinea').val();

            if (linea.tension == 220 || linea.tension == 132 ) {
                var remunerada = document.getElementById('esRemunerada').checked;
                linea.remunerada = remunerada;
            } else {
                linea.remunerada = false;
            }
            

            if (idLinea != undefined) {
                linea.idLinea = idLinea;
                $.ajax({
                    type: 'Post',
                    url: '/Api/Linea/ModificarLinea',
                    dataType: "json",
                    data: linea,
                    success: function (codigo) {
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertLinea').clearQueue();
                            $('#alertLinea').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Linea/AltaLinea',
                    dataType: "json",
                    data: linea,
                    success: function (codigo) {
                        console.log(codigo)
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span><b>Linea Existente.</b></span>" +
                                    "</div>";

                                $('#alertLinea').clearQueue();
                                $('#alertLinea').append(alert);
                            } else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertLinea').clearQueue();
                                $('#alertLinea').append(alert);
                            }
                            
                        }
                    }
                })
            }
        }
    }

    function soloNumeros(e) {
        key = e.keyCode || e.which;
        teclado = String.fromCharCode(key);
        numeros = "0123456789";
        coma = ".";
        teclado_especial = false;
        
        if (numeros.indexOf(teclado) == -1 && coma.indexOf(teclado) == -1) {
            return false;
        }

    }

    function ValidarLinea() {

        if ($("#tipolinea").val() == -1 || $("#tipolinea").val() == undefined) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> tipo de linea </b> no puede estar vacio</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#tipolinea").focus();
            return false;
        }


        if ($("#propiedad").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>propiedad </b>.</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#propiedad").focus();
            return false;
        }

        if ($("#tensionLinea").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Tensión</b>.</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#tensionLinea").focus();
            return false;
        }



        if ($("#estacionOrigen").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Estación de Origen</b>.</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#estacionOrigen").focus();
            return false;
        }
        if ($("#estacionDestino").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Estación de Destino</b>.</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#estacionDestino").focus();
            return false;
        }

        if ($("#estacionOrigen").val() == $("#estacionDestino").val()) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>La <b> Estación de Origen </b> y la <b> Estación de Destino </b> no pueden ser las mismas.</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#estacionOrigen").focus();
            return false;
        }

        if ( $("#nroTerna").val() < 1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> numero de terna </b> no puede ser mayor de 3 o menor de 1.</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nroTerna").focus();
            return false;
        }

        /*
        if ($("#idPagotranLinea").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>ID Pagotran</b> no puede estar vacio.</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#idPagotranLinea").focus();
            return false;
        }*/

        
        if ($("#km").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span><b>Kilometraje</b> no puede estar vacio.</span>" +
                "</div>";

            $('#alertLinea').clearQueue();
            $('#alertLinea').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#km").focus();
            return false;
        }

        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function ObtenerListaEstacionOrigen(idEstacionOrigen) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Estacion/ObtenerListaEstacion?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idEstacionOrigen == -1) {
                    $('#estacionOrigen').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#estacionOrigen').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idEstacionOrigen == result.idEstacion) {
                        $('#estacionOrigen').append($('<option selected>').val(result.idEstacion).text(result.nombreEstacion))
                    }
                    else {
                        $('#estacionOrigen').append($('<option>').val(result.idEstacion).text(result.nombreEstacion))
                    }

                });
            }
        })
    }

    function ObtenerListaEstacionDestino(idEstacionDestino) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Estacion/ObtenerListaEstacion?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idEstacionDestino == -1) {
                    $('#estacionDestino').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#estacionDestino').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idEstacionDestino == result.idEstacion) {
                        $('#estacionDestino').append($('<option selected>').val(result.idEstacion).text(result.nombreEstacion))
                    }
                    else {
                        $('#estacionDestino').append($('<option>').val(result.idEstacion).text(result.nombreEstacion))
                    }

                });
            }
        })
    }


    function ObtenerListaTension(idTension) {
        $.ajax({
            type: 'Get',
            url: '/Api/Tension/TraerListaTension',
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idTension == -1) {
                    $('#tensionLinea').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#tensionLinea').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTension == result.idTension) {
                        $('#tensionLinea').append($('<option selected>').val(result.idTension).text(result.tension))
                    }
                    else {
                        $('#tensionLinea').append($('<option>').val(result.idTension).text(result.tension))
                    }

                });
            }
        })
    }

    function ObtenerListaTipoLinea(idTipoLinea) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Linea/ObtenerListaTipoLinea?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idTipoLinea == -1) {
                    $('#tipolinea').append($('<option selected>').val(-1).text("Seleccione una opcion"))
                } else {
                    $('#tipolinea').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTipoLinea == result.idTipoLinea) {
                        $('#tipolinea').append($('<option selected>').val(result.idTipoLinea).text(result.nombreTipoLinea))
                    }
                    else {
                        $('#tipolinea').append($('<option>').val(result.idTipoLinea).text(result.nombreTipoLinea))
                    }

                });
            }
        })
    }

    function ObtenerPosesion(idPropiedad) {
         
        $('#propiedad').empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Linea/ObtenerListaPropiedades',
            data: {},
            dataType: "json",
            success: function (respuesta) {
                if (idPropiedad == -1) {
                    $('#propiedad').append($('<option selected>').val(-1).text("Seleccione una opcion"))
                } else {
                    $('#propiedad').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                     
                    if (idPropiedad  == result.idPropiedad) {
                        $('#propiedad').append($('<option selected>').val(result.idPropiedad).text(result.PropiedadLinea))
                    }
                    else {
                        $('#propiedad').append($('<option>').val(result.idPropiedad).text(result.PropiedadLinea))
                    }

                });
            }
        })
    }

</script>
