﻿@{
    ViewBag.Title = "Línea";
}
@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Línea</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaLinea()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                        </div>
                        <div class="table-responsive">
                            <table id="tableLinea" class="mdl-data-table" style="width:100%" align=left>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Tipo Linea</th>
                                        <th>Propiedad</th>
                                        <th>KM</th>
                                        <th>Pagotran</th>
                                        <th>Tensión[kV]</th>
                                        <th>Remunerada</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var activo = true;

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    var table;
    var tienePermisoEliminar = '@permisoEliminacion';
    var tienePermisoEdicion = '@permisoEditar';

    function permisoAgregar() {
        if (tienePermisoEdicion == "True") {
            $('.permisoAgregar').show();
            $('.permisoAgregar').css('display', 'display');
        }
    }

    function AltaLinea() {
        window.location.href = '/Linea/AdministrarLinea';
    }

    function EditaLinea(button) {
        var id = table.row($(button).parents('tr')).data();
        location.href = '/Linea/AdministrarLinea?id=' + id.idLinea;
    }

    function RecuperaLinea(button) {
        var linea = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Linea/RecuperarLinea',
            dataType: "json",
            data: linea,
            success: function (response) {
                if (response != false) {
                    var activo = false;
                    var url = "/Api/Linea/ObtenerListaLinea?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function EliminaLinea(button) {

        var linea = table.row($(button).parents('tr')).data();
        var objLinea = { "idLinea": linea.idLinea, };
        $.ajax({
            type: 'PUT',
            url: '/Api/Linea/EliminarLinea',
            dataType: "json",
            data: objLinea,
            success: function (response) {
                if (response != false) {
                    var activo = true;
                    var url = "/Api/Linea/ObtenerListaLinea?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function CambioCboxEliminados() {
        if ($('#cboxMostrarEliminados').prop('checked') == true) {
            //si el checkbox esta tildado, significa que quiero las lineas eliminadas
            var activo = false;
            var url = "/Api/Linea/ObtenerListaLinea?activo=" + activo;
            table.ajax.url(url).load(mostrarRecuperar);
        }
        else {
            //si el checkbox no esta tildado, significa que quiero las lineas activas
            var activo = true;
            var url = "/Api/Linea/ObtenerListaLinea?activo=" + activo;
            table.ajax.url(url).load(mostrarAltaEditar);
        }
    }

    function mostrarRecuperar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "none");
        $('.imageButtonEliminar').css("display", "none");
        $('.imageButtonRecuperar').css("display", "inline");
    }

    function mostrarAltaEditar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "inline");
        $('.imageButtonEliminar').css("display", "inline");
        $('.imageButtonRecuperar').css("display", "none");
    }

    function ObtenerUrlLinea() {
        var url;
        url = "/Api/Linea/TablaLinea";
        url += "?activo=" + activo;
        return url;
    }



    function CrearTabla(activo) {

        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#tableLinea').DataTable({
            "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "order": [[2, "asc"]],
            "ajax": "/Api/Linea/ObtenerListaLinea?activo=" + activo,
            "columns": [
                { "data": 'idLinea', 'visible': false },
                { "data": 'nombreLinea', "className": "text-left", "width": 20 },
                { "data": 'tipoLinea.nombreTipoLinea', "className": "text-center" , "width": 15},
                { "data": 'nombrePropiedad', "className": "text-center", "width": 15},
                { "data": 'km', "className": "text-center", "width": 10},
                { "data": 'idPagotran', "className": "text-center", "width": 10},
                { "data": 'tension.tension', "className": "text-center", "width": 10},
                { "data": 'esRemunerada', "className": "text-center", "width": 10},

                {
                    "data": 'activo',
                    "render": function (data) {
                        if (data) {
                            var botones = " "
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditaLinea(this);' src = '/fonts/Icons/edit.png'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaLinea(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        } else {
                            var recuperar = " "
                            if (tienePermisoEdicion == "True" && tienePermisoEliminar == "True") {
                                recuperar += "<input type='image' class='imageButtonRecuperar' onclick='RecuperaLinea(this);' src = '/fonts/Icons/recuperar.png'>"
                            } 
                            return recuperar
                        }
                    },
                    "width": 10,
                },
            ],
            "language": idiomaEspanol
        });


        /*
        var url = ObtenerUrlLinea();
        table = $('#tableLinea').DataTable({
            dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-3'i><'col-sm-8'p><'col-sm-1'l>>",
            scrollX: false,
            order: [2, "desc"],
            ajax: {
                url: url,
                type: "POST",
                datatype: "json"
            },
            processing: true,
            serverSide: true,
            language: { url: '/DataTable/js/spanish.json' },
            stateSave: true,
            filter: true,

            columns: [
                { data: 'idLinea', 'visible': false },
                { data: 'nombreLinea', "className": "text-left" },
                { data: 'tipoLinea.nombreTipoLinea', "className": "text-center"},
                { data: 'PropiedadLinea', "className": "text-left" },
                { data: 'estacionOrigen.nombreEstacion', "className": "text-left"},
                { data: 'estacionDestino.nombreEstacion', "className": "text-left"},
                { data: 'idPagotran', "className": "text-center" },
                { data: 'tension.tension', "className": "text-center"},

                {
                    "defaultContent": "<input type='image' class='imageButtonEditar' onclick='EditaLinea(this);' src = '/fonts/Icons/edit.png'><input type='image' class='imageButtonEliminar' onclick='EliminaLinea(this);' src = '/fonts/Icons/remove.png'><input type='image' class='imageButtonRecuperar' onclick='RecuperaLinea(this);' src = '/fonts/Icons/recuperar.png'>", "width": 10
                },
            ],
            "language": idiomaEspanol

        });
        */

    }

    (function () {


        var idItem = '#LineaSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        var activo = true;
        CrearTabla(activo);
        permisoAgregar();
    })();
</script>

