﻿<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="Trafo" viewBox="0 0 872 600">
            <path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10" stroke-width="54.5455" d="M300 300c0-100.947 54.846-189.082 136.363-236.237-38.984-22.941-85.877-36.491-135.935-36.491-0.151 0-0.301 0-0.452 0.001h0.023c-150.622 0-272.728 122.105-272.728 272.728s122.105 272.728 272.728 272.728c0.127 0 0.278 0.001 0.428 0.001 50.058 0 96.952-13.55 137.212-37.184l-1.277 0.693c-81.518-47.154-136.363-135.289-136.363-236.237z"></path>
            <path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10" stroke-width="54.5455" d="M572.728 27.272c-0.127 0-0.278-0.001-0.428-0.001-50.058 0-96.952 13.55-137.212 37.184l1.277-0.693c81.518 47.154 136.363 135.272 136.363 236.237s-54.846 189.082-136.363 236.237c38.984 22.941 85.877 36.491 135.935 36.491 0.151 0 0.301 0 0.452-0.001h-0.023c150.622 0 272.728-122.105 272.728-272.728s-122.105-272.728-272.728-272.728z"></path>
        </symbol>
    </defs>
</svg>