﻿@{
    var nombreUsuario = Session["usuarioLogeado"];
}
@{
    ViewBag.Title = "Administrar Turno";
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Turno</b></h4>
                        <p class="card-category">Complete los datos del Turno.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTurno"></div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Tipo Turno</label>
                                        <select class="select2" id="selectTipoTurno"></select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Estado del Tiempo</label>
                                        <select class="select2" id="selecEstadoDelTiempo"></select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Acompañante</label>
                                        <select class="select2" id="selectOperador" data-placeholder="Seleccione una opción" multiple></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-success pull-center" style="background-color:#33ccff" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-success pull-center" onclick="GuardarTurno()">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalYaTieneTurno" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutloAlta"><b>YA TIENE UN TURNO ABIERTO</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<p>Se ha dado de alta correctamente la licencia.</p>
                <p id="codigoLicenciaAlta" style="font-weight: bold;">

                </p>*@
                <h3>¿Desea cerrar su turno?.</h3>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#5cb85c" onclick="clickSi()">Si</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#d9534f" data-dismiss="modal" onclick="volver()">No</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalYaTieneTurnoAcompañante" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutloAlta"><b>ALGUN ACOMPAÑANTE YA TIENE UN TURNO ABIERTO</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<p>Se ha dado de alta correctamente la licencia.</p>
                    <p id="codigoLicenciaAlta" style="font-weight: bold;">

                    </p>*@
                <h3>¿Desea cerrar su turno?.</h3>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#5cb85c" onclick="clickSi()">Si</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#d9534f" data-dismiss="modal" onclick="volver()">No</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="modalTurnoAbierto" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutloAlta"><b>TURNO ABIERTO</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<p>Se ha dado de alta correctamente la licencia.</p>
                    <p id="codigoLicenciaAlta" style="font-weight: bold;">

                    </p>*@
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left center-block btn-block"  style="background-color:#4cff00" data-dismiss="modal" onclick="volver()">Confirmar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    

    var usuario = "@nombreUsuario";

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#TurnoSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectTipoTurno').select2({
            allowClear: false,
            width: '90%',

        });

        $('#selecEstadoDelTiempo').select2({
            allowClear: true,
            width: '90%',
        });

        $('#selectOperador').select2({
            allowClear: true,
            width: '90%',
        });
        
       
        var id = -1;
        ObtenerListaTipoTurno();
        ObtenerListaUsuarioCTR();
        ObtenerListaEstadoTiempo(-1);
    })();

    

    //COREGIR EL GUARDAR
    function GuardarTurno() {
        if (ValidarTurno()) {
        var usuarios = $("#selectOperador").val();
        var ids = "";

        for (var i = 0; i < usuarios.length; i++) {
            ids += usuarios[i] + ",";
        }
           

        var idTipoTurno = $("#selectTipoTurno").val();
        var estadoTiempo = $("#selecEstadoDelTiempo").val();
            $.ajax({
                type: 'Get',
                url: '/Api/Turno/AbrirTurno?nombreJefe=' + usuario + '&idTipoTurno=' + idTipoTurno + '&idUsuario=' + ids + '&estadoTiempo=' + estadoTiempo,
                dataType: "json",
                data: {},
                success: function (respuesta) {
                    console.log(respuesta.codigoRespuesta);
                    if (respuesta.codigoRespuesta == 300) {
                        $('#modalYaTieneTurno').modal();
                    }
                    if (respuesta.codigoRespuesta == 200) {
                        $('#modalTurnoAbierto').modal();
                    }
                    if (respuesta.codigoRespuesta == 400) {
                        alert("No se pudo abrir el turno");
                    }
                    if (respuesta.codigoRespuesta == 303) {
                        $('#modalYaTieneTurnoAcompañante').modal();
                    }
                }
            })
        }
        
    }

    function ValidarTurno() {
        if ($("#selectTipoTurno").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Tipo Turno</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertTurno').clearQueue();
            $('#alertTurno').append(alert);

            $("#selectTipoTurno").focus();
            return false;
        }


        if ($("#selecEstadoDelTiempo").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>estado del tiempo</b>.</span>" +
                "</div>";

            $('#alertTurno').clearQueue();
            $('#alertTurno').append(alert);
            $("#selecEstadoDelTiempo").focus();
            return false;
        }

        if ($("#selectOperador").val().length == 0) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun <b>Jefe</b>.</span>" +
                "</div>";

            $('#alertTurno').clearQueue();
            $('#alertTurno').append(alert);
            $("#selectOperador").focus();
            return false;
        }

        return true;
    }

    function volver() {
        history.back();
    }

    function clickSi() {
        window.location.href = '/Turno/CerrarTurno'     
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }


    function ObtenerListaTipoTurno(idTurnoCtr) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Turno/ObtenerListaTipoTurno?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idTurnoCtr == -1) {
                    $('#selectTipoTurno').append($('<option selected>').val(-1).text("Seleccione una opcion"))
                } else {
                    $('#selectTipoTurno').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTurnoCtr == result.idTurnoCtr) {
                        $('#selectTipoTurno').append($('<option selected>').val(result.idTurnoCtr).text(result.nombreTurno))
                    } else {
                        $('#selectTipoTurno').append($('<option>').val(result.idTurnoCtr).text(result.nombreTurno))

                    }
                });
            }
        })
        
    }

    function ObtenerListaUsuarioCTR(idUsuario) {
        $.ajax({
            type: 'Get',
            url: '/Api/Usuario/ObtenerListaOperadorCTR?nombreJefe=' + usuario,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                //if (idUsuario == -1) {
                //    $('#selectOperador').append($('<option selected>').val(-1).text("Seleccione una opcion"))
                //} else {
                //    $('#selectOperador').append($('<option>').val(-1).text("Seleccione una opción"))
                //}

                $.each(respuesta, function (index, result) {
                    if (idUsuario == result.idUsuario) {
                        $('#selectOperador').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    } else {
                        $('#selectOperador').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))

                    }
                });
            }
        })
    }



    function ObtenerListaEstadoTiempo(estado) {
        console.log(estado)
        $.ajax({
            type: 'Get',
            url: '/Api/Turno/ObtenerListaEstadoTiempo',
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (estado == -1) {
                    $('#selecEstadoDelTiempo').append($('<option selected>').val(-1).text("Seleccione una opcion"))
                } else {
                    $('#selecEstadoDelTiempo').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                console.log(respuesta)
                $.each(respuesta, function (index, result) {
                    if (estado == result.idEstadoTiempo) {
                        $('#selecEstadoDelTiempo').append($('<option selected>').val(result.idEstadoTiempo).text(result.nombreEstadoTiempo))
                    }
                    else {
                        $('#selecEstadoDelTiempo').append($('<option>').val(result.idEstadoTiempo).text(result.nombreEstadoTiempo))
                    }
                });
            }
        })
    }

    



</script>