﻿@{
    var nombreUsuario = Session["usuarioLogeado"];
}
@{
    ViewBag.Title = "Cerrar Turno";
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Cerrar Turno</b></h4>
                        <p class="card-category">Elija que turno cerrar.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTurno"></div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Turno Masiva</label>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <span>Archivo Nuevo</span>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-9">
                                                <input type="date" class="redondeado form-control" id="fechaInicioRango">
                                            </div>
                                            <div class="col-md-9">
                                                <input type="date" class="redondeado form-control" id="fechaFinRango">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <input type="file" class="form-control" enctype="multipart/form-data" method="post" id="archivo">
                            <div id="cargando2" style="display:none">
                                <div style="top: 50%; left: 50%; height:25px; margin-top:5px">
                                    <i class="fa fa-refresh fa-spin"></i>
                                    <span>Subiendo...</span>
                                </div>

                            </div>
                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-success pull-center" style="background-color:#33ccff" onclick="volver()" value="Volver">

                                <button type="button" class="btn btn-primary pull-center" onclick="Procesar()">Procesar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    var usuario = "@nombreUsuario";

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    function Procesar() {
        var data = new FormData();
        var fechaDesde = $('#fechaInicioRango').val();
        var fechaHasta = $('#fechaFinRango').val();
        data.append("fechaDesde", fechaDesde);
        data.append("fechaHasta", fechaHasta);

        var files = $("#archivo").get(0).files;
        if (files.length > 0) {
            data.append("UpOtro", files[0]);
            $.ajax({
                type: "POST",
                url: "/Api/Turno/ProcesarExcel",
                beforeSend: mostrarCargando(),
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    cerrarCargando();

                },
                error: function (jqxhr) {
                    //Failed(JSON.parse(jqxhr.responseText));
                    alert("Hubo un error al cargar el archivo")
                }
            }).always(function (response) {
                ocultarCargando();
            });
        }
    }

    function mostrarCargando() {

    }
    function cerrarCargando() {

    }
    

    function volver() {
        window.location.href = '/Turno/Turno'
    }

 



</script>
