﻿@{
    var nombreUsuario = Session["usuarioLogeado"];
}
@{
    ViewBag.Title = "Cerrar Turno";
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Cerrar Turno</b></h4>
                        <p class="card-category">Elija que turno cerrar.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertTurno"></div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Turno</label>
                                        <select class="select2" id="selectTurnoCerrado"></select>
                                    </div>
                                </div>                              
                            </div>
                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-success pull-center" style="background-color:#33ccff" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-success pull-center" onclick="ConfirmarTurno()" style="background-color:#e60000">Cerrar Turno</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalTurnoCerrado" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title" id="labelTitutloAlta"><b>TURNO CERRADO</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonEliminar float-left" style="background-color:#4cff00" data-dismiss="modal" onclick="volver()">Confirmar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>


    var usuario = "@nombreUsuario";

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#TurnoSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectTurnoCerrado').select2({
            allowClear: false,
            width: '90%',

        });

        ObtenerListaTurnosAbiertos();

    })();



    
    function ConfirmarTurno() {
        if (ValidarTurno()) {
        var idTurnoEjecucion = $("#selectTurnoCerrado").val();

            $.ajax({
                type: 'Get',
                url: '/Api/Turno/CerrarTurno?nombreUsuario=' + usuario + "&idTurnoEjecucion=" + idTurnoEjecucion,
                dataType: "json",
                data: {},
                success: function (respuesta) {
                    if (respuesta == 200) {
                        $('#modalTurnoCerrado').modal();
                    }
                }
            })
        }
    }

    function ValidarTurno() {
        console.log($("#selectTurnoCerrado").val())
        if ($("#selectTurnoCerrado").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Seleccione un <b>TURNO</b>.</span>" +
                "</div>";

            $('#alertTurno').clearQueue();
            $('#alertTurno').append(alert);

            $("#selectTurnoCerrado").focus();
            return false;
        }

        

        return true;
    }

    function volver() {
        window.location.href = '/Turno/Turno'     
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }


    function ObtenerListaTurnosAbiertos(idTurno) {
        $.ajax({
            type: 'Get',
            url: '/Api/Turno/ObtenerTurnosAbiertos?nombreUsuario=' + usuario,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                 
                if (idTurno == -1) {
                    $('#selectTurnoCerrado').append($('<option selected>').val(-1).text("Seleccione un Turno"))
                } else {
                    $('#selectTurnoCerrado').append($('<option>').val(-1).text("Seleccione un Turno"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTurno == result.idTurnoEjecucion) {
                        $('#selectTurnoCerrado').append($('<option selected>').val(result.idTurnoEjecucion).text(result.nombreTipoTurno + " - " + result.fechaHoraApertura.toString().split('T')[0] + "  - Jefe turno: " + result.nombreJefeTurno + "  - Operador: " + result.nombreAcompañante));
                    } else {
                        $('#selectTurnoCerrado').append($('<option>').val(result.idTurnoEjecucion).text(result.nombreTipoTurno + " - " + result.fechaHoraApertura.toString().split('T')[0] + "  - Jefe turno: " + result.nombreJefeTurno + "  - Operador: " + result.nombreAcompañante));
                    }
                });
            }
        })

    }
    
</script>
