﻿
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<link href="~/assets/Calendar/main.css" rel="stylesheet" />
<script src="~/assets/Calendar/main.js"></script>
<script src="~/assets/Calendar/locales/es-us.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
<style>

    #calendar {
        max-width: 1800px;
        margin: 0 auto;
    }

    .espacio {
        margin-bottom: 20px;
    }

    .centrar {
        margin: auto 0;
    }

    .modal-footer {
        justify-content: initial;
    }

    .fc-toolbar {
        text-transform: capitalize;
    }

    .sinEspacio {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
@{
    var nombreUsuario = Session["usuarioLogeado"];
}
@{
    ViewBag.Title = "Turno";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card " style="width:100%">
                    <div class="card-header card-header-info">

                        <div class="float-left">
                            <div class="titulo">Turno</div>
                        </div>

                        @*<div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">

                                    <li class="nav-item">
                                        <a class="nav-link novedad active show" href="#Turno" data-toggle="tab">
                                            <h4 class="card-title">
                                                <b>Turno</b>
                                            </h4>
                                            <div class="ripple-container"></div>
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="pestañaLicencia">
                                        <a class="nav-link licencia" href="#SolicitarTurno" data-toggle="tab">
                                            <h4 class="card-title">
                                                <b>Solicitar Turno</b>
                                            </h4>
                                            <div class="ripple-container"></div>
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>*@
                        @*</div>*@
                    </div>
                    <div class="card-body" style="width:100%">
                        <div class="row">

                            <div class="col-md-5"></div>
                            <div class="col-md-1" style="margin-left:15px;">
                                <input type="button" class="btn botonAbrirTurno float-left " style="background-color:#5cb85c ;  " onclick="verTurnosAbiertos()" value="Abrir turno">
                            </div>
                            <div class="col" style="margin-left:15px;">
                                <input type="button" class="btn botonCerrarTurno float-left" style="background-color:#e60000" onclick="verTurnosCerrados()" value="Cerrar turno">
                            </div>
                            <div class="col">
                                <input type="hidden" class="btn float-left" style="background-color: #0067CC" onclick="cargaMasiva()" value="Carga Masiva">
                            </div>

                        </div>
                        <div class="row caldendario">
                            <div class="col-md-12">
                                <div id='calendar'></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalAbrirTurno" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutlo" style="font-weight: bold">Abrir Turno</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Turno abierto usuario: @nombreUsuario</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonCancelar float-left" style="background-color:#d9534f" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalNoTurno" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="labelTitutlo" style="font-weight: bold">Abrir Turno</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>No tiene turnos asignados para este momento</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn botonCancelar float-left" style="background-color:#d9534f" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalCrearTurno" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title" id="labelTitutlo"><b>Crear Turno</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="alertTurno"></div>
                    </div>
                </div>

                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Persona:</label>
                    </div>
                    <div class="col-md-9">
                        <select id="personaTurno" class="form-control selector2"></select>
                    </div>
                </div>
                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Tipo de turno:</label>
                    </div>
                    <div class="col-md-9">
                        <select id="tipoTurno" onchange="CambioTipoTurno()" class="form-control selector2"></select>
                    </div>
                </div>
                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Fecha Inicio:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="date" class="redondeado form-control" id="fechaInicioTurno" disabled>
                    </div>
                </div>
                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Fecha Hasta:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="date" class="redondeado form-control" id="fechaFinTurno" required>
                    </div>
                </div>
                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Hora Inicio:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="time" class="redondeado form-control" id="horaInicioTurno" disabled>
                    </div>
                </div>
                <div class="row espacio">
                    <div class="col-md-3 centrar">
                        <label>Hora Fin:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="time" class="redondeado form-control" id="horaFinTurno" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row" id="CrearTurnoDiv">
                        <div class="col-md-12">
                            <button type="button" class="btn botonGuardar float-center btn-block" style="background-color:#5cb85c" onclick="GuardarTurno('C')">Guardar</button>
                        </div>
                    </div>
                    <div class="row" id="EditarTurnoDiv">
                        <div class="col-md-6">
                            <button type="button" class="btn botonGuardar float-center btn-block" style="background-color:#5cb85c" onclick="GuardarTurno('U')">Guardar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn botonEliminar float-left btn-block" style="background-color:#d9534f" onclick="EliminarTurno()">Eliminar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalError" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title" id="labelTitutloError"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="errorBodyModal"></h4>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn botonEliminar float-left" style="background-color:#0080FF" data-dismiss="modal" aria-label="Close">Ok</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalAdvertencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title" id="labelTitutloAdvertencia">Atención:</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="AdvertenciaBodyModal"></h4>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn botonEliminar float-left" style="background-color:#0080FF" data-dismiss="modal" aria-label="Close">Ok</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    window.FontAwesome.config.autoReplaceSvg = 'nest';
    var mainColorGuardia = '#359FFC';
    var secundaryColorGuardia = '#8AC8FD';
    var mainColorFranco = '#FF0000';
    var secundaryColorFranco = '#FD8A8A';
    var listaEmpleados;
    var listaTipoTurno;
    var calendar;
    var idSeleccionado = -1;
    var usuario = "@nombreUsuario";
    var alertIdHoras = "";
    var alertIdDias = "";


    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    $('.selector2').select2({
        allowClear: false,
        width: '90%',
    });

    //validación de horas
    document.getElementById("horaInicioTurno").addEventListener('change', function () {
        if (alertIdHoras != "") {
            $(alertIdHoras).remove();
        }
        calcularDiferenciaHoraria();


    });

    document.getElementById("horaFinTurno").addEventListener('change', function () {
        if (alertIdHoras != "") {
            $(alertIdHoras).remove();
        }
        calcularDiferenciaHoraria();

    });
    document.getElementById("fechaInicioTurno").addEventListener('change', function () {
        if (alertIdDias != "") {
            $(alertIdDias).remove();
        }
        calcularCantidadDias();

    });

    document.getElementById("fechaFinTurno").addEventListener('change', function () {
        if (alertIdDias != "") {
            $(alertIdDias).remove();
        }
        calcularCantidadDias();

    });

    $('#tipoTurno').on('select2:select', function (e) {
        if (alertIdHoras != "") {
            $(alertIdHoras).remove();
        }
        if (alertIdDias != "") {
            $(alertIdDias).remove();
        }
        calcularDiferenciaHoraria();
        calcularCantidadDias();
    });

    (function () {
        var idItem = '#TurnoSideBar';



        //ActivarItem(idItem);
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);
        ObtenerDatos();
        CrearCalendario();

    })();


    function verTurnosAbiertos() {
        window.location.href = '/Turno/AdministrarTurno';
    }

    function verTurnosCerrados() {
        window.location.href = '/Turno/CerrarTurno';
    }
    function cargaMasiva() {
        window.location.href = '/Turno/CargaMasiva';
    }

    /*
    //Funcion para cerrar el turno
    function cerrarTurno() {
        console.log("entro a cerrar");
        $.ajax({
            type: 'Get',
            url: '/Api/Turno/CerrarTurno?nombreUsuario=' + usuario,
            success: function (result) {
                console.log("result");
                console.log(result);
                if (result==1) {
                    $("#botonCerrarTurno").toggle();
                    console.log("cerro turno");
                } else {
                    console.log("no se pudo cerrar el turno");
                }
            }
        })
    }
    */
    

    function CrearCalendario() {

        var calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            selectable: true,
            locale: 'es',
            themeSystem: 'bootstrap',
            displayEventTime: true,
            select: function (arg) {
                var fecha = new Date(arg.start);
                var fechaHoy = new Date();
                fechaHoy.setHours(0, 0, 0, 0)
                if (fecha < fechaHoy) {


                    $('#labelTitutloError').empty();
                    var titulo = "";
                    titulo += "<b>Seleccione otro día</b>."
                    $('#labelTitutloError').append(titulo);

                    $('#errorBodyModal').empty();
                    var error = "";
                    error += "El día seleccionado debe ser mayor al día de hoy<br/>Por favor seleccione otro día."
                    $('#errorBodyModal').append(error);
                    $('#modalError').modal();

                }
                else {
                    $('#CrearTurnoDiv').show();
                    $('#EditarTurnoDiv').hide();
                    $('#alertTurno').empty();
                    CargarListaEmpleados(-1);
                    CargarTipoTurno(-1);

                    var fechaCargar = FechaformatoInput(fecha);
                    $('#fechaInicioTurno').val(fechaCargar);
                    $('#fechaFinTurno').val(fechaCargar);
                    $('#horaInicioTurno').val('');
                    $('#horaFinTurno').val('');
                    $('#modalCrearTurno').modal();
                }
            },

            eventClick: function (arg) {
                 
                idSeleccionado = arg.event.id;
                $('#alertTurno').empty();
                $('#EditarTurnoDiv').show();
                $('#CrearTurnoDiv').hide();
                CargarListaEmpleados(arg.event.extendedProps.empleado);
                CargarTipoTurno(arg.event.extendedProps.tTurno);
                var fecha = new Date(arg.event.start);
                var fechaCargar = FechaformatoInput(fecha);
                var fechaFin = new Date(arg.event.end);
                var fechaFinCargar = FechaformatoInput(fechaFin);
                var horaInicio = ObtenerHora(fecha);
                var horaFin = ObtenerHora(fechaFin);
                $('#fechaInicioTurno').val(fechaCargar);
                $('#fechaFinTurno').val(fechaFinCargar);
                $('#horaInicioTurno').val(horaInicio);
                $('#horaFinTurno').val(horaFin);
                $('#modalCrearTurno').modal();


            },
            editable: true,
            events: (dates, callback) => {
                 
                var fd = new Date(dates.start);
                var fh = new Date(dates.end);
                var fechaDesde = fechaHoyMostrar(fd);
                var fechaHasta = fechaHoyMostrar(fh);
                var usuario1 = usuario;
                
                $.ajax({
                    url: '/Api/Turno/ObtenerTurnos?fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta + '&usuario=' + usuario1 ,
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        var events = [];                       
                        $.each(res, function (index, r) {                          
                            var fechaHasta = new Date(r.fechaHasta);
                            fechaHasta.setDate(fechaHasta.getDate());
                            events.push({
                                id: r.idTurno,
                                title: r.nombreCTR,
                                start: r.fechaDesde,
                                end: r.fechaHasta,
                                color: r.color,
                                horaEntrada: r.horaEntrada,
                                horaSalida: r.horaSalida,
                                extendedProps: {
                                    tTurno: r.idTipoTurno,
                                    empleado: r.idPersona,
                                },
                            });
                        });
                        callback(events);
                    }
                });
              
            }
        });

        calendar.render();
    }

    function ObtenerDatos() {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Turno/ObtenerListaTipoTurno?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                listaTipoTurno = respuesta;

            }
        })
    }

    function EliminarTurno() {
        if (idSeleccionado != -1) {

            var turno = new Object();
            turno.idTurno = idSeleccionado;
            turno.tipoCRUD = 'D';
            $.ajax({
                type: 'Post',
                url: '/Api/Turno/CRUD',
                dataType: "json",
                data: turno,
                success: function (respuesta) {
                    if (calendar != undefined) {
                        calendar.destroy()
                    }
                    CrearCalendario();
                    idSeleccionado = -1;
                    $('#modalCrearTurno').modal('hide');

                }
            });
        }
    }

    function CambioTipoTurno() {
        var tipoTurno = $("#tipoTurno").val();
        CargarTipoTurno(tipoTurno);
    }

    function GuardarTurno(CRUD) {
        if (ValidarTurno()) {
            var empleado = $('#personaTurno').val();
            var tTurno = $('#tipoTurno').val();
            var fD = $('#fechaInicioTurno').val();
            var hD = $('#horaInicioTurno').val();
            var fechaHoraDesde = UnirFechaYHora(fD, hD);
            fechaHoraDesde.setDate(fechaHoraDesde.getDate() + 1);

            var fH = $('#fechaFinTurno').val();
            var hH = $('#horaFinTurno').val();
            var fechaHoraHasta = UnirFechaYHora(fH, hH);
            fechaHoraHasta.setDate(fechaHoraHasta.getDate() + 1);


            var turno = new Object();
            turno.idPersona = empleado;
            turno.idTipoTurno = tTurno;
            turno.fechaDesde = fechaHoraDesde.toJSON();
            turno.tipoCRUD = CRUD;
            turno.usuario = usuario;
            if (fechaHoraHasta != undefined) {
                turno.fechaHasta = fechaHoraHasta.toJSON();
            }

            if (CRUD == 'U') {
                if (idSeleccionado != -1) {
                    turno.idTurnoCTR = idSeleccionado;
                }
            }

            $.ajax({
                type: 'Post',
                url: '/Api/Turno/CRUD',
                dataType: "json",
                data: turno,
                success: function (respuesta) {
                    if (calendar != undefined) {
                        calendar.destroy()

                    }
                    CrearCalendario();
                    calendar.gotoDate(fD);
                    idSeleccionado = -1;
                    $('#modalCrearTurno').modal('hide');
                    if (respuesta.validacionCantPersonas > 0) {
                        var alertModal = "";
                        alertModal += "<span>- Existen más de 3 personas en la guardia.</span></br>";


                        $('#AdvertenciaBodyModal').clearQueue();
                        $('#AdvertenciaBodyModal').append(alertModal);

                        $('#modalAdvertencia').modal();
                    }
                    if (respuesta.validacionCantDias > 0) {
                        var alertModal = "";
                        alertModal += "<span>- El colaborador seleccionado lleva muchos días de guardia.</span></br>";


                        $('#AdvertenciaBodyModal').clearQueue();
                        $('#AdvertenciaBodyModal').append(alertModal);

                        $('#modalAdvertencia').modal();
                    }
                    if (respuesta.validacionTurnoPorPersona > 0) {
                        var alertModal = "";
                        alertModal += "<span>- El colaborador seleccionado ya tiene guardia asignada para las fechas seleccionadas.</span></br>";


                        $('#AdvertenciaBodyModal').clearQueue();
                        $('#AdvertenciaBodyModal').append(alertModal);

                        $('#modalAdvertencia').modal();
                    }
                }
            });



        }


    }

    function ValidarTurno() {
        if ($("#personaTurno").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Persona</b> al que se le asigne un turno.</span>" +
                "</div>";

            $('#alertTurno').clearQueue();
            $('#alertTurno').append(alert);
            $("#personaTurno").focus();
            return false;
        }

        if ($("#tipoTurno").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Por favor seleccione algún <b>Tipo Turno</b>.</span>" +
                "</div>";

            $('#alertTurno').clearQueue();
            $('#alertTurno').append(alert);
            $("#tipoTurno").focus();
            return false;
        }

        if ($("#fechaFinTurno").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Por favor ingrese alguna <b>Fecha Fin</b>.</span>" +
                "</div>";

            $('#alertTurno').clearQueue();
            $('#alertTurno').append(alert);
            $("#fechaFinTurno").focus();
            return false;
        }

        return true;
    }

    function CargarListaEmpleados(empleado) {
        $.ajax({
            type: 'Get',
            url: '/Api/Usuario/ObtenerListaUsuarioCTR',
            dataType: "json",
            data: {},
            success: function (listaEmpleados) {
                $('#personaTurno').empty();
                if (empleado == -1) {
                    $('#personaTurno').append($('<option selected>').val(-1).text("Seleccione una opción"))
                } else {
                    $('#personaTurno').append($('<option>').val(-1).text("Seleccione una opción"))

                }
                $.each(listaEmpleados, function (index, result) {
                    if (empleado == result.idUsuario) {
                        $('#personaTurno').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    } else {
                        $('#personaTurno').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))

                    }
                });
            }
        })

    }

    function CargarTipoTurno(tipoTurno) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Turno/ObtenerTipoTurnoCTR?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (listaTipoTurno) {
                $("#tipoTurno").empty();
                if (tipoTurno == -1) {
                    $('#tipoTurno').append($('<option selected>').val(-1).text("Seleccione una opción"))
                } else {
                    $('#tipoTurno').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(listaTipoTurno, function (index, result) {
                    if (tipoTurno == result.idTurnoCtr) {
                        $('#tipoTurno').append($('<option selected>').val(result.idTurnoCtr).text(result.nombreTurno))
                        $('#horaInicioTurno').val(result.horaEntrada).text(result.horaEntrada)
                        $('#horaFinTurno').val(result.horaSalida).text(result.horaSalida)
                    } else {
                        $('#tipoTurno').append($('<option>').val(result.idTurnoCtr).text(result.nombreTurno))
                    }
                });
            }
        })
    }

    function calcularDiferenciaHoraria() {

        var tipoTurno = $('#tipoTurno').val();
        var horaInicio = $('#horaInicioTurno').val();
        var horaFin = $('#horaFinTurno').val();
        if (horaInicio != "" && horaFin != "") {
            var horaStart = new Date("01/01/2007 " + horaInicio).getHours();
            var horaEnd = new Date("01/01/2007 " + horaFin).getHours();

            var minutosStart = new Date("01/01/2007 " + horaInicio).getMinutes();
            var minutosEnd = new Date("01/01/2007 " + horaFin).getMinutes();

            //console.log(valuestart, valuestop, timeStart, timeEnd);
            var hourDiff = horaEnd - horaStart;
            if (hourDiff < 0) {
                hourDiff = 24 + hourDiff;
            }

            var minutesDiff = minutosEnd - minutosStart;

            if (minutesDiff < 0) {
                hourDiff--;
                minutesDiff = 60 + minutesDiff;
            }
            var diferenciaTotal = hourDiff + minutesDiff / 100;

            var alert = "";
            /*
            if (tipoTurno == 1) {
                if (diferenciaTotal > 8) {
                    alertIdHoras = "#alertHoraGuardia";
                    alert += "<div id='alertHoraGuardia' class='alert alert-warning'>" +
                        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                        "<i class='material-icons'>close</i>" +
                        "</button>" +
                        "<span><b>Atención:</b> la diferencia horaria de la guardia es mayor a 8hs.</span>" +
                        "</div>";

                    $('#alertTurno').clearQueue();
                    $('#alertTurno').append(alert);
                    $("#horaFinTurno").focus();
                }
            } else if (tipoTurno == 2) {
                if (diferenciaTotal < 24 && diferenciaTotal != 0) {
                    alertIdHoras = "#alertHoraFranco";
                    alert += "<div id='alertHoraFranco' class='alert alert-warning'>" +
                        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                        "<i class='material-icons'>close</i>" +
                        "</button>" +
                        "<span><b>Atención:</b> la diferencia horaria del franco es menor a 24hs.</span>" +
                        "</div>";

                    $('#alertTurno').clearQueue();
                    $('#alertTurno').append(alert);
                    $("#horaFinTurno").focus();
                }

            }*/
            return alertIdHoras;

        }
        return "";
    }

    function calcularCantidadDias() {
        var tipoTurno = $('#tipoTurno').val();
        var fechaInicio = $('#fechaInicioTurno').val();
        var fechaFin = $('#fechaFinTurno').val();
        const _MS_PER_DAY = 1000 * 60 * 60 * 24;
        var date1 = new Date(fechaInicio);
        var date2 = new Date(fechaFin);
        const utc1 = Date.UTC(date1.getFullYear(), date1.getMonth(), date1.getDate());
        const utc2 = Date.UTC(date2.getFullYear(), date2.getMonth(), date2.getDate());
        var diffTime = Math.floor((utc2 - utc1) / _MS_PER_DAY);
        var alert = "";
        /*
        if (tipoTurno == 1) {
            if (diffTime > 7) {
                alertIdDias = "#alertFechaGuardia";
                alert += "<div id='alertFechaGuardia' class='alert alert-warning'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span><b>Atención:</b> el rango de fechas seleccionado supera los 7 días de guardia.</span>" +
                    "</div>";

                $('#alertTurno').clearQueue();
                $('#alertTurno').append(alert);
                $("#fechaFinTurno").focus();
            }
        } else if (tipoTurno == 2) {
            if (diffTime > 1 ) {
                alertIdDias = "#alertFechaFranco";
                alert += "<div id='alertFechaFranco' class='alert alert-warning'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span><b>Atención:</b> ha seleccionado más de un día de franco.</span>" +
                    "</div>";

                $('#alertTurno').clearQueue();
                $('#alertTurno').append(alert);
                $("#fechaFinTurno").focus();
            }
        }*/
    }

</script>