﻿@{
    Layout = "";
}
@{
    ViewBag.Title = "Datos Incorrectos";
}
<link href="../fonts/Fuentes/googleApis/Material-Icons.css" rel="stylesheet" />
<link href="../DataTable/css/material.min.css" rel="stylesheet" />
<link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<script src="~/Content/js/generales.js"></script>
<script type="text/javascript" src="../JS/JQuery/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../DataTable/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/DataTable/js/dataTables.material.min.js"></script>

<link href="../CSS/EstilosPropios.css" rel="stylesheet" />
<link href="~/CSS/style.css" rel="stylesheet" />
<script src="~/Content/js/generales.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<div class="container-fluid" id="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card centrar" style="width:50%">
                <div class="card-header card-header-danger">
                    <div class="float-left">
                        <h4 class="card-title">Datos incorrectos</h4>
                    </div>
                </div>

                <div class="card-body" style="width:100%">
                    <div class="row">
                        <div class="col-md-12 espacio">
                            <p style="text-align:center;font-size:15px;">Usuario y/o contraseña incorrectos.</p>
                            <p style="text-align:center; font-size15px;">Intente nuevamente</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .centrar {
        margin: 50px auto;
    }

    .espacio {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<script>
    (function () {
        $(".loader-wrapper").fadeOut("slow");
    }());
</script>