﻿@{
    ViewBag.Title = "Módulo Denegado";
}

<div class="container-fluid" id="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card centrar" style="width:50%">
                <div class="card-header card-header-danger">
                    <div class="float-left">
                        <h4 class="card-title">Módulo Denegado</h4>
                    </div>
                </div>

                <div class="card-body" style="width:100%">
                    <div class="row">
                        <div class="col-md-12 espacio">
                            <p style="text-align:center;font-size:15px;">Estimado usuario, usted no tiene acceso al módulo especificado.</p>
                            <p style="text-align:center; font-size15px;">Contáctese con el administrador del sistema.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .centrar {
        margin: 50px auto;
    }

    .espacio {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<script>
    (function () {
        $(".loader-wrapper").fadeOut("slow");
    }());
</script>
