﻿
@{
    Layout = null;
}

@{
    ViewBag.Title = "Sesión Incorrecta";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SesionIncorrecta2</title>
</head>
<body>
    <div>
    </div>
</body>
</html>

<script>
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
</script>