﻿
@{
    Layout = null;
}

@{
    ViewBag.Title = "Login";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    obtenerDatoUsuario();
    function obtenerDatoUsuario() {
          @{
               var nombreUsuario = Session["usuarioLogeado"];

            }

        var nombreusuario = "@nombreUsuario";
        var user = getUrlVars()["user"];
          $.ajax({
              url: '/Api/Login/ObtenerLoginUsuario?nombreUsuario=' + user,
               data: { },
               type: 'GET',
               success: function (respuesta) {


                   switch (respuesta) {
                       case 0: alert("Usuario no habilitado para este sistema, comuníquese con el administrador.");
                       window.location.href = '/Login/Login';
                           break;
                       case -1: alert("Usuario inactivo");
                           window.location.href = '/Login/Login';
                           break;
                       case -2: alert("No tiene turno abierto en este momento, comuníquese con el jefe de turno.");
                           window.location.href = '/Login/Login';
                           break;
                       case -3: alert("Usuarion no habilitado para este sistema, comuníquese con el administrador.");
                           window.location.href = '/Login/Login';
                           break;
                       case 1: window.location.href = '/Turno/AdministrarTurno'; //Jefe de turno entrando
                           break;
                       case 2: window.location.href = '/Novedad/Novedad'; //Jefe de turno con turno abierto
                           break;
                       default: window.location.href = '/Novedad/Novedad'; //No jefe de turno entrando
                           break;
                   }

                   //if (respuesta == 0) {

                   //    alert("Usuario no habilitado para este sistema, comuníquese con el administrador");

                   //} else
                   //    if (respuesta == -1) {
                   //    alert("Usuario inactivo");
                   //    window.location.href = '/Login/LoginManual';
                   //}
                   //else {
                   //    if (respuesta == -2) {
                   //        alert("No tiene turno abierto en este momento, comuníquese con el jefe de turno.");
                   //        window.location.href = '/Login/LoginManual';
                   //    } else {
                   //    window.location.href = '/Turno/Turno';
                   //    }
                   //}
               },
              error: function () {
                  alert("Error inicio de sesion");
                  window.location.href = '/Login/LoginManual';
                    console.log("No se ha podido obtener la información");
               }
           });
     }

</script>

