﻿@{
    ViewBag.Title = "Centro De Control";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}

<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Centro de Control</b></h4>
                        <p class="card-category">Complete los datos del Centro de Control.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertCentroControl"></div>

                            <div class="row">

                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombre Centro de Control</label>
                                        <input type="text" class="form-control" id="nombreCentroControl" maxlength="20">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Codigo SAP</label>
                                        <input type="text" class="form-control" id="sap">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Tipo Centro Control</label>
                                        <br />
                                        <select class="select2 ObtenerTipoCC " id="selectTipoCC"></select>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Propiedad</label>
                                        <br />
                                        <select class="select2 obtenerPropiedad " id="selectPropiedad"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                    <button type="button" class="btn btn-success pull-center" onclick="GuardarCentroControl()">Guardar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {
        var idItem = '#CentroControlSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        CrearOEditar();
        $('#selectTipoCC').select2({
            allowClear: false,
            width: '90%',

        });
        $('#selectPropiedad').select2({
            allowClear: false,
            width: '90%',

        });

    })();

    function CrearOEditar() {
        var idCentroControl = GetUrlVars()["id"];
        if (idCentroControl != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/CentroControl/ConsultarUnCentroControl?idCentroControl=' + idCentroControl,
                dataType: "json",
                data: idCentroControl,
                success: function (centroControl) {
                    $('#nombreCentroControl').val(centroControl.nombreCentroControl);
                    $('#sap').val(centroControl.codigosap);
                    ObtenerTipoCC(centroControl.idTipoCControl)
                    obtenerPropiedad(centroControl.idPropiedad)
                }
            })
        }
        else {
            ObtenerTipoCC(-1)
            obtenerPropiedad(-1)
        }

    }

    function volver() {
        window.location.href = '/CentroControl/CentroControl';
    }

    function GuardarCentroControl() {
        if (ValidarCentroControl()) {
            var idCentroControl = GetUrlVars()["id"];
            var centroControl = new Object();
            centroControl.idCentroControl = $("#idCentroControl").val();
            centroControl.nombreCentroControl = $("#nombreCentroControl").val();
            centroControl.codigosap = $("#sap").val();
            centroControl.idTipoCControl = $("#selectTipoCC").val();
            centroControl.idPropiedad = $("#selectPropiedad").val();

            if (idCentroControl != undefined) {
                centroControl.idCentroControl = idCentroControl;
                $.ajax({
                    type: 'POST',
                    url: '/Api/CentroControl/ModificarCentroControl',
                    dataType: "json",
                    data: centroControl,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/CentroControl/CentroControl';
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertCentroControl').clearQueue();
                            $('#alertCentroControl').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/CentroControl/AltaCentroControl',
                    dataType: "json",
                    data: centroControl,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);
                        if (codigo == 200) {
                            window.location.href = '/CentroControl/CentroControl';
                        }
                        else {
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span><b>Centro de control existente.</b></span>" +
                                    "</div>";

                                $('#alertCentroControl').clearQueue();
                                $('#alertCentroControl').append(alert);
                            } else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertCentroControl').clearQueue();
                                $('#alertCentroControl').append(alert);
                            }
                        }

                    }
                })
            }


        }
    }

    function ValidarCentroControl() {

        if ($("#nombreCentroControl").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Nombre del Centro de Control</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertCentroControl').clearQueue();
            $('#alertCentroControl').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#nombreCentroControl").focus();
            return false;
        }

        /*
        if ($("#sap").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b>Codigo SAP</b> no puede estar vacío.</span>" +
                "</div>";

            $('#alertCentroControl').clearQueue();
            $('#alertCentroControl').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#sap").focus();
            return false;
        }*/


        return true;
    }

    function ObtenerTipoCC(idTipoCC) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/CentroControl/ObtenerTipoCentroControl?',
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idTipoCC == -1) {
                    $('#selectTipoCC').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectTipoCC').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTipoCC == result.idTipoCControl) {
                        $('#selectTipoCC').append($('<option selected>').val(result.idTipoCControl).text(result.nombreTipoCControl))
                    }
                    else {
                        $('#selectTipoCC').append($('<option>').val(result.idTipoCControl).text(result.nombreTipoCControl))
                    }
                });
            }
        })

    }
    
    function obtenerPropiedad(idPropiedad) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Propiedad/ObtenerPropiedad?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (idPropiedad == -1) {
                    $('#selectPropiedad').append($('<option selected>').val(-1).text("Seleccione una propiedad"))
                }
                else {
                    $('#selectPropiedad').append($('<option>').val(-1).text("Seleccione una propiedad"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idPropiedad == result.idPropiedad) {
                        $('#selectPropiedad').append($('<option selected>').val(result.idPropiedad).text(result.nombrePropiedad))
                    }
                    else {
                        $('#selectPropiedad').append($('<option>').val(result.idPropiedad).text(result.nombrePropiedad))
                    }
                });
            }
        })
    }


    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

</script>
