﻿@{
    ViewBag.Title = "Centro de Control";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Centro de Control</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaCentroControl()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                        </div>
                        <div class="table-responsive">
                            <table id="tablaCentroControl" class="mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre CentroControl</th>
                                        <th>Tipo Centro Control</th>
                                        <th>Codigo SAP</th>
                                        <th>Propiedad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
            var activo = true;
            var tienePermisoEliminar = '@permisoEliminacion';
            var tienePermisoEdicion = '@permisoEditar';

            $(window).on("load", function () {
                $(".loader-wrapper").fadeOut("slow");
            });
            var table;

            function permisoAgregar() {       
                if (tienePermisoEdicion == "True") {
                    $('.permisoAgregar').show();
                    $('.permisoAgregar').css('display', 'display');
                }
            }


            function AltaCentroControl() {
                window.location.href = '/CentroControl/AdministrarCentroControl';
            }

            function EditaCentroControl(button) {
                var id = table.row($(button).parents('tr')).data();
                location.href = '/CentroControl/AdministrarCentroControl?id=' + id.idCentroControl;
            }

            function RecuperaCentroControl(button) {
                var generador = table.row($(button).parents('tr')).data();

                $.ajax({
                    type: 'POST',
                    url: '/Api/CentroControl/RecuperarCentroControl',
                    dataType: "json",
                    data: generador,
                    success: function (response) {
                        if (response != false) {
                            var activo = false;
                            var url = "/Api/CentroControl/ObtenerCentroControl?activo=" + activo;
                            table.ajax.url(url).load(mostrarRecuperar);
                        }
                        else {
                            console.log("error");
                        }
                    },
                    error: function (jqxhr) {
                        console.log("error");
                    }
                })
            }

            function EliminaCentroControl(button) {

                var centrocontrol = table.row($(button).parents('tr')).data();

                $.ajax({
                    type: 'POST',
                    url: '/Api/CentroControl/EliminarCentroControl',
                    dataType: "json",
                    data: centrocontrol,
                    success: function (response) {
                        if (response != false) {
                            var activo = true;
                            var url = "/Api/CentroControl/ObtenerCentroControl?activo=" + activo;
                            table.ajax.url(url).load(mostrarAltaEditar);
                        }
                        else {
                        }
                    },
                    error: function (jqxhr) {
                        console.log("error");
                    }
                })

            }

            function CambioCboxEliminados() {
                if ($('#cboxMostrarEliminados').prop('checked') == true) {

                    var activo = false;
                    var url = "/Api/CentroControl/ObtenerCentroControl?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {

                    var activo = true;
                    var url = "/Api/CentroControl/ObtenerCentroControl?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
            }

            function mostrarRecuperar() {
                // css("propertyname", "value");
                $('.imageButtonEditar').css("display", "none");
                $('.imageButtonEliminar').css("display", "none");
                $('.imageButtonRecuperar').css("display", "inline");
            }

            function mostrarAltaEditar() {
                // css("propertyname", "value");
                $('.imageButtonEditar').css("display", "inline");
                $('.imageButtonEliminar').css("display", "inline");
                $('.imageButtonRecuperar').css("display", "none");
            }

            function ObtenerUrlCentroControl() {
                var url;
                url = "/Api/CentroControl/TablaCentroControl";
                url += "?activo=" + activo;
                return url;
            }

            function CrearTabla() {

                var idiomaEspanol = {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla.",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }

                table = $('#tablaCentroControl').DataTable({
                    "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "order": [[2, "desc"]],
                    "ajax": "/Api/CentroControl/ObtenerCentroControl?activo=" + activo,
                    "columns": [
                        { data: "idCentroControl", 'visible': false },
                        { data: "nombreCentroControl", "className": "text-left" },
                        { data: "nombreTipoCControl", "className": "text-left" },
                        { data: "codigosap", "className": "text-left" },
                        { data: "nombrePropiedad", "className": "text-left" },
                        {
                            "data": 'activo',
                            "render": function (data) {
                                if (data) {
                                    var botones = " ";
                                    if (tienePermisoEdicion == "True") {
                                        botones += "<input type='image' class='imageButtonEditar' onclick='EditaCentroControl(this);' src ='/fonts/Icons/edit.png'>"
                                    }
                                    if (tienePermisoEliminar == "True") {
                                        botones += "<input type='image' class='imageButtonEliminar' onclick ='EliminaCentroControl(this);' src ='/fonts/Icons/remove.png'> "
                                    }
                                    return botones
                                } else {
                                    var recuperar = " ";
                                    if (tienePermisoEdicion == "True" && tienePermisoEliminar == "True") {
                                        recuperar += "<input type='image' class='imageButtonRecuperar' onclick='RecuperaCentroControl(this);' src='/fonts/Icons/recuperar.png'>"
                                    }
                                    return recuperar
                                }
                            },
                            "width": 10,
                        },
                    ],
                    "language": idiomaEspanol
                });


                /*
                var url = ObtenerUrlCentroControl();
                table = $('#tablaCentroControl').DataTable({
                    dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-3'i><'col-sm-8'p><'col-sm-1'l>>",
                    scrollX: false,
                    order: [2, "desc"],
                    ajax: {
                        url: url,
                        type: "POST",
                        datatype: "json"
                    },
                    processing: true,
                    serverSide: true,
                    language: { url: '/DataTable/js/spanish.json' },
                    stateSave: true,
                    filter: true,

                    columns: [
                        { data: "nombreCentroControl", "className": "text-left" },
                        { data: "codigosap","className": "text-center" },
                        {
                            "defaultContent": "<div class='float-right'><input type='image' class='imageButtonEditar' onclick='EditaCentroControl(this);' src = '/fonts/Icons/edit.png'><input type='image' class='imageButtonEliminar' onclick='EliminaCentroControl(this);' src = '/fonts/Icons/remove.png'><input type='image' class='imageButtonRecuperar' onclick='RecuperaCentroControl(this);' src = '/fonts/Icons/recuperar.png'></div>", "width": 10
                        }
                    ],

                });
            */
            }

            (function () {


                var idItem = '#CentroControlSideBar';

                setTimeout(function () {
                    ActivarItem(idItem);
                }, 1000);

                var activo = true;
                CrearTabla(activo);
                permisoAgregar();
            })();
</script>
