﻿@{
    var nombreUsuario = Session["usuarioLogeado"];
}
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="../JS/NovedadJS.js"></script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Indisponibilidad</b></h4>
                        <p class="card-category">Complete los datos de la Indisponibilidad.</p>
                    </div>
                    <div class="card-body">
                        <form id="formularioIndisponibilidad">
                            <div id="alertIndisponibilidad">

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tipo de Equipo</label>
                                        <br />
                                        <select class="select2" id="selectTipoEquipoIndis" onchange="CargarEquipoIndis(-1)">
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Equipo</label>
                                        <br />
                                        <select class="select2" id="selectEquipo" onchange="cambioEquipo()"></select>
                                    </div>
                                </div>
                                <div class="col-md-3" id="colIndisponibilidad" hidden>
                                    <div class="form-group">
                                        <label>Indisponibilidad</label>
                                        <br />
                                        <select class="select2" id="selectIndisponibilidad">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3" id="colEnergia" hidden>
                                    <div class="form-group">
                                        <label>Energia No Suministrada</label>
                                        <br />
                                        <select class="select2" id="selectEnergia" onchange="">
                                            <option value="-1">Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="exampleFormControlSelect1">Fecha Salida</label>
                                    <input type="date" class="form-control" name="fechaSalida" id="fechaSalida" />
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="exampleFormControlSelect1">Hora Salida</label>
                                    <input type="time" class="form-control" name="horaSalida" id="horaSalida" onchange="" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="exampleFormControlSelect1">Fecha Entrada</label>
                                    <input type="date" class="form-control" name="fechaEntrada" id="fechaEntrada" onchange="" />
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="exampleFormControlSelect1">Hora Entrada</label>
                                    <input type="time" class="form-control" name="horaEntrada" id="horaEntrada" onchange="" />
                                </div>
                                <div class="col-md-2" id="colTipo">
                                    <div class="form-group">
                                        <label>Tipo Indisponibilidad</label>
                                        <br />
                                        <select class="select2" id="selectTipo" onchange="">
                                            <option value="-1">Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" id="colTipo">
                                    <div class="form-group">
                                        <label>Servicio</label>
                                        <br />
                                        <select class="select2" id="selectServicio" onchange="">
                                            <option value="1" selected>Fuera de servicio</option>
                                            <option value="2">En servicio</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1" id="colTipo">
                                    <div class="form-group" style="text-align:center">
                                        <label><strong>Informo a Termino</strong></label><br />
                                        <input class="form-check-input " type="checkbox" id="informoTermino" />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-2" id="colDescripcionIndisponibilidad">
                                    <div class="form-group">
                                        <label for="textarea">Descripción</label>
                                        <textarea class="form-control" id="descripcionIndisponibilidad" style="width:100%"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-info pull-center" style="background-color:#5cb85c" onclick="GuardarIndisponibilidad()">Guardar</button>
                                </div>
                                <div class="col-md-1"><input type="button" class="btn btn-info pull-center" onclick="Volver()" value="Volver"></div>
                            </div>                                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function Volver() {
        window.location.href = '/Indisponibilidad/PlanillaIndisponibilidad';
    }
    var idIndisponibilidad = GetUrlVars()["idIndis"];
    console.log(idIndisponibilidad);
    
        $('.select2').select2({
            allowClear: false,
            width: '100%',
        }); 
    
    CargarSelectores();
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");  
    });
    
    var indisponibilidad = new Object();
    function CargarSelectores() {
        if (typeof idIndisponibilidad == "undefined") {
            //Nueva indisponibilidad
            CargarTipoEquipoIndis(-1);
            CargarTipoIndis(-1);
            CargarEnergia(-1);
            $("#selectTipoEquipoIndis").val(-1);

        } else {            
            ObtenerIndisponibilidad(); 
        }
    }

    function ObtenerIndisponibilidad() {
        //Esto es una promesa
        var url = "/Api/Indisponibilidad/ObtenerIndisponibilidad?idIndis=" + idIndisponibilidad;
        fetch(url, { method: "GET" })
            .catch(() => { alert("error"); })
            .then(res => res.json())
            .then(data => {
                debugger;
                indisponibilidad.idTipoEquipo = data.idTipoEquipo;
                indisponibilidad.idEquipo = data.idEquipo;
                indisponibilidad.fechaEntrada = data.fechaEntrada;
                indisponibilidad.fechaSalida = data.fechaSalida;
                indisponibilidad.descripcion = data.descripcion;
                indisponibilidad.energiaNoSuministrada = data.energiaNoSuministrada;
                indisponibilidad.idTipoIndisponibilidad = data.idTipoIndisponibilidad;
                indisponibilidad.itn = data.itn;
                indisponibilidad.fueraDeServicio = data.fueraDeServicio;
                indisponibilidad.informoEnTermino = data.informoEnTermino;
                CargarIndis();
            });
        
    }
    function CargarServicio() {
        $("#selectServicio").empty();
        if (indisponibilidad.fueraDeServicio == true) {
            $("#selectServicio").append($('<option selected>').val(1).text("Fuera de servicio"));
            $("#selectServicio").append($('<option>').val(2).text("En servicio"));
        } else {
            $("#selectServicio").append($('<option>').val(1).text("Fuera de servicio"));
            $("#selectServicio").append($('<option selected>').val(2).text("En servicio"));
        }
    }
    function CargarIndis() {
         
        CargarTipoEquipoIndis(indisponibilidad.idTipoEquipo);
        CargarEquipoIndis(indisponibilidad.idEquipo);
        BuscarTipoIndis();
        CargarTipoIndis(indisponibilidad.idTipoIndisponibilidad);
        CargarServicio();
        debugger;
        $('#selectTipo').val(indisponibilidad.itn);
        $("#fechaEntrada").val(indisponibilidad.fechaEntrada.split('T')[0]);
        $("#fechaSalida").val(indisponibilidad.fechaSalida.split('T')[0]);
        $("#descripcionIndisponibilidad").val(indisponibilidad.descripcion);
        if (indisponibilidad.idTipoIndisponibilidad != null) {
            $("#selectIndisponibilidad").val(indisponibilidad.idTipoIndisponibilidad.toString());
        }
        $("#horaEntrada").val(indisponibilidad.fechaEntrada.toString().split('T')[1]);
        $("#horaSalida").val(indisponibilidad.fechaSalida.toString().split('T')[1]);
        var energia;
        if (indisponibilidad.energiaNoSuministrada == true) {
            energia = 1;
        } else {
            energia = 2;
        }

        if (indisponibilidad.informoEnTermino) {
            document.getElementById('informoTermino').checked;
        } else {
            $('#informoTermino').prop('checked', false);
        }

        CargarEnergia(energia);
    }
    function CargarTipoEquipoIndis(idTipoEquipo) {
        $("#selectTipoEquipoIndis").empty();
        switch (idTipoEquipo) {
            case -1:
                $('#selectTipoEquipoIndis').append($('<option selected>').val(-1).text('Seleccione una opción'));
                $('#selectTipoEquipoIndis').append($('<option>').val(1).text('Transformador'));
                $('#selectTipoEquipoIndis').append($('<option>').val(4).text('Linea'));
                $('#selectTipoEquipoIndis').append($('<option>').val(2).text('Punto de Conexión'));
                $('#selectTipoEquipoIndis').append($('<option>').val(7).text('Banco Capacitor'));
                break;
            case 1:
                $('#selectTipoEquipoIndis').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectTipoEquipoIndis').append($('<option selected>').val(1).text('Transformador'));
                $('#selectTipoEquipoIndis').append($('<option>').val(4).text('Linea'));
                $('#selectTipoEquipoIndis').append($('<option>').val(2).text('Punto de Conexión'));
                $('#selectTipoEquipoIndis').append($('<option>').val(7).text('Banco Capacitor'));

                break;
            case 4:
                $('#selectTipoEquipoIndis').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectTipoEquipoIndis').append($('<option>').val(1).text('Transformador'));
                $('#selectTipoEquipoIndis').append($('<option selected>').val(4).text('Linea'));
                $('#selectTipoEquipoIndis').append($('<option>').val(2).text('Punto de Conexión'));
                $('#selectTipoEquipoIndis').append($('<option>').val(7).text('Banco Capacitor'));

                break;
            case 2:
                $('#selectTipoEquipoIndis').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectTipoEquipoIndis').append($('<option>').val(1).text('Transformador'));
                $('#selectTipoEquipoIndis').append($('<option>').val(4).text('Linea'));
                $('#selectTipoEquipoIndis').append($('<option selected>').val(2).text('Punto de Conexión'));
                $('#selectTipoEquipoIndis').append($('<option>').val(7).text('Banco Capacitor'));
                break;
            case 7:
                $('#selectTipoEquipoIndis').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectTipoEquipoIndis').append($('<option>').val(1).text('Transformador'));
                $('#selectTipoEquipoIndis').append($('<option>').val(4).text('Linea'));
                $('#selectTipoEquipoIndis').append($('<option>').val(2).text('Punto de Conexión'));
                $('#selectTipoEquipoIndis').append($('<option selected>').val(7).text('Banco Capacitor'));
                break;
        }
    }
    var c = 1;
    function cambioEquipo() {
        if ($("#selectTipoEquipoIndis").val() == 1) {
            BuscarTipoIndis();
            $("#selectIndisponibilidad").empty();
            
            $('#selectIndisponibilidad').append($('<option selected>').val(-1).text('Seleccione una opción'));
            $('#selectIndisponibilidad').append($('<option>').val(1).text('Primario'));
            if (c == 2) {
                $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
            }
            if (c == 3) {
                $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
                $('#selectIndisponibilidad').append($('<option>').val(3).text('Terciario'));
            }

            
        }
    }
    function BuscarTipoIndis() {
        if ($("#selectTipoEquipoIndis").val() == 1){
            var idEquipo = $("#selectEquipo").val();
            if (idEquipo != -1) {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Equipo/ObtenerTipoIndisponibilidad?idEquipo=' + idEquipo,
                    async:false,
                    success: function (respuesta) {
                        c = respuesta;

                    }
                });
            }
        }        
    }

    function CargarTipoIndis(idTipoIndisponibilidad) {        
            
        $("#selectIndisponibilidad").empty();
        switch (idTipoIndisponibilidad) {
            case -1:
                $('#selectIndisponibilidad').append($('<option selected>').val(-1).text('Seleccione una opción'));
                $('#selectIndisponibilidad').append($('<option>').val(1).text('Primario'));
                if (c == 2) {                    
                    $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
                }
                if (c == 3) {
                    $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
                    $('#selectIndisponibilidad').append($('<option>').val(3).text('Terciario'));
                }
                
                break;
            case 1:
                
                $('#selectIndisponibilidad').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectIndisponibilidad').append($('<option selected>').val(1).text('Primario'));
                if (c == 2) {
                    $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
                }
                if (c == 3) {
                    $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
                    $('#selectIndisponibilidad').append($('<option>').val(3).text('Terciario'));
                }
                
                break;
            case 2:
                
                $('#selectIndisponibilidad').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectIndisponibilidad').append($('<option>').val(1).text('Primario'));
                if (c == 2) {
                    $('#selectIndisponibilidad').append($('<option selected>').val(2).text('Secundario'));
                }
                if (c == 3) {
                    $('#selectIndisponibilidad').append($('<option selected>').val(2).text('Secundario'));
                    $('#selectIndisponibilidad').append($('<option>').val(3).text('Terciario'));
                }
                
                break;
            case 3:
                $('#selectIndisponibilidad').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectIndisponibilidad').append($('<option>').val(1).text('Primario'));
                if (c == 2) {
                    $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
                }
                if (c == 3) {
                    $('#selectIndisponibilidad').append($('<option>').val(2).text('Secundario'));
                    $('#selectIndisponibilidad').append($('<option selected>').val(3).text('Terciario'));
                }
                
                break;
        }
    }

    function CargarEnergia(energia) {
        $("#selectEnergia").empty();
        switch (energia) {
            case -1:
                $('#selectEnergia').append($('<option selected>').val(-1).text('Seleccione una opción'));
                $('#selectEnergia').append($('<option>').val(1).text('Si'));
                $('#selectEnergia').append($('<option>').val(2).text('No'));
                break;
            case 1:
                $('#selectEnergia').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectEnergia').append($('<option selected>').val(1).text('Si'));
                $('#selectEnergia').append($('<option>').val(2).text('No'));
                break;
            case 2:
                $('#selectEnergia').append($('<option>').val(-1).text('Seleccione una opción'));
                $('#selectEnergia').append($('<option>').val(1).text('Si'));
                $('#selectEnergia').append($('<option selected>').val(2).text('No'));
                break;           
        }
    }

    function CargarEquipoIndis(idEquipo) {
        
        $("#selectEquipo").empty();
        var codTipo = "";
        if ($("#selectTipoEquipoIndis").val() == 1) {
            codTipo = "TRA";
            $("#colIndisponibilidad").removeAttr('hidden');
            $("#colIndisponibilidad").show();
            $("#colEnergia").removeAttr('hidden');
            $("#colEnergia").show();
        }
        if ($("#selectTipoEquipoIndis").val() == 4) {
            codTipo = "LIN";
            $("#colEnergia").hide();
            $("#colIndisponibilidad").hide();
        }
        if ($("#selectTipoEquipoIndis").val() == 2) {
            codTipo = "PCON";
            $("#colEnergia").hide();
            $("#colIndisponibilidad").hide();
        }
        if ($("#selectTipoEquipoIndis").val() == -1) {
            $("#colEnergia").hide();
            $("#colIndisponibilidad").hide();
        }
        if ($("#selectTipoEquipoIndis").val() == 7) {
            codTipo = "CAP";
            $("#colEnergia").hide();
            $("#colIndisponibilidad").hide();
        }
        $.ajax({
            type: 'Get',
            url: '/Api/Equipo/ObtenerEquiposIndisponibles?codTipo=' + codTipo,
            async:false,
            success: function (respuesta) {
                $("#selectEquipo").append($('<option>').val(-1).text('Seleccione una opción'))              

                $.each(respuesta, function (index, result) {                   
                    if (result.idEquipo == idEquipo) {
                        $('#selectEquipo').append($('<option selected>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                    else {
                        $('#selectEquipo').append($('<option>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                });
            }
        });
        CargarTipo();
    }
    function CargarTipo() {
        $("#selectTipo").empty();
        var tipoEquipo = $("#selectTipoEquipoIndis").val();
        if ($("#selectTipoEquipoIndis").val() == 7) {
            $("#selectTipo").append(($('<option>').val(-1).text('Seleccione una opción')));
            $("#selectTipo").append(($('<option>').val(1).text('Forzado')));
            $("#selectTipo").append(($('<option>').val(3).text('Programado')));
        } else {
            $("#selectTipo").append(($('<option>').val(-1).text('Seleccione una opción')));
            $("#selectTipo").append(($('<option>').val(1).text('Forzado')));
            $("#selectTipo").append(($('<option>').val(2).text('Forzado Autorizado')));
            $("#selectTipo").append(($('<option>').val(3).text('Programado')));
            $("#selectTipo").append(($('<option>').val(4).text('Vinculado sin tensión')));
        }        
        if (tipoEquipo==1) {
            $("#selectTipo").append(($('<option>').val(99).text('Reducido')));
        }
    }

    function GuardarIndisponibilidad() {
         
        var indisponibilidad = new Object();
        if (typeof idIndisponibilidad != "undefined") {
            indisponibilidad.idNovedadIndisponibilidad = idIndisponibilidad;
        }           
        
        var energiaNoSuministrada;
        if ($("#selectEnergia").val() == 1) {
            energiaNoSuministrada = true;
        }
        if ($("#selectEnergia").val() == 2) {
            energiaNoSuministrada = false;
        }
        var codEquipo = "";
        var idTipoEquipo;
        switch ($("#selectTipoEquipoIndis").val()) {
            case "1":
                codEquipo = "TRA";                    
                break;
            case "4":
                codEquipo = "LIN";                    
                break;
            case "2":
                codEquipo = "PCON";                    
                break;
            case "7":
                codEquipo = "CAP";
                break;
        }
        
        indisponibilidad.idEquipo = $("#selectEquipo").val();
        indisponibilidad.fechaEntrada = $("#fechaEntrada").val();
        indisponibilidad.horaEntrada = $("#horaEntrada").val();
        indisponibilidad.fechaSalida = $("#fechaSalida").val();
        indisponibilidad.horaSalida = $("#horaSalida").val();
        indisponibilidad.codEquipo = codEquipo;
        indisponibilidad.energiaNoSuministrada = energiaNoSuministrada;
        indisponibilidad.idTipoIndisponibilidad = $("#selectIndisponibilidad").val();
        indisponibilidad.descripcion = $("#descripcionIndisponibilidad").val();
        indisponibilidad.idTipoEquipo = $("#selectTipoEquipoIndis").val();
        indisponibilidad.itn = $("#selectTipo").val();
        indisponibilidad.informoEnTermino = document.getElementById('informoTermino').checked;

        var fueraServicio = true;
        if ($("#selectServicio").val() == 2) {
            fueraServicio = false;
        }
        indisponibilidad.fueraDeServicio = fueraServicio;
        $.ajax({
            type: 'Post',
            url: '/Api/Indisponibilidad/GenerarIndisponibilidad',
            data: indisponibilidad,
            dataType:'json',
            success: function (respuesta) {
                window.location.href = '/Indisponibilidad/PlanillaIndisponibilidad';
            }
        });
        
    }

    $('#informoTermino').prop('checked', true);
    
</script>