﻿<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="../JS/NovedadJS.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


@{
    ViewBag.Title = "Indisponibilidad";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Planilla Indisponibilidades</div>
                        </div>

                    </div>

                    <div class="card-body">
                        <form>
                            <div id="alertIndisponibilidad">

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <button type="button" class="btn botonTabla" style="background-color:#0080FF" onclick="LimpiarFiltros()">Limpiar Filtros</button>
                                            <button type="button" class="btn botonTabla" style="background-color:#00ACFC" onclick="GenerarExcel()">Reporte</button>
                                            <button type="button" class="btn botonTabla" style="background-color:#5cb85c; width:150px" onclick="GenerarIndisponibilidad()">Generar Indisponibilidad</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Fecha Desde</label>
                                            <input type="date" class="form-control tamanio" id="fechaDesdeFiltro" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Fecha Hasta</label>
                                            <input type="date" class="form-control tamanio" id="fechaHastaFiltro" required>
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="row">
                                    @*<div class="col">
                                        <div class="form-group">
                                            <label>Tipo Equipo</label>
                                            <select id="tipoEquipoFiltro" class="form-control selector2"></select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Actuación</label>
                                            <select id="actuacionFiltro" class="form-control selector2"></select>
                                        </div>
                                    </div>*@
                                    <div class="col">
                                        <div class="form-group">
                                            <button type="button" class="btn botonFiltrar" style="background-color:#5cb85c" onclick="Filtrar()">Filtrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="PlanillaIndisponibilidad" class="table display  nowrap" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Equipo</th>
                                            <th>Fecha Salida</th>
                                            <th>Hora Salida</th>
                                            <th>Fecha Entrada</th>
                                            <th>Hora Entrada</th>
                                            <th>% Reducido</th>
                                            <th>Estado</th>
                                            <th>Tipo indisponibilidad</th>
                                            <th>Observación</th>
                                            <th>Fecha Informe</th>
                                            <th>Hora Informe</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .centrar {
        margin: auto auto;
    }

    th, td {
        font-size: 14px;
    }

    .table thead tr th {
        font-size: 13px;
        vertical-align: central;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        color: rgba(0,0,0,.54)
    }

    .card-icon {
        width: 35%;
        padding: 0px;
    }

    .card-stats .card-header.card-header-icon i {
        width: 100%;
    }

    .indicador {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .table {
        position: relative;
        border: 1px solid rgba(0,0,0,.12);
        border-collapse: collapse;
        font-size: 13px;
        background-color: #fff;
    }

    .tamanio {
        width: 90%;
    }

    .margen {
        margin-top: 1em;
    }
</style>

<script>
    var table;
    var fechaDesde;
    var fechaHasta;
    var horaDesde;
    var horaHasta;
    var tipoEquipo = 0;
    var actuacion = 0;
    var activo = true;

    function Filtrar() {
        if (ValidarFiltros()) {
            var Desde = $("#fechaDesdeFiltro").val();
            var Hasta = $("#fechaHastaFiltro").val();
            var fDesde = new Date(Desde);
            fDesde.setDate(fDesde.getDate() + 1);
            var fHasta = new Date(Hasta);
            fHasta.setDate(fHasta.getDate() + 1);
            fechaDesde = fechaHoyMostrar(fDesde);
            fechaHasta = fechaHoyMostrar(fHasta);

            if ($("#actuacionFiltro").val() != -1) {
                actuacion = $("#actuacionFiltro").val();
            }
            else {
                actuacion = 0;
            }

            if ($("#tipoEquipoFiltro").val() != -1) {
                tipoEquipo = $("#tipoEquipoFiltro").val();
            }
            else {
                tipoEquipo = 0;
            }           

            var url = ObtenerUrlPlanilla();
            table.ajax.url(url).load();



        }
    }
    function LimpiarFiltros() {
        tipoEquipo = 0
        actuacion = 0;

        $('#tipoEquipoFiltro').empty();
        $('#actuacionFiltro').empty();


        CargarFiltrosIndis();
        var url = ObtenerUrlPlanilla();
        table.ajax.url(url).load();


    }

    (function () {
        $('.selector2').select2({
            allowClear: false,
            width: '100%',
        });
        var idItem = '#NovedadSideBar';
        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);
        CargarFiltrosIndis();
        $(".loader-wrapper").fadeOut("slow");
        crearTabla();
    }());

    function GenerarIndisponibilidad() {
        location.href = "/Indisponibilidad/AdministrarIndisponibilidad";
    }

    function CargarFiltrosIndis() {
        //Creo las fechas de hasta con dia de hoy y desde con 15 dias atras
        var Hasta = new Date();
        var Desde = new Date(Hasta);
        var dias = 15;
        Desde.setDate(Desde.getDate() - dias);
        var fechaDesdeInput = FechaformatoInput(Desde);
        var fechaHastaInput = FechaformatoInput(Hasta);

        var hs = Hasta.getHours();
        var ms = Hasta.getMinutes();
        if (hs < 10) {
            hs = '0' + hs
        }
        if (ms < 10) {
            ms = '0' + ms
        }
        var hora = hs + ":" + ms;
        //las cargo en las variables globales
        fechaDesde = fechaHoyMostrar(Desde);
        fechaHasta = fechaHoyMostrar(Hasta);
        //las cargo en el input
        $('#fechaDesdeFiltro').val(fechaDesdeInput);
        $('#fechaHastaFiltro').val(fechaHastaInput);
        
        //cargo los selectores
        tEquipo = -1;
        act = -1;
        CargarTipoEquipo(tEquipo);
        CargarActuacionIndis(act);
    }

    function ObtenerUrlPlanilla() {
        var url;
        url = "/Api/Indisponibilidad/ObtenerPlanillaIndisponibilidad";    
        url += "?fechaDesdeSalida=" + fechaDesde;
        url += "&fechaHastaSalida=" + fechaHasta;
        
        return url;
    }

    function ObtenerUrlReporteExcel() {
        var url;
        url = "/Api/Indisponibilidad/GenerarReporteExcel";
        url += "?fechaDesdeSalida=" + $("#fechaDesdeFiltro").val();
        url += "&fechaHastaSalida=" + $("#fechaHastaFiltro").val();
        return url;
    }

    function crearTabla() {
         
        var url = ObtenerUrlPlanilla(); 
        table = $('#PlanillaIndisponibilidad').DataTable({
            dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-3'i><'col-sm-8'p><'col-sm-1'l>>",
            scrollX: false,
            order: [4, "desc"],
            ajax: {
                url: url,
                type: "POST",
                datatype: "json"
            },
            processing: true,
            serverSide: true,
            language: { url: '/DataTable/js/spanish.json' },
            stateSave: true,
            filter: true,
            responsivePriority: 1,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal({
                        header: function (row) {
                            var data = row.data();
                            return 'Details for ' + data[0] + ' ' + data[1];
                        }
                    }),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                        tableClass: 'table'
                    })
                }
            },
            //rowGroup: {
            //    dataSrc: function (row) {
            //        var texto = '<div style="text-align:left; padding-left:10px"><b>'+row.equipo.nombreEquipo+'</b></div>';
            //        return texto;
            //    }
            //},
            columns: [
                { data: "codigoNovedad", className: "dt-left", "width":"5%"},
                { data: "detalleEquipo.nombreEquipo", responsivePriority: 2, className: "dt-left", "width": "15%" },
                { data: "fechaSalidaStr", responsivePriority: 4, className: "dt-center", "width": "5%" },
                { data: "horaSalidaStr", responsivePriority: 4, className: "dt-center", "width": "5%" },
                { data: "fechaEntradaStr", responsivePriority: 5, className: "dt-center", "width": "5%" },
                { data: "horaEntradaStr", responsivePriority: 5, className: "dt-center", "width": "5%" },
                { data: "porcentajeIndisponibilidad", responsivePriority: 6, className: "dt-center", "width": "5%" },
                {
                    data: 'fueraDeServicio',
                    render: function (data) {
                        if (data) {
                            return "Fuera de servicio";
                        } else {
                            return "En servicio";
                        }
                    }, responsivePriority: 5, className: "dt-center", "width": "5%"
                    
                },
                { data: "nombretipoIndisponibilidad",className: "dt-center", "width":"5%" },
                { data: "descripcion", responsivePriority: 3, className: "dt-center", "width":"25%" },
                { data: "fechaSalidaStr", className: "dt-center", "width": "5%" },
                { data: "horaInformeEntradaStr", className: "dt-center", "width": "5%" },
                {
                    "defaultContent": "<input type='image' title='Editar' class='imageButtonEditar' onclick='EditarIndisponibilidad(this);' src = '/fonts/Icons/edit.png'><input type='image'title='Eliminar' class='imageButtonEliminar' id='botonEliminar' onclick='EliminarIndisponibilidad(this);' src = '/fonts/Icons/remove.png'>", "width": 10
                },
                
            ],

        });

    }

    function EditarIndisponibilidad(button) {
        var id = table.row($(button).parents('tr')).data();
        location.href = '/Indisponibilidad/AdministrarIndisponibilidad?idIndis=' + id.idNovedadIndisponibilidad;
    }

    function EliminarIndisponibilidad(button) {
        var id = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'Post',
            url: '/Api/Indisponibilidad/EliminarIndisponibilidad?idNovedadIndisponibilidad=' + id.idNovedadIndisponibilidad,
            success: function (respuesta) {
                alert("Novedad eliminada");
                window.location.href = '/Indisponibilidad/PlanillaIndisponibilidad';
            }
        })
    }

    function CargarActuacionIndis(act) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Actuacion/ObtenerActuacionIndisponibilidad?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (act == -1) {
                    $('#actuacionFiltro').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#actuacionFiltro').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                //verificar id y nombre que consulto
                $.each(respuesta.data, function (index, result) {
                    if (act == result.idActuacion) {
                        $('#actuacionFiltro').append($('<option selected>').val(result.idActuacion).text(result.nombreActuacion))
                    }
                    else {
                        $('#actuacionFiltro').append($('<option>').val(result.idActuacion).text(result.nombreActuacion))
                    }

                });
            }
        })
    }

    function CargarTipoEquipo(tEquipo) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Equipo/ObtenerEquiposPorIndisponibilidad?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (tEquipo == -1) {
                    $('#tipoEquipoFiltro').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#tipoEquipoFiltro').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (tEquipo == result.idEquipo) {
                        $('#tipoEquipoFiltro').append($('<option selected>').val(result.idEquipo).text(result.nombreEquipo))
                    }
                    else {
                        $('#tipoEquipoFiltro').append($('<option>').val(result.idEquipo).text(result.nombreEquipo))
                    }

                });
            }
        })
    }

    function GenerarExcel() {
        var url = ObtenerUrlReporteExcel();        
        $.ajax({
            type: 'Get',
            url: url,
            dataType: "json",
            data: {},
            success: function (respuesta) {
                if (respuesta.fileName == "Error") {
                    alert("No hay indisponibilidades");
                } else {
                    verArchivoExcel(respuesta.filePath, respuesta.fileName);
                    console.log("Reporte ok");

                        }
                },
            error: function (error) {
                alert("No se generaron reportes.");
            }
        })
    }
    function verArchivoExcel(filePath, fileName) {
        var IdArchivo = url;
        window.open("/Api/Archivo/GetFile?filePath=" + filePath + "&ruta=" + " " + "&fileName=" + fileName, '_blank')

    }

</script>
