﻿
@{
    ViewBag.Title = "Administrar Capacitor";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}


<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Capacitor</b></h4>
                        <p class="card-category">Complete los datos del Capacitor.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertCapacitor"></div>
                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Código</label>
                                        <input type="text" class="form-control" id="codigoCapacitor" maxlength="150">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">ID Pagotran Cammesa</label>
                                        <input type="number" class="form-control" id="idPagotranCapacitor">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">ID BDE Cammesa</label>
                                        <input type="number" class="form-control" id="idBDECapacitor">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Potencia [MVAR]</label>
                                        <input type="number" class="form-control" id="potenciaMVAR" onchange="mostrarRemuneracion()">
                                        <br />
                                        <div class="remuneracion">
                                            <label class="bmd-label-floating">¿Es remunerada?   </label>
                                            <input class="form-check-input " type="checkbox" id="esRemunerada" />
                                        </div>
                                    </div>
                                </div>

                                        

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">TensionKV</label>
                                        <input type="number" class="form-control" id="tensionkv">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Estación</label>
                                        <select id="estacion" class="form-control"></select>
                                    </div>
                                </div>

                            </div>

                                <div class="row">
                                    <div class="col-lg-offset-5">

                                        <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                        <button type="button" class="btn btn-success pull-center" onclick="GuardarCapacitor()">Guardar</button>
                                    </div>
                                </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });

        (function () {

            var idItem = '#CapacitorSideBar';

            setTimeout(function () {
                ActivarItem(idItem);
            }, 1000);

            $('#estacion').select2({
                allowClear: false,
                width: '90%',
            });

            $('.remuneracion').css("display", "none");


            CrearOEditar();


        })();

        function volver() {
            window.location.href = '/Capacitor/Capacitor';
        }

        function mostrarRemuneracion() {
            var Mvra = $('#potenciaMVAR').val()
            if (Mvra != "") {
                $('.remuneracion').css("display", "inline");
            } else {
                $('.remuneracion').css("display", "none");
            }
        }


        function CrearOEditar() {
            var idCapacitor = GetUrlVars()["id"];

            if (idCapacitor != undefined) {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Capacitor/ConsultarUnCapacitor?idCapacitor=' + idCapacitor,
                    dataType: "json",
                    data: idCapacitor,
                    success: function (capacitor) {
                        $('#codigoCapacitor').val(capacitor.codigoCapacitor);
                        $('#potenciaMVAR').val(capacitor.potenciaMVAR);
                        $('#idPagotranCapacitor').val(capacitor.idPagotran);
                        $('#idBDECapacitor').val(capacitor.idBde);
                        $('#tensionkv').val(capacitor.TensionKV);

                       
                        var idEstacion = capacitor.estacion.idEstacion;
                        ObtenerListaEstacion(idEstacion);

                        if (capacitor.potenciaMVAR != null) {
                            $('.remuneracion').css("display", "inline");
                        } else {
                            $('.remuneracion').css("display", "none");
                        }

                        if (capacitor.remunerado) {
                            $('#esRemunerada').prop('checked', true);
                        }
                        
                    }
                })
            }
            else {
                var id = -1
                ObtenerListaEstacion(id);

            }

        }

        function GuardarCapacitor() {
            if (ValidarCapacitor()) {
                var idCapacitor = GetUrlVars()["id"];
                
                var estacion = new Object();
                estacion.idEstacion = $("#estacion").val();
                estacion.nombreEstacion = $("#estacion option:selected").text();

                var capacitor = new Object();
                capacitor.codigoCapacitor = $('#codigoCapacitor').val();
                capacitor.potenciaMVAR = $('#potenciaMVAR').val();
                capacitor.estacion = estacion;
                capacitor.idPagotran = $('#idPagotranCapacitor').val();
                capacitor.idBde = $('#idBDECapacitor').val();
                capacitor.esAutomatismo = $('#Automatismo').val();
                capacitor.TensionKV = $("#tensionkv").val();

                if (capacitor.potenciaMVAR != null) {
                    var remunerada = document.getElementById('esRemunerada').checked;
                    capacitor.remunerado = remunerada;
                } else {
                    capacitor.remunerado = false;
                }

                if (idCapacitor != undefined) {
                    capacitor.idCapacitor = idCapacitor;
                    $.ajax({
                        type: 'POST',
                        url: '/Api/Capacitor/ModificarCapacitor',
                        dataType: "json",
                        data: capacitor,
                        success: function (codigo) {
                            if (codigo == 200) {
                                window.location.href = '/Capacitor/Capacitor';
                            }
                            else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertCapacitor').clearQueue();
                                $('#alertCapacitor').append(alert);
                            }
                        }
                    })
                } else {
                    $.ajax({
                        type: 'Post',
                        url: '/Api/Capacitor/AltaCapacitor',
                        dataType: "json",
                        data: capacitor,
                        success: function (codigo) {
                            if (codigo == 200) {
                                window.location.href = '/Capacitor/Capacitor';
                            }
                            else {
                                if (codigo == 300) {
                                    var alert = "";
                                    alert += "<div class='alert alert-danger'>" +
                                        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                        "<i class='material-icons'>close</i>" +
                                        "</button>" +
                                        "<span><b>Capacitor existente.</b></span>" +
                                        "</div>";

                                    $('#alertCapacitor').clearQueue();
                                    $('#alertCapacitor').append(alert);
                                } else {
                                    var alert = "";
                                    alert += "<div class='alert alert-danger'>" +
                                        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                        "<i class='material-icons'>close</i>" +
                                        "</button>" +
                                        "<span>Formulario incompleto.</span>" +
                                        "</div>";

                                    $('#alertCapacitor').clearQueue();
                                    $('#alertCapacitor').append(alert);
                                }
                            }

                        }
                    })
                }


            }
        }

        function ValidarCapacitor() {
            //if ($("#codigoCapacitor").val() == "") {
            //    var alert = "";
            //    alert += "<div class='alert alert-danger'>" +
            //        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
            //        "<i class='material-icons'>close</i>" +
            //        "</button>" +
            //        "<span><b>Codigo</b> no puede estar vacio.</span>" +
            //        "</div>";

            //    $('#alertCapacitor').clearQueue();
            //    $('#alertCapacitor').append(alert);
            //    $(".alert").delay(4000).slideUp(200, function () {
            //        $(this).alert('close');
            //    });
            //    $("#codigoCapacitor").focus();
            //    return false;
            //}

            if ($("#idPagotranCapacitor").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span><b>ID Pagotran Cammesa</b> no puede estar vacio.</span>" +
                    "</div>";

                $('#alertCapacitor').clearQueue();
                $('#alertCapacitor').append(alert);
                $(".alert").delay(4000).slideUp(200, function () {
                    $(this).alert('close');
                });
                $("#idPagotranCapacitor").focus();
                return false;
            }

            if ($("#idBDECapacitor").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span><b>ID BDE Cammesa</b> no puede estar vacio.</span>" +
                    "</div>";

                $('#alertCapacitor').clearQueue();
                $('#alertCapacitor').append(alert);
                $(".alert").delay(4000).slideUp(200, function () {
                    $(this).alert('close');
                });
                $("#idBDECapacitor").focus();
                return false;
            }


            if ($("#potenciaMVAR").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>La <b>Potencia</b> no puede estar vacía.</span>" +
                    "</div>";

                $('#alertCapacitor').clearQueue();
                $('#alertCapacitor').append(alert);
                $(".alert").delay(4000).slideUp(200, function () {
                    $(this).alert('close');
                });
                $("#potenciaMVAR").focus();
                return false;
            }

            if ($("#tensionkv").val() == "") {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span><b>Tension</b> no puede estar vacio.</span>" +
                    "</div>";

                $('#alertCapacitor').clearQueue();
                $('#alertCapacitor').append(alert);
                $(".alert").delay(4000).slideUp(200, function () {
                    $(this).alert('close');
                });
                $("#tensionkv").focus();
                return false;
            }

            if ($("#estacion").val() == -1) {
                var alert = "";
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>close</i>" +
                    "</button>" +
                    "<span>Debe seleccionar alguna <b>Estación</b>.</span>" +
                    "</div>";

                $('#alertCapacitor').clearQueue();
                $('#alertCapacitor').append(alert);
                $(".alert").delay(4000).slideUp(200, function () {
                    $(this).alert('close');
                });
                $("#estacion").focus();
                return false;
            }

            return true;
        }

        function GetUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function ObtenerListaEstacion(idEstacion) {
            var activo = true;
            $.ajax({
                type: 'Get',
                url: '/Api/Estacion/ObtenerListaEstacion?activo=' + activo,
                dataType: "json",
                data: {},
                success: function (respuesta) {

                    if (idEstacion == -1) {
                        $('#estacion').append($('<option selected>').val(-1).text("Seleccione una opción"))
                    }
                    else {
                        $('#estacion').append($('<option>').val(-1).text("Seleccione una opción"))
                    }
                    $.each(respuesta.data, function (index, result) {
                        if (idEstacion == result.idEstacion) {
                            $('#estacion').append($('<option selected>').val(result.idEstacion).text(result.nombreEstacion))
                        }
                        else {
                            $('#estacion').append($('<option>').val(result.idEstacion).text(result.nombreEstacion))
                        }

                    });
                }
            })
        }

    </script>
