﻿@{
    ViewBag.Title = "Capacitor";
}
@{
    var nombreUsuario = Session["usuarioLogeado"];
    var permisoEliminacion = Session["tienePermisoEliminacion"];
    var permisoEditar = Session["tienePermisoEdicion"];
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Banco de Capacitores</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear permisoAgregar' style="display:none;" id='agregar' onclick="AltaCapacitor()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>
                        </div>
                        <div class="table-responsive">
                            <table id="tablaCapacitor" class="mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Id Pagotran</th>
                                        <th>Código</th>
                                        <th>Estacion</th>
                                        <th>Potencia[MVAR]</th>
                                        <th>BDE Cammesa</th>
                                        <th>TensionKV</th>
                                        <th>Remunerado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div> <!-- fin de responsive-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
    var table;
    var tienePermisoEliminar = '@permisoEliminacion';
    var tienePermisoEdicion = '@permisoEditar';

    function permisoAgregar() {
        if (tienePermisoEdicion == "True") {
            $('.permisoAgregar').show();
            $('.permisoAgregar').css('display', 'display');
        }
    }

    function AltaCapacitor() {
        window.location.href = '/Capacitor/AdministrarCapacitor';
    }

    function EditaCapacitor(button) {
        var id = table.row($(button).parents('tr')).data();
        location.href = '/Capacitor/AdministrarCapacitor?id=' + id.idCapacitor;
    }

    function RecuperaCapacitor(button) {
        var capacitor = table.row($(button).parents('tr')).data();
        $.ajax({
            type: 'POST',
            url: '/Api/Capacitor/RecuperarCapacitor',
            dataType: "json",
            data: capacitor,
            success: function (response) {
                if (response != false) {
                    var activo = false;
                    var url = "/Api/Capacitor/ObtenerBancoCapacitor?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    console.log("error");
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })
    }

    function EliminaCapacitor(button) {

        var capacitor = table.row($(button).parents('tr')).data();

        $.ajax({
            type: 'POST',
            url: '/Api/Capacitor/EliminarCapacitor',
            dataType: "json",
            data: capacitor,
            success: function (response) {
                if (response != false) {
                    var activo = true;
                    var url = "/Api/Capacitor/ObtenerBancoCapacitor?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
                else {
                }
            },
            error: function (jqxhr) {
                console.log("error");
            }
        })

    }

    function CambioCboxEliminados() {
        if ($('#cboxMostrarEliminados').prop('checked') == true) {
            //si el checkbox esta tildado, significa que quiero los Capacitores eliminados
            var activo = false;
            var url = "/Api/Capacitor/ObtenerBancoCapacitor?activo=" + activo;
            table.ajax.url(url).load(mostrarRecuperar);
        }
        else {
            //si el checkbox no esta tildado, significa que quiero Capacitores eliminados
            var activo = true;
            var url = "/Api/Capacitor/ObtenerBancoCapacitor?activo=" + activo;
            table.ajax.url(url).load(mostrarAltaEditar);
        }
    }

    function mostrarRecuperar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "none");
        $('.imageButtonEliminar').css("display", "none");
        $('.imageButtonRecuperar').css("display", "inline");
    }

    function mostrarAltaEditar() {
        // css("propertyname", "value");
        $('.imageButtonEditar').css("display", "inline");
        $('.imageButtonEliminar').css("display", "inline");
        $('.imageButtonRecuperar').css("display", "none");
    }

    function CrearTabla(activo) {

        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#tablaCapacitor').DataTable({
            "dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "order": [[2, "asc"]],
            "ajax": "/Api/Capacitor/ObtenerBancoCapacitor?activo=" + activo,
            "columns": [
                { "data": 'idCapacitor', 'visible': false },
                { "data": 'idPagotran', "width": 10, "className": "text-center" },
                { "data": 'nombreCapacitor', "width": 20, "className": "text-left" },
                { "data": 'estacion.nombreEstacion', "width": 20, "className": "text-left" },
                { "data": 'potenciaMVAR', "width": 10, "className": "text-center" },
                { "data": 'idBde', "width": 10, "className": "text-center" },
                { "data": 'TensionKV', "width": 10, "className": "text-center" },
                { "data": 'esRemunerado', "width": 10, "className": "text-center" },
                {
                    "data": 'activo',
                    "render": function (data) {
                        if (data) {
                            var botones = " ";
                            if (tienePermisoEdicion == "True") {
                                botones += "<input type='image' class='imageButtonEditar' onclick='EditaCapacitor(this);' src = '/fonts/Icons/edit.png'>"
                            }
                            if (tienePermisoEliminar == "True") {
                                botones += "<input type='image' class='imageButtonEliminar' onclick='EliminaCapacitor(this);' src = '/fonts/Icons/remove.png'>"
                            }
                            return botones
                        } else {
                            var recuperar = " ";
                            if (tienePermisoEdicion == "True" && tienePermisoEliminar == "True") {
                                recuperar += "<input type='image' class='imageButtonRecuperar' onclick='RecuperaCapacitor(this);' src = '/fonts/Icons/recuperar.png'>"
                            }
                            return recuperar
                        }
                    },
                    "width": 10,
                }
            ],
            "language": idiomaEspanol
        });

    }

    (function () {


        var idItem = '#CapacitorSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);


        var activo = true;
        CrearTabla(activo);
        permisoAgregar();
    })();
</script>

