﻿
@{
    ViewBag.Title = "Administrar PuntoConexion";
}

@{
    var nombreUsuario = Session["usuarioLogeado"];
}


<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width:100%">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Punto de Conexión</b></h4>
                        <p class="card-category">Complete los datos del Punto de Conexión.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertPuntoConexion"></div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Estación</label>
                                        <select id="estacion" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tensión</label>
                                        <select id="tensionPC" class="form-control" onchange="mostrarRemuneracion()"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Código</label>
                                        <input type="text" class="form-control" id="codigoPuntoConexion" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">idPagotran</label>
                                        <input type="number" class="form-control" id="idPagotranPC">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Descripción</label>
                                        <textarea class="form-control" id="descripcionPC"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3 remuneracion">
                                    <div class="form-group">
                                        <br />
                                        <label class="bmd-label-floating">¿Es remunerada?   </label>
                                        <input class="form-check-input " type="checkbox" id="esRemunerado" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-offset-5">
                                    <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                    <button type="button" class="btn btn-success pull-center" onclick="GuardarPuntoConexion()">Guardar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {

        var idItem = '#PuntoConexionSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#estacion').select2({
            allowClear: false,
            width: '90%',
        });

        $('#tensionPC').select2({
            allowClear: false,
            width: '90%',
        });
        $('.remuneracion').css("display", "none");

        CrearOEditar();

    })();

    function volver() {
        window.location.href = '/PuntoConexion/PuntoConexion';
    }

    function mostrarRemuneracion() {
        var tension = $('#tensionPC').val()
        if (tension != 6) {
            $('.remuneracion').css("display", "inline");
        } else {
            $('.remuneracion').css("display", "none");
        }
    }

    function CrearOEditar() {
        var idPuntoConexion = GetUrlVars()["id"];
        if (idPuntoConexion != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/PuntoConexion/ConsultarUnPuntoDeConexion?idPuntoConexion=' + idPuntoConexion,
                dataType: "json",
                data: idPuntoConexion,
                success: function (puntoConexion) {
                    $('#codigoPuntoConexion').val(puntoConexion.codigoPuntoConexion);
                    $('#idPagotranPC').val(puntoConexion.idPagotran);
                    $('#descripcionPC').val(puntoConexion.descripcion);
                    var idEstacion = puntoConexion.estacion.idEstacion;
                    var idTension = puntoConexion.tension.idTension;
                    ObtenerListaEstacion(idEstacion);
                    ObtenerListaTension(idTension);

                    if (puntoConexion.tension.idTension != 6) {
                        $('.remuneracion').css("display", "inline");
                    } else {
                        $('.remuneracion').css("display", "none");
                    }

                    if (puntoConexion.remunerado) {
                        $('#esRemunerado').prop('checked', true);
                    }

                }
            })
        }
        else {
            var idEstacion = -1;
            var idTension = -1;
            ObtenerListaEstacion(idEstacion);
            ObtenerListaTension(idTension);
        }

    }

    function GuardarPuntoConexion() {
        if (ValidarPuntoConexion()) {
            var idPuntoConexion = GetUrlVars()["id"];
            var estacion = new Object();
            estacion.idEstacion = $("#estacion").val();
            estacion.nombreEstacion = $("#estacion option:selected").text();

            var tension = new Object();
            tension.idTension = $("#tensionPC").val();
            tension.tension = $("#tensionPC option:selected").text();

            var puntoConexion = new Object();
            puntoConexion.codigoPuntoConexion = $('#codigoPuntoConexion').val();
            puntoConexion.estacion = estacion;
            puntoConexion.tension = tension;
            puntoConexion.descripcion = $('#descripcionPC').val();
            puntoConexion.idPagotran = $('#idPagotranPC').val();

            if (tension.idTension != 6) {
                var remunerado = document.getElementById('esRemunerado').checked;
                puntoConexion.remunerado = remunerado;
            } else {
                puntoConexion.remunerado = false;
            }

            if (idPuntoConexion != undefined) {
                puntoConexion.idPuntoConexion = idPuntoConexion;
                $.ajax({
                    type: 'POST',
                    url: '/Api/PuntoConexion/ModificarPuntoConexion',
                    dataType: "json",
                    data: puntoConexion,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/PuntoConexion/PuntoConexion';
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertPuntoConexion').clearQueue();
                            $('#alertPuntoConexion').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/PuntoConexion/AltaPuntoConexion',
                    dataType: "json",
                    data: puntoConexion,
                    success: function (codigo) {
                        if (codigo == 200) {
                            window.location.href = '/PuntoConexion/PuntoConexion';
                        }
                        else {
                            if (codigo == 300) {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span><b>Punto de Conexion existente.</b></span>" +
                                    "</div>";

                                $('#alertPuntoConexion').clearQueue();
                                $('#alertPuntoConexion').append(alert);
                            } else {
                                var alert = "";
                                alert += "<div class='alert alert-danger'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                    "<i class='material-icons'>close</i>" +
                                    "</button>" +
                                    "<span>Formulario incompleto.</span>" +
                                    "</div>";

                                $('#alertPuntoConexion').clearQueue();
                                $('#alertPuntoConexion').append(alert);
                            }
                            
                        }

                    }
                })
            }


        }
    }

    function ValidarPuntoConexion() {

      
        //if ($("#codigoPuntoConexion").val() == "") {
        //    var alert = "";
        //    alert += "<div class='alert alert-danger'>" +
        //        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
        //        "<i class='material-icons'>close</i>" +
        //        "</button>" +
        //        "<span>El <b> Codigo </b> no puede estar vacía.</span>" +
        //        "</div>";

        //    $('#alertPuntoConexion').clearQueue();
        //    $('#alertPuntoConexion').append(alert);
        //    $(".alert").delay(4000).slideUp(200, function () {
        //        $(this).alert('close');
        //    });
        //    $("#codigoPuntoConexion").focus();
        //    return false;
        //}

        if ($("#idPagotranPC").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>El <b> ID Pagotran </b> no puede estar vacía.</span>" +
                "</div>";

            $('#alertPuntoConexion').clearQueue();
            $('#alertPuntoConexion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#idPagotranPC").focus();
            return false;
        }

        if ($("#estacion").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Estación</b>.</span>" +
                "</div>";

            $('#alertPuntoConexion').clearQueue();
            $('#alertPuntoConexion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#estacion").focus();
            return false;
        }

        if ($("#tensionPC").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>Tensión</b>.</span>" +
                "</div>";

            $('#alertPuntoConexion').clearQueue();
            $('#alertPuntoConexion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#tensionPC").focus();
            return false;
        }

        if ($("#descripcionPC").val() == "") {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>La <b> Descripción </b> no puede estar vacía.</span>" +
                "</div>";

            $('#alertPuntoConexion').clearQueue();
            $('#alertPuntoConexion').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#descripcionPC").focus();
            return false;
        }

        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function ObtenerListaEstacion(idEstacion) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Estacion/ObtenerListaEstacion?activo=' + activo,
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idEstacion == -1) {
                    $('#estacion').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#estacion').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idEstacion == result.idEstacion) {
                        $('#estacion').append($('<option selected>').val(result.idEstacion).text(result.nombreEstacion))
                    }
                    else {
                        $('#estacion').append($('<option>').val(result.idEstacion).text(result.nombreEstacion))
                    }

                });
            }
        })
    }

    function ObtenerListaTension(idTension) {
        $.ajax({
            type: 'Get',
            url: '/Api/Tension/TraerListaTension',
            dataType: "json",
            data: {},
            success: function (respuesta) {

                if (idTension == -1) {
                    $('#tensionPC').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#tensionPC').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idTension == result.idTension) {
                        $('#tensionPC').append($('<option selected>').val(result.idTension).text(result.tension))
                    }
                    else {
                        $('#tensionPC').append($('<option>').val(result.idTension).text(result.tension))
                    }

                });
            }
        })
    }
</script>
