﻿:root {
    --rojo: #d9534f;
    --verde: #5cb85c;
    --amarillo: #ffc107;
    --azul: #0080FF;
    --purpura: #800080;
    --naranja: #FF8B00;
    --colorNavBar: #00ddf9;
    --preferedTheme: dark;
}


/** backgrounds*/

.bgRojo {
    background-color: var(--rojo)!important;
    /*border-color: var(--rojo); */
}

.bgVerde {
    background-color: var(--verde)!important;
}

.bgAmarillo {
    background-color: var(--amarillo)!important;

}
.bgAzul {
    background-color: var(--azul)!important;
}
.bgPurpura {
    background-color: var(--purpura)!important;
}
.bgNaranja {
    background-color: var(--naranja)!important;
}
.bgNavBar {
    background-color: var(--colorNavBar)!important;
}

/*.wrapper {
    height: 0;
}*/

/*.mdl-data-table td, .mdl-data-table th {
    padding: 0 18px 12px;
    text-align: left;

}*/

th.dt-center, td.dt-center {
    text-align: center;
}

th.dt-left {
    text-align: center;
}

td.dt-left {
    text-align: left;
}

.group {
    background-color: lightcyan;
}

.grupoLibro {
    text-align: left;
    font-size: 15px;
}

.imagenGrupo {
    width: 50px;
}

.imageButtonEditar {
    height: 35px;
    width: 35px;
    display: inline;
    cursor: pointer;
}

.imageButtonMirarNovedad {
    height: 35px;
    width: 35px;
    display: inline;
    cursor: pointer;
    color: #337ab7;
}

.imageButtonRelacionar {
    height: 35px;
    width: 35px;
    display: inline;
    cursor: pointer;
}

.imageButtonCerrar {
    height: 40px;
    width: 40px;
    display: inline;
    cursor: pointer;
    color: #5cb85c;
}

.imagenEstado {
    height: 35px;
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagenEstadoEnTexto {
    height: 35px;
    width: 35px;
    display: inline;
    margin-bottom: 0.2cm;
}

.imageButtonEliminar {
    height: 35px;
    width: 35px;
    display: inline;
    cursor: pointer;
}

.imageButtonUpload {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.imageButtonRecuperar {
    height: 40px;
    width: 40px;
    display: inline;
    cursor: pointer;
}

.imageButtonCrear {
    height: 40px;
    width: 40px;
    display: inline;
    cursor: pointer;
}

.card2 {
    width: auto;
    height: 50px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #00bcd4;
    border-color: #00bcd4;
}

.ocultar {
    display: none;
}

.botonVolver .botonGuardar .botonEliminar {
    width: 5cm;
}

.botonEliminar {
    background-color: #d9534f;
}

.botonGuardar {
    background-color: #5cb85c;
}

label {
    color: #666666;
    font-weight: bold;
}

.label-blue {
    background-color: #0080FF;
    color: #fff;
}

.label-amarillo {
    background-color: yellow;
    color: #fff;
}

.label-green {
    background-color: #5cb85c;
    color: #fff;
}

.label-orange {
    background-color: #FF8B00;
    color: #fff;
}

.label-red {
    background-color: #d9534f;
    color: #fff;
}

.label-yellow {
    background-color: #ffc107;
    color: #fff;
}

.label-purple {
    background-color: #800080;
    color: #fff;
}

.label {
    display: inline;
    padding: .2em .3em .2em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.color-link {
    color: #337ab7;
    text-decoration: none;
}

/*.tabla{
    width:100%;
}*/

.rowWhite {
    background-color: #ffffff;
}

.rowBlue {
    background-color: #A1A3DA;
}

.rowRed {
    background-color: #FF7272;
}

.rowLigthBlue {
    background-color: #54FFFA;
}

.rowGreen {
    background-color: #5EFF54;
}

.rowOrange {
    background-color: #FFB654;
}

.rowYellow {
    background-color: #EFFF54;
}

.botonTabla {
    padding: 8px;
    margin: 0.500rem 10px;
    width:108px;
}

.botonFiltrar {
    padding: 10px;
    margin: 0.500rem 0;
}

.filtros {
    margin: 1rem 0px;
}

.botones {
    margin: 0.500rem 0px;
}


#masFiltorDiv {
    background-color: #E8E8E8;
    margin: 2rem 0px;
    padding: 5px;
    display: none;
    border-radius: 7px;
}

.botonGenerarLicencia {
    border-radius: 10px;
    font-size: 13px;
    padding: 14px 20px;
    margin-right: 8px;
    font-weight: bold;
}

.tarjetaPerfil {
    border-radius: 10px;
    font-size: 15px;
    padding: 12px 20px;
    margin-right: 8px;
    margin-top: 5px;
    font-weight: bold;
    background: #00b8e6;
    color: white;
   
}

.redondeado {
    border-radius: 4px;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    font-size: 13px;
    padding: 2px;
    color: #090909;
}
.modal-footer {
    justify-content: initial;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    width: 2.454102em;
}

.trafoImg  {
    fill: transparent;
}

.novedadImg, .capacitorImg, .estacionImg, .lineaImg, .puntoConexionImg, .turnoImg, .centroControlImg, .centralImg, .generadorImg {
    fill: currentColor;
}

.sidebar .nav li > a, .sidebar .nav li > a > img {
    color: #a9afbb;
}


.sidebar .nav li.active > a, .sidebar .nav li.active > a > img {
    color:#fff;
}

.elemento{
    margin-left:8px;
    font-size:15px;
}



/** indicadores y graficos*/

.indicadores {
}
 .indicadores h2, .indicadores h3 {
        color: white !important;
    }

.indicadoresIcon {
    padding: 15px;
    margin-top: 0px;
    margin-right: 15px;
    float: left;
}

.indicadoresRedireccion {    
    font-size: 30px;
    color: white;
    padding-top: 5px;
    padding-right: 2px
}

/* Extra small devices  */
@media only screen and (max-width: 600px) {
    .indicadores h3 {
        font-size: 20px;
    }
}

/* Small devices  */
@media only screen and (min-width: 600px) {
    .indicadores h3 {
        font-size: 18px;
    }
}

/* Medium devices  */
@media only screen and (min-width: 768px) {

    .card [class*="card-header-"] {
        margin: 0px 5px 0 !important;
    }

    .indicadores h3 {
        font-size: 24px!important;
    }
}

/* Large devices  */
@media only screen and (min-width: 992px) {
    .indicadores h3 {
        font-size: 15px!important;
    }
}

/* Extra large devices  */
@media only screen and (min-width: 1200px) {
    .indicadores h3 {
        font-size: 18px!important;
    }
}


.tablaRutes {
    width: 100%;
    padding: 5%;
}

.tabaMontoscss {
    table-layout: fixed;
    width: 100%;
    padding: 12px;
}

.cardClima > p{
    color: white;
    font-size: 1.2rem;
    line-height: 5px;
    position: relative;
    top: 1rem;
}

#tituloClima {
    color: white !important;
    font-weight: 500 !important;
    font-size: 25px;
    padding-right: 25px;
}

#locationClima {
    color: white !important;
    font-weight: 500 !important;
    font-size: 1.25rem;
}


.card :hover{
    cursor: pointer;
}

.card{
    background: #ffff;
}

.modalMonto {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 45%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

@media(prefers-color-scheme: dark) {
    
    /*#region Variables standar para el modo obscuro*/
    .card {
        color: #9b9b9b;
        background: #191c24;
    }

    body {
        background: #161616;
    }

    .input-group-text {
        color: #ffff;
    }

    .form-control {
        color: #ffff;
    }

    label {
        color: #bdbdbd!important;
    }
    .modal-content {
        background-color: #003572;
    }
    body .modal-content {
        color: #ffffff;
        background-color: #00242e;
    }
    input#motivo {
        background : #00242e;
    }

    tr.odd td {
        color: #9b9b9b;
        background: #000a1ae0 !important;
    }/*de ser necesario se puede modificar el tr.odd:hover*/
    tr.even:hover {
        background: #1b2638e0!important;
    }
    table.dataTable.display tbody td {
        background: #000a1ae0!important;
    }

    .sidebar {
        background: #191c24 !important;
    }

    .dataTables_wrapper .dataTables_info{
        color: #fff!important;
    }

    .fc-theme-bootstrap a:not([href]){
        color: white!important;
    }

    .card .card-header-info:not(.card-header-icon):not(.card-header-text) {
        background: linear-gradient(60deg, #283334, #0498ab);
    }

    h2 {
        color: #fff !important;
    }

    .cabecera {
        color: #e7e7e7e0!important;
    }
    table.dataTable th {
        background-color: #022b3cb0!important;
    }

    .select2-selection__choice {
        background-color: #06314a !important;
    }
    .mdl-data-table {
        background-color: #000a1ae0 !important;
    }
    .mdl-data-table th {
        color: #afafaf!important;

    }
    .form-control:focus {
        color: #fff !important;
        background-color: #191c24 !important;
    }

    #masFiltorDiv {
        background-color: #191c24!important;
    }
    /*#endregion*/
    /*#region Variables para cuando se entre en modo claro*/
    body.light-theme tr.odd td {
        color: black;
        background: white !important;
    }

    body.light-theme tr.even:hover{
        background:#ffffff!important;
    }

    body.light-theme label {
        color: #0e0e0e!important;
    }

    body.light-theme{
        background: #ffff;
    }
    body.light-theme .card{
        color:black;
        background: #ffff;
    }
    body.light-theme .form-control{
        color: black;
    }
    body.light-theme .input-group-text{
        color: black;
    }
    body.light-theme .dataTable.display tbody td {
        background: white !important;
    }

    body.light-theme .sidebar{
        background: #ffff !important;
    }

    body.light-theme .dataTables_wrapper .dataTables_info{
        color: #000!important;
    }

        body.light-theme .modal-content {
            color: #000000;
            background-color: #fff;
        }

    body.light-theme input#motivo {
        background: #ffff;
    }

    body.light-theme .card .card-header-info:not(.card-header-icon):not(.card-header-text) {
        background: linear-gradient(60deg, #26c6da, #00acc1);
    }

    body.light-theme .fc-theme-bootstrap a:not([href]){
        color: inherit!important;
    }

    body.light-theme h2{
        color: #333!important;
    }

    body.light-theme .cabecera{
        color: #040404!important;
    }

    body.light-theme table.dataTable th{
        background-color: white!important;
    }

        body.light-theme .select2-selection__choice {
            background-color: #e1e1e1!important;
        }

        body.light-theme .mdl-data-table {
            background-color: #ffffffe6!important;
        }

    body.light-theme .mdl-data-table th{
        color: #0e0e0e!important;
    }
        body.light-theme .form-control:focus {
            color: #050505 !important;
            background-color: #e0e0e0 !important;
        }

    body.light-theme #masFiltorDiv {
        background-color: #E8E8E8!important;
    }
     /*#endregion*/
    /*#region Variables del boton toggle*/
        #toggleButton {
            position: relative;
            display: block;
            width: 80px;
            height: 40px;
            border-radius: 80px;
            transition: 0.5s;
            cursor: pointer;
            background: #fff;
            /*fondo Boton dia*/
            background: url('https://i.pinimg.com/originals/be/a1/7c/bea17ca03e487d7038a814f66b492401.gif');
            background-position: center;
            background-size: cover;
            box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),inset 0 2px 8px rgba(0,0,0,0.1),inset 0 -4px 4px rgba(0,0,0,0.05);
        }

        #toggleButton .indicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            background: linear-gradient(to bottom, #444,#222);
            /*Boton modo nocturno*/
            background: url('https://i.ibb.co/ZWmbGbj/etmfdr.gif');
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            transform: scale(0.9);
            box-shadow: 0 8px 40px rgba(0,0,0,0.5), inset 0 4px 4px rgba(255,255,255,0.2), inset 0 -4px 4px rgba(255,255,255,0.2);
            transition: 0.5s;
        }

        #toggleButton.active {
            background: #6c6c6c;
            /*Fondo Boton nocturno*/
            background: url('https://i.pinimg.com/originals/d9/17/f8/d917f8ee1121188f64820486c5dea823.gif');
            background-position: center;
            background-size: cover;
            box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0,0,0,0.1), inset 0 -4px 4px rgba(0,0,0,0.1);
        }

            #toggleButton.active .indicator {
                left: 40px;
                /*boton modo dia*/
                background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
                background: url('https://i.pinimg.com/originals/94/ff/74/94ff7463a1574221ba6d4ada2c997e0b.gif');
                background-position: center;
                background-size: cover;
                box-shadow: 0 8px 20px rgba(0,0,0,0.1),inset 0 4px 4px rgba(255,255,255,1),inset 0 -4px 4px rgba(255,255,255,1);
            }
            /*#endregion*/
}


@media(prefers-color-scheme: light) {
    
    /*#region variables standar para el modo claro*/
    .card {
        color: black;
        background: #ffff;
    }

    body {
        background: #ffff;
    }

    .input-group-text {
        color: black;
    }

    .form-control {
        color: black;
    }

    label {
        color: darkgray;
    }

    tr.odd td {
        color: black;
        background: white !important;
    }

    tr.even:hover {
        background: #ffffff !important;
    }

    table.dataTable.display tbody td {
        background: white !important;
    }

    .sidebar{
        background: #ffff!important;
    }


    .dataTables_wrapper .dataTables_info {
        color: #000 !important;
    }

    .fc-theme-bootstrap a:not([href]) {
        color: inherit !important;
    }

    .card .card-header-info:not(.card-header-icon):not(.card-header-text) {
        background: linear-gradient(60deg, #26c6da, #00acc1);
    }

    h2 {
        color: #333 !important;
    }

    .select2-selection__choice {
        background-color: #e1e1e1!important;
    }

    .mdl-data-table {
        background-color: #ffffffe6!important;
    }

        .mdl-data-table th {
            color: #0e0e0e !important;
        }
    .form-control:focus {
        color: #050505 !important;
        background-color: #e0e0e0 !important;
    }

    #masFiltorDiv {
        background-color: #E8E8E8!important;
    }

    input#motivo {
        background: #ffff;
    }
    /*#endregion*/

    /*#region Variables para cuando se entre en modo obscuro*/
    body.dark-theme tr.odd td {
        color: #9b9b9b;
        background: #000a1ae0 !important;
    }

    body.dark-theme tr.even:hover {
        background: #1b2638e0 !important;
    }
    body.dark-theme table.dataTable.display tbody td {
        background: #000a1ae0 !important;
    }

    body.dark-theme label {
        color: #bdbdbd !important;
    }

    body.dark-theme {
        background: #161616;
    }

        body.dark-theme .card {
            color: #9b9b9b;
            background: #191c24;
        }

    body.dark-theme .form-control {
        color: #ffff;
    }

    body.dark-theme .input-group-text {
       color: #ffff;
    }

    body.dark-theme .dataTable.display tbody td {
        background: gray !important;
    }

        body.dark-theme .sidebar {
            background: #191c24 !important;
        }

        body.dark-theme .dataTables_wrapper .dataTables_info {
            
            color: #fff !important;
        }

        body.dark-theme .card .card-header-info:not(.card-header-icon):not(.card-header-text) {
            
            background: linear-gradient(60deg, #283334, #0498ab);
        }

        body.dark-theme .fc-theme-bootstrap a:not([href]) {
           
            color: white !important;
        }

        body.dark-theme h2 {
            color: #fff !important;
        }

        body.dark-theme .modal-content {
            background-color: #00242e;
        }

    body.dark-theme .modal-content {
        color: #ffffff;
    }

    body.dark-theme .cabecera {
        color: #e7e7e7e0 !important;
    }

    body.dark-theme table.dataTable th {
        background-color: #022b3cb0 !important;
    }

        body.dark-theme .select2-selection__choice {
            background-color: #06314a !important;
        }

        body.dark-theme .mdl-data-table {
            background-color: #000a1ae0 !important;
        }

            body.dark-theme .mdl-data-table th {
                color: #afafaf !important;
            }
        body.dark-theme .form-control:focus {
            color: #fff !important;
            background-color: #191c24 !important;
        }
        body.dark-theme #masFiltorDiv {
            background-color: #191c24 !important;
        }

        body.dark-theme input#motivo {
            background: #00242e;
        }
        /*#endregion*/

    /*#region Variables del boton toggle*/
    #toggleButton {
        position: relative;
        display: block;
        width: 80px;
        height: 40px;
        border-radius: 80px;
        transition: 0.5s;
        cursor: pointer;
        background: #fff;
        /*fondo Boton dia*/
        background: url('https://i.pinimg.com/originals/be/a1/7c/bea17ca03e487d7038a814f66b492401.gif');
        background-position: center;
        background-size: cover;
        box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),inset 0 2px 8px rgba(0,0,0,0.1),inset 0 -4px 4px rgba(0,0,0,0.05);
    }

        #toggleButton .indicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            background: linear-gradient(to bottom, #444,#222);
            /*Boton modo nocturno*/
            background: url('https://i.ibb.co/ZWmbGbj/etmfdr.gif');
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            transform: scale(0.9);
            box-shadow: 0 8px 40px rgba(0,0,0,0.5), inset 0 4px 4px rgba(255,255,255,0.2), inset 0 -4px 4px rgba(255,255,255,0.2);
            transition: 0.5s;
        }

        #toggleButton.active {
            background: #6c6c6c;
            /*Fondo Boton nocturno*/
            background: url('https://i.pinimg.com/originals/d9/17/f8/d917f8ee1121188f64820486c5dea823.gif');
            background-position: center;
            background-size: cover;
            box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0,0,0,0.1), inset 0 -4px 4px rgba(0,0,0,0.1);
        }

        #toggleButton.active .indicator {
                left: 40px;
                /*boton modo dia*/
                background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
                background: url('https://i.pinimg.com/originals/94/ff/74/94ff7463a1574221ba6d4ada2c997e0b.gif');
                background-position: center;
                background-size: cover;
                box-shadow: 0 8px 20px rgba(0,0,0,0.1),inset 0 4px 4px rgba(255,255,255,1),inset 0 -4px 4px rgba(255,255,255,1);
         }
    /*#endregion*/

}



