﻿.timeline {
    white-space: nowrap;
    overflow-x: auto;
    padding: 30px 0 10px 0;
    position: relative;
}

.entry {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    color: black;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

    .entry:after {
        content: '';
        display: block;
        background: #eee;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #06182E;
        position: absolute;
        left: 50%;
        top: -30px;
        margin-left: -6px;
    }

    .entry:before {
        content: '';
        display: block;
        background: #06182E;
        width: 3px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: -20px;
        margin-left: 2px;
    }

.bar {
    height: 4px;
    background: #eee;
    width: 100%;
    position: relative;
    top: 13px;
    left: 55px;
}

.entry:hover {
    background-color: #ECECEC;
    border-radius: 5%;
}

.entry.active:after {
    background-color: #5cb85c;
}

.entry.active {
    font-weight: bold;
    color: white;
    border-radius: 5%;
    cursor:default;
}

.tituloTime {
    font-size: 13px;
}

.fechaTime {
    font-size: 11px;
    align-content l
}

.entry.active.green {
    background: #5cb85c;
}

.entry.active.blue {
    background: #0080FF;
}

.entry.green:after {
    background-color: #5cb85c;
}

.entry.blue:after {
    background-color: #0080FF;
}
