﻿
@{
    ViewBag.Title = "AdministrarRoles";
}


<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><b>Administrar Rol</b></h4>
                        <p class="card-category">Complete los datos.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div id="alertRol"></div>

                            <div class="row">
                                
                                <div class="col-md-3" id="personin">
                                    <div class="form-group">
                                        <label>Persona</label>
                                        <select class="select2 ObtenerPersonalCTR" id="selectPersona"></select>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Rol</label>
                                            <br />
                                            <select class="select2 ObtenerListaRol" id="selectRol"></select>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="col-lg-offset-5">
                                <input type="button" class="btn btn-info pull-center" onclick="volver()" value="Volver">
                                <button type="button" class="btn btn-success pull-center" onclick="GuardarUsuarioRol()">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var idUsuarioRol = GetUrlVars()["id"];

    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

    (function () {

        var idItem = '#RolSideBar';

        setTimeout(function () {
            ActivarItem(idItem);
        }, 1000);

        $('#selectPersona').select2({
            allowClear: false,
            width: '90%',

        });

        $('#selectRol').select2({
            allowClear: true,
            width: '90%',
        });

        CrearOEditar();

    })();

    function volver() {
        window.location.href = '/Roles/Roles';
    }


    function CrearOEditar() {
        if (idUsuarioRol != undefined) {
            $.ajax({
                type: 'Get',
                url: '/Api/Rol/ConsultarUnRol?idUsuarioRol=' + idUsuarioRol,
                dataType: "json",
                data: idUsuarioRol,
                success: function (usuarioRol) {
                    var idUsuario = usuarioRol.idUsuario;
                    ObtenerListaUsuarioCTREditar(idUsuario);

                    var idRol = usuarioRol.idRol;
                    ObtenerListaRol(idRol);

                }
            })
        }
        else {
            var id = -1
            ObtenerPersonalCTR(id);
            ObtenerListaRol(id);
        }

    }

    function GuardarUsuarioRol() {
        if (ValidarUsuarioRol()) {
            var idUsuarioRol = GetUrlVars()["id"];
            var usuarioRol = new Object();
            usuarioRol.idUsuarioRol = $("#idUsuarioRol").val();
            usuarioRol.idUsuario = $("#selectPersona").val();
            usuarioRol.idRol = $("#selectRol").val();

          
            if (idUsuarioRol != undefined) {
                usuarioRol.idUsuarioRol = idUsuarioRol;
                $.ajax({
                    type: 'POST',
                    url: '/Api/Rol/ModificarUsuarioRol',
                    dataType: "json",
                    data: usuarioRol,
                    success: function (codigo) {
                         
                        console.log("CODIGO " + codigo);
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertRol').clearQueue();
                            $('#alertRol').append(alert);
                        }
                    }
                })
            } else {
                $.ajax({
                    type: 'Post',
                    url: '/Api/Rol/AltaUsuarioRoles',
                    dataType: "json",
                    data: usuarioRol,
                    success: function (codigo) {
                        console.log("CODIGO " + codigo);                        
                            console.log(codigo)
                        if (codigo == 200) {
                            volver();
                        }
                        else {
                            var alert = "";
                            alert += "<div class='alert alert-danger'>" +
                                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                                "<i class='material-icons'>close</i>" +
                                "</button>" +
                                "<span>Formulario incompleto.</span>" +
                                "</div>";

                            $('#alertRol').clearQueue();
                            $('#alertRol').append(alert);
                        }                       
                    }
                })
            }


        }
    }



    function ValidarUsuarioRol() {

        if ($("#selectPersona").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar alguna <b>persona</b>.</span>" +
                "</div>";

            $('#alertRol').clearQueue();
            $('#alertRol').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectPersona").focus();
            return false;
        }


        if ($("#selectRol").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>close</i>" +
                "</button>" +
                "<span>Debe seleccionar algun<b>Rol</b>.</span>" +
                "</div>";

            $('#alertRol').clearQueue();
            $('#alertRol').append(alert);
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });
            $("#selectRol").focus();
            return false;
        }
        
        return true;
    }

    function GetUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }



    function ObtenerPersonalCTR(idUsuario) {
        $.ajax({
            type: 'Get',
            url: '/Api/Rol/ObtenerListaUsuarioCTR',
            success: function (respuesta) {
                if (idUsuario == -1) {
                    $('#selectPersona').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectPersona').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta, function (index, result) {
                    if (idUsuario == result.idUsuario) {
                        $('#selectPersona').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                    else {
                        $('#selectPersona').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                });
            }
        })

    }

    function ObtenerListaRol(idRol) {
        var activo = true;
        $.ajax({
            type: 'Get',
            url: '/Api/Rol/ObtenerRolesSelect?activo=' + activo,
            success: function (respuesta) {

                if (idRol == -1) {
                    $('#selectRol').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectRol').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idRol == result.idRol) {
                        $('#selectRol').append($('<option selected>').val(result.idRol).text(result.nombreRol))
                    }
                    else {
                        $('#selectRol').append($('<option>').val(result.idRol).text(result.nombreRol))
                    }
                });
            }
        })

    }

    function ObtenerListaUsuarioCTREditar(idUsuario) {
        $.ajax({
            type: 'Get',
            url: '/Api/Rol/ObtenerListaUsuarioCTREditar',
            success: function (respuesta) {
                if (idUsuario == -1) {
                    $('#selectPersona').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#selectPersona').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta.data, function (index, result) {
                    if (idUsuario == result.idUsuario) {
                        $('#selectPersona').append($('<option selected>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                    else {
                        $('#selectPersona').append($('<option>').val(result.idUsuario).text(result.nombreUsuario))
                    }
                });
            }
        })
    }


    function alertaRol() {
        alerta = document.getElementById('alertaaRol');

        if (alerta) {
            padre = alerta.parentNode;
            padre.removeChild(alerta);
        }
    }

</script>


