﻿
@{
    ViewBag.Title = "Roles";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Roles</div>
                        </div>
                        <div class="float-right">
                            <input type='image' class='imageButtonCrear' id='agregar' onclick="AltaRol()" src='/fonts/Icons/add.png'>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="cboxMostrarEliminados" onchange="CambioCboxEliminados()" aria-label="Checkbox solo eliminados">
                            </div>
                            <span class="input-group-text">Mostrar solo Eliminados</span>

                        </div>


                        <div class="table-responsive">
                            <table id="tablaRoles" class="mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Persona</th>
                                        <th>Rol</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="modal" id="modalRolRepetido" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h4 class="modal-title" id="labelTitutlo" style="font-weight: bold">Turno Repetido</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>El Usuario con ese Rol que intenta recuperar ya ha sido creado</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn botonCancelar float-left" style="background-color:#d9534f" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var activo = true;

            $(window).on("load", function () {
                $(".loader-wrapper").fadeOut("slow");
            });
            var table;

            function AltaRol() {
                window.location.href = '/Roles/AdministrarRoles';
            }

            function EditaRoles(button) {
                var id = table.row($(button).parents('tr')).data();
                 
                location.href = '/Roles/AdministrarRoles?id=' + id.idUsuarioRol;
            }

            function RecuperaRoles(button) {
                var rol = table.row($(button).parents('tr')).data();
                console.log("Entro a recuperar")
                $.ajax({
                    type: 'POST',
                    url: '/Api/Rol/RecuperarUsuarioRol',
                    dataType: "json",
                    data: rol,
                    success: function (response) {
                        if (response != false) {
                                if (response == 200) {
                                    var activo = false;
                                    var url = "/Api/Rol/ObtenerPersonasRoles?activo=" + activo;
                                    table.ajax.url(url).load(mostrarRecuperar);
                                }
                            
                        }
                        else {
                            console.log("error");
                        }
                    },
                    error: function (jqxhr) {
                        console.log("error");
                    }
                })
            }

            function EliminaUsuarioRol(button) {

                var usuarioRol = table.row($(button).parents('tr')).data();

                $.ajax({
                    type: 'POST',
                    url: '/Api/Rol/EliminarUsuarioRol',
                    dataType: "json",
                    data: usuarioRol,
                    success: function (response) {
                        if (response != false) {
                            var activo = true;
                            var url = "/Api/Rol/ObtenerPersonasRoles?activo=" + activo;
                            table.ajax.url(url).load(mostrarAltaEditar);
                        }
                        else {
                        }
                    },
                    error: function (jqxhr) {
                        console.log("error");
                    }
                })

            }

            function CambioCboxEliminados() {
                if ($('#cboxMostrarEliminados').prop('checked') == true) {
                    var activo = false;
                    var url = "/Api/Rol/ObtenerPersonasRoles?activo=" + activo;
                    table.ajax.url(url).load(mostrarRecuperar);
                }
                else {
                    var activo = true;
                    var url = "/Api/Rol/ObtenerPersonasRoles?activo=" + activo;
                    table.ajax.url(url).load(mostrarAltaEditar);
                }
            }

            function mostrarRecuperar() {
                // css("propertyname", "value");
                $('.imageButtonEditar').css("display", "none");
                $('.imageButtonEliminar').css("display", "none");
                $('.imageButtonRecuperar').css("display", "inline");
            }

            function mostrarAltaEditar() {
                // css("propertyname", "value");
                $('.imageButtonEditar').css("display", "inline");
                $('.imageButtonEliminar').css("display", "inline");
                $('.imageButtonRecuperar').css("display", "none");
            }

            function ObtenerUrlRoles() {
                var url;
                url = "/Api/Rol/ObtenerPersonasRoles";
                url += "?activo=" + activo;
                return url;
            }


            function CrearTabla() {

                var idiomaEspanol = {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla.",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }

                table = $('#tablaRoles').DataTable({
                    //"dom": "<'row'<'col-sm-9'l> <'col-sm-3'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                    //"order": [[2, "asc"]],
                    "ajax": "/Api/Rol/ObtenerPersonasRoles?activo=" + activo,
                    "columns": [
                        { data: "usuario.nombreUsuario", "width": 100, "className": "text-left" },
                        { data: "nombreRol", "width": 100, "className": "text-left" },
                        {
                            "data": 'activo',
                            "render": function (data) {
                                if (data) {
                                    return "<input type='image' class='imageButtonEditar' onclick='EditaRoles(this);' src = '/fonts/Icons/edit.png'><input type='image' class='imageButtonEliminar' onclick='EliminaUsuarioRol(this);' src = '/fonts/Icons/remove.png'>"
                                } else {
                                    return "<input type='image' class='imageButtonRecuperar' onclick='RecuperaRoles(this);' src = '/fonts/Icons/recuperar.png'>"
                                }
                            },
                            "width": 10,
                        },
                    ],
                    "language": idiomaEspanol
                });
             
            }
            var activo = true;

            (function () {


                var idItem = '#RolesSideBar';

                setTimeout(function () {
                    ActivarItem(idItem);
                }, 1000);

                var activo = true;
                CrearTabla(activo);

            })();
        </script>


