﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/js")*@
    @Scripts.Render("~/bundles/modernizr")
    <link href="../fonts/Fuentes/googleApis/Material-Icons.css" rel="stylesheet" />
    <link href="../DataTable/css/material.min.css" rel="stylesheet" />
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <script src="~/Content/js/generales.js"></script>
    <script type="text/javascript" src="../JS/JQuery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../DataTable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/DataTable/js/dataTables.material.min.js"></script>

    <link href="../CSS/EstilosPropios.css" rel="stylesheet" />
    <link href="~/CSS/style.css" rel="stylesheet" />
    <link href="~/CSS/DarkEstilos.css" rel="stylesheet" />
    <script src="~/Content/js/generales.js"></script>


    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>


<body>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div class="wrapper" style="display:flex;">

        <div id="sidebar" class="sidebar active" data-color="azure" data-background-color="white">
            <!--  <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg" style="overflow-y: hidden;">
            -->
            <div class="logo">
                <div class="sidebar-header">
                    <a href="/Novedad/Novedad" class="simple-text logo-normal" id="logoCompleto">
                        <img src="/fonts/Icons/logo.png" alt="Distrocuyo" height="50" />
                    </a>
                    <a href="/Novedad/Novedad" class="simple-text logo-normal" id="logoReducido">
                        <img src="/fonts/Icons/logo-distrocuyo.png" height="50" />
                    </a>
                </div>
            </div>


            <div class="sidebar-wrapper">
                <ul class="nav" id="MenuPrincipal"></ul>
            </div>

        </div> <!-- fin del menu-->
        <div id="content2">

            <div class="container-fluid row">
                <div class="col-md-1 float-left">
                    <button type="button" id="sidebarCollapse" style="padding:10px 12px;" class="btn btn-info">
                        <img src="~/fonts/Icons/hamburger.png" width="30" />
                    </button>
                    <button class="btn btn-info d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>

                <div class="col-md-11 float-right">
                    <div id="toggleButton" class="float-right" style="margin-top:6px">
                        <i class="indicator float-right"></i>
                        <!--<button type="button" id="tema" class="indicator float-right botonGenerarLicencia"></button>-->
                       <!-- <button type="button" id="tema" class="btn btn-danger float-right botonGenerarLicencia">Cambiar Tema</button> -->
                    </div>

                    <div>
                        <button type="button" id="logout" class="btn btn-danger float-right botonGenerarLicencia" onclick="logout()">SALIR</button>
                    </div>
                    <div>
                        <span id="idPerfil" class="tarjetaPerfil float-right "></span>
                    </div>
                    <div class="ocultaGenerarLicencia">
                        <button type="button" id="generarLicencia" class="btn btn-success botonGenerarLicencia float-right" onclick="confirmoLicencia()">
                            Generar Licencia
                        </button>
                    </div>
                    @*<div class="btn tarjetaPerfil" id="idPerfil">
        </div>*@


                </div>

            </div>

            <!-- End Navbar -->
            <!--   Core JS Files   -->
            <script src="../assets/js/core/jquery.min.js"></script>
            <script src="../assets/js/core/popper.min.js"></script>
            <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
            <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
            <!-- Plugin for the momentJs  -->
            <script src="../assets/js/plugins/moment.min.js"></script>
            <!--  Plugin for Sweet Alert -->
            <script src="../assets/js/plugins/sweetalert2.js"></script>
            <!-- Forms Validations Plugin -->
            <script src="../assets/js/plugins/jquery.validate.min.js"></script>
            <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
            <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
            <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
            <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
            <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
            <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
            <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
            <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
            <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
            <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
            <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
            <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
            <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
            <!-- <script src="../assets/js/plugins/fullcalendar.min.js"></script>-->
            <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
            <!-- <script src="../assets/js/plugins/jquery-jvectormap.js"></script>-->
            <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
            <script src="../assets/js/plugins/nouislider.min.js"></script>
            <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
            <!-- Library for adding dinamically elements -->
            <script src="../assets/js/plugins/arrive.min.js"></script>
            <!--  Google Maps Plugin    -->
            <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
            <!-- Chartist JS -->
            <script src="../assets/js/plugins/chartist.min.js"></script>
            <!--  Notifications Plugin    -->
            <script src="../assets/js/plugins/bootstrap-notify.js"></script>
            <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
            <script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
            <!-- Material Dashboard DEMO methods, don't include it in your project! -->
            <script src="../assets/demo/demo.js"></script>



            <div class="modal" id="modalGenerarLicencia" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        @*<div class="modal-header border-0">
                            </div>*@
                        <div class="modal-body">
                            <p class="modal-title" id="labelTituloGenerar" style="font-weight:500 ; font-size: 1.4rem ; text-align:center"></p>
                            <p id="codigoLicenciaModificar" style="font-weight: bold;"></p>
                            <div class="form-group">
                                <label for="textarea">Descripción</label>
                                <textarea class="form-control" id="descripcionLicencia" style="width:100%"></textarea>
                            </div>
                            <p>¿Desea completar los datos de la licencia ahora?</p>

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-block float-left botonGenerarLicencia" style="background-color:#5cb85c " onclick="EditLicencia(idLicencia)">Completar datos</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-block float-left botonGenerarLicencia" style="background-color:#d9534f" onclick="GuardarDescripcion()" data-dismiss="modal">Por ahora no</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal" id="modalConfirmacionLic" tabindex="-1" role="dialog" aria-labelledby="labelTitutlo" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h2>¿Desea generar una licencia?</h2>
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn  float-left btn-block botonGenerarLicencia " style="background-color: #5cb85c ; font-size: 125%;" onclick="generoLicencia()">Si</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn float-right  btn-block botonGenerarLicencia" style="background-color: #d9534f; font-size: 125%;" onclick="cerrarModalConfirmaLic()">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
            @{
                var nombreUsuario = Session["usuarioLogeado"];
                var tieneTurno = Session["turnoActivo"];
                var idRolSession = Session["idRol"];
            }

                //carga de menú
                var url = "/Api/Rol/ObtenerMenu?nombreUsuario=" + "@nombreUsuario";


                if ( "@tieneTurno" == "True" || "@idRolSession" == 1 || "@idRolSession" == 2 ) {
                    document.getElementById('generarLicencia').style.display = 'display';
                } else {
                    document.getElementById('generarLicencia').style.display = 'none';
                }



             $.getJSON(url)
             .done(function (data) {
                 $.each(data, function (index, result) {
                     if (result.idHtml == "ConfiguracionSideBar") {
                         var item = "<li title='" + result.nombreMenu + "' id='" + result.idHtml + "' onclick='desplegarABM()'>";
                         item = item + "<a class='nav-link'>";
                         item = item + "<svg class='icon " + result.icono + "' ><use xlink: href='#" + result.icono + "'></use></svg>";
                         item = item + "<span class='elemento ocultarNombre'>" + result.nombreMenu + "</span>";
                         item = item + "</a>";
                         item = item + "</li>";

                     } else {
                         if (result.idHtml == "ActuacionesSideBar" || result.idHtml == "AutomatismoSideBar" || result.idHtml == "InfraestructuraSideBar" || result.idHtml == "PropiedadSideBar" || result.idHtml == "CentroControlSideBar" || result.idHtml == "CentralSideBar" || result.idHtml == "GeneradorSideBar" || result.idHtml == "TransformadorSideBar" || result.idHtml == "PuntoConexionSideBar" || result.idHtml == "LineaSideBar" || result.idHtml == "EstacionSideBar" || result.idHtml == "CapacitorSideBar" || result.idHtml == "ReclamoSideBar" || result.idHtml == "SeguridadSideBar" || result.idHtml == "RolesSideBar" || result.idHtml == "EquipoAdicionalSideBar") {
                             var item = "<div class='ocultar' style='display:none'>";
                             item = item +  "<li title='" + result.nombreMenu + "'  id='" + result.idHtml + "'>";
                             item = item + "<a class='nav-link' href='" + result.urlMenu + "'>";
                             item = item + "<svg class='icon " + result.icono + "' ><use xlink: href='#" + result.icono + "'></use></svg>";
                             item = item + "<span class='elemento ocultarNombre'>" + result.nombreMenu + "</span>";
                             item = item + "</a>";
                             item = item + "</li>";
                             item = item + "</div>";
                         } else {
                             var item = "<li title='" + result.nombreMenu + "'  id='" + result.idHtml + "'>";
                             item = item + "<a class='nav-link' href='" + result.urlMenu + "'>";
                             item = item + "<svg class='icon " + result.icono + "' ><use xlink: href='#" + result.icono + "'></use></svg>";
                             item = item + "<span class='elemento ocultarNombre'>" + result.nombreMenu + "</span>";
                             item = item + "</a>";
                             item = item + "</li>";
                         }
                     }



                    $("#MenuPrincipal").append(item);
                    //var idItem = '#NovedadSideBar';
                    //ActivarItem(idItem);
                });

            })
            .fail(function (erro) {
                console.log(erro);
                alert('Error en la busqueda de Menu');
                    });

                function desplegarABM() {
                    $('.ocultar').toggle();
                }


        $(window).bind("load", function () {

            $().ready(function () {

                //agregue esto para cargar el load en el index
                setTimeout(function () {
                    $('.loader').css('display', 'none');
                    $('.wrapper').css('display', 'flex');
                }, 500);



               var nombreusuario = "@nombreUsuario";



                $sidebar = $('#sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('#sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }
                }
                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('#sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('#sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);



                });

                cargarDatosPerfil();

            });
        });
                var codLic = null;
                var idLicencia = null;
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    //$('#bodyContainer').toggleClass('active');

                });

                function logout() {
                    window.location.href = "/Login/Logout";
                }

                function EditLicencia(idLicencia) {
                    GuardarDescripcion();
                    window.location.href = '/Novedad/AdministrarLicencia?idLicencia=' + idLicencia;

                }

                function confirmoLicencia() {
                    $('#modalConfirmacionLic').modal('show');
                }

                function cerrarModalConfirmaLic() {
                    $('#modalConfirmacionLic').modal('hide');

                }

                function generoLicencia() {
                    $('#modalConfirmacionLic').hide();
                    var nombreUsuario = "@nombreUsuario";
                    $('#labelTituloGenerar').empty();
                    $.ajax({
                        type: 'Get',
                        url: '/Api/Licencia/GenerarLicencia?nombreUsuario=' + nombreUsuario,
                        success: function (result) {
                            codLic = result.codigoLicencia;
                            idLicencia = result.idLicencia;
                            $('#labelTituloGenerar').append("Codigo de licencia generada: "+codLic);
                            $('#descripcionLicencia').val("");
                            $('#modalGenerarLicencia').modal();
                        }
                    });

                }


                function GuardarDescripcion() {
                    cerrarModalConfirmaLic()
                    console.log("entro a guardardes")
                    var descripcion = $('#descripcionLicencia').val();
                            $.ajax({
                                type: 'Post',
                                url: '/Api/Licencia/GuardarDescripcion?codigoLicencia=' + codLic + '&descripcion=' + descripcion,
                                success: function (result) {

                                }
                            });
                    $('#descripcionLicencia').val("");
                    alert("Licencia Generada : " + codLic);
                }


        function cargarDatosPerfil() {

            var nombreusuario = "@nombreUsuario";
            //alert(nombreusuario);
            if (nombreusuario != "") {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Usuario/ObtenerDatosUsuarioLogueado?nombreUsuario=' + nombreusuario,
                    dataType: "json",
                    //data: nombreusuario,
                    success: function(usuario) {
                        var DatosUsuario = "";
                        DatosUsuario += usuario.nombreUsuario;
                        $("#idPerfil").append(DatosUsuario);

                    }

                }).fail( function( jqXHR, textStatus, errorThrown ) {
                    console.log(errorThrown);
                });;
            } else {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Usuario/ObtenerDatosUsuarioLogueado?nombreUsuario=' + nombreusuario,
                    dataType: "json",
                    data: nombreusuario,
                    success: function(usuario) {
                        var DatosUsuario = "";
                        DatosUsuario += usuario.nombreUsuario;
                        $("#idPerfil").append(DatosUsuario);

                    }
                });
            }
        }
        $(".clic").click(function () {
            var id = $(this).attr("id");

            //var idItem = '#NovedadSideBar';
            //ActivarItem(idItem);
            //ActivarItem(id)
            $('#' + id).siblings().find(".active").removeClass("active");
            $('#' + id).addClass("navigation__active");
            localStorage.setItem("selectedolditem", id);
        });

        var selectedolditem = localStorage.getItem('selectedolditem');

        if (selectedolditem != null) {
            $('#' + selectedolditem).siblings().find(".active").removeClass("active");
            $('#' + selectedolditem).addClass("navigation__active");
        }


            </script>

            <!-- your navbar here -->


            <div id="bodyContainer">

                @RenderBody()

            </div>




        </div>
    </div><!-- fin wrapper -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <style>
        .cls-1 {
            fill: none;
        }

        .cls-2 {
            fill: #a9afbb;
        }
    </style>


    @*Transformador*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="trafoImg" viewBox="0 0 872 600">
                <path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10" stroke-width="54.5455" d="M300 300c0-100.947 54.846-189.082 136.363-236.237-38.984-22.941-85.877-36.491-135.935-36.491-0.151 0-0.301 0-0.452 0.001h0.023c-150.622 0-272.728 122.105-272.728 272.728s122.105 272.728 272.728 272.728c0.127 0 0.278 0.001 0.428 0.001 50.058 0 96.952-13.55 137.212-37.184l-1.277 0.693c-81.518-47.154-136.363-135.289-136.363-236.237z"></path>
                <path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10" stroke-width="54.5455" d="M572.728 27.272c-0.127 0-0.278-0.001-0.428-0.001-50.058 0-96.952 13.55-137.212 37.184l1.277-0.693c81.518 47.154 136.363 135.272 136.363 236.237s-54.846 189.082-136.363 236.237c38.984 22.941 85.877 36.491 135.935 36.491 0.151 0 0.301 0 0.452-0.001h-0.023c150.622 0 272.728-122.105 272.728-272.728s-122.105-272.728-272.728-272.728z"></path>
            </symbol>
        </defs>
    </svg>
    @*Turno*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="turnoImg" viewBox="0 0 600 600">
                <path d="M475 75h-25v-50h-50v50h-200v-50h-50v50h-25c-27.75 0-49.75 22.5-49.75 50l-0.25 350c0 27.5 22.25 50 50 50h350c27.5 0 50-22.5 50-50v-350c0-27.5-22.5-50-50-50zM475 475h-350v-275h350v275zM175 250h125v125h-125z"></path>
            </symbol>
        </defs>
    </svg>


    @*PuntoConexion*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="puntoConexionImg" viewBox="0 0 600 600">
                <path d="M425 510.25l35.25-35.25-85.25-85.25-35.25 35.25 85.25 85.25zM187.5 200h87.5v139.75l-135.25 135.25 35.25 35.25 150-150v-160.25h87.5l-112.5-112.5-112.5 112.5z"></path>
            </symbol>
        </defs>
    </svg>


    @*linea*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="lineaImg" viewBox="0 0 600 600">
                <path d="M50 225v50h475v-50h-475zM50 375h125v-50h-125v50zM225 375h125v-50h-125v50zM400 375h125v-50h-125v50z"></path>
            </symbol>
        </defs>
    </svg>


    @*Estacion*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="estacionImg" viewBox="0 0 600 600">
                <path d="M204.25 142.5l-179.25 119.5v263h125v-200h100v200h125v-268.75z"></path>
                <path d="M250 75v37.75l50 33.25 43.25 29h31.75v21.25l50 33.5v45.25h50v50h-50v50h50v50h-50v100h150v-450h-325zM475 225h-50v-50h50v50z"></path>
            </symbol>
        </defs>
    </svg>


    @*Capacitor*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="capacitorImg" viewBox="0 0 600 600">
                <path d="M175 375v50h250v-50h-250zM75 525h450v-50h-450v50zM75 325h450v-50h-450v50zM175 175v50h250v-50h-250zM75 75v50h450v-50h-450z"></path>
            </symbol>
        </defs>
    </svg>


    @*Novedad*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="novedadImg" viewBox="0 0 600 600">
                <path d="M500 50h-400c-27.5 0-49.75 22.5-49.75 50l-0.25 450 100-100h350c27.5 0 50-22.5 50-50v-300c0-27.5-22.5-50-50-50zM150 225h300v50h-300v-50zM350 350h-200v-50h200v50zM450 200h-300v-50h300v50z"></path>
            </symbol>
        </defs>
    </svg>

    @*Generador*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="generadorImg" viewBox="0 0 600 600">
                <path d="M264.84 1.8c-87.36 10.56-165.48 58.44-214.44 131.4-67.32 100.2-67.32 233.4 0 333.6 31.2 46.44 76.32 84.6 126.6 107.040 94.32 42.24 204.6 32.88 290.040-24.48 31.44-21 61.32-51 82.56-82.56 67.2-100.2 67.2-233.4 0-333.6-10.56-15.72-20.76-28.080-35.28-42.96-48.84-50.040-110.64-80.28-180.6-88.44-18.24-2.16-51-2.16-68.88 0zM322.2 43.32c50.4 4.32 98.52 23.64 139.44 55.92 12.96 10.2 34.2 32.16 44.4 45.96 58.56 79.080 68.040 181.68 24.84 268.8-14.16 28.32-28.68 48.48-51.12 70.32-91.080 88.92-231.48 98.040-334.56 21.72-6.24-4.68-17.52-14.4-24.96-21.72-22.44-21.84-36.96-42-51.12-70.32-44.64-89.88-33-195.6 30.12-275.64 10.2-12.96 32.16-34.2 45.96-44.4 52.080-38.52 113.64-56.16 177-50.64z"></path>
                <path d="M286.8 154.2c-30.72 4.92-56.28 17.4-76.2 37.44-28.44 28.68-42.48 71.88-38.88 120 2.76 36.96 19.32 74.040 42.24 94.56 28.2 25.44 60.48 36.36 103.44 35.040 37.8-1.2 66.36-9.72 93.84-28.080l8.76-5.76v-112.2h-99.84l0.36 14.88c0.48 16.2 1.32 18.48 8.76 24 3 2.28 5.28 2.52 24.24 2.88l20.88 0.36v46.32l-8.040 3.72c-13.2 5.88-24 8.64-40.32 10.080-46.2 4.2-78.6-11.52-95.64-46.44-9-18.6-12.84-42.24-10.8-66.36 1.56-17.040 4.080-26.4 11.040-40.92 5.040-10.44 7.44-13.92 15.24-21.84 7.68-7.56 11.4-10.2 20.64-14.64 16.68-8.040 24.72-9.72 46.080-9.72 10.8 0 20.88 0.6 25.2 1.56 11.28 2.52 24.84 8.16 32.52 13.56 13.080 9.12 20.28 11.16 28.44 7.68 4.8-1.92 8.16-5.88 15.24-17.4l5.28-8.88-5.28-4.68c-23.4-20.4-45.36-30.96-73.56-35.040-15-2.28-39.6-2.28-53.64-0.12z"></path>
            </symbol>
        </defs>
    </svg>


    @*Central*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="centralImg" viewBox="0 0 600 600">
                <path d="M210.188 238.125c-4.688 0.675-8.925 2.475-12.75 5.362-1.238 0.938-45.038 44.55-97.313 96.9-103.275 103.35-96.75 96.563-98.888 103.050-0.675 2.175-1.012 4.087-1.125 6.938-0.225 5.137 0.487 8.512 2.737 13.125 1.462 2.925 2.325 4.087 4.8 6.563 4.613 4.538 8.962 6.75 15.225 7.725 5.4 0.825 12.3-0.637 17.4-3.675 1.762-1.012 12.262-11.325 44.963-43.95l42.638-42.6-0.075 62.775-0.112 62.775-2.438 0.825c-9.338 3.15-17.063 10.088-21.188 19.050-1.575 3.375-2.775 7.837-3.075 11.4l-0.225 2.737h-38.175c-40.762 0-40.837 0-45.788 1.875-5.7 2.137-11.175 7.2-14.025 12.938-7.5 15.225 0.788 33.075 17.325 37.313 2.85 0.75 5.475 0.75 279.9 0.75 276.15 0 277.012 0 279.938-0.75 13.95-3.563 22.425-17.213 19.5-31.313-0.788-3.862-3.45-8.925-6.262-12-2.625-2.888-6.75-5.738-9.975-6.938-4.688-1.763-6.3-1.875-29.137-1.875h-21.525l-0.225-2.175c-1.275-10.538-5.775-19.012-13.463-25.050-3.188-2.55-8.587-5.438-11.55-6.225l-1.8-0.45v-143.287l44.738-44.85c35.925-36.038 44.962-45.3 46.125-47.25 7.087-12.038 3.488-27.75-8.175-35.55-9.338-6.225-21.563-5.775-30.75 1.2-1.238 0.938-45.038 44.55-97.313 96.9-103.275 103.35-96.75 96.563-98.888 103.050-0.675 2.175-1.012 4.087-1.125 6.938-0.225 5.137 0.488 8.512 2.738 13.087 2.925 5.963 8.438 10.838 14.7 13.012 3.6 1.238 7.762 1.8 11.1 1.462 3.563-0.3 9.15-2.25 12.037-4.087 1.5-1.012 16.125-15.338 44.738-43.875l42.45-42.413-0.075 62.775-0.113 62.775-2.437 0.825c-10.088 3.413-18.263 11.25-22.088 21.188-1.163 3-2.288 8.175-2.288 10.538v1.462h-54.188c-43.088 0-54.188-0.112-54.188-0.487 0-0.225-0.262-2.063-0.525-4.012-1.762-11.587-9.113-21.675-19.538-26.813-1.837-0.9-4.163-1.875-5.138-2.138l-1.8-0.45v-143.287l44.737-44.813c48.488-48.6 46.463-46.387 48.488-52.688 4.35-13.35-2.925-28.238-16.012-32.888-8.813-3.113-17.813-1.688-25.275 3.938-1.237 0.938-45.037 44.55-97.313 96.9-103.275 103.35-96.75 96.563-98.888 103.050-0.675 2.175-1.012 4.087-1.125 6.938-0.225 5.137 0.487 8.512 2.738 13.125 2.925 5.925 8.437 10.8 14.7 12.975 3.6 1.238 7.762 1.8 11.1 1.462 3.563-0.3 9.15-2.25 12.037-4.087 1.5-1.012 16.125-15.338 44.738-43.875l42.45-42.413-0.075 62.775-0.113 62.775-2.438 0.825c-10.087 3.413-18.262 11.25-22.088 21.188-1.162 3-2.287 8.175-2.287 10.538v1.462h-54.188c-43.088 0-54.188-0.112-54.188-0.487 0-0.225-0.262-2.063-0.525-4.012-1.762-11.587-9.113-21.675-19.537-26.813-1.838-0.9-4.163-1.875-5.138-2.138l-1.8-0.45v-143.287l44.737-44.813c37.050-37.125 44.963-45.225 46.125-47.25 7.050-12.262 3.487-27.787-8.175-35.588-2.962-1.95-7.088-3.525-11.063-4.162-2.7-0.412-4.162-0.412-6.937 0zM217.313 256.463c3.15 1.425 5.362 5.25 4.95 8.625-0.113 1.012-0.563 2.512-0.975 3.3-1.125 2.175-189.6 190.425-191.362 191.175-1.988 0.825-5.625 0.75-7.388-0.188-1.95-0.975-3.975-3.412-4.537-5.475-0.563-1.913-0.3-4.5 0.6-6.225 0.337-0.637 43.050-43.687 94.95-95.625 66.45-66.525 94.875-94.763 96.075-95.4 2.138-1.088 5.513-1.2 7.688-0.188zM397.313 256.463c3.15 1.425 5.363 5.25 4.95 8.625-0.112 1.012-0.563 2.512-0.975 3.3-1.125 2.175-189.6 190.425-191.362 191.175-1.988 0.825-5.625 0.75-7.388-0.188-1.95-0.975-3.975-3.412-4.537-5.475-0.525-1.913-0.3-4.462 0.6-6.262 0.938-1.875 189-189.863 191.025-190.95 2.138-1.125 5.475-1.238 7.688-0.225zM577.313 256.463c4.163 1.875 6.262 7.613 4.163 11.55-0.3 0.563-43.088 43.688-95.063 95.813-69 69.113-94.988 94.95-96.15 95.513-2.175 1.050-5.738 1.087-7.725 0.037-1.95-0.975-3.975-3.412-4.538-5.475-0.525-1.913-0.3-4.462 0.6-6.262 0.938-1.875 189-189.863 191.025-190.95 2.138-1.125 5.475-1.238 7.688-0.225zM141.225 530.4c6.638 1.763 12.525 8.288 13.162 14.625l0.225 2.1h-18.075c-15.525 0-18.037-0.075-18.037-0.563 0-1.575 0.975-4.8 2.138-7.013 2.213-4.275 6.075-7.538 10.612-8.962 2.513-0.825 7.313-0.9 9.975-0.188zM321.225 530.4c6.637 1.763 12.525 8.288 13.163 14.625l0.225 2.1h-18.075c-15.525 0-18.037-0.075-18.037-0.563 0-1.575 0.975-4.8 2.137-7.013 2.25-4.313 6-7.5 10.613-8.962 2.512-0.825 7.313-0.9 9.975-0.188zM501.225 530.4c6.637 1.763 12.525 8.288 13.162 14.625l0.225 2.1h-18.075c-15.525 0-18.037-0.075-18.037-0.563 0-1.575 0.975-4.8 2.137-7.013 2.25-4.313 6-7.5 10.613-8.962 2.512-0.825 7.313-0.9 9.975-0.188zM577.35 565.763c6.225 3.337 6.6 11.662 0.75 15.3l-1.837 1.125h-552.525l-1.838-1.125c-6.825-4.238-4.837-14.587 3.038-15.975 0.825-0.113 125.1-0.225 276.188-0.188l274.687 0.037 1.538 0.825z"></path>
            </symbol>
        </defs>
    </svg>


    @*Centro de Control*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="centroControlImg" viewBox="0 0 600 600">
                <path d="M507.11 56.557c-36.471-36.472-85.035-56.557-136.745-56.557v35.161c42.318 0 82.052 16.429 111.882 46.259 29.831 29.83 46.259 69.563 46.259 111.882h35.161c0-51.712-20.086-100.276-56.557-136.745z"></path>
                <path d="M457.385 106.282c-23.212-23.214-54.117-35.996-87.020-35.996v35.161c23.511 0 45.586 9.127 62.157 25.698 16.571 16.573 25.698 38.647 25.698 62.157h35.161c0-32.903-12.785-63.806-35.996-87.020z"></path>
                <path d="M453.094 429.32l16.92-12.057-149.373-149.373 27-27.001c19.61 9.341 43.802 5.925 60.019-10.293 20.564-20.563 20.564-54.023 0-74.587-20.562-20.563-54.025-20.565-74.589 0-16.206 16.207-19.629 40.418-10.293 60.018l-27 27.001-149.374-149.374-12.057 16.92c-29.994 42.087-44.864 93.826-41.873 145.69 2.752 47.705 20.568 93.551 50.49 130.533l-0.020 0.018c0.66 0.81 1.337 1.601 2.006 2.401l-35.126 175.625h-73.491v35.161h316.452v-35.161h-72.49l-13.136-99.58c63.575 15.238 131.377 2.943 185.934-35.939zM357.934 180.87c6.854-6.853 18.007-6.855 24.863 0s6.855 18.008 0 24.863c-6.873 6.872-17.991 6.872-24.864 0-6.853-6.854-6.853-18.007 0.001-24.863zM145.682 564.839l29.166-145.825c16.781 13.922 35.357 25.313 55.22 33.888l14.764 111.936h-99.15zM175.225 370.523c-54.026-61.541-62.822-151.274-23.474-221.796l263.198 263.196c-78.571 43.942-179.073 27.309-239.725-41.4z"></path>
            </symbol>
        </defs>
    </svg>

    @*Reclamos*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="reclamoImg" viewBox="0 0 18 15">

                <path class="cls-2" d="M12,12.9l2.4,1.8.9-1.2-2.4-1.8Z" />
                <path class="cls-2" d="M15.3,3.9l-.9-1.2L12,4.5c.3.39.6.8.9,1.2Z" />
                <path class="cls-2" d="M3,6.45c-1.62,0-1.57,1.85-1.5,3S2.72,11.09,3.75,11v3h1.5V11H6L9.75,13.2v-9L6,6.45Z" />
                <path class="cls-2" d="M11.63,8.7A3.38,3.38,0,0,0,10.5,6.18v5A3.34,3.34,0,0,0,11.63,8.7Z" />
            </symbol>
        </defs>
    </svg>

    @*Licencia*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="licenciaImg" viewBox="1 -1 17 17">
                <path class="cls-2" d="M16.5,0H1.5A1.5,1.5,0,0,0,0,1.5V12a1.5,1.5,0,0,0,1.5,1.5h15A1.49,1.49,0,0,0,18,12V1.5A1.5,1.5,0,0,0,16.5,0Zm0,12H1.5V1.5h15Zm-.75-9.75H10.5V6h5.25ZM15,3.75,13.13,5.06,11.25,3.75V3l1.88,1.31L15,3Zm-8.25,3A2.25,2.25,0,1,0,4.5,4.5,2.25,2.25,0,0,0,6.75,6.75Zm0-3A.75.75,0,1,1,6,4.5.76.76,0,0,1,6.75,3.75Zm4.5,6.44c0-1.87-3-2.68-4.5-2.68s-4.5.81-4.5,2.68v1.06h9ZM4.11,9.75A5.28,5.28,0,0,1,6.75,9a5.28,5.28,0,0,1,2.64.75Z"></path>
            </symbol>
        </defs>
    </svg>

    @*Propiedad*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="propiedadImg" viewBox="2 4 20 19">
                <path class="cls-2" d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z" fill: #a9afbb;></path>
            </symbol>
        </defs>
    </svg>

    @*Infraestructura*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="InfraImg" viewBox="0 0 14 14">
                <path class="cls-2" d="M10.5,6V0H3V3H0V13.5H6v-3H7.5v3h6V6ZM3,12H1.5V10.5H3ZM3,9H1.5V7.5H3ZM3,6H1.5V4.5H3ZM6,9H4.5V7.5H6ZM6,6H4.5V4.5H6ZM6,3H4.5V1.5H6ZM9,9H7.5V7.5H9ZM9,6H7.5V4.5H9ZM9,3H7.5V1.5H9Zm3,9H10.5V10.5H12Zm0-3H10.5V7.5H12Z"></path>
            </symbol>
        </defs>
    </svg>

    @*Automatismo*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="autoImg" viewBox="0.5 0 16 14">
                <path class="cls-2" d="M14.25,5.25V3.75a1.5,1.5,0,0,0-1.5-1.5H10.5a2.25,2.25,0,0,0-4.5,0H3.75a1.51,1.51,0,0,0-1.5,1.5v1.5a2.25,2.25,0,0,0,0,4.5v3a1.5,1.5,0,0,0,1.5,1.5h9a1.5,1.5,0,0,0,1.5-1.5v-3a2.25,2.25,0,0,0,0-4.5Zm-1.5,7.5h-9v-9h9ZM6,8.25A1.13,1.13,0,1,1,7.13,7.13,1.12,1.12,0,0,1,6,8.25Zm5.63-1.12A1.13,1.13,0,1,1,10.5,6,1.13,1.13,0,0,1,11.63,7.13ZM5.25,9.75h6v1.5h-6Z"></path>
            </symbol>
        </defs>
    </svg>

    @*Actuaciones*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="actuacionesImg" viewBox="0.5 0 16 14">
                <path class="cls-2" d="M7.49,9.75H9.06L5.23,0H3.83L0,9.75H1.57L2.41,7.5H6.64ZM3,6,4.53,1.86,6.08,6Zm11.37.44L8.28,12.51,5.53,9.75,4.47,10.81l3.82,3.82L15.4,7.5Z" />
            </symbol>
        </defs>
    </svg>

    @*Configuraciones*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="configImg" viewBox="0.5 0 16 14">
                <path class="cls-2" d="M12.36,7.9a5.18,5.18,0,0,0,0-.7,4,4,0,0,0-.05-.7l1.52-1.19A.36.36,0,0,0,14,4.85L12.52,2.36a.37.37,0,0,0-.44-.16l-1.79.72a5.12,5.12,0,0,0-1.22-.71L8.8.31A.37.37,0,0,0,8.44,0H5.56a.36.36,0,0,0-.35.31l-.27,1.9a5.2,5.2,0,0,0-1.21.71L1.93,2.2a.36.36,0,0,0-.44.16L.06,4.85a.34.34,0,0,0,.09.46L1.67,6.49a4.27,4.27,0,0,0-.07.71,4,4,0,0,0,.06.7L.13,9.09A.38.38,0,0,0,0,9.55L1.48,12a.38.38,0,0,0,.45.16l1.79-.72a5.06,5.06,0,0,0,1.21.71l.27,1.9a.37.37,0,0,0,.36.31H8.44a.37.37,0,0,0,.36-.31l.27-1.9a5.06,5.06,0,0,0,1.21-.71l1.79.72a.37.37,0,0,0,.45-.16L14,9.55a.35.35,0,0,0-.09-.46ZM7,9.9A2.7,2.7,0,1,1,9.7,7.2,2.71,2.71,0,0,1,7,9.9Z"></path>
            </symbol>
        </defs>
    </svg>

    @*Guardias*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="guardiasImg" viewBox="3 1 20 22">
                <path class="cls-2" d="M12,1L3,5v6c0,5.5,3.8,10.7,9,12c5.2-1.3,9-6.5,9-12V5L12,1z M10,17l-4-4l1.4-1.4l2.6,2.6l6.6-6.6L18,9L10,17z"></path>
            </symbol>
        </defs>
    </svg>

    @*Seguridad*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="seguridadImg" viewBox="0 0 16 21">
                <path class="cls-2" d="M14,7H13V5A5,5,0,0,0,3,5V7H2A2,2,0,0,0,0,9V19a2,2,0,0,0,2,2H14a2,2,0,0,0,2-2V9A2,2,0,0,0,14,7ZM8,16a2,2,0,1,1,2-2A2,2,0,0,1,8,16Zm3.1-9H4.9V5a3.1,3.1,0,0,1,6.2,0Z"></path>
            </symbol>
        </defs>
    </svg>

    @*Roles*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="rolImg" viewBox="0 0 18 20">
                <path class="cls-2" d="M17.5,4A34,34,0,0,1,9,5,34,34,0,0,1,.5,4L0,6A35.45,35.45,0,0,0,6,7V20H8V14h2v6h2V7a35.45,35.45,0,0,0,6-1ZM9,4A2,2,0,1,0,7,2,2,2,0,0,0,9,4Z"></path>
            </symbol>
        </defs>
    </svg>
    @*Remuneracion*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="remuImg" viewBox="0 0 300 500">
                <path class="cls-2" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path>
            </symbol>
        </defs>
    </svg>

    @*Equipos Adicionales*@
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="equiadiImg" viewBox="0 0 600 500">
                <path class="cls-2" d="M288 115L69.47 307.71c-1.62 1.46-3.69 2.14-5.47 3.35V496a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V311.1c-1.7-1.16-3.72-1.82-5.26-3.2zm96 261a8 8 0 0 1-8 8h-56v56a8 8 0 0 1-8 8h-48a8 8 0 0 1-8-8v-56h-56a8 8 0 0 1-8-8v-48a8 8 0 0 1 8-8h56v-56a8 8 0 0 1 8-8h48a8 8 0 0 1 8 8v56h56a8 8 0 0 1 8 8zm186.69-139.72l-255.94-226a39.85 39.85 0 0 0-53.45 0l-256 226a16 16 0 0 0-1.21 22.6L25.5 282.7a16 16 0 0 0 22.6 1.21L277.42 81.63a16 16 0 0 1 21.17 0L527.91 283.9a16 16 0 0 0 22.6-1.21l21.4-23.82a16 16 0 0 0-1.22-22.59z"></path>
            </symbol>
        </defs>
    </svg>
    <script src="~/JS/CambiarTheme.js"></script>
</body>
</html>